[2021-08-24 17:43] suvadityamuk commented on #1526
I closed the last PR I made because it failed the new tests you added. I am so
embarrassed and sorry for the mess of PRs made, but I'll make sure that the next PR passes all the tests, along with the new ones as well.

[2021-08-25 08:10] jku commented on #1527
Collecting some observations from the thread:
* Using arbitrary strings (urls, paths, whatever) as rolenames is a feature and we should try not to limit it
* Using those rolenames as filenames is problematic (for both repository and client) as not all strings are actually valid filenames -- but the spec at times requires using the rolename as filename. Sanitizing the filename is difficult (as coll

[2021-08-25 10:06] sechkova commented on #1528
From what I remember, the only reason was a different reading of the spec. The author of https://github.com/theupdateframework/specification/issues/177 has very well described the possible interpretations.
Given that skipping "role" is simpler and there seems to be an agreement that it is a correct way of implementing it, I am not against doing the change.

[2021-08-25 12:29] MVrachev commented on #1377
Do we have any to-do items left here? When can we close that issue?
All of the issues linked in the pr description or in this discussion here seem to be resolved.

[2021-08-25 12:33] MVrachev commented on #1357
@jku do you think we need another look at the Metadata API docstrings after the revisions you made in https://github.com/theupdateframework/tuf/pull/1456

[2021-08-25 13:21] MVrachev commented on #1414
I am not sure if there is a point in separating `test_api.py` into multiple test modules right now.
The file right now is closer to 600 lines than 1000 as it was before.
After moving all serialization tests in a separate module from `test_api.py` into `test_metadata_serialization.py` in #1416,
`test_api.py` became a lot simpler.
Additionally, I am suggesting two additional changes simplifying this

[2021-08-25 17:05] jku commented on #1377
Looks all done to me!

[2021-08-25 17:05] #1377 closed, assigned to nobody

[2021-08-25 17:09] #1485 closed, assigned to MVrachev

[2021-08-25 17:21] jku commented on #1516
I guess this is a good time to think if the Root constructor signature makes sense: `roles` could be just a `Tuple[Role, Role, Role, Role]` or the individual roles could be named arguments themselves -- there's no need for `roles` to be a dict since we know what the keys are.

This would make Constructing Root from scratch a little easier, and `from_dict()` could still do the validation of keys --

[2021-08-26 08:17] sechkova opened #1543 "Improve ngclient/metadata docs"
**Description of issue or feature request**:

The documentation that will hopefully be hosted on readthedocs after the work on #1517 is done needs some further improvement:

- [ ] Metadata API page is big, could be broken down for easier navigation
- [ ] Class constructors have a lot of arguments which does not look good on the rendered page
- [ ] A section for internal client details (TrustedMeta

[2021-08-26 08:27] sechkova commented on #1543
Some proposals from @jku:

We could document the main classes (Metadata, all signed derivatives) page-per-class and then have one page for the "helper classes

In general sphinx wants us to document our constructors in the class docstring and not in `__init__` so we can work on that. Also this is one options for making the signature more readable.
[code]

[2021-08-26 08:47] #1482 closed, assigned to jku, sechkova

[2021-08-26 08:57] jku commented on #1543
https://theupdateframework.readthedocs.io/en/stable/ is nothing yet: needs to be configured somehow I suppose?

EDIT: this also makes sense considering no release includes the config yet... they claim it's automatic:

so... let's get a release out

[2021-08-26 09:03] sechkova commented on #1543
Yes, exactly, I just tried manually building stable and the version it checked out is:
`HEAD is now at 60875f91 Merge pull request #1284 from joshuagl/joshuagl/release-v0.17.0`

[2021-08-26 17:21] jku commented on #1412
I'll just document this other idea wrt client cache here:

Using unrestricted external input as filenames is a bad idea (even if the input is from signed metadata), but the updater does this with targetpaths as local filepaths: Luckily there is nothing requiring client target cache to use targetpaths as local filesystem paths:
* target files could be saved in a flat directory with `hash(targetpath

[2021-08-26 17:36] jku commented on #1412
One feature we have not carried over from old updater is `remove_obsolete_targets()`. I think to provide similar functionality we'd need some very different implementation... I'm not convinced we should implement it but there's a few potential solutions I can think of:
* Cache could keep note of the targetpaths of the targetfiles in the cache: so it could, when needed, check if all targetpaths in

[2021-08-27 16:13] MVrachev commented on #1317
Fixed by #1408 wherein the new client implementation we drop mirrors support.

Fixed by #1514

What are `pip index files` and how do they relate to the target downloads?
Is this something we want to consider? If so maybe we need an issue about it?

Besides the last point, I mentioned above, am I correct that as TODO items required to solve this issue are:

- [ ] #1507
- [ ] https://github.com/theu

[2021-08-27 16:23] MVrachev commented on #1135
I think that in a way this issue and issue #1317 are covering the same stuff.
Do we need that one?
If we don't, I think the only two proposals left that are not addressed are

- [TAP 3: Multi-role delegations](https://github.com/theupdateframework/taps/blob/master/tap3.md) – accepted, but not in the specification because it is not implemented for the reference implementation
- [TAP 4: Multiple rep

[2021-08-27 16:28] MVrachev commented on #1523
I would like to take this issue and will assign myself.
If somebody else is working on it, please let me know.

[2021-08-27 16:48] MVrachev commented on #1241
Do we need a separate module other than the one added in https://github.com/theupdateframework/tuf/pull/1470?

[2021-08-27 16:53] MVrachev commented on #1411
I had a look in our code at how we are using `MetaFile` and I can't find a place where adding `filename` to the `MetaFile` class will make the code cleaner or easier to understand.
I think we can close this issue for now and if we see the need in the future, then we can reopen this issue or open another one.
What do you think @jku?

[2021-08-28 07:59] jku commented on #1317
pages like this https://pypi.org/simple/sampleproject/. In TUF terminology this html is a target file.

Yeah, a new issue would be fine: this meta-issue could then be closed as all items are in actual issues.

This might make sense for two reasons:
* since pip already caches things like this with the http cache, TUF does not need to do it
* From pip point of view there's no need to write the index

[2021-08-29 15:50] joshuagl opened #1550 "Automated release builds"
**Description of issue or feature request**:

Automate releases to reduce potential for human error and protect against developer machine compromise.

**Current behavior**:

Current release process is very manual and runs on the local machine of a developer making the release: https://github.com/theupdateframework/tuf/blob/7731738590f291041c06b3c525e248d245cb1f33/docs/RELEASE.md

**Expected behavi

[2021-08-30 08:23] #1409 closed, assigned to sechkova

[2021-08-30 13:17] sechkova opened #1552 "ngclient coverage: SlowRetrievalError testing"
**Description of issue or feature request**:

Add test for fetcher/requests_fetcher covering the case of urllib3.ReadTimeoutError/tuf.SlowRetrievalError.
This can be achieved by using `slow_retrieval_server.py` instead of `simple_servier.py` for serving the test file.

One gotcha is that by default `RequestFetcher.socket_timeout` is set to 4s and the same value is used both for socket connect and

[2021-08-31 06:42] #1505 closed, assigned to MVrachev

[2021-08-31 06:42] #1458 closed, assigned to avelichka

[2021-08-31 09:11] joshuagl opened #1555 "Rename to python-tuf"
I'd like to rename the repository from tuf to python-tuf, fortunately GitHub will redirect all existing users (git and web URLs): https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/renaming-a-repository

We're increasingly referring to this implementation as python-tuf, we also have its sibling project go-tuf. TUF itself is a [specification](https://github.co

[2021-08-31 09:40] MVrachev commented on #1506
Fixed by #1512 with commit https://github.com/theupdateframework/tuf/pull/1512/commits/34e7546255a66f056f04e3afb8ed590ba503f5b6

[2021-08-31 09:40] #1506 closed, assigned to MVrachev

[2021-08-31 10:34] jku commented on #1411
Sounds good.

[2021-08-31 10:34] #1411 closed, assigned to MVrachev

[2021-08-31 12:55] JustinCappos commented on #1555
I support this change.

[2021-08-31 13:24] mnm678 commented on #1555
+1

On the git side the re-name is usually pretty seamless, but we may have to update some of the hard-coded instances in the packaging, for example [here](https://github.com/theupdateframework/tuf/blob/develop/setup.py#L80)

[2021-08-31 14:29] trishankatdatadog commented on #1555
+100

[2021-08-31 14:31] jku commented on #1555
+1.

The redirects should work, but obviously lets try to fix all the links we can after we do the rename -- the PR for the changes in this repo could get reviewed even before the project rename so it's ready to go.

I would hope 'tuf' is still a good name for the package. Package name changes are just a pain and 'tuf' seems like a great name there -- no chance of confusion.

[2021-08-31 14:52] sechkova commented on #1555
+1 for the rename and +1 for keeping the package name.

[2021-09-01 06:43] sechkova commented on #1499
Up to now the coverage has been/will be improved by:
- https://github.com/theupdateframework/tuf/pull/1477
- https://github.com/theupdateframework/tuf/pull/1553
-  https://github.com/theupdateframework/tuf/pull/1522
- https://github.com/theupdateframework/tuf/pull/1519

I am assigning this to myself to finish the work and include ngclient to the coverage report.

[2021-09-01 10:13] jku commented on #1550
The first step seems to be research:
* what's the state of the art in other projects (especially ones publishing to pypi and github)?
* how do hosted build service and developer signing work together?
* should we make "fully scripted build process" a reality first? this does very little to protect against malware but might reduce human error
* for "hosted build service" idea, what are the practica

[2021-09-01 10:18] jku commented on #1312
My impression is that ngclient exceptions are in a pretty good state by now, but review would  be good:
* see what exceptions are handled in code using ngclient (like tests)
* review ngclient/trustedmetadataset and see if exceptions seem to make sense

In addition to a review, we should document how ngclient uses exceptions: mostly that RepositoryError is used as a catch all for  fatal update erro

[2021-09-01 10:22] jku opened #1556 "ngclient: feature request "download target as bytes""
From #1317: When client downloads files it does not always need them written into an actual file, often it just wants the content: providing API the returns just bytes would be fine. We should still cache the target to disk but client could avoid reading the file if we provided variants of `download_target()` and `find_cached_target()` that returned bytes.

the only complication here might be that

[2021-09-01 10:23] jku commented on #1317
I'm closing as individual ideas here now have issues of their own

[2021-09-01 10:23] #1317 closed, assigned to nobody

[2021-09-01 10:27] joshuagl commented on #1555
Thanks all, I have prepared for the rename by creating PRs against the website (https://github.com/theupdateframework/theupdateframework.io/pull/25), TAPs (https://github.com/theupdateframework/taps/pull/142), and python-tuf (https://github.com/theupdateframework/tuf/pull/1557) repositories.

[2021-09-01 10:43] joshuagl commented on #1550
A big part of this is indeed figuring out, not only the state of the art but also where they violate best practices (standard practice != best practice). Developer signing is the big wrinkle we've run into when thinking about automating this in the past.

For hosted build service, we almost certainly will continue to use GitHub Actions. This might be a starting point: https://github.com/slsa-frame

[2021-09-01 12:33] sechkova commented on #1332
I tested this with the intention to close the issue since the disable is well justified in `serialisation/json.py` and another exception is re-raised from the broad one ... but surprisingly `pylint` agrees with us!
`Pylint` does not emit the error anymore and the disabling is not needed ... it was needed when python 2.x was supported and `six` was used (see https://github.com/theupdateframework/tu

[2021-09-01 12:54] MVrachev commented on #1443
After a discussion with the python-tuf maintainers, we decide that:
[code]

[2021-09-01 12:58] MVrachev commented on #1414
I think the original proposition to split `test_api` into multiple modules is no longer necessary.
We moved the serialization tests and all of the tests in `test_api` are truly related to the API.
`test_api` can be simplified and this could be discussed, but this issue and considering its original purpose is not
the place to do that. If needed a new issue can be created.

[2021-09-01 12:58] #1414 closed, assigned to nobody

[2021-09-01 13:01] MVrachev opened #1558 "Metadata API: prevent Delegation role names to be one of top level metadata roles"
**Description of issue or feature request**:

**Current behavior**:
Delegation role names are not restricted in any way in the spec, but they are targets metadata role names.
That could lead to a problem if delegation role names are one of `root`, `timestamp`, `snapshot` or `targets`.

**Expected behavior**:
Make sure that delegation role names aren't one of the top-level metadata roles.

[2021-09-01 13:11] sechkova commented on #1462
Work has already progressed with ngclient testing:

- [x] Reaching 97% coverage and adding ngclient to the coverage report should be achieved with #1499
- [x] #1444 handles trying generated test data (instead of test files in git)

However we are far from ready, after the above two are resolved, there is:

- [ ] Going through the existing updater tests, see if we want to use them and/or if we want

[2021-09-01 14:20] jku commented on #1392
I think we should solve this issue with documentation: explain in the reference that deserialize-serialize cycle is not guaranteed to be byte-for-byte exact, even though signatures are guaranteed to stay valid. Maybe even specifically state that e.g. client should not serialize metadata to disk but should use the format it downloads.

[2021-09-01 14:27] #1502 closed, assigned to sechkova

[2021-09-01 15:55] knowlengr opened #1560 "Scope of Metadata Management (MM) and Third Party MM projects"
I have been only casually following the metadata-related threads. For my education,
1. Is the metadata here fully extensible; e.g., I can process an substantial (but not limitless) amount of metadata that is domain-specific associated with the software component?  Or we talking about a narrower version of metadata, such as timestamps or last-user-update?
2. Are there any issues (as in Github "issu

[2021-09-01 16:14] trishankatdatadog commented on #1560
Hi Mark,

On Wed, Sep 1, 2021 at 11:55 AM Mark Underwood ***@***.***>
wrote:

Yes, see the custom
<https://theupdateframework.github.io/specification/v1.0.20/index.html#custom>
targets metadata, which is used
<https://uptane.github.io/deployment-considerations/customizations.html> in
Uptane (a multi-repo variant of TUF used in automotive/cloud
dependency-resolver contexts) to associate arbitrary m

[2021-09-02 06:36] #1332 closed, assigned to sechkova

[2021-09-02 08:55] jku commented on #1357
There's a lot to improve (#1543) but I think we shouldn't block a release on any of the docstring changes...

[2021-09-02 08:55] #1357 closed, assigned to nobody

[2021-09-02 09:04] #1555 closed, assigned to joshuagl

[2021-09-02 12:06] MVrachev opened #1562 "ngclient: prevent using rolenames as filenames if they are dangerous"
**Description of issue or feature request**:
Delegation role names are not restricted in any way in the spec, but they are targets metadata role names.
This means they can be any random string. In Sigstore, for example, they are thinking of using delegations role names as URLs to avoid collisions (see https://github.com/theupdateframework/python-tuf/issues/1527#issuecomment-903871213).
We don't wa

[2021-09-02 12:12] MVrachev commented on #1527
@jku I agree with all of your thoughts here.
To summarize we will:
- validate that role names are not using top-level metadata names in Metadata API: #1558
- validate that role names are not used as file names in ngclient: #1562

With this, I think we have specified this issue scope and split it into two.
I don't think we need this issue anymore.
Does somebody disagrees and am I missing something?

[2021-09-02 14:31] jku opened #1563 "ngclient: recent rollback checks are buggy"
I recently added the rollback protection checks in ngclient and am now improving ngclient testing situation. With hindsight the order is wrong: I've found an issue with the rollback checks
* TrustedMetadataSet now considers intermediate timestamp and snapshot valid even if it is expired or version does not match meta version: it only checks final validity when the next metadata type is loaded
* Up

[2021-09-02 14:51] jku commented on #1563
Some findings:
* the decision to check meta version and expiry at "next" metadata update is correct: otherwise Updater could forget to do it
* but updater does need a way to know if the just loaded metadata is a valid _final_ metadata or just valid intermediate metadata: this applies to both snapshot and timestamp
* from #1523 Updater needs to tell TrustedMetadataSet if the snapshot is  local one

[2021-09-02 16:09] jku commented on #1444
I have a rough prototype of a RepositorySimulator in https://github.com/jku/tuf/commits/updater-tests-with-simulated-repo.  I think it's promising. The actual testing looks like this:

        # client: update metadata
        updater = Updater(...)
        updater.refresh()

        # repository: publish new targets version (and snapshot and timestamp)
        repo_sim.targets.version += 1

[2021-09-02 17:04] trishankatdatadog commented on #1444
cc @hosseinsia

[2021-09-02 17:08] jku commented on #1550
https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/ I'm not saying we should do this (because of the signing issue) but nice to see that python.org is willing/trying to define "the right way to do this"...

[2021-09-02 18:41] MVrachev commented on #1523
I will wait with the implementation of a pr resolving this issue until there is a prototype for #1444 which will make creating a test
for this use case easier.
@jku is already working on it as he shared in his comment under this issue: https://github.com/theupdateframework/python-tuf/issues/1444#issuecomment-911843113

[2021-09-03 06:33] jku commented on #1562
Looks good, just wanted to add that we would like to support arbitrary rolenames in ngclient but we just don't have a solution right now that is both:
* clearly spec compliant and
* safe

So we're trying to compromise here: keep using rolenames as filenames, but error out if those rolenames look like they might be unsafe as filenames. I think we should also at some point prototype with not using r

[2021-09-03 10:51] joshuagl commented on #1550
In future a PyPI build farm, developer signing of PyPI with thresholds (PEP 480), or sigstore trust delegations might make this easier, in the near term some options:
* automated workflow with an offline developer verify and sign. We'd need verifiably reproducible artefacts first #1269
* developers sign releases i.e. git tags, automation ingests those tags, verifies the signature, then builds and

[2021-09-06 10:31] joshuagl commented on #1558
I wonder if this kind of logic and role name sanitisation more generally belongs in metadata API? Perhaps it should be part of the (as yet undesigned) repository interface?

[2021-09-06 12:28] joshuagl commented on #1161
PyPA are [recommending `build`](https://packaging.python.org/guides/distributing-packages-using-setuptools/#packaging-your-project) now, we should switch to that (ensuring that docs/RELEASE.md is updated too).

[2021-09-06 13:00] jku commented on #1558
same check does make sense in a client: we would not want to accidentally overwrite our local root.json because a targets decides to delegate to a "root" role version 9000.

I don't think there are practical risks of that -- the client would have to succeed in downloading and verifying the file _as a targets metadata_ before it would be written to local disk but this still seems like a reasonable

[2021-09-06 13:05] joshuagl commented on #1550
Having discussed with one of the SLSA creators, I think the SLSA way to achieve automated builds and have developer signing of releases is.
1. Automate the build
2. Have the builder (i.e. GitHub Actions) produce [SLSA provenance](https://slsa.dev/provenance), perhaps based on https://github.com/slsa-framework/github-actions-demo
3. Define a policy for what is expected and acceptable in the provena

[2021-09-06 13:19] jku opened #1568 "docs: python-tuf version should be visible in docs (readthedocs)"
https://theupdateframework.readthedocs.io/en/stable/ works great and automatically updates based on release tags.

But it's hard to see which release the docs are actually for...

I'm not sure if the solution is to build the version number into the main documentation page, or if there's a readthedocs feature we could use to have the tag name visible in the UI?

[2021-09-07 09:38] sechkova commented on #1568
Why not activating a version build from a tag?

https://theupdateframework.readthedocs.io/en/v0.18.1/
https://readthedocs.org/projects/theupdateframework/versions/

I had to manually go to Versions and click the "Activate" button.

[2021-09-07 11:50] jku commented on #1568
Yeah that helps... At least from release notes and such we can link to specific versions. https://docs.readthedocs.io/en/stable/automation-rules.html shows that we can make the activation automatic as well: I'll try it.

So maybe it doesn't matter that https://theupdateframework.readthedocs.io/en/latest/ doesn't say anywhere which version it is?

[2021-09-07 12:03] sechkova commented on #1568
`latest` or `stable`? I think I'm ok with it but other options that come to my mind is hiding stable and using the "tag" version only or setting the "tag" one as default.

[2021-09-07 12:14] jku commented on #1459
To make this a bit more concrete:  I have another PR that creates a root from scratch that looks like this:

[code]

Not pretty: it calls three constructors with at least one useless argument. It could look like

[code]

better? other ideas?

[2021-09-07 12:48] jku commented on #1568
Right, I meant "stable" as the problematic one (but would be nice if "latest" was clearly marked as git version as well).

[2021-09-08 07:41] jku opened #1570 "ngclient: handle readtimeout on session.get()"
ngclient RequestsFetcher handles ReadTimeout when waiting for data (in `_chunks()`) and turns it into a SlowRetrievalError but does not do same when opening the connection (`session.get()`). This leads to a unwieldy and long error message (below).

I guess we want to have the same error (with just a different message) in this case?

[code]

[2021-09-08 08:05] jku opened #1571 "ngclient: downloading targets fails if targetpath includes subdirectories"
ngclient has so far copied the legacy client decision of downloading files to the same directory structure as the repository uses. It has however removed the code that creates the directory structure.

So downloading any targets with paths like `"path/to/file"` will fail because the local directories do not exist.

[2021-09-08 10:07] #1499 closed, assigned to sechkova

[2021-09-08 10:07] #1552 closed, assigned to sechkova

[2021-09-08 11:09] jku opened #1573 "tests: consistent_snapshot tests in test_updater_ng.py are broken"
`test_refresh_on_consistent_targets()` does not actually try to refresh any metadata apart from root and timestamp (and it couldn't because the files don't exist in the repository). The test only passes because client already has all the metadata in the metadata cache.

I'm not sure it makes sense to fix this before #1444 but I'm filing so we don't make this mistake again.

[2021-09-08 13:18] jku opened #1575 "ngclient: should clean temp file if write fails"
This is assuming #1574 is merged: We should clean temp file in `Updater._persist_metadata()` manually if
* write fails but file was still created (disk could be full?)
* write succeeds but replace fails (can't imagine what could lead to this but probably something can...)

To re-iterate, we don't use Tempfiles automatic cleaning because in the normal case we want to move that file (and we can't bo

[2021-09-08 17:56] jku commented on #1575
Would be nice if there was a way to test without mocks but mocking os.replace() would definitely work and be fairly easy

[2021-09-09 15:32] jku commented on #1571
I think this is actually a good time to get rid of this idea of using target paths as local path with directories (as it has several issues, not just that we don't create the subdirectories)... I'll take this

[2021-09-10 08:28] #1444 closed, assigned to jku

[2021-09-10 08:28] #1563 closed, assigned to jku

[2021-09-10 11:03] jku opened #1576 "ngclient: consistent targets handled differently than legacy updater"
The definition of consistent targets in the spec is quite bad (as we're working with a URL but the spec insists on talking about filenames) so I'm not really sure what it wants:

Spec on consistent targets in repository:

Spec on consistent targets when client builds the download URL:

### Issue

* legacy updater has decided this means a target path `a/b` will translate to a download url path `a/{

[2021-09-10 11:12] joshuagl commented on #1576
Could you file an issue against the specification?

Please let's fix that to do translation the same as legacy client.

What I think you're saying here is that https://example.com/foo is a valid URL and therefore seemingly a valid [`TARGETPATH`](https://theupdateframework.github.io/specification/latest/#targetpath), but that does not include a filename part?

The specification has a lot of file-sy

[2021-09-10 12:05] jku commented on #1576
Yeah I think we talk about the same thing: If the base target URL is `https://example.com/` then all of these are urls that could result into a perfectly valid target paths _if we want them to_:
[code]
In all of these cases the filename is I guess an empty string which we could of course still prefix with `{HASH}.`...

Alternatively we could also say that we expect the URLs to always contain a non

[2021-09-10 13:04] jku commented on #1576
I'm not even 100% sure the file requirement makes sense in the context of target paths-- maybe it does does but we already know that many valid URLs don't cleanly map to local file paths so realistically a good client implementation needs to be prepared to handle almost _any_ URL anyway, and that might not be any more difficult than handling "URLs that include a filename like part"

[2021-09-10 13:29] jku commented on #1576
Specification issue https://github.com/theupdateframework/specification/issues/183

[2021-09-10 14:01] joshuagl opened #1577 "ngclient: max_root_rotations value is very small"
Please fill in the fields below to submit an issue or feature request.  The
more information that is provided, the better.

**Description of issue or feature request**:

ngclient (like legacy client?) has a [`max_root_rotations` value of 32](https://github.com/theupdateframework/python-tuf/blob/09534816bde9096a59f6d23ba56fa7e2d6c92721/tuf/ngclient/config.py#L29), which feels low.

The specificatio

[2021-09-10 14:44] jku opened #1578 "ngclient: top-level targets is unnecessarily updated twice"
ngclient updates top-level targets during `refresh()`. Then on `get_one_valid_targetinfo()` the top-level targets is updated again:
* this is not dangerous and does not break any TrustedMetadataSet constraints
* nothing is downloaded but the local metadata file is re-read and re-parsed

Mostly this is just annoying in the logs because it looks like a bug, with two updates usually one right after t

[2021-09-10 15:26] mnm678 commented on #1577
Per [PEP 458](https://www.python.org/dev/peps/pep-0458/#metadata-expiry-times), root metadata should expire every year, so we'll want this value to be at least the number of years we anticipate clients will go between updating their local root metadata, plus some extra rotations in case of a compromise. I actually think that 32 should be plenty.

[2021-09-11 08:57] #1526 closed, assigned to suvadityamuk

[2021-09-11 09:14] jku commented on #1562
I have a possible, less limiting, approach to this: if someone wants to work on this let's chat

[2021-09-11 09:53] jku commented on #1560
The TUF metadata design is extensible as trishank said. Whether it makes sense to include substantial amounts of metadata is another question: The alternative design for specific update systems is to consider the extended metadata as just another form of target data. In practice:
* store the extended metadata in whatever form is best for your application
* insert the extended metadata files as tar

[2021-09-11 10:32] jku commented on #1543
Quick review of metadata doc:
* As mentioned before, should make it clear that Metadata, Root, Targets, Snapshot and Timestamp are important, other stuff is helpers: An alternative to splitting to many pages  may be to write a TOC in the beginning that makes those 5 stand out?
* there's a lot of repetition of "tuf.api.metadata." in the signatures that is not required. `add_module_names = False` an

[2021-09-11 19:47] jku commented on #1576
Actually I'm wrong about the last two, they are not valid target paths since its defined to be a path-relative-URL string so can contain only path segments.

[2021-09-13 06:50] #1447 closed, assigned to avelichka

[2021-09-13 08:36] jku commented on #1412
Ok, I've played with this quite a bit and have changed my mind a little:
* Simplifying the Updater API and the targets local file path logic (#1571) leads to a situation where the "cache" code is really simple: there's no reason to move it out of the Updater
* Since we are changing API wrt legacy updater, I think we should maybe fix the small annoyances as well: porting old code is typically easy

[2021-09-13 09:05] jku commented on #1571
We might want to fix this with #1412
https://github.com/theupdateframework/python-tuf/issues/1412#issuecomment-917966743

[2021-09-13 09:41] sechkova commented on #1484
Reading #338 that led to adding the `sleep_before_round` config, it seems that we either keep it and close this issue or ignore the high CPU usage caused by the download while loop on embedded devices.
Unless someone knows a better way to solve the problem I suggest we keep the config. @joshuagl @jku

[2021-09-13 12:59] sechkova commented on #1570
Assigning to myself to fix it + I wanted to test mocking `requests`.

[2021-09-14 08:42] jku commented on #1484
The issue I have with this "high cpu usage" problem is that it does not make a lot of sense and the actual issue was never debugged (or at least documented): A 1GHz arm7  should have absolutely no issues running simple download code -- if the `read()` call in the loop actually returns without blocking (for a timeout) and the code ends up looping billions of times then that was the real issue and t

[2021-09-14 08:57] jku commented on #1483
this is part of the "forming URLs from target paths" issue: My understanding after thinking about this a bit too much is that target paths are meant to be URL-encoded (percent encoded) to begin with -- or at least the client library cannot know what to encode/decode. The library should not encode or unencode but client (caller) can do that if they know what they are doing.

So:
* client library co

[2021-09-14 09:00] jku commented on #1303
@sechkova do you think this is still an active issue -- I think moving the download methods into Fetcher have solved the issues around this? I don't see our code having trouble with unclosed things currently

[2021-09-14 09:09] sechkova commented on #1303
Yeah, with `download_file()` being context manager and `RequestsFetcher` correctly cleaning up sockets, I think this is solved. Closing it.

[2021-09-14 09:09] #1303 closed, assigned to nobody

[2021-09-14 09:11] sechkova commented on #1484
I see, I'll test it with the current network stack and post the results.

[2021-09-14 10:38] jku commented on #1230
I suggested removing the specific instance because that makes sense in that context. I don't think we should lump all functions called `update()` into a single decision: contexts may be different.

[2021-09-14 20:08] joshuagl opened #1579 "Design test strategy"
**Description of issue or feature request**:

The following list captures some areas of interest for testing and some example test cases for each area. For each _area_ it would be useful to:
1. better flesh out what we are trying to test, what is not in scope and generate a(n initial) list of tests to implement
2. research and propose an appropriate test paradigm for the area which prioritises rea

[2021-09-14 20:09] joshuagl commented on #1579
It probably makes sense to split each test area into a separate issue where the scope, actual tests and proposed test architecture can be defined.

[2021-09-15 06:10] jku commented on #1579
Thanks for writing this down. Edited the list to add target paths to table testing section

[2021-09-15 07:53] jku opened #1580 "ngclient: reveal final form (finish API changes)"
There's a bunch of small API changes that I think would still make the API better (more consistent, simpler, safer). The implementations of the individual changes can probably be separate but I think it makes sense to discuss the design as a whole: it'll be a lot easier to discuss when the final form of the API is visible.

* simplify the caching support: I've advocated for just dropping the "cach

[2021-09-15 09:27] jku commented on #1580
related #1412, #1571

[2021-09-15 11:21] jku opened #1582 "tests: Start linting tests"
I believe we should enable linting (`tox -e lint`) for new test files (maybe even for some recent additions). Possibly some exceptions are needed but in general I think the tests would be better if they were linted.

Good start for this would be test_updater_with_simulator.py and repository_simulator.py: it's new code and files are small so the changes are easy -- the real job is figuring out how

[2021-09-15 12:50] joshuagl commented on #1582
Splitting tests across multiple directories _may_ make sense, but I think the right combination of simple and not prone to error is a list of files excluded from lint? That way, new test files are linted and there's no ambiguity about where to place new tests.

Also, the no-lint list gets shorter as we replace/remove existing tests.

[2021-09-15 13:18] jku commented on #1582
I notice I did not explicitly state this: we currently have lint files/directories listed in multiple places in tox.ini and then in setup.cfg for static type checking with mypy

[2021-09-17 10:48] #1504 closed, assigned to MVrachev

[2021-09-17 11:25] jku commented on #1135
IMO the final missing piece(s) here might be documented in #1580.

[2021-09-17 12:45] jku commented on #1543
This probably won't work: autodocs :inherited-members: does not apply to attributes so e.g. `version` attribute would not get documented in Root

[2021-09-17 12:53] jku commented on #1543
sphinx autodoc can not automatically document the types of python instance attributes -- this makes sense when you think about the data autodoc has available (for functions the types are annotated but for attributes it would have to run a static type check to figure the types out)

Since in Metadata API we have documented the attributes, and not constructor arguments (because they are typically th

[2021-09-20 07:19] jku commented on #1580
re-implementing the current directory-creating cache style would be easy for a client that wants to do that (and knows that it is safe to do so).

[2021-09-20 07:23] jku commented on #1580
Would appreciate comments on this design: @sechkova, @joshuagl maybe?

This includes several things that are related enough that I wanted to cover them in one document: I don't intend to implement all in one PR, just wanted to document the end result I think would make sense.

[2021-09-20 10:35] joshuagl commented on #1580
💯 this will make the API much nicer in use.

💯 the pluralised API has always felt a little off.

👍

I am less certain about this. We should try and get this right for 1.0 so we don't have to break API too soon. Is always refreshing going to cause problems anywhere? It might be problematic for an air-gapped client (with local/cached files) that can't reach out to the network to `refresh()`?

How do

[2021-09-20 11:18] jku commented on #1580
Doing the actual refresh has always been required so that's not changing with my plan... not being able to connect to remote always means failure (in this plan and current implementations). The question of "should we be able to do something with local metadata without checking remote metadata" is a reasonable one. Examples:
*  if I just ran the updater, then fix a typo in the target name and run a

[2021-09-20 11:39] #1443 closed, assigned to MVrachev

[2021-09-20 12:48] joshuagl commented on #1580
Thanks for working through these with me Jussi.

I agree that this is post 1.0 material. I just want to keep it in mind so we are able to satisfy the requirements.

Agree, we do not want code to allow for expired metadata in some cases. What I think is the sensible approach for air-gaps is for the client to be able to use local _valid_ metadata but not choke if fetching remote metadata fails. If `

[2021-09-20 12:49] jku commented on #1580
Hmm, yes, maybe 'cache' is a better term than 'local' (when contrasted with `download_target()`)...

[2021-09-21 15:59] jku commented on #1580
`refresh()` is currently responsible for loading local metadata and that probably still makes sense... my hunch is that supporting a local-only use case would not be terribly complex, but would be complex enough that implementation should happen when we know that a real use case exists.

requiring directories to exist seems fine to me but...

This is a reasonable criticism. My prototype code would

[2021-09-22 08:12] #1426 closed, assigned to MVrachev

[2021-09-22 08:12] #1469 closed, assigned to MVrachev

[2021-09-22 09:03] joshuagl commented on #1580
Of these options I prefer the latter, users either tell us where to store a file we name or precisely where to write the file. Separate arguments makes it clear they are different use-cases. Mutually exclusive optional arguments might be a little confusing, but feels safer for users than a single argument.

@sechkova any thoughts on the proposed API here?

[2021-09-22 11:36] jku commented on #1558
the legacy client also prevents empty string as rolename -- this seems like  a reasonable take for ngclient too

[2021-09-23 10:51] sechkova commented on #1580
From what I understand, the intention is that if `download_target` gets a directory and it does not exist, it raises an exception but if it gets a file path then it encodes it as the filename?

I guess mutual exclusive if I have to choose from the options above, otherwise the result from this misunderstanding of the API:

`path = updater.download_target(tgtinfo, dir="/tmp", filename"/tmp/badger")

[2021-09-23 16:29] jku commented on #1580
can you explain which variant exactly you mean? I can't quite follow the question

To summarize there have been three options so far I think:

[code]

Variant 1 feels ugly and unusual. I can live with variant 2 or original.

[2021-09-23 16:50] joshuagl commented on #1580
My preference is variant 2, due to the concern I raised with the original proposal.

[2021-09-23 17:13] MVrachev commented on #1576
I am not sure why this example is considered a valid target path?
The spec about [TARGETPATH](https://theupdateframework.github.io/specification/latest/#targetpath) defines it as:
`A string giving the path to a file that is relative to a mirror’s base URL of targets.` and in this example, the TARGETPATH is pointing to a directory.

[2021-09-24 07:41] jku commented on #1576
"file" and "directory" are definitions that don't exist in URLs as far as I know so that definition is a bit suspect. Anyway, I'm not trying to argue about what is a valid target path (maybe we could start being more strict about it... in another issue), just pointing out some complications you might want to test for when doing the change at hand with the target path handling we have.

EDIT: or in

[2021-09-24 09:05] sechkova commented on #1580
Sorry, I've misunderstood partially. Let's go for variant 2 then.

[2021-09-24 10:22] jku commented on #1571
I have a branch but this is in practice blocked by #1587 : The legacy tests do not include any targets with sub directories (!) and I can't be bothered to add them, will wait for #1587.

I also suppose this one makes #1576 trickier to test (as the downloads just won't work).

[2021-09-24 12:43] MVrachev commented on #1571
@jku I am sorry I created a commit before reading this issue and noticing you are assigned to it.
I created one commit possibly solving that issue: https://github.com/theupdateframework/python-tuf/pull/1591/commits/6f108c9a1f7822b863b0118d8159e108b850bca8, but the question remains do we want
to further support targetpaths as local paths.

What other do you mean besides this one if we consider targ

[2021-09-24 13:07] sechkova commented on #1578
The only scenario where we might be skipping a newer delegated role metadata file is the unlikely case where the file is updated between two `get_one_valid_targetinfo` calls but this should be a very short period of time:

[code]
But is this the correct sequence? I don't think we should be calling `refresh()` before each `get_one_valid_targetinfo`?

[2021-09-27 07:22] #1570 closed, assigned to sechkova

[2021-09-27 07:31] jku commented on #1578
No we should not. It's also currently impossible: calling `refresh()` twice is an error as it tries to break TrustedMetadataSet rules (of course we could change how refresh works but in practice it would mean calling refresh() again is the same thing as creating a new Updater and then calling refresh() -- the only optimization would be that we don't have to load the local root from disk so not rea

[2021-09-27 07:42] jku commented on #1571
That's fine, I'm sure you needed to do something to test -- and we are annoyingly touching the same bits of code. We'll see how bad the merging/rebasing gets...

I don't want to create local directories based on a URL -- a specific TUF implementation might know that is a reasonable thing to do but I don't think the library can know that. I'm suggesting we use the whole target path (url encoded) as

[2021-09-27 13:06] jku commented on #1580
Status report for this:

* #1587 is merged
* #1592 is currently in review

Other than those my WIP branch contains
* a few test cleanups
* change of updated_targets -> get_cached_target (including the directory and filepath arguments)
* get_one_valid_targetinfo rename
* implicit refresh

I think those will be ~two more PRs -- I will make them when current open one merges, but if you want to see th

[2021-09-27 14:52] MVrachev opened #1594 "ngclient updater: API functions argument validation"
**Description of issue or feature request**:
In the `tuf/ngclient/updater.py` module we are providing a couple API functions with arguments: `Updater.__init__`, `get_one_valid_targetinfo`, `updated_targets` and `download_targets`.
It seems to me it's a good idea to decide which arguments in those functions require validation and if there should be any what it should be.

**Current behavior**:
No v

[2021-09-27 15:08] MVrachev commented on #1594
I will document some of my thoughts:
- `repository_dir` in `Updater.__init__()`: I think we should check if the `repository_dir` exists during the initialization and fail early.
Otherwise when calling `Updater._load_local_metadata("root")` an exception will be thrown.

- `target_path` in `Updater.get_one_valid_targetinfo()`: We should validate that `target_path` is a non-empty string.
Otherwise, i

[2021-09-28 06:46] jku commented on #1594
let's leave this on back burner until #1580 is resolved: arguments (and how they are used) is likely to change slightly

`__init__()` could be fixed already but I actually think the current FileNotFoundError is fine.

[2021-09-28 11:20] jku commented on #1579
I'm looking at legacy updater tests currently: I'll try to document the actual tests they contain (at least the ones that still apply) and take notes on what useful approaches they might use.

[2021-09-29 07:47] jku opened #1595 "docs: standardize how we refer to methods in docstrings"
**Current behavior**:
Currently we use several different ways to refer to methods, objects and arguments in the Metadata API and ngclient docstrings. Examples:
[code]

This has been partially on purpose to see what these all look like (both in published docs and in code).

**Expected behavior**:

Ideally we should be consistent and follow the coding style guidelines (which somewhat reasonably argu

[2021-09-29 08:46] sechkova commented on #1462
Closing in favour of #1579.

[2021-09-29 08:46] #1462 closed, assigned to sechkova

[2021-09-29 09:21] jku commented on #1287
this "fixed" itself when the coveralls project recreated itself when we changed github project name (now coveralls checks aren't added: instead we get a PR comment)

[2021-09-29 09:21] #1287 closed, assigned to nobody

[2021-09-29 09:24] sechkova commented on #1412
Closing this as the work continues in #1580.

[2021-09-29 09:24] #1412 closed, assigned to nobody

[2021-09-29 09:27] sechkova commented on #1425
Seems like a major API change that we won't consider for now. Removing the backlog label but let's keep the discussion open.

[2021-09-29 09:38] sechkova commented on #1578
Sync with #1507

[2021-09-29 09:50] avelichka commented on #1528
Could you please assign that to me ;)

[2021-09-29 10:20] sechkova commented on #1528
Let's do as the old client does and skip a role (node on the delegations graph) without considering its parent.
As discussed in theupdateframework/specification#177 this is
- the literal reading of the specification
- the simpler and practical solution for single-role delegations and python-tuf does not support multi-role delegations at this point.

[2021-09-30 07:28] #1571 closed, assigned to jku

[2021-09-30 10:59] joshuagl opened #1597 "Create migration guide prior to 1.0"
**Description of issue or feature request**:

For the 1.0 release of the refactored codebase we should provide a migration guide for users of the legacy code, a short doc describing how to port to ngclient API based on the comments in #1580

[2021-09-30 11:06] joshuagl opened #1598 "Develop a process for keeping `metadata.SPECIFICATION_VERSION` up-to-date"
**Description of issue or feature request**:

`tuf.api.metadata.SPECIFICATION_VERSION` is currently 1.0.19, latest TUF spec is 1.0.25. The larger these differences become, the more of a chore it is to ensure we are fully compliant with new specification versions.

Let's develop a process for ensuring we frequently assess new spec versions, make changes to python-tuf where appropriate, and keep `tu

[2021-10-01 11:36] jku opened #1599 "metadata API: add missing arguments docs"
We're missing method argument docs in the docstrings for
[code]
https://theupdateframework.readthedocs.io/en/latest/api/tuf.api.html

we should have (preferably one-liner) descriptions for each argument

[2021-10-01 12:10] jku opened #1600 "Metadata API: Improve docstrings language"
Let's fix some docstrings in metadata.py: some of them document internal details or just repeat the name of the attribute/argument in a way that's not useful for reader:
* Assume reader is not going to read the source code
* If it's not obvious, explain what argument/attribute is for -- why is it exposed in API?

I'd like to get at least this common line fixed:

This does not explain what they are

[2021-10-01 12:21] jku opened #1601 "ngclient: Document internal details (maybe)"
There have been a few suggestions to document ngclient internals (or to publish that documentation):
* RequestsFetcher
* TrustedMetadataSet

https://github.com/theupdateframework/python-tuf/issues/1543, https://github.com/theupdateframework/python-tuf/pull/1517#discussion_r694700337

I think we could talk a bit about RequestsFetcher somewhere... either in the Fetcher documentation or Updater docs.

[2021-10-01 12:27] jku opened #1602 "metadata API: TargetFile.custom is not visible in documentation"
The property is not documented and is not visible in RTD documentation: I think it would be useful to expose as the "supported" way for a client app to read custom metadata for a target

[2021-10-01 12:30] jku commented on #1312
Updated title: I think we're mostly missing proper documentation:
* document our own exceptions
* document OSErrors where necessary (anytime we read or write files)

[2021-10-01 12:40] jku commented on #1543
#1590 is merged, looks a lot better I think.

Followup happens in #1312, #1595, #1599, #1600, #1601, #1602. Closing this one.

[2021-10-01 12:40] #1543 closed, assigned to jku

[2021-10-04 16:10] MVrachev commented on #1241
@jku any opinions?

[2021-10-06 12:54] sechkova commented on #1579
After some iterations over the potential test areas and topics, we've narrowed down several bigger ones that we want to start the testing with and keep refining and improving further.
Since tracking of all the tests we want to implement is hard in a GitHub issue, there is a [WIP Client test scenarios](https://docs.google.com/spreadsheets/d/1HQI-FdRN-XqEZa-6WTuEkcx4RQAdPRDsgGADJahzdPo/edit?usp=shar

[2021-10-06 13:05] jku commented on #1579
I tried this a bit and it's fairly easy to add things like this:
[code]
it's ugly enough that we likely don't  want to do that in every test -- but we could for example write one slightly more complex test with asserts like this to ensure we download exactly what we expect to download.

I think your mock wrap suggestion will be good for ensuring we only read/write the local files we expect to read

[2021-10-06 13:18] sechkova opened #1606 "ngclient testing: client workflow sequences"
**Description of issue or feature request**:

_If needed, narrow down the scope of this issue and spawn separate ones for top-level metadata update, delegations metadata update, Fetching targets._

**edit:  This issue deals with top-level-metadata updates. Delegated roles and targets will be covered #1641 #1642  #1643 .**

Following the high-level steps described in #1579 implement tests for the v

[2021-10-06 13:27] jku commented on #1579
I have some ideas here (and have also read through all of the relevant legacy tests recently). I'll try to have a go at this within the next days if no-one else beats me to it

[2021-10-07 07:05] jku commented on #1580
Curently active PR for this is #1604 : Since there's a lot of target dir / filepath discussion here already, I'll mention that  has a design that improves on the ones discussed here

After this the only thing left is the implicit refresh which is quite trivial.

[2021-10-07 07:58] jku opened #1607 "tests: Updater key rotation tests"
This is part of #1579, we want to test the Updater in various key/signature change scenarios in a setup where:
* tests are readable / understandable
* a new test scenario adds as little code as possible
* adding new scenarios should be easy and the added test runtime should be negligible

I have been looking at existing tests (_test_key_revocation_integration.py,  test_root_versioning_integration.

[2021-10-07 10:22] MVrachev commented on #1606
errors / no errors
what metadata is downloaded?
what metadata is read from disk?
what metadata is on disk afterwards?
are the currently loaded metadata versions correct?
(some of the same bullet points repeated for targets)
? more ?

When we decide on that we can use it as a start for capturing an ADR resolving #1129?

[2021-10-07 11:57] sechkova commented on #1484
So I tried reproducing the #338 issue but it is quite impossible.
- There is no clear scenario in the discussion, only results of measured times
- Even if I tried to guess the scenario by the comments, I still could not reproduce the 2016 environment with significant efforts (quite unjustified)
- My hardware setup is probably quite different
- I tested with timing the current code (on a 4-cores VM

[2021-10-07 12:14] joshuagl commented on #1484
Thanks for putting the effort in to investigate before removing

Completely agree with its removal 🔥

[2021-10-07 13:37] jku commented on #1579
A new set of tests for your list:

**Expiry tests**
* No expired metadata should be accepted as final metadata (as in, loading the "next" metadata should fail)
* Some metadata (root, timestamp, snapshot) should be loaded as _interim metadata_ even if expired (and should be stored in local metadata cache, see next item)
* In particular root metadata expiry can happen both as local and as remote met

[2021-10-07 14:14] jku commented on #1607
So the potential issues here are:
1. the test case format is more complex than is acceptable
1. the code that actually turns the test case in to a repository is not trivial

I think I'll try to do a throwaway version of this to smoke test the second issue (also so others see what the idea is), then if it still seems reasonable we can try tweaking the test case format so it's understandable

[2021-10-08 08:58] joshuagl commented on #1550
For moving the signing to an automated system, it might be as simple as having a new project signing key with the public key stored as a file in the git repo (where our users can easily find it) and the private key is stored in a GitHub secret.
There's even WIP support in sigstore/cosign to generate a key and set up the secrets in GitHub here https://github.com/sigstore/cosign/pull/848

I think we

[2021-10-08 11:57] jku commented on #1607
It's fine: https://github.com/jku/python-tuf/blob/e6911d6ae4c5630ca44b97d62a692d11737af100/tests/test_updater_key_rotations.py#L94 shows an example: the actual test is just 30 lines

I think the only real issue is the test case format.

[2021-10-08 14:58] MVrachev commented on #1582
I think I will experiment by renaming all old test files with `<name>_old.py` and experiment with exclusion rules.

[2021-10-08 15:13] sechkova commented on #1582
Can we use a prefix instead of a suffix so the files appear sorted in a way?

[2021-10-08 15:17] MVrachev commented on #1582
I thought about adding a suffix instead of a prefix as the filenames will be easier to read.
Although as they are test files for the old legacy code maybe we want to see them grouped and that will make the other files more visible.
Do the others have an opinion?

[2021-10-11 08:41] #1484 closed, assigned to sechkova

[2021-10-11 10:55] jku commented on #1582
I expect prefixes would make more sense, if files need to be mass-renamed

[2021-10-11 11:48] MVrachev commented on #1582
Another reasonable solution seems to move the old files in a separate folder, but if we move them won't we lose the git history?

[2021-10-11 21:01] MVrachev commented on #1582
I read the GIT FAQ on this matter https://git.wiki.kernel.org/index.php/GitFaq#Why_does_Git_not_.22track.22_renames.3F and found out that both renames and file relocations will cause the git history to be lost.
That's why I researched for another option that won't change the titles or move the test files.
I think I have some progress with `isort` and `black`, but they require to hardcode each of t

[2021-10-12 08:48] MVrachev commented on #1579
In pr #1605 we are adding a new configuration option for the RepositorySimulator called `compute_metafile_hashes_length` which will compute the hashes and length for all `MetaFiles` defined in `timestamp.snapshot_meta` and `snapshot.meta`.
We should add unit tests including this configuration option as well.

[2021-10-12 09:52] #1576 closed, assigned to MVrachev

[2021-10-12 10:49] jku commented on #1606
I think these are worth testing (because it's so easy to regress into loading something twice or something), but I think making all tests do this would be ugly... I would suggest a specific set of tests that e.g. runs a few  refresh(), get_targetinfo() and download_target() calls with a reasonably complex repository setup, and ensures only the expected downloads and file reads  are done.

These sh

[2021-10-12 12:12] jku opened #1612 "repository design: survey existing implementation"
Let's starts #1136 with a "competitor analysis": survey existing TUF repository implementations from a adopter/integrator perspective:
* Take a look at existing implementations, document the APIs they provide and use cases they seem to cater for:
  * python-tuf repository_tool / repository_lib
  * current Warehouse integration branch
  * [go-tuf](https://github.com/theupdateframework/go-tuf/)
  *

[2021-10-12 14:12] joshuagl commented on #1612
The current warehouse integration branch is, I believe, https://github.com/pypa/warehouse/pull/7488

Some potential use cases / areas:

- initial repository setup
- key management (e.g. safe key rotations)
- delegation management
- developer actions: adding targets at least (anything else?)
- snapshot update
- timestamp update
- ensuring repository validity (this comes up in several other use case

[2021-10-12 15:00] MVrachev opened #1613 "New implementation: do we need a separate DEFAULT_HASH_ALGORITHM config option in TUF?"
**Description of issue or feature request**:
In Securesystemslib there is the `securesystemslib.hash. DEFAULT_HASH_ALGORITHM`  configuration option which now is set to "sha256".
The question is whether we need an option like this in TUF rather than relying on Securesystemslib?
If `securesystemslib.hash. DEFAULT_HASH_ALGORITHM` is changed tomorrow how would this affect us?

**Current behavior**:
Re

[2021-10-13 07:16] MVrachev opened #1614 "Test utils fail on every OS when using Python version 3.10"
**Description of issue or feature request**:
I tried adding support for Python version 3.10 in pr #1610, but there were CI problems with our test utilities when using every platform we are testing against - Windows, Ubuntu and MacOS:
https://github.com/theupdateframework/python-tuf/pull/1610/checks?check_run_id=3861875262

**Current behavior**:
CI fails when using our test utilities with Python ve

[2021-10-13 07:19] sechkova opened #1615 "RepositorySimulator: add support for serving invalid metadata"
**Description of issue or feature request**:

_update: One scenario of invalid metadata remains, serving a snapshot whose version does not match the one in timestamp.snapshot_meta and targets whose version does not match the one in snapshot.meta respectively (see discussion below)._

In many test scenarios there is a need of serving various forms of invalid metadata:
- unsigned metadata: missing s

[2021-10-13 12:39] jku opened #1617 "CI / windows: deprecation warnings from tox"
tox run on Windows on the CI has multiple warnings. I don't see the same things on other build hosts
[code]

[2021-10-13 12:44] #1523 closed, assigned to MVrachev

[2021-10-14 10:38] joshuagl commented on #1614
Note to whomever merges this, when we add new Python versions to the test matrix we need to choose whether to update our branch protection rules.

[2021-10-14 11:04] lukpueh commented on #1600
Some related thoughts with regards to consistency of docs that might be addressed here:
- Don't use different aliases for the same docs section, e.g. "Args" vs. "Arguments"
- Quote (`'` vs. `"` vs. ``` `` ```) or don't quote all proper names, e.g. args, return values, class names, etc.
- Start all args/raises/returns oneliners with definite, indefinite or no article.
- As @jku says, don't state th

[2021-10-14 13:18] jku commented on #1614
What was this about? Can't quite connect the two...

[2021-10-14 13:57] joshuagl commented on #1614
Apologies for the drive-by comment.

- Our [branch protection rules](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches) prevent us merging unless certain checks have passed.
- When we add a new Python version to the Actions workflow, that creates a new set of checks of the form "Tests ($PY_

[2021-10-14 14:34] jku commented on #1615
let's talk about these: I think these are mostly already doable -- but it's true the methods to do so might not be very accessible.

* unsigned metadata: changing signers without changing metadata keys will lead to signature issues
* invalid metadata (meta dict): this should be easy, just modify meta dict manually after update_snapshot()
* invalid metadata (target hashes): this might require addin

[2021-10-18 09:14] jku commented on #1612
Documenting a few items from first discussion:
* Jussi: a lot of the code we will look at may be designed with command line interfaces in mind: this probably won't prevent the components from being useful in e.g. Warehouse-like integrations but let's keep the possible bias in mind
* Lukas: a lot of the design in repository_lib/tool is sound, it's just the implementation that is the issue
* Let's t

[2021-10-19 15:02] MVrachev commented on #1356
It's validated that `keyid` is a string inside the `Key` class during initialization.

During serialization, it's not validated. Maybe there is no sense to add that as `Key` is an internal helper class and we don't expect the user to modify the `Key` instances.

Maybe we can validate that the given `keyid` actually points to the `keyval` given during the initialization of a `Key` instance?
It's pr

[2021-10-19 18:48] joshuagl commented on #1161
Not only are PyPA recommending build, but direct invocations of setup.py are considered deprecated for a number of years!? 😱

https://blog.ganssle.io/articles/2021/10/setup-py-deprecated.html

[2021-10-19 20:16] joshuagl commented on #1612
This diagram _may_ be useful for the repository_lib/tool survey [repository_tool-diagram.png](https://github.com/theupdateframework/python-tuf/blob/develop/docs/images/repository_tool-diagram.png)

[2021-10-20 12:17] MVrachev commented on #1516
Maybe then we should add additional validation that `roles` contain exactly four roles representing the top-level metadata roles?
It's said in the spec that:
``` A  role for each of "root", "snapshot", "timestamp", and "targets" MUST be specified in the roles object. ```
The only drawback I see is that we will have always to provide 4 roles even during testing.

Also about what you said above:

If

[2021-10-20 13:51] #1599 closed, assigned to nobody

[2021-10-20 13:53] jku commented on #1516
Are you now talking about my off the cuff idea of changing the constructor or the current situation? Whenever we take a dictionary as input we should validate that the four correct keys are there -- A Root object without exactly four correct roles is invalid and shouldn't never exist IMO. So as a minimum we need to do it on `from_dict()` but if the constructor takes a dict as it does now and if we

[2021-10-20 15:03] MVrachev commented on #1516
I wanted to raise discussion for all of the topics you mentioned.

Agree. Validation for this should be added as well and this will require changing the `valid_roots` dataset in `test_metadata_serialization.py`.

I agree with this, but I am not sure about this part:

you don't suggest doing that API change in this issue right?

[2021-10-20 15:42] lukpueh commented on #1595
+1 for double back-ticks. Note to myself: Add a corresponding line to https://github.com/secure-systems-lab/code-style-guidelines/blob/master/python.md#docstrings.

[2021-10-20 15:52] lukpueh commented on #1600
Just saw that @jku already has a ticket for this. I say we try standardise to double backtick and see if it looks good in source code and on RTD.

[2021-10-20 16:36] lukpueh opened #1627 "Metadata API: Consider removing 'update()' methods"
*[edited on 12/20/2021: Mention ".json" bias]*
*[edited on 11/10/2021: Point to #1230]*

**Description of issue or feature request**:

The Metadata API classes for top-level roles Targets, Timestamp and Snapshot each have an `update` method. They have been criticised in several places (https://github.com/theupdateframework/python-tuf/pull/1193#discussion_r514572393 pp, https://github.com/theupdate

[2021-10-21 07:02] jku commented on #1516
I don't: only reason to discuss these here is just in case they would make the validation obsolete... That doesn't seem likely so let's just forget it for now.

[2021-10-21 07:06] jku commented on #1595
I didn't specify the argument names in function docstrings, which is probably the most common case... but maybe the same applies in that case: when argument names are used in the docstring, use double-backticks to get the `code` rendering?

[2021-10-21 07:30] lukpueh commented on #1595
Not sure I understand. Where did you not specify them? Above you do say *"...ways to refer to methods, objects and __arguments__..."*.

At any rate, I think it's fine to use double-backticks for all of these, unless it turns out they clutter the docstrings in code or when rendered on RTD.

[2021-10-21 07:33] jku commented on #1595
oops, so I did :) carry on then

[2021-10-21 08:29] MVrachev commented on #1516
Okay, then I can fix this issue because it's connected with another one I am already involved in #1356.

[2021-10-21 11:40] #1614 closed, assigned to MVrachev

[2021-10-21 11:45] jku opened #1629 "update branch protection rules?"
https://github.com/theupdateframework/python-tuf/issues/1614#issuecomment-943383529:

Python 3.10 was just added to matrix

[2021-10-21 12:26] joshuagl commented on #1629
Updated branch protection rules for `develop` and `0.17-branch`

[2021-10-21 12:26] #1629 closed, assigned to nobody

[2021-10-21 19:01] #1161 closed, assigned to joshuagl

[2021-10-24 16:20] nathanawmk opened #1632 "https://github.com/faisalman/ua-parser-js/issues/536"
I refer to the following massive security incident relating to compromised npm:

1. https://us-cert.cisa.gov/ncas/current-activity/2021/10/22/malware-discovered-popular-npm-package-ua-parser-js
2. https://github.com/faisalman/ua-parser-js/issues/536

I am thinking of enhancing/leveraging TUF to secure NPM so such security incident won't happen again. Would the use of TUF stopped such attack?

[2021-10-24 17:25] mnm678 commented on #1632
TUF is able to catch when a package is uploaded by someone other than the maintainer of that package, because the package would not have the correct signature. It looks like that is what happened here. TUF is also able to revoke a key in the event that the key is compromised by an attacker or used by a malicious maintainer.

I'd be happy to discuss integrating TUF into NPM. Are you a developer on

[2021-10-24 18:01] jku opened #1633 "advertize type annotations"
Using mypy in code that imports python-tuf does not work yet. We probably need to ship a `py.typed` file (but this need to be tested: I am not sure how this works)

https://mypy.readthedocs.io/en/stable/installed_packages.html#creating-pep-561-compatible-packages

[2021-10-25 07:25] jku opened #1634 "ngclient: consistently encode URLs"
Currently we do not explicitly URL-encode rolenames (or target paths) when we use them in URLs. Let's review this code and make a conscious decisions about this.

My original thinking on this was that it's a specification issue: we can't just start encoding e.g. rolenames if the spec does not say we should... but thinking on it further I've started to believe that
* spec should specify how URLS ar

[2021-10-25 09:58] lukpueh commented on #1612
*Updated on 2021-10-28 to add link to warehouse review*

-----

Just discussed existing implementations with @jku and @rdimitrov (*thanks!*).

Here are links to our reviews:
- [python-tuf](https://docs.google.com/document/d/1zk41LSC_wsEEOq9TQSPR4h_0w2dnz0f9Zx_FjESm1qQ)
- [repository-editor-for-tuf](https://docs.google.com/document/d/1IIvr6_54NC02mcfpkzKYA_Zwt-06jW4fkjHVhVrYZf8/edit#heading=h.yjb9n

[2021-10-25 11:03] jku commented on #1612
WRT review: the big missing part is Warehouse review, no-one's yet had a good look at it.

[2021-10-26 08:28] jku commented on #1356
With keyids I think there's very little we can or should do.

root rolenames are now validated in 1516. The additional things we maybe could still do are
* mark `roles` as a Mapping (to indicate that users should not add or remove values from the dictionary during the lifetime of the Root object).
* accept `roles=None` in the constructor (and create the default set in that case). This is not stric

[2021-10-26 09:04] jku commented on #1627
The case for (better named) update methods is that they do allow us to do validation on user input, while inserting things directly to a dictionary does not.

This is a major advantage in an untyped language but, I think, made slightly less important with good static typing support: calling code is still free to insert nonsense into our Metadata data structures, but static typing checks will infor

[2021-10-26 10:18] sechkova commented on #1615
Thanks for expanding on the bullets, I managed to apply all these successfully in #1636.

Only one issue remained, partially related to consistent snapshot. Since `RepositorySimulator` works always with consistent snapshot enabled this forces the client to look for the snapshot version written in timestamp, which leads to "Unknown snapshot version" when trying to serve a snapshot with a version mi

[2021-10-26 10:27] sechkova commented on #1606
After experimenting in #1636 with top-level-roles update:

These are probably the most straight-forward test to implement, they tests step by step the detailed client workflow (6565365). In case of a specific need to generate many variations of a test, like in the case of keys rotation, this can be expanded in a seperate test class: #1607

These are still to be defined

To be added

Testing if loc

[2021-10-26 10:31] sechkova commented on #1606
If we want to define a common rule, it seems like positive tests that do not test for some exception or error need to include some of these checks to confirm that the expected result is achieved.
What exactly to test is very case-dependent. I think I agree with you that checking what metadata is on disk afterwards as well as its version is the most common need.

[2021-10-26 11:09] sechkova opened #1637 "RepositorySimulator: implement non-consistent snapshot"
**Description of issue or feature request**:
Repository simulator currently does not implement non-consistent snapshot mode.

**Current behavior**:
NotImplementedError("non-consistent snapshot not supported")

**Expected behavior**:
Able to serve data with consistent snapshot turned off.

[2021-10-26 11:53] sechkova commented on #1579
Notes after playing with code a little:

1. In-memory generation of test files :heavy_check_mark:
     - use `RepositorySimulator`
 2. Implement "in-memory" fetch replacing the need of setting up a file server :heavy_check_mark:
     - use `RepositorySimulator`
 3. Fully detach updater from the file system :x:
     - Possible when testing small internal functionality, then built-ins like open can

[2021-10-26 11:56] jku commented on #1615
yeah I see. The simulator does not in any way "publish" non-root metadata so when a request is made it just checks if the requested version matches current metadata...

I guess one option is to just not check for the version match in the simulator: instead always return the current metadata, whatever version is requested. I have no idea if this would complicate some other tests, but I remember ori

[2021-10-26 12:05] sechkova commented on #1615
I will add these notes to #1637 to test if removing the check causes any problems with consistent/non-consistent snapshot. I did actually run my tests with commenting out the check you mention and nothing wrong happened ...

[2021-10-26 12:42] sechkova commented on #1637
A related but different issue that can be better tested after implementing non-consistent snapshot is serving snapshot/targets data with wrong version. See https://github.com/theupdateframework/python-tuf/issues/1615#issuecomment-951792827.

The two issues can be solved together, testing if the proposed fix of #1615 causes any problems with other tests.

[2021-10-27 06:30] jku opened #1638 "ngclient: review argument names"
Now that API seems to stabilizing (and before we have a stable release) let's check that argument names ngclient uses are consistent.

Lukas in #1604:

At least metadata vs repository seems like an obvious flaw: no need to use two different terms.

The second one I'm not so sure about: the names are long enough that I already avoid naming the args because of it, and for me "url" vs "dir" does give

[2021-10-27 07:49] sechkova opened #1639 "RepositorySimulator: add support for delegated hash bins"
**Description of issue or feature request**:

Currently `repository_tool.py` provides an easy way to distribute a large number of target files over multiple delegated roles (hashed bins).  A feature described in PEP458 that would be used in warehouse.  https://github.com/theupdateframework/python-tuf/blob/2206fc917e46ff584dcae75e640e1144c8b9f078/tuf/repository_tool.py#L2494

Having such functional

[2021-10-27 07:52] lukpueh commented on #1638
I did have a similar hunch. Just wanted to briefly rethink this together. But I'm fine with leaving those and don't make the names any longer.

[2021-10-27 07:56] sechkova opened #1640 "ngtests: ensure tests cover known attacks on package managers"
**Description of issue or feature request**:

The specification lists specific attacks which TUF aims to protect against.
To ensure the code covers all of the attacks and does not introduce regressions it is desirable to identify or, where they don't already exist, create tests that cover each of the [attacks the specification is designed to protect against](https://theupdateframework.io/security/

[2021-10-27 08:02] lukpueh commented on #1638
Since we have this issue, I'll bring up another very mild naming concern I had.

When I read `target_dir`, I inevitably think of the man pages for `ln` or `cp` and that *something is moved somewhere*. There's probably not much we can do, but would `targets_dir` (plural) make it a little better? Or will that make it look like a directory for targets metadata? Not trying to bikeshed here, and happy

[2021-10-27 08:09] sechkova opened #1641 "ngtests: Add tests for delegated roles metadata update"
**Description of issue or feature request**:

Add tests for updating delegated roles metadata following [5.6.7](https://theupdateframework.github.io/specification/v1.0.25/index.html#update-targets) from the specification. A preliminary list of expected test cases:

- Successful update finds target's metadata
- Successful update does not find target's metadata
- Not loading targets metadata twice w

[2021-10-27 08:13] sechkova opened #1642 "ngtests: add tests for fetching targets"
**Description of issue or feature request**:
Add tests for updating delegated roles metadata following [5.7](https://theupdateframework.github.io/specification/v1.0.25/index.html#fetch-target) from the specification. A preliminary list of expected test cases:

Fetch target with consistent targets on/off
    - local target file exists
    - target hashes/length match
Failure to fetch target
    - D

[2021-10-27 08:14] lukpueh commented on #1639
IMO this feature should not be implemented in test code but rather be part of repository tooling (#1136).

[2021-10-27 08:20] sechkova opened #1643 "ngtests: test complex delegation graphs"
**Description of issue or feature request**:

Add tests dedicated to forming complex delegation graphs:
- Cyclic, diamond, big graphs
- Delegated hashed bins (RepoSimulator doesn’t support them yet)

Explore formats for describing delegations (idea: Graphviz dot format)

[2021-10-27 08:25] jku commented on #1632
There's not enough details about the incident to be sure, but using TUF certainly gives maintainers and repositories a much wider array of methods to prevent this sort of issues.

If you'd like to talk about integrating TUF into an ecosystem, I would suggest
* slack: https://cloud-native.slack.com/channels/tuf
* email list: https://groups.google.com/forum/?fromgroups#!forum/theupdateframework

(Th

[2021-10-27 08:29] jku commented on #1639
absolutely true as the mid/long term goal but it might still make sense to implement in RepositorySimulator _first_:
* no need to wait for the library module to be able to test ngclient
* gives us data about the complexity and what a good API (implemented on top of Metadata API) might look like

[2021-10-27 08:33] sechkova opened #1644 "ngtests: add input validation tests for Updater API"
**Description of issue or feature request**:

Test all interesting variations of user input for Updater API. Potentially these tests may already be covered, it is still worth checking.
Table testing (see https://github.com/theupdateframework/python-tuf/blob/develop/tests/test_metadata_serialization.py) seems like the way to go.

[2021-10-27 09:55] joshuagl commented on #1558
@MVrachev is this issue covered by https://github.com/theupdateframework/python-tuf/pull/1630?

[2021-10-27 10:35] joshuagl commented on #1639
The hashed bin delegation code in repository_tool was cleaned up and simplified when the Warehouse work kicked off. See, for example, https://github.com/theupdateframework/python-tuf/pull/1007 and https://github.com/theupdateframework/python-tuf/pull/1012. Specifically:
- [`delegate_hashed_bins()`](https://github.com/theupdateframework/python-tuf/blob/2206fc917e46ff584dcae75e640e1144c8b9f078/tuf/r

[2021-10-27 10:52] joshuagl opened #1645 "Version 1.0 release strategy"
We have a loosely communicated intent to ship python-tuf 1.0 with only the new/refactored code (metadata API + ngclient + ???). We should define what that release looks like, including accounting for:

- Communicating deprecation expectations with regards the legacy code
  - [ADR 2](https://github.com/theupdateframework/python-tuf/blob/develop/docs/adr/0002-pre-1-0-deprecation-strategy.md) indicat

[2021-10-27 12:50] MVrachev commented on #1558
No, as the validation itself happens in the delegator class who have the full list of roles or in the case of #1630 that's `Root`.
Here the validation should happen in `Targets` the same way it's done in #1630.

[2021-10-27 15:39] #1516 closed, assigned to MVrachev

[2021-10-27 16:07] #1607 closed, assigned to jku

[2021-10-27 16:31] jku opened #1646 "metadata API: avoid raising securesystemslib exceptions"
I think Metadata API should not require its users to import securesystemlib exceptions to be able to call Metadata API methods, it just seems weird -- as a user of TUF I am not necessarily directly using securesystemslib at all, yet I need to handle exceptions from it

**Current behavior**:

sign(), from_file() and to_file() are documented to raise these exceptions

**Expected behavior**:

I shoul

[2021-10-27 17:40] MVrachev commented on #1607
@jku I think probably we want to add a couple of test cases for the rest of the keys, right?
If yes, then maybe we should reopen this one?

Also, while I was reviewing #1635 it was little hard for me to remember the placement of the arguments for `RootVersion` considering they are 15 root rotations tested and the dataset becomes a larger piece of code.
Do you think it will be a good idea if instea

[2021-10-27 17:52] jku commented on #1607
I'll file another one, just forgot to do it (EDIT: see #1647)

yeah WFM, replace signatures with sigs and it should even fit

[2021-10-27 18:00] jku opened #1647 "tests: ngclient non-root key rotations"
We probably should have a few key rotation tests for non-root metadata as well. There aren't as many different scenarios as with root since "key rotation" just means verifying a delegate with threshold in this case (and we already test `verify_delegate()` itself pretty well) but let's add something to test_updater_key_rotations.py, for all non-root keys in root metadata and for a delegated targets

[2021-10-28 07:53] lukpueh opened #1648 "metadata API: Constants for top-level rolenames"
**Description of issue or feature request**:

Top-level role names - "root", "timestamp", "snapshot" and "targets" - are hardcoded throughout the code base. Good coding practice suggests to create constants for these and use them instead.

See
[code]

**Current behavior**:
- Top-level role names are hardcoded

**Expected behavior**:
- Constants for top-level role names are defined in `tuf/api/meta

[2021-10-28 10:48] jku commented on #1459
I have an alternative suggestion that would not add new API:

[code]
* support default `None` for constructor arguments where it makes sense: I think everything except expiry has a reasonable default (the meta dictionaries are debatable)
* default values would **not**  be used by deserialization code
* using default value means the constructor should choose a good initial value for new metadata

I

[2021-10-28 10:57] jku commented on #1136
Linking to https://github.com/theupdateframework/python-tuf/issues/1459#issuecomment-953729281. If this issue is top-down design that one is definitely bottom-up: I'm creating initial repositories in a few places and the code always looks quite ugly but the last comment maybe has a decent idea that would work without lots of new API.

[2021-10-28 11:03] joshuagl commented on #1459
Nice. It's hard to argue with a one-liner!

[2021-10-28 11:21] jku commented on #462
Updating this with my current thinking:
* targetpaths should IMO be unambiguously (partial) URLs, not filesystem paths: spec is now better in this regard than it was when this issue was written, but could probably be more specific
* spec should not require storing the target files with specific filenames
* targetpaths should possibly be defined in spec as "already correctly URL encoded": they shou

[2021-10-28 11:28] lukpueh commented on #1612
Just updated my [comment above](https://github.com/theupdateframework/python-tuf/issues/1612#issuecomment-950744368) to add a link to the Warehouse review.

[2021-10-28 11:31] lukpueh commented on #1136
Adding the list of surveys of existing TUF repository implementations here so that we can close #1612...

- [python-tuf](https://docs.google.com/document/d/1zk41LSC_wsEEOq9TQSPR4h_0w2dnz0f9Zx_FjESm1qQ)
- [repository-editor-for-tuf](https://docs.google.com/document/d/1IIvr6_54NC02mcfpkzKYA_Zwt-06jW4fkjHVhVrYZf8/edit#heading=h.yjb9nkwgv5op)
- [go-tuf and php-tuf](https://docs.google.com/document/d/1

[2021-10-28 11:32] lukpueh commented on #1612
Closing with https://github.com/theupdateframework/python-tuf/issues/1136#issuecomment-953758281

[2021-10-28 11:32] #1612 closed, assigned to lukpueh

[2021-10-28 14:17] jku commented on #1562
Took a while but this got fixed in https://github.com/theupdateframework/python-tuf/security/advisories/GHSA-wjw6-2cqr-j4qr in 0.19.0: rolenames are not limited but they are encoded before using them in filenames. Thank you martin for pushing on the issue.

[2021-10-28 14:17] #1562 closed, assigned to nobody

[2021-10-29 09:25] jku opened #1650 "ngclient: Make refresh() optional"
A core design change in ngclient (compared to legacy) is that the updater only loads metadata in "dependency order": this means reloading e.g. root metadata after timestamp metadata is loaded is just not possible. This means that calling Updater.refresh() multiple times is not possible: if user wants to "load  a new repository snapshot" they should create a new Updater*.

This leads to `refresh()`

[2021-10-29 11:46] sechkova opened #1651 "RepositorySimulator: inconsistent behaviour of compute_metafile_hashes_length"
**Description of issue or feature request**:

`RepositorySimulator.compute_metafile_hashes_length` is documented as a boolean deciding " Whether to compute hashes and length for meta in snapshot/timestamp".

- When calculating snapshot metafile's hashes in `update_timestamp` and `compute_metafile_hashes_length` is switched to `False`, the old hashes and length  still remain.
- When calculating tar

[2021-11-02 07:52] elfring opened #1653 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-02 13:13] jku commented on #1653
If there are places in the newer codebase (tuf/api/ and tuf/ngclient/) where augmented assignment is not used (and could be used), I'd be interested in a patch... but I think there aren't any.

Other locations we might not care as much -- most of it is code we'd like to deprecate sooner or later.

[2021-11-02 13:18] elfring commented on #1653
* :thought_balloon: How do you think about to try a variant of the shown transformation command example out?
* How many update candidates would be still relevant? :thinking:

[2021-11-02 13:24] jku commented on #1653
My opinion is that there are currently no cases where changing the assignment would be worth a PR.

[2021-11-02 13:30] elfring commented on #1653
:thought_balloon: Can it be that adjustments according to the mentioned transformation pattern would trigger desirable effects on the software run time characteristics?

[2021-11-02 13:40] jku commented on #1653
Theoretical perf improvement may be possible but it would be such a tiny one we'd be unable to measure it. Readability would be a better selling point... but as I said the code bases that matter seem to be good already.

Thanks for bringing this up, but I think I'll close it: there does not seem to be anything that needs fixing.

[2021-11-02 13:40] #1653 closed, assigned to nobody

[2021-11-02 16:57] MVrachev opened #1656 "New implementation tests: apply black and isort automatic linting fixes"
I believe we should enable linting (tox -e lint) for new test files testing the new implementation.

The first step to do that would be to apply `black` and `isort` on the new test files testing the new code.

Synchronize with https://github.com/theupdateframework/python-tuf/issues/1582

[2021-11-02 17:00] MVrachev opened #1657 "New implementation test files: resolve linting issues discovered by pylint and mypy"
I believe we should enable linting (tox -e lint) for new test files testing the new implementation.

The first step to do that would be to apply black and isort on the new test files testing the new code
which is documented in #1656.

The next step is to resolve the lining issues discovered by pylint and mypy.

TODO:
- [ ] address warnings by `pylint`
- [ ] address warnings by `mypy`

Synchronize

[2021-11-02 17:01] MVrachev commented on #1657
I will assign myself as have commits that I can use for pr resolving this issue.

[2021-11-02 17:02] MVrachev commented on #1582
I will remove this issue from Sprint 11 for now as it contains multiple action items each of which requires a review.

[2021-11-03 09:56] MVrachev opened #1660 "New style guidelines: should we ban the usage of assertRaises in testing?"
**Description of issue or feature request**:

Currently our [code style guidelines](https://github.com/secure-systems-lab/code-style-guidelines/blob/master/python.md) doesn't specify anything about the usage of `self.assertRaises` vs the usage of `with self.assertRaises():`

Using `self.assertRaises` can lead to long statements separated to multiline expressions as pointed out by @jku here: https:

[2021-11-03 10:02] lukpueh commented on #1660
I like the recommendation but I'd also like to keep our general code style guide as short as possible.

Maybe this would be a good fit for a test guideline document --> https://github.com/theupdateframework/python-tuf/issues/1129.

[2021-11-03 12:42] jku opened #1661 "re-enable fossa integration (or remove .fossa.yml)"
We had fossa integration in CI back in 2020 but do not have it now: the config file .foss.yml is still there in the repo though.

There does not seem to be anything preventing enabling FOSSA now: GH actions is directly supported via an OAuth GitHub App.

Maybe it makes sense to evaluate the need for FOSSA before we enable it though:
* dependency updates are handled by dependabot
* dependabot also

[2021-11-03 12:44] lukpueh commented on #1661
This is a duplicate of https://github.com/theupdateframework/python-tuf/issues/1244

[2021-11-03 12:45] lukpueh commented on #1661
IIRC fossa is or at least was a requirement for the https://bestpractices.coreinfrastructure.org gold badge.

[2021-11-03 13:23] jku commented on #1661
cheers, it is indeed a duplicate

[2021-11-03 13:23] #1661 closed, assigned to nobody

[2021-11-03 13:28] jku commented on #1244
Copying discussion from duplicate:

me:

lukas

[2021-11-03 13:36] jku commented on #1244
I had a look and I think the CII requirements do not ask for specific tools (and fossa is not mentioned in the TUF entry). The analysis section should be relevant: https://bestpractices.coreinfrastructure.org/en/projects/1351#analysis

I want to mention that I was honestly asking about the FOSSA features -- I'm not familiar with it and their documentation is a bit vague so I'm not sure if it does

[2021-11-03 14:37] lukpueh commented on #1244
Thanks for checking, but I think you looked up the "passing"-level criteria.  "Gold"-level (you can toggle at the top) has the following criterion under Quality -> Automated test suite:

*"The project MUST have FLOSS automated test suite(s) that provide at least 90% statement coverage if there is at least one FLOSS tool that can measure this criterion in the selected language"*

I am not familiar

[2021-11-03 14:43] jku commented on #1244
unittest + coverage fills this requirement, no?

[2021-11-03 15:00] lukpueh commented on #1244
🤦  I completely misread that sentence. For some reason I thought that "FLOSS automated test suite" was referring to license scanning.

[2021-11-03 15:02] lukpueh commented on #1244
Maybe @JustinCappos remembers why this was enabled in late 2017? (See 600e25f5f9e3e28bbd94f39bd9fd27d83d869563).

[2021-11-03 16:23] lukpueh commented on #1244
@caniszczyk, you seem to have initiated this feature in https://github.com/theupdateframework/python-tuf/pull/509. Would you mind letting us in on the original motivation?

[2021-11-04 07:32] #1656 closed, assigned to MVrachev

[2021-11-04 09:13] jku opened #1662 "github actions: set workflow permissions to read-only"
**Description of issue or feature request**:

We could set the CI workflow permissions to read-only in the workflow:
* **pull_request runs are already always read-only** so they are not  affected: this only affects the runs on merge commits
* this is not about creating a real security barrier but more of a devops hygiene thing: having write access to everything in the repository and github project

[2021-11-04 09:28] jku commented on #1246
I'd like to close this:
* the specific issue that started it has been fixed by github (add-path and set-env commands no longer exist)
* I've spent time looking at Github actions and have come up with two minor improvements: #1662 and #1652. otherwise the setup seems solid to me
* using tags for actions does sound a little fishy -- but for the official github actions it seems reasonable: we've made

[2021-11-04 09:41] lukpueh commented on #1246
Done!

Thanks for the research and for creating two more specific issues. Closing..

[2021-11-04 09:41] #1246 closed, assigned to nobody

[2021-11-04 09:52] #1662 closed, assigned to nobody

[2021-11-04 15:44] kairoaraujo commented on #1518
I'm picking up this issue.

[2021-11-05 08:59] jku commented on #1518
I got into potential future plans in chat, I think they look good enough to include here -- most of it not as something to implement as part of initial example but as goals for future:

so these potential variations of example code setups would be pretty much the same for the client part, what changes is the remote end: where is the metadata (and targets) served and how are they generated. Obvious

[2021-11-05 16:24] MVrachev commented on #1594
I have updated the issue description addressing the new changes merged in #1604.

- After #1604, I no longer see a point in validating `targetinfo` and `filepath` arguments in `find_cached_target`.
If `filepath` is an empty string the os will complain it can't open the file. The same is if if `targetinfo.path` has an empty string assigned for `path`.

- If `targetInfo` has to be validated as if it

[2021-11-08 14:01] jku opened #1665 "Metadata API: Metadata "factory" constructors misbehave with inheritance"
[code]

This seems to happen because the construction path goes
* DerivedMetadata.from_file()
* DerivedMetadata.from_bytes()
* JsonDeserializer.deserialize() _here deserializer doesn't know the correct class anymore and calls Metadata.from_dict()_
* Metadata.from_dict()

[2021-11-08 14:47] sechkova opened #1667 "ngtests: add tests toggling consistent snapshot"
**Description of issue or feature request**:
Currently different configurations of `consistent_snapshot`, `prefix_targets_with_hash`  are tested in `test_updater_ng.py` which uses pre-generated test files.

After adding support for non-consistent snapshot #1637, analyze what would be meaningful consistent snapshot tests that preferably don't duplicate the tests code for each config and implement t

[2021-11-09 09:39] lukpueh commented on #1665
Well spotted! The easiest fix would probably be to pass the class to `JsonDeserializer.deserialize()`, like so:

[code]

An alternative would be to require subclasses of Metadata use their custom MetadataDeserializer implementation. This seems cleaner, but maybe unnecessarily complex as long as the subclass can use the base Metadata `from_dict` factory.

[2021-11-09 10:15] lukpueh commented on #1665
@jku, was there a specific use case for a `DerivedMetadata` class? Do you think we can move forward with the patch from above?

[2021-11-09 10:44] jku commented on #1665
Nothing urgent at all: I was just experimenting with providing some editing helpers for Metadata. All of that is possible via other designs.

The fix seems right, although we could maybe improve the existing TypeVar in metadata.py instead of adding a new one -- I used `T` as the type name there thinking it would never be used out of context but your `TMetadata` might be better...

**EDIT: oops, it

[2021-11-09 10:54] lukpueh commented on #1665
Speaking of T...

https://github.com/theupdateframework/python-tuf/blob/8ae944ccb256ba0aa13a62f691fd79d4e16c11ad/tuf/api/metadata.py#L77

... is this  recursive definition intentional? That is, Metadata being a subclass of either of "Root", "Timestamp", "Snapshot", "Targets", but also containing them?

[2021-11-09 10:59] lukpueh commented on #1665
At least from my understanding `class Metadata(Generic[T]):` means  *"Metadata __is a__ Generic[T]"*, or can it also indicate that *"Metadata __has a__ Generic[T]"*? (typing is still fairly new to me)

[2021-11-09 11:16] jku commented on #1665
so it should mean _Metadata is a Generic, and it's generic over the type T_ -- this is often used to mean that the Generic is container for type T, as it is here (even if our container is a bit unique in that there is always one and only one T in Metadata).

[2021-11-09 11:55] MVrachev commented on #1594
What do you think @jku? Am I correct in my assumptions?

Then, the only one left is `repository_dir` in `Updater.__init__()`.
We can validate that `repository_dir` does exist and throw an error otherwise. This will help the users to know during initialization that they have provided a non-existent directory to correct themselves.

[2021-11-09 12:45] sechkova opened #1669 "ngtests: improve _assert* methods"
**Description of issue or feature request**:

Currently #1636 proposes three types of asserts for checking the state of local metadata:

-    `_assert_files_exist`
-    `_assert_content_equals`
-    `_assert_version_equals`

These still have some issues (see https://github.com/theupdateframework/python-tuf/pull/1636#discussion_r74079588,  https://github.com/theupdateframework/python-tuf/pull/1636#

[2021-11-09 13:36] jku commented on #1594
WRT validating TargetFile arguments, I guess the potential check would be "is this really a TargetFile instance?" but considering that A) we support static type checking (well almost  anyway: #1633) and B) there is never any need to modify the targetfile in application code C) it will fail pretty gracefully anyway,  I don't think that check is needed...

I think this currently ends up complaining

[2021-11-09 15:42] MVrachev commented on #1594
@jku I assume you agree with my thoughts about the rest of the attributes?

I agree with your thoughts about `TargetFile` arguments and `repository_dir`.
Then, we don't want to change anything and we can close this issue, correct?

[2021-11-09 15:48] MVrachev commented on #1646
I agree with the objective of the issue.
I think each of the cases should be solved separately as a securesystemslib exception can describe exactly what we want to tell the user in an eventual problem and other times the securesystemslib exception will be an implementational detail.

[2021-11-09 15:54] jku commented on #1594
Yep, I think we agree here, let's close

[2021-11-09 15:55] #1594 closed, assigned to MVrachev

[2021-11-09 16:12] MVrachev commented on #1582
TODO items left to close this issue:
- [x] address `pylint` and `mypy` warnings | #1657
- [x] add configuration to actually start linting the tests

[2021-11-09 18:26] kairoaraujo commented on #1518
Before submitting the PR, I am sending a design proposal/draft for **local static server**

The idea is to start with a simple document describing how to run an example of a client code using the ``ngclient`` and the static metadata from ``tests/repository_data/repository/``.

The document will have three basic steps.
1) Run the HTTP Server using the tests data repository
2) How to initialize the

[2021-11-10 08:16] jku commented on #1615
Is this still an issue with the changes in #1636?

[2021-11-10 08:25] jku commented on #1606
The new set of tests (`test_updater_top_level_update.py`) are in my opinion the state of the art now:
* tests are reasonably short and readable
* it's easy to see what individual tests actually check

If we can document the decision making process that lead to these choices (situation X -> should test for Y) maybe in the test module docstring or somewhere that would be good... but if there are no

[2021-11-10 08:31] lukpueh commented on #1665
@jku, unless you need this resolved quickly, I think it would be a good self-contained task for someone to get started with python-tuf development. AFAICS what's missing is:
- apply/revise patch from above
- adopt `MetadataDeserializer` accordingly (beware of type check case handling and cyclic-imports!)
- add a test

[2021-11-10 08:41] sechkova commented on #1615
No, the last item from this issue was fixed with d66c3baf2753523c600ee7f6aca6371e671d0c12. Closing.

[2021-11-10 08:41] #1615 closed, assigned to sechkova

[2021-11-10 08:45] sechkova commented on #1606
I opened two follow up issues for testing the rest of the steps following the client workflow from the specification: #1641 #1642. We can close this one.

[2021-11-10 08:45] #1606 closed, assigned to sechkova

[2021-11-10 08:54] jku commented on #1665
Sounds good to me.

Maybe I should point out that e.g. the return value annotation change for deserialize() is not really required: annotating as `Metadata` is likely just fine (as long as the correct constructor gets called).

[2021-11-10 09:22] jku commented on #1667
Sounds good.
I think it's reasonable to concentrate testing on
* consistent_snapshot with consistent targets
* consistent_snapshot without consistent targets (the special case for warehouse)

and leave the non-consistent_snapshot case with just the minimum tests to verify it works: everyone _should_ be using consistent_snapshot, we only support the other case because the spec still allows it.

[2021-11-10 10:22] MVrachev commented on #1627
Issue https://github.com/theupdateframework/python-tuf/issues/1230 and this one are almost the same.
Maybe we can close https://github.com/theupdateframework/python-tuf/issues/1230?

[2021-11-10 11:06] lukpueh commented on #1627
Added one concern from #1230 to the issue description above. Will close there.

[2021-11-10 11:06] lukpueh commented on #1230
Closing in favor of #1627

[2021-11-10 11:06] #1230 closed, assigned to nobody

[2021-11-10 12:20] lukpueh commented on #1645
This is a list of items that I think should and are feasible to be in 1.0.0 by the tentatively scheduled release date end of 2021 / early 2022, plus a rough list of TODO items to get to 1.0.0. Feel free to comment, add, remove and help break down the items in both lists.

### Feature set of 1.0.0
- feature complete client
- client API docs on [RTD](https://theupdateframework.readthedocs.io/en/late

[2021-11-10 13:25] MVrachev commented on #1129
We should document that we use `with self.assertRaises` instead of `self.assertRaises` as decided in #1660.

[2021-11-10 13:26] MVrachev commented on #1660
There was a discussion with the maintainers and we decided that we would remove all instances of `self.assertRaises` and replace them with `with self.assertRaises` and that if we are going to specify that in the documentation somewhere it will be when solving #1129.

[2021-11-11 08:24] jku commented on #1518
on the CLI design: looks good. Download could be a sub-command as well (so `download file.txt` instead of `--download file.txt`), then combining with --init would maybe look better: `./client_example --init download file1.txt`.

I'm mostly thinking about if you add more commands later (like `list-files`) then if they are both options it looks like you could combine them (`--list-files --download f

[2021-11-11 08:29] jku commented on #1518
That said, _maybe_ we should not provide an example of `--init` at all (I'm not 100% sure if you meant downloading the initial root.json over http in a Trust-On-First-Use model)? Maybe making a copy of the root.json in the examples directory and bootstrapping the local metadata directory from there (in other words copying the file to local metadata dir) is a more responsible example?

If we do tha

[2021-11-11 09:23] kairoaraujo commented on #1518
I think using sub-commands also looks good, and it is something usual now, also helps to extend.
IMO, having ``--init`` as a parameter in combination can be valuable, but is it instructive? I will add but not in the documentation explicitly; however, we can change it easily in the doc only.

I am planning to have it in the documentation as a kind of how-to...

The draft I am working on

Preparing

[2021-11-11 09:26] kairoaraujo commented on #1518
Yes, I was thinking about it this morning when I was writing the code.
Bootstrapping from a copy stored with the example is best in the sense of giving the best practice IMO.

[2021-11-11 11:59] joshuagl commented on #1645
There were a couple of items on my "before 1.0" bucket list:
- move to automated (SLSA compliant) release builds prior to 1.0 (#1550)
- figure out how to keep in synch with the spec and better indicate current spec compliance (#1598)

[2021-11-11 13:15] ivanayov commented on #1648
I'd like to work on that, please.

[2021-11-11 16:51] #1660 closed, assigned to MVrachev

[2021-11-12 10:04] ivanayov commented on #1507
Can I take this, please?

[2021-11-12 13:48] lukpueh opened #1673 "Docs: Add repository tutorial based on metadata API"
**Description of issue or feature request**:

For the lack of dedicated repository tooling - *`tuf/repository_tool.py` will be deprecated; alternatives are still being designed* - I suggest to create a simple document, that demonstrates how to create and maintain TUF repos, using only the metadata API.

These scenarios are described in the [advanced tutorial](https://github.com/theupdateframework/

[2021-11-15 10:03] lukpueh commented on #1136
Adding more relevant documents ...
- [TUF (Re-)Design Document / Section: Repo tool](https://docs.google.com/document/d/13cY0MD3uzwFYGnj_GkPS_rwvDEzzNpDu6cteyeYP6fY/edit#bookmark=id.3mmgo7cr7nqt) -- *high-level directions, potential functionality*
- [Repo Usage Scenarios](https://docs.google.com/document/d/1qBNR-_HuS312H9YjFdIbll8MW8Abe9ORYzx43z-bpEk) -- *details required inputs, e.g. knowledge ab

[2021-11-15 10:30] lukpueh opened #1676 "Add 1.0.0 announcement / migration help"
**Description of issue or feature request**:

Add a document to the repo that announces the upcoming 1.0.0 release and provides help on how to migrate. The document should have at least the following contents:

- 1.0.0 release date -- ~early 2022 or more specific?
- summary of ADR 2 -- pre-1.0.0 code will remain available and be supported on a best-effort basis ( [ADR 2](https://github.com/theupda

[2021-11-15 10:39] lukpueh commented on #1645
adding more issues to the bucket list, based on my suggestions from above...

- #1518
- #1673
- #1676
- #1627
- #1600
- #1595

[2021-11-15 12:26] jku commented on #1641
Leaving a note here: once #1654 merges, let's mostly use the implicit refresh in this tests: it makes the code one line shorter and makes sure everything gets tested (as the explicit refresh is tested plenty in `test_updater_top_level_update.py` already)

[2021-11-16 11:43] lukpueh opened #1678 "metadata api: Signed.expires string representation should not contain microseconds"
**Description of issue or feature request**:

 In `signed._common_fields_to_dict` we convert the value of the datetime object in `Signed.expires` to a date-time string.

From the [TUF spec](https://theupdateframework.github.io/specification/latest/#date-time):

If the original datetime object contained microseconds, the date-time string representation of `Signed.expires` will too.

**Reproducer:**

[2021-11-16 11:50] jku opened #1679 "Write ADR for repository library design"
I'm trying to provide the following in the coming days:

* PR with Architectural Decision Record on repository library design based on Metadata API. I see three main options:
  * No repository library, rely on Metadata API to be easy enough for apps to solve the issues themselves
  * provide a repository_tool-like API
  * provide a _minimal repository abstraction_, show how to implement repositori

[2021-11-16 11:59] jku commented on #1679
copy-pasting initial ADR writeup for reference

---

# Repository library design

## Context and Problem Statement

The Metadata API provides a modern Python API for accessing individual pieces of metadata. It does not provide any wider context help to someone looking to implement a TUF repository.

The legacy python-tuf implementation offers tools for this but suffers from some issues (as do many

[2021-11-16 12:34] jku commented on #1678
yeah this is definitely not ideal. I suppose there are two options:
* error out if microseconds are found in serialization (not user friendly but a visible failure)
* do what you suggest: make sure the serialized content is valid, even modifying the content if needed

In both cases we could also:
* provide a public setter for expiry (taking a datetime (or even a timedelta from now) as input, floor

[2021-11-17 08:35] lukpueh commented on #1679
Great write-up, @jku! I'd love if we had a comprehensive list of both the specific functionality a minimal repository abstraction includes, *and* leaves to application  implementations respectively, and also why.

Maybe this is more relevant for the design document than for the ADR. What do you think?

[2021-11-17 08:50] #1650 closed, assigned to jku

[2021-11-17 08:51] #1633 closed, assigned to jku

[2021-11-17 08:56] jku commented on #1679
Oh agreed, I think the ADR is pretty pointless without some kind of design document: this is why the content is just a comment for now...

The point about including reasoning for those decisions is good, I'll have to think where and how to do that

[2021-11-17 09:11] lukpueh commented on #1678
Good point! I guess, I'm fine either way. Losing (negligible) precision during serialisation doesn't seem like a big deal, and I don't think there is a realistic use case where this leads to unexpected behaviour. But yes, erroring seems safer.

Regardless, I'm all for providing the convenience setter you propose.

OTOH, I'm a little bit reserved about changing the signature of init, i.e.  s/expire

[2021-11-17 09:52] sechkova opened #1681 "ngtests: test loading of cached metadata"
**Description of issue or feature request**:
Taken from @jku's [comment](https://github.com/theupdateframework/python-tuf/pull/1636#issuecomment-953669058) that summarizes it very well,  tests are needed which:

- check that expected metadata is read from cache the expected number of times
     - wrapping open() should work fine here (see tests in #1593)
-  check if cached metadata is used to veri

[2021-11-17 12:10] MVrachev commented on #1558
When solving this issue please add tests in `test_metadata_serialization.py` the same way it's done in #1630 specifically see `incorect_roots`.

[2021-11-17 12:18] MVrachev commented on #1461
DelegatedRole name is discussed separately in #1558.

[2021-11-17 13:17] MVrachev commented on #1527
@jku do you agree we can close this issue?

The item left is validating that DelegatedRole names are not top-level metadata names. This is discussed in #1558.

[2021-11-17 13:35] MVrachev commented on #1140
I think we can lose this issue as we discussed that each of the cases has to be discussed separately.
We don't need a common strategy to do this.

We had discussions validation for all cases separately:

- Signed attributes: #1418, #1430, #1420
- Key attributes: #1438
- Role attributes: https://github.com/theupdateframework/python-tuf/pull/1360/commits/0c3131b4a2b2f9abb6c35d271e38db7ffa7ea18b, #14

[2021-11-17 13:35] MVrachev commented on #1140
@lukpueh and/or @joshuagl do you agree with me?

[2021-11-17 14:02] ivanayov commented on #1528
Can I take this?

[2021-11-17 16:44] sechkova opened #1682 "RepositorySimulator: add trackers/counters for downloaded files"
**Description of issue or feature request**:
There is a need in some test cases to check whether Updater requested the correct files from the repository.
For a concrete use case see #1666.

One option used in #1666 is to use `unittest.mock` and "wrap" `RepositorySimulator._fetch_*` methods which does the job but does make the tests less readable.
Therefore as an alternative,  proposed by @jku http

[2021-11-18 08:56] jku commented on #1527
yeah agreed.

* using rolenames as filenames is dangerous, but we've decided to address this at the point where filenames are formed, and to not limit rolenames in general
* we can still limit delegated rolenames to not be one of top level role names as in 1558 (but this is just a belt-and-suspenders approach: client is not vulnerable to this)

[2021-11-18 08:56] #1527 closed, assigned to nobody

[2021-11-18 10:31] ivanayov commented on #1483
Can I take this, please?

[2021-11-18 10:36] lukpueh opened #1684 "Configure black and isort only once in pyproject.toml"
**Description of issue or feature request**:

#1626 added a `pyproject.toml`, which can be used to configure code formatters black and isort in one place only. Let's put the config parameters (line length, which files to include, etc) there.

See corresponding docs
- https://black.readthedocs.io/en/stable/usage_and_configuration/the_basics.html#configuration-via-a-file
- https://pycqa.github.io/is

[2021-11-18 11:45] joshuagl commented on #1140
Agreed, thanks Martin. Closing because we have implemented validation on a case-by-case basis.

[2021-11-18 11:45] #1140 closed, assigned to nobody

[2021-11-18 12:03] #1573 closed, assigned to sechkova

[2021-11-18 12:03] #1637 closed, assigned to sechkova

[2021-11-18 12:03] #1667 closed, assigned to sechkova

[2021-11-18 17:00] MVrachev commented on #1684
I am planning to do that when resolving #1582.
I am submitting changes applying each of the linters separately and in the end, will add a pr moving the linters configuration options in `pyproject.toml` and actually starting linting the tests.

[2021-11-19 21:29] MVrachev commented on #1461
We had a good discussion with @jku about `paths` and `path_hash_prefixes`.
The conclusions from our conversation are:

1. Even though adding a `""` in `path_hash_prefix` in a delegated role may be a bit of a hack it feels quite straightforward.
This seems to be  like currently the only way to delegate absolutely everything.
2. I tried adding a `""` in `paths` and it didn't work as [DelegatedRole._

[2021-11-22 14:02] #1356 closed, assigned to MVrachev

[2021-11-22 14:03] #1528 closed, assigned to ivanayov

[2021-11-22 14:12] #1507 closed, assigned to ivanayov

[2021-11-22 15:49] sechkova commented on #1643
Since @lukpueh is back :)) and together with @jku are working on a repository design, I'd like to resurrect an old issue https://github.com/theupdateframework/python-tuf/issues/589.

How does, according to you, the new code should treat delegations of the type
[code]
given that A and B may delegate different paths, use different thresholds etc.
Does it make sense for practical use cases? Should we

[2021-11-22 16:20] sechkova commented on #1580
First I think all points from this issue are done and it can be closed.
But just before that I wanted to suggest adding a user-friendly error message when refresh is called a second time during the lifetime of an `Updater` object. This is already documented but the error you get is `"RuntimeError: Cannot update timestamp after snapshot"`. I suggest we add something more appropriate like` "refresh(

[2021-11-22 16:49] MVrachev commented on #1580
Whoever closes that issue please have a look at https://github.com/theupdateframework/python-tuf/issues/1135 as well as I think that's the only issue that stops it from being closed.

[2021-11-23 09:10] jku commented on #1643
My naive thinking is that for the client 1528 is fine: in a specific target path lookup we don't want to traverse into C again if we've already visited it (results should be same), but generally speaking there's no harm in allowing C from being accessible through multiple routes: A different target path lookup might only go "targets->B->C" and I don't see why we'd want to prevent that just because

[2021-11-24 01:01] kairoaraujo opened #1692 "Implement native support from GHA for pip caching with python-setup."
**Description of issue or feature request**:
The Github Actions now supports [dependency caching](https://github.com/actions/setup-python#caching-packages-dependencies). We can remove approximately ten lines from our [CI.yml](https://github.com/theupdateframework/python-tuf/blob/acb201d6cc685c2560f1000faf47e75db73df7fb/.github/workflows/ci.yml#L51-L63)

Thanks, @joshuagl, for sharing the news.

**

[2021-11-24 07:48] jku commented on #1692
nice.

the only tricky bit might be  `cache-dependency-path` -- we use essentially "requirements*.txt" currently but the new format likely wants specific files: need to check which requirements file(s) are actually used when CI runs.

[2021-11-24 10:04] ivanayov commented on #1651
Can I take this?

[2021-11-24 10:11] kairoaraujo commented on #1558
I am working on this issue.

[2021-11-24 10:46] ivanayov commented on #1681
Can I take this, please?

[2021-11-24 10:47] lukpueh opened #1694 "Release 0.20.0 (last release before 1.0.0)"
In preparation for a 1.0.0 release we will make a last 0.* release in early December 2021.

0.20.0 should at least include:
 - [x] #1676
 - [x] #1679
 - [x] #1518
 - [x] #1673

[2021-11-24 10:47] kairoaraujo commented on #1617
I will do some tests for this bug. Please assign it to me.

[2021-11-24 10:47] kairoaraujo commented on #1682
I will work on it.

[2021-11-24 12:08] jku commented on #1681
I think teodoras current approach of mocking open (in #1593) is pretty good: just implementing this in the relevant tests  is probably fine (so no test utilities needed).

The question is, which tests should test metadata file opens:
* the test in #1593 should be extended so it checks files opened during refresh() as well
* any other tests needed or is this one enough?

Maybe this single test is e

[2021-11-24 12:12] #1461 closed, assigned to MVrachev

[2021-11-24 12:15] #1578 closed, assigned to sechkova

[2021-11-24 12:53] sechkova commented on #1681
What I imagined while writing the issue is potentially having a class that tests all weird cases of loading cached metadata. This would mean at least:

Step 1:  make a successful update of valid metadata which stores it in cache (by calling preferably Updater.get_targetinfo or in some special case Updater.refresh)
Step 2: Create a new updater and perform a second update while the metadata is alrea

[2021-11-24 13:00] sechkova commented on #1681
Forgot to mention that root as a special case should be already covered in `test_updater_top_level_update.py` but probably this claim should be confirmed.

[2021-11-24 14:28] jku commented on #1682
basically my idea was that
* repositorysimulator keeps lists of requests (I guess one for metadata, one for targets makes sense). It adds an item to list every time a request is made
* tests can at any time check that the list is what they expect
* tests can also clear the list when they want
* the format of the lists should be whatever makes most sense for the test code (urls? metadata role names

[2021-11-24 14:44] jku commented on #1681
oh yeah, validating that local metadata is actually used when downloaded metadata is verified (the second case in the issue description) is tricky. I think doing just the first case in the issue description (validate that correct files are read from disk the correct number of times) is a good first step -- so that would be roughly steps 1-3 in your comment. I would argue it's mostly just augmentin

[2021-11-25 09:48] #1657 closed, assigned to MVrachev

[2021-11-25 12:25] kairoaraujo commented on #1617
As a simple solution for these warnings, we need to add to ``tox.ini`` the ``allowlist_externals`` in the ``testenv``.

[code]
I have tested it in my environment, and it does not affect the *nix systems.

I can open a PR if it sounds ok. Otherwise needs more investigation.

[2021-11-25 14:06] jku commented on #1617
closing: we discussed and decided not to make changes:
* this looks like a tooling issue, not ours (possibly tox bug?)
* we now know how to workaround if this really becomes a problem

[2021-11-25 14:06] #1617 closed, assigned to kairoaraujo

[2021-11-26 11:50] MVrachev opened #1696 "Metadata API: Provide a way to validate object when serializing to dictionary"
**Description of issue or feature request**:

_This issue is discussed during a couple of conversations with @jku._

We can say we are almost done with Metadata API validation during the initialization of `Signed` objects as summarized here: https://github.com/theupdateframework/python-tuf/issues/1140#issuecomment-971588922.

What we **didn't** focus on is validation when serializing the `Signed`

[2021-11-27 21:55] MVrachev commented on #1696
I decided to create one prototype of a possible solution: https://github.com/MVrachev/tuf/tree/serialization-validation.

[2021-11-29 12:33] lukpueh commented on #1673
I'll keep this open for a follow-up to the just merged #1685, which will cover a hash bin delegation example.

[2021-11-29 13:52] #1558 closed, assigned to kairoaraujo

[2021-11-29 17:35] MVrachev commented on #1684
I was successful in moving all of the `black` configuration options in `pyproject.toml` except those about which files are included. These days I tried multiple ways to use the `include` option, so we can just call `black --config=pyproject.toml`, but I was not successful.
Finally, I found this comment https://github.com/psf/black/issues/861#issuecomment-680411125, and issue https://github.com/psf

[2021-11-30 07:43] jku opened #1697 "examples: run mypy on repo example"
repository example is not completely annotated. mypy config (currently in setup.cfg) does not cover the example: it should cover the whole `examples/` directory.

It looks like this means some minor annotation fixes in the example (mostly to deal with `roles` dictionary items).

[2021-11-30 08:02] #1483 closed, assigned to ivanayov

[2021-11-30 08:32] jku commented on #1077
I'm going to close this:
* legacy client does use os.path.join on things that form URLs but then does other processing to the URL deep in the download code
* ngclient does not use os.path.join on URL parts

[2021-11-30 08:32] #1077 closed, assigned to nobody

[2021-11-30 08:35] jku commented on #1199
client label seemed like a mistake, removing

[2021-11-30 08:36] jku commented on #1174
Closing: we are not changing legacy client and ngclient does not have the same design.

[2021-11-30 08:36] #1174 closed, assigned to nobody

[2021-11-30 08:41] jku commented on #1580
closing: client looks complete to me

[2021-11-30 08:41] #1580 closed, assigned to jku

[2021-11-30 08:42] jku commented on #1135
I'm sure there are features that are still wanted by someone, but I think the client design is now done and implemented: anything still missing is a new feature, closing this one

[2021-11-30 08:42] #1135 closed, assigned to nobody

[2021-11-30 08:48] lukpueh commented on #1697
Quick question, is there a consensus ([#1130](https://github.com/theupdateframework/python-tuf/issues/1130), [#1301](https://github.com/theupdateframework/python-tuf/pull/1301)..?) to use type annotations everywhere?

[2021-11-30 08:53] jku commented on #968
I would suggest this is a client application decision that does not require new options.

ngclient example (legacy should work about as well):
[code]

[2021-11-30 08:55] jku commented on #841
Closing this: ngclient has a fairly different design and I don't see the legacy client getting refactored

[2021-11-30 08:55] #841 closed

[2021-11-30 08:58] jku commented on #865
Closing: both the legacy client and newer ngclient have a download abstraction that allows different transport implementations (most importantly using different http stacks but nothing prevents something more arcane)

[2021-11-30 08:58] #865 closed, assigned to mnm678

[2021-11-30 09:01] jku commented on #548
closing:
* root has not been part of snapshot for a while now so the core issue does not exist
* ngclient also does not use the misleading naming "unsafe update"

[2021-11-30 09:01] #548 closed

[2021-11-30 09:09] jku commented on #1188
I am closing this: both ngclient and the legacy client include a download abstraction that allows any shenanigans a client app might want to do. The included RequestsFetcher implementation does not explicitly expose the requests session but for this purpose a client could easily create their own customized fetcher that modifies the session (this is what I did in my pip POC).

[2021-11-30 09:09] #1188 closed, assigned to nobody

[2021-11-30 09:16] #1525 closed, assigned to nobody

[2021-11-30 09:22] jku commented on #1697
I ... don't know. I like them so much now that I just kind of assumed.

To be clear, I do think that
* we should aim to cover most of our code with static typing
* we should document this as the safest way to use the APIs: if applications check types statically that means our validation code can concentrate on validating deserialized json (instead of concentrating on validating application provide

[2021-11-30 11:33] jku commented on #1696
I agree with the basic premise: we'll want to re-evaluate whether our validation is appropriate for the serialization as well (while we've been concentrating on the client case, the focus has been on validating deserialized data).

some quick comments:
* the idea of validating when creating a dict is not necessarily the correct one:` to_dict()` is a helper that json serialization happens to use. T

[2021-11-30 13:52] MVrachev commented on #1684
It's the same situation with `isort` as it was with `black`.
I thought I can use only [src_path](https://pycqa.github.io/isort/docs/configuration/options.html#src-paths) and remove the target directories, but it seems I am wrong because when I tried running `isort` with `isort --settings-path=pyproject.toml` I got the error: `Error: arguments passed in without any paths or content.`
I am not the o

[2021-11-30 14:36] MVrachev commented on #1684
Sadly, I can't move `check` and `diff` attributes as well. In the documentation it's said that for both [check](https://pycqa.github.io/isort/docs/configuration/options.html#check) and [diff](https://pycqa.github.io/isort/docs/configuration/options.html#show-diff) are not supported in configuration files.
Additionally, in two issues https://github.com/PyCQA/isort/issues/954 and https://github.com/

[2021-12-01 12:53] jku commented on #1696
I'll rephrase this to be more specific: Ideally we want to guarantee not just that our internal data structures are correct at serialization time, but that _our serialization output is valid and that we can succesfully deserialize that output_.

[2021-12-01 14:22] MVrachev commented on #1697
I can take this one as I already added `examples` locally when addressing comments for #1699.

[2021-12-02 10:11] #1684 closed, assigned to MVrachev

[2021-12-02 12:37] #1648 closed, assigned to ivanayov

[2021-12-03 08:54] ivanayov commented on #1678
Can I take this please?

[2021-12-03 09:31] #1697 closed, assigned to MVrachev

[2021-12-03 11:01] MVrachev commented on #1681
Which steps of the @sechkova comment should be tested to consider this issue closed?
If it is as @jku said - steps 1 to 3 do we want to create a separate issue for the rest?

[2021-12-06 09:47] MVrachev commented on #1696
I see many advantages to that approach:
- it will require a small amount of code compared to my solution in https://github.com/MVrachev/tuf/tree/serialization-validation as it will only require additions to  `Metadata.to_bytes()` instead of each class separately
- it will use the same level of validation as initialization. That's useful as if we want to implement more sophisticated checks, like va

[2021-12-06 10:54] lukpueh opened #1709 "doc: misc enhancements to contributors"
**Description of issue or feature request**:
Here are a few suggestions to enhance our [Instructions for Contributors](https://theupdateframework.readthedocs.io/en/latest/CONTRIBUTORS.html) on RTD.

**Current behavior**:
- No mention of Secure Systems Lab development guidelines
- Too extensive (and prominent) section about DCO
- Too extensive (and outdated/opinionated?) virtualenv description
- Ve

[2021-12-06 22:52] MVrachev commented on #1681
@sechkova why it's preferable to call `Updater.get_targetinfo ` instead of directly calling `refresh`?
Maybe I am missing some context here.

[2021-12-07 10:03] #1582 closed, assigned to MVrachev

[2021-12-07 12:08] #1651 closed, assigned to ivanayov

[2021-12-07 13:14] jku commented on #1696
This is unlikely to get implemented in a single sprint but a design doc or prototype or some infrastructure work might be a good idea  (I have no idea how much work there is in adding the eq() implementations as an example).

Loading (deserializing) validation should fail only if the there is a compliance or safety issue... and I think that's a good rule for serialization as well: deciding that im

[2021-12-07 14:41] sechkova commented on #1681
Seems like I've had in mind refreshing both top-levels and delegated roles metadata when writing this. Updater.get_targetinfo calls refresh internally.

[2021-12-07 15:12] ivanayov commented on #1644
Can I work on this, please?

[2021-12-08 09:07] #1647 closed, assigned to MVrachev

[2021-12-08 09:28] #1679 closed, assigned to jku

[2021-12-08 10:03] ivanayov commented on #1642
Can I work on this, please?

[2021-12-08 10:07] MVrachev commented on #1696
We should test how much slower it will get when using this kind of validation.

[2021-12-08 10:14] MVrachev commented on #1644
Please have a look at https://github.com/theupdateframework/python-tuf/issues/1594 when you work on this as the research, it's relevant to this issue.

[2021-12-08 10:14] ivanayov commented on #1644
Can I work on this, please?

[2021-12-08 10:24] MVrachev commented on #1645
More issues on the bucket list from me:
- #1638
- #1646
- #1575
- #1602
- #1729
- #1727
- #1312
- #1764

[2021-12-08 10:27] ivanayov commented on #1639
Can I take this?

[2021-12-08 10:32] jku commented on #1645
Probably:
* https://github.com/theupdateframework/python-tuf/issues/1634

[2021-12-08 10:34] kairoaraujo commented on #1634
I want to work on this issue.

[2021-12-08 10:36] sechkova commented on #1597
Superseded by #1676.

[2021-12-08 10:36] #1597 closed, assigned to nobody

[2021-12-08 10:45] MVrachev commented on #1645
As a TODO item:
- [ ] have a look into the specification to figure out which version of it the specification the new code actually supports

[2021-12-08 10:53] jku opened #1713 "ngclient: test fast-forward recovery"
I think we do not currently test successful rollback (aka fast-forward recovery) for timestamp, snapshot and targets:
  * simulate a fast-forward attack: create repository with valid timestamp/snapshot/targets with version=MAX_VERSION (or something large anyway)
  * update client so it sees the large versions
  * rotate the affected key (timestamp or snapshot) and set metadata version=1
  * update

[2021-12-08 11:00] kairoaraujo commented on #1713
Please, can you sign this issue for me?

[2021-12-08 12:35] jku commented on #1638
Argument names currently
[code]

possible changes:
* make `repository_dir` clearer: rename  to `metadata_dir`
* make `target_dir` clearer: maybe rename to `targets_dir` or `download_dir`? same rename should probably be done to `target_base_url`
* _maybe_ `filepath` should be better tied to the targets directory name: if we have `download_dir` we could also rename `filepath` to `download_path`?

[2021-12-08 12:58] jku opened #1714 "ngclient: decide what to do with requests (Fetcher impl) errors"
I wonder if we should handle all exceptions thrown by Fetcher implementations (and throw a generic error that clients can actually handle)?

This issue can be tested with `examples/client_example/client_example.py`: if e.g. server is not running there's a requests `ConnectionError`. All requests errors do derive from `OSError` so it gets handled by the example code but another fetcher implementati

[2021-12-08 13:39] #1682 closed, assigned to kairoaraujo

[2021-12-08 14:29] kairoaraujo opened #1716 "Add the examples/client_example to RTD"
**Description of issue or feature request**:
An example can be a good start point for those reading the RTD Updater.
We could add the [client_example](https://github.com/theupdateframework/python-tuf/tree/develop/examples/client_example) in a way it can be explored by who wants to implement a client.

**Current behavior**:
The `ngclient.Updater` RTD does not have an example or point to the example

[2021-12-08 14:37] kairoaraujo opened #1717 "Create simple test for examples/client_example"
**Description of issue or feature request**:
Adding a tests folder in examples/client_example and writing a simple test would be a great demonstration of best practices to who will be using the code to start a client implementation. Also, it avoids us making changes and breaking the example.

**Current behavior**:
No tests to the client example

**Expected behavior**:
Unit tests to the client exam

[2021-12-08 14:38] kairoaraujo commented on #1717
IMO it could be tagged as "good first issue"

[2021-12-08 14:39] kairoaraujo commented on #1518
The initial version for the client example was merged by PR #1675. I will add here some next steps commented in this PR.

I think we can continue the discussion here and create new issues (smaller issues) to track them.

From this comment https://github.com/theupdateframework/python-tuf/pull/1675#pullrequestreview-818668044 (thanks @jku for the insights)

- https://github.com/theupdateframework/py

[2021-12-08 16:17] sechkova commented on #1639
Seems like the latest tendency is towards implementing the delegated hash bins functionality in a repository-side and test code at a later stage. For this reason the issue can be re-scoped to include only the needed tests from a client point of view.

Let's use the newly added delegated hash bins example as a reference #1700.

An `Updater` test needs to include:
- on the repository side:
    - cre

[2021-12-09 07:50] jku commented on #1717
Let's keep all tests in the top-level tests/ dir: Lukas already added a `tests/test_examples.py`: this test can be added there

I think a simple "does the tool run successfully?, Did it download the file we wanted?" test is enough. The only tricky part here is that the test needs a server to be running: doing that reliably and quickly in CI is a problem -- maybe we can use the infrastructure we al

[2021-12-09 09:17] jku commented on #1518
Thanks. I'd like to close this one to mark that the dependency for 1694 is handled...

Maybe it's ok that the main missing features are issues and remaining  ideas are searchable here... or you could file another issue for the "support other servers" issue.

Closing this one, feel free to file new issues for the other ideas

[2021-12-09 09:17] #1518 closed, assigned to kairoaraujo

[2021-12-09 11:22] MVrachev commented on #1681
As for steps 1, 2 and 4 implemented in https://github.com/theupdateframework/python-tuf/pull/1707 we need to test that only expired top-level roles have been used to verify metadata files, then I think we can just use refresh here.

[2021-12-09 13:56] jku commented on #1598
rough code to compare latest spec release tag to metadata api supported version number:

https://github.com/jku/python-tuf/blob/ci-check-spec-version/.github/workflows/spec-version.yml

something like this combined with code for "open new issue" from securesystemslib check-upstream-ed25519.yml should work

I'm not working on this right now: if someone wants to push this forward be my guest

[2021-12-09 14:12] sechkova opened #1719 "Improve subtests clean up"
**Description of issue or feature request**:

In tests we use the home-made decorator `@utils.run_sub_tests_with_dataset` when we need to execute the same test case consecutively for many datasets.  The decorator works perfectly fine when no clean up is needed after each sub test but in the cases where clean up code needs to be executed, the whole sub test needs to be included in a "try - finally"

[2021-12-09 14:59] sechkova commented on #1681
Yes, I think I'm wrong in this sentence, I edited the comment. Expired targets is always discarded, expired delegations too.

[2021-12-10 09:33] #1673 closed, assigned to lukpueh

[2021-12-10 10:07] #1676 closed, assigned to lukpueh

[2021-12-10 13:31] MVrachev commented on #1681
Looking at the code and testing it locally, if a local targets has expired we throw a `ExpiredMetadataError` https://github.com/theupdateframework/python-tuf/blob/bdf1cbbbb56839cd99b965fedae2661ed873c4a2/tuf/ngclient/_internal/trusted_metadata_set.py#L459
which inherits a `RepositoryError` and we will catch this exception in line 394 from here: https://github.com/theupdateframework/python-tuf/blob

[2021-12-13 08:35] jku opened #1722 "Metadata API: Remove dependency on dateutil"
PR #1710 added a new package dependency (dateutil) to Metadata API: This was likely not intended, and was not caught by the tests because dateutil is a test dependency.

I think we should fix this before releasing 0.20 (#1694).

[2021-12-13 08:50] jku commented on #1722
I think bump_expiration() as a method is not super useful.

Current test code looks like this:
[code]
Same thing without using the helper function:
[code]
this is in my opinion at least as readable and works fine without the API depending on dateutil.

[2021-12-13 12:48] jku commented on #1722
This breaks RTD documentation:

[2021-12-13 13:19] MVrachev commented on #1722
I agree we can remove `Signed.bump_expiration()`.
If we have an agreement I can propose a pr for this one today, so we can move forward with #1723.
What do you think @lukpueh?

[2021-12-13 13:27] jku commented on #1722
we don't need to remove the function to fix the immediate issue.

Let's fix the dependency issue first, then spend the time we need to get the API (and/or docs) right before 1.0 release: as an example I only now realized the test (and the function) are also bad examples: I don't think anyone ever wants to bump to `old_expiry_date+delta`, real users want to bump to `current_date+delta`... which lea

[2021-12-13 14:00] jku commented on #1719
another related thing is `case_name` that is set in the decorator now: it's quite useful but leads to multiple workarounds with both pylint and mypy correctly complaining about it. I think if the decorator is part of a class (something derived from unittest.TestCase) then this would probably be a fixable situation.

[2021-12-14 09:47] MVrachev opened #1727 "Metadata API: rethink the expiry related API"
**Description of issue or feature request**:

In a recent discussion (see discussion in https://github.com/theupdateframework/python-tuf/issues/1722) we reevaluated the need for `Singed.bump_expiry()` as instead of using the API:

[code]
one can just do:
[code]

As a side benefit this will allow the user to use `dateutil.relativedelta` which is not supported by `Singed.bump_expiry` as of #1726.

[2021-12-14 09:48] MVrachev commented on #1722
An issue where we can discuss if we want `Signed.bump_expiry()` https://github.com/theupdateframework/python-tuf/issues/1727

[2021-12-14 10:10] jku commented on #1727
Some additional detail here
* I think an actual repository would never bump expiry to `previous expiry plus delta`. They'd want to bump expiry to `today plus delta` (if you want reasons why, imagine an original expiry period of 365days: a responsible repository would of course resign much earlier than that, let's say at 121 day mark. Now the next expiry is set 609 days forward. In 121 more days th

[2021-12-14 10:26] #1722 closed, assigned to nobody

[2021-12-14 15:08] MVrachev opened #1729 "What to do with tuf/exceptions before 1.0.0?"
**Description of issue or feature request**:

Currently, we are using `tuf/exceptions.py` to store client and repository exceptions both for the new and old implementation.
After we drop the old code we will have to keep the exceptions from `tuf/exceptions.py` or move them to somewhere else.
Some of the options I and @jku come up with are the following:
1. create a new exceptions file in `tuf/api/

[2021-12-14 15:08] MVrachev commented on #1729
@lukpueh, @jku  do you have an opinion?

[2021-12-15 08:14] jku opened #1730 "ngclient: test data length limits"
target length mismatch does have tests but I believe we don't test metadata length limits (the maximum values configured for the client). I suppose we should.

This should be easy to do by modifying the UpdaterConfig max length values to something small and verifying failure.

[2021-12-15 08:27] jku commented on #1640
I don't have a clean closure for this but I think we should close it. Most of the listed attacks are not meaningful to test against, but I did file two issues. I'll list some notes here and close this issue:

#### Arbitrary software installation

This is prevented by signing hashes of target files, the core TUF functionality. Tests exist.

A practical attack against TUF involves targets key compro

[2021-12-15 08:27] #1640 closed, assigned to jku

[2021-12-15 08:58] jku commented on #1727
https://github.com/theupdateframework/python-tuf/pull/1712 is about handling microseconds with a `set_expiry()`: I think these two are related...

[2021-12-15 09:17] jku commented on #1727
_(Edited to change example to a property instead of a method)_

One possibility:
* make expiry a property with a setter function that floors microseconds
* remove bump_expiry()
* document a reasonable way to bump expiry:
[code]

I think I'm fine with this.

[2021-12-15 12:18] jku commented on #1713
I'm not sure if there even is a practical MAX_VERSION in our implementation -- python seems to seamlessly upgrade from an int to some big int implementation... I _think_ this is not relevant anyway: the point is that version is something large that we want to reinitialize to 1.

[2021-12-15 13:31] #1638 closed, assigned to jku

[2021-12-15 15:05] lukpueh commented on #1729
I don't have a strong opinion here, but I tend towards option 3. Also, I wonder if we still want to keep the `api` directory once we've removed legacy code. IIRC `api` was a bit of a crutch so we don't mix up new and legacy code.

[2021-12-15 15:10] lukpueh commented on #1729
I think it is more important to figure out which (custom or built-in) exceptions we raise where (see #1131, #1312, #967) than where we define custom exceptions.

[2021-12-15 16:58] jku commented on #1729
(changing title, I assume this was intended)

[2021-12-16 08:26] lukpueh commented on #1694
Closed by #1732

[2021-12-16 08:26] #1694 closed, assigned to lukpueh

[2021-12-16 09:01] jku commented on #1709
#1724 is going to make `tox` run a reasonable approximation of CI tests so we should suggest that as the way to run tests.

Then after that we can include a _short_ mention on how to run specific tests and the options (`-v` for logs, `--dump` for repository dumps when available)

[2021-12-16 09:20] #1643 closed, assigned to sechkova

[2021-12-16 09:47] jku commented on #1247
this one might be the only relevant thing left here as
* caching tox is not a good idea: tox is not able to handle some changes in dependencies, so we'd need to build something ourselves... not worth it
* setup-python now handles cache (#1718) so that's not longer ugly

[2021-12-17 16:45] MVrachev opened #1733 "Improve docstrings on exceptions"
**Current behavior**:
Currently, in `tuf/api/metadata.py` we are using multiple ways to document our custom TUF exceptions.
There are two main ways of how we handle exceptions:
- there are places where we define an exception with the full module name:
https://github.com/theupdateframework/python-tuf/blob/0f1fc6e33cbc4d4c6b502b9f8c64b119d1a4ad2f/tuf/api/metadata.py#L185
- and in other cases, we doc

[2021-12-17 16:48] MVrachev commented on #1733
One solution I am proposing is using a hybrid of the two ways we document them now: document exception as
`module_name.exception_name` where `module_name` is the name we have given during import.
Example:
[code]

[2021-12-17 16:57] MVrachev commented on #1729
In #1725 I have tried implementing option `1`.
I don't like option `2` as we will have to wait to drop the old code before we can actually work on it freely.
Option `3` is not bad, but the only problem is that in `tuf/metadata/api.py` there is code used both in ngclient
and most likely will be used in the future repository code - for example `Metadata.from_file()`.

My personal feelings are agains

[2021-12-20 08:33] #1692 closed, assigned to nobody

[2021-12-20 08:41] jku commented on #1733
I would prefer no module path and just using the class name (this is what we do for other things -- see e.g. how we refer to `TargetFile` and not `tuf.api.metadata.TargetFile` in the ngclient documentation).

However, we probably should start publishing the exceptions documention on RTD so that there is a reference to look them up.

[2021-12-20 15:15] jku opened #1737 "docs: TargetFile should be explicit about what is hashed"
looking at the docs: https://theupdateframework.readthedocs.io/en/latest/api/tuf.api.metadata.supporting.html#tuf.api.metadata.TargetFile, it's not clear that `hashes` are hashes of the target file _content_. We should be explicit.

[2021-12-21 08:28] jku commented on #1646
After some discussion last week and looking at this again: I think at least sign() should operate like the verify functions: handle the sslib exceptions and raise just a single exception (UnsignedMetadataError seems appropriate). I've been trying to imagine a scenario where a repository would like to handle the individual errors... and I cannot think of any, they don't seem useful.

[2021-12-21 09:14] #1678 closed, assigned to ivanayov

[2021-12-21 09:52] #1627 closed, assigned to lukpueh

[2021-12-21 10:43] lukpueh opened #1739 "docs: relative links in README 404 on PyPI project page"
The main [README](https://github.com/theupdateframework/python-tuf) of the repo is also rendered on [pypi](https://pypi.org/project/tuf/). Links that use relative paths to other GitHub documents 404 there. Let's:
- fix those links (use full URLs), and
- maybe make sure this doesn't happen in the future
  -> quick fix: add big HTML-comment warning to readme header
  -> more invested fix: check read

[2021-12-21 11:47] lukpueh commented on #1727
Done as per #1712.

Agreed!

I think that's fair.

[2021-12-21 12:26] lukpueh commented on #1727
I have a PR in the queue. Will publish tomorrow.

[2021-12-21 16:15] MVrachev commented on #1696
I created a prototype in my branch here https://github.com/MVrachev/tuf/tree/validation-during-serialization.
Can you have a look @jku?

[2021-12-22 11:00] #1641 closed, assigned to sechkova

[2021-12-22 11:10] #1642 closed, assigned to sechkova

[2021-12-22 11:56] lukpueh opened #1745 "Remove "legacy code""
The recently released [v0.20.0](https://github.com/theupdateframework/python-tuf/releases/tag/v0.20.0) was the last release to include the legacy implementation. In [preparation for v1.0.0](https://github.com/theupdateframework/python-tuf/blob/v0.20.0/docs/1.0.0-ANNOUNCEMENT.md) it is time to actually say farewell to the legacy implementation. Here is a (likely non-exhaustive) list of related task

[2021-12-23 12:36] sechkova opened #1746 "Add tests of metadata max length and endless data attack protection"
**Description of issue or feature request**:

The remaining Updater configurations that are not explicitly tested are:
[code]
Consider adding tests of permutations of the config.
Consider testing metadata longer than max length is not downloaded (endless data attack).

[2021-12-23 12:54] sechkova opened #1747 "Testing specific sequences the client should be able to handle"
**Description of issue or feature request**:

Consider different types of updates sequences that may exist in a repository and which the updater should be able to handle.
Analyze their relevance and the need of a dedicated test case. For example:

- Client that has been offline for N expirations of root metadata
- Air-gapped client outside of timestamp expiration window
- Some of the previously re

[2021-12-23 13:05] sechkova opened #1748 "Revise test_updater_ng.py"
**Description of issue or feature request**:

Currently `test_updater_ng.py` is the single place where `ngclient/updater.py` is tested with an HTTP server instance serving files from the file system and not with the in-memory files served by `RepositorySimulator`. The tests included are not well thought out and were added with the goal of achieving acceptable test coverage.

Revise the existing te

[2021-12-23 13:15] sechkova commented on #1746
This is actually a duplicate of #1730 ... closing.

[2021-12-23 13:15] #1746 closed, assigned to nobody

[2021-12-23 13:16] sechkova commented on #1730
The remaining Updater configurations that are not explicitly tested are the ones related to metadata length:

    root_max_length: int = 512000  # bytes
    timestamp_max_length: int = 16384  # bytes
    snapshot_max_length: int = 2000000  # bytes
    targets_max_length: int = 5000000  # bytes

[2021-12-23 13:59] sechkova commented on #1579
The main categories of tests were identified and implemented (implementation is in progress), see https://github.com/theupdateframework/python-tuf/issues/1579#issuecomment-936183560
For the tests themselves, here are some guidelines we identified as good to follow:
- keep the tests short, test only one thing per test case
- use `RepositorySimulator` for serving test files in-memory and speeding up

[2021-12-23 13:59] #1579 closed, assigned to sechkova

[2022-01-04 10:20] jku opened #1751 "spec version incompatibility"
datadogs metadata contains
`"spec_version": "1.0",`

This is currently not compatible with Metadata API (deserializating the data fails).

"1.0" seems to not be a strictly compliant spec_version (the specification says _format follows semantic versioning_) but we could potentially support this for backwards compat?

EDIT: also metadata generated with go-tuf (so for example sigstore metadata) looks

[2022-01-04 10:30] jku commented on #1751
hmm looks like their newer metadata has
`"spec_version": "1.0.0",`
so maybe we don't need to support the other format after all...

[2022-01-04 13:42] jku opened #1752 "role keyids still not ordered"
We tried to fix issues with this in #1478 but apparently failed. Role keyids in data that we deserialize may be unsorted: We must preserve this order as it affects canonical json. Currently we put the keyids in a set which sorts them.

I suppose we have to make Role.keyids  a list again: The only "ordered set" in python seems to be a OrderedDict with keys only -- and that would look weird in an AP

[2022-01-04 15:16] trishankatdatadog commented on #1751
Thanks for filing the issue. Can you point to the metadata files?

I would say so, yes, although I'm not sure how many people actually use the original python-tuf implementation.

[2022-01-04 15:22] jku commented on #1751
here is an example: https://dd-integrations-core-wheels-build-stable.datadoghq.com/metadata.staged/4.root.json

[2022-01-04 15:47] MVrachev commented on #1575
I can take this one.

[2022-01-04 16:08] MVrachev commented on #1575
I think it's not obvious how can we test the case when `os.write` fails.
How can we simulate full storage or other situation that could cause an exception?

[2022-01-05 08:24] jku commented on #1575
You can't test this properly/comprehensively in an OS generic way (on many linuxes you could use "/dev/full" as the filename to trigger OSError with ENOSPC... but that's just one failure on one OS)

I'd say just figure out a single mock (either os.write or or.replace) that raises an OSError so we at least run the exception code once in the tests.

[2022-01-05 09:42] jku opened #1753 "tests: test_update_root_new_root_fail_threshold_verification is misleading"
test_trusted_metadata_set.py: `test_update_root_new_root_fail_threshold_verification()`:
* test does not sign the metadata it modifies at all: loading metadata with completely wrong signatures of course fails as expected... but the test really implies this is related to the keyid change
* it's not clear which threshold verification is being tested (whether the current roots threshold fails or the

[2022-01-05 12:03] joshuagl commented on #1645
Relates to https://github.com/theupdateframework/python-tuf/issues/1598

[2022-01-05 12:08] #1727 closed, assigned to lukpueh

[2022-01-05 15:06] jku opened #1756 "ngclient: Test against other implementations"
It would be good to have some client testing against repositories produced with other tuf implementations.

I think there are two options in general (could choose one or both):
* copy a snapshot of a public production repository, store contents in python-tuf git with the tests
* test against a public production repository

The former would be an additional regression test -- get it working once an

[2022-01-07 08:15] jku commented on #1756
I forgot to mention: testing like this would require mocking the current time to roughly the time the snapshot was made. Otherwise the metadata will start expiring sooner or later.

[2022-01-07 08:47] #1602 closed, assigned to MVrachev

[2022-01-07 13:53] jku commented on #1696
As a prototype that's pretty much what I was imagining: definitely good enough to make some sort of a decision
* not sure that validate can rely on from_dict/to_dict -- how do you know the serializer will even call to_dict? Could be that this extra validation should be a Serializer.serialize() feature? Not sure about this as serializer would then have to know which Deserializer to use... I suppose

[2022-01-07 14:13] #1681 closed, assigned to ivanayov

[2022-01-07 14:29] MVrachev commented on #1696
Even if we decide to leave it as a separate API call I think it could be useful.
It's hard for me to be sure about that where we don't have actual interaction with users of Metadata API.

It's becasue the `Metadata.signatures` is an OrderedDict and its values are securesytemslib `Signature` objects which doesn't implement `__eq__`. I added a comment to clarify that.

[2022-01-07 14:31] jku commented on #1745
I prefer keeping `ngclient`: this way any old code `from tuf.client.updater import Updater` fails immediately which I think is a good thing now that the API is slightly different. I don't think `client` is significantly more discoverable either: users are going to read the API reference or example code anyway.

Fine by me (although I don't feel a strong need: imports look fine to me now). If we do

[2022-01-07 14:37] jku commented on #1696
Thinking a bit further: the prototype ends up calling `to_dict()` twice when `Metadata.to_bytes()` is called. The second call is unnecessary if serialize() handled the validation so that seems like the correct direction for the real implementation of this

[2022-01-07 15:36] MVrachev commented on #1696
Added a validation constructor argument in `JsonSerializer`.

[2022-01-07 15:38] MVrachev commented on #1745
Are we sure we won't lose the Git history if we do this?
If we do, then I will prefer if we don't rename...
See my comment https://github.com/theupdateframework/python-tuf/issues/1582#issuecomment-940436906.

[2022-01-10 08:31] jku opened #1761 "ngclient: throws securesystemslib errors"
If ngclient fails to write a target file to disk, we let securesystemslib.exceptions.StorageError propagate.

This seems like a bug: we should either handle this error, or possibly not use the `securesystemslib.util.persist_temp_file()` at all (it's not super useful to us as we're not using the storage abstraction and the rest is a few lines of code that actually hides the error we'd really like t

[2022-01-10 08:56] jku commented on #1761
also I think the `persist_temp_file()` is partly cargo cult at least for the purposes of the client: it does three things: write, flush, fsync. I have tried to imagine a case where we actually did need to flush and fsync and cannot think of one -- when TUF is being used correctly. I think a simple `shutil.copyfileobj()` probably does the job.

What I mean with _when TUF is being used correctly_:
*

[2022-01-10 12:59] jku commented on #1269
Updating the state since I started looking where we are with this. Wheel build does seem reproducible and I think this is how we want to do it:

[code]

The source tarball issue still persists. I have a home grown diff solution though:

[code]
that prints a hash for tarball file contents (disregarding owner, group, mtime, etc metadata). It does care about file order.

This is slightly too simplifi

[2022-01-10 13:12] jku commented on #1550
This is is an issue with normal Github repository secrets as anyone with the ability to create branches in the project practically has the ability to leak the secrets.

Defining a deployment environment might be a way to solve that but I've not looked into those.

[2022-01-10 13:26] jku commented on #1550
so in practice (let's assume we have ways to verify that build artifacts match):

* developer makes the release changes in git. Release changes are reviewed, merged and tagged (`git tag --sign`)
* CI release build is triggered by correctly signed release tag: it builds the wheel and tarball and makes them available as build artifacts
* _first verify possibility is here: developer can confirm that

[2022-01-11 06:53] JustinCappos commented on #1752
Is there a typo here?  Sets are unordered, right?

[2022-01-11 07:11] jku commented on #1752
Set does not preserve input order but the cpython implementation happens to put strings in an alphabetical order -- this is why we did not notice the issue earlier: our test data also had keyids in alphabetical order.

[2022-01-11 08:01] jku commented on #1713
I think we're done here! Thanks Kairo

[2022-01-11 08:01] #1713 closed, assigned to kairoaraujo

[2022-01-11 08:46] jku commented on #1645
Lukas just created a [1.0.0 blockers](https://github.com/theupdateframework/python-tuf/labels/1.0.0%20blockers) label. Let's agree on some rules though... my suggestion:
* anyone (with label permissions) can add/remove issues to label, or suggest additions here
* when issues are added/removed, they should be announced in a comment here so others are notified

we should aim to only include things t

[2022-01-11 09:30] #1598 closed, assigned to nobody

[2022-01-11 09:47] #1737 closed, assigned to nobody

[2022-01-11 11:00] #1752 closed, assigned to jku

[2022-01-11 11:29] lukpueh commented on #1745
To me it's not about discoverability, but more about the baggage of the "previous generation"-client the name refers to, which I think is unnecessary.

The "error on import argument" is fair, although I don't think this will be a problem in practice.

Isn't part of the python zen to not be clever with imports? :) Also, an import alias wouldn't really solve the problem that the repo has an unnecess

[2022-01-11 12:27] joshuagl commented on #1269
As recommended by the [`SOURCE_DATE_EPOCH` documentation](https://reproducible-builds.org/docs/source-date-epoch/) 👍

That's neat. We could write/maintain a little tool to diff tarballs based on their content hashes. Would be nice to help fix this for other Python projects too, but not something we should block python-tuf activities on.

[2022-01-11 13:26] github-actions[bot] opened #1763 "specification has new version"
It seems specification (https://github.com/theupdateframework/specification/blob/master/tuf-spec.md) has new version.
Please review the version.

[2022-01-11 13:31] jku commented on #1645
* Added blocker #1763

[2022-01-11 14:10] joshuagl commented on #1763
Changes were some cleanup in theupdateframework/specification#195 ([diff](https://github.com/theupdateframework/specification/commit/d7bc72ebea7609d8d761a67018139eb4580dd76a)) and removing ambiguous text related to updating root metadata after an update fails in theupdateframework/specification#196 ([diff](https://github.com/theupdateframework/specification/commit/c43045a85a637a5e2922af2dc1af08691

[2022-01-11 14:12] MVrachev opened #1764 "Review all TODO items in the new implementation prior to 1.0.0"
**Description of issue or feature request**:
We have multiple `TODO` items in the source code inside the new implementation and it will be good to review them one by one and decide if we want to fix them now or leave them.
If we decide to leave them it will be good to create separate issues (where it makes sense) or group them in one summarization issue.

[2022-01-11 14:21] MVrachev commented on #1645
I am going to label the yet unresolved issues from my list as `blockers`.

[2022-01-11 14:34] MVrachev commented on #1393
I think it's important to note that after `1.0.0` release if we decide to move common metadata classes outside `tuf/api/metadata.py` (where they are now) it will be good to have a version of the repository code ready.
The reason is that a user could have used the Metadata API as an immediate replacement for currently (as of `1.0.0` release) non-existent repository code.

[2022-01-11 15:01] joshuagl commented on #1550
checking we mean `git tag --sign`?

is the release made (listed on https://github.com/theupdateframework/python-tuf/releases) at this point, or gated on the below verification, along with the PyPI upload?

This verification prevents tampered changes from being uploaded to PyPI.

This verification detects tampering _by_ PyPI. If we sign our PyPI uploads, the verification can be a signature check.

[2022-01-11 15:25] jku commented on #1550
Yes that is what I meant (will edit comment).

Hmm, have not considered this yet. I suppose combining github release and pypi upload makes sense, so both gated behind maintainer approval.

The approval btw is something I believe a github actions deploy job can do: we define a "deploy environment" that can have a list of reviewers who are authorized to approve deployments as well as related environ

[2022-01-11 15:33] #1575 closed, assigned to MVrachev

[2022-01-11 15:40] jku commented on #1763
Note that this is the first time the CI check ran: Metadata API currently states support for v1.0.19 (vs spec v1.0.28 ) so there's likely more to verify.

This does imply the issue message should list the version numbers :)

[2022-01-11 15:47] joshuagl commented on #1550
That's very neat!

[2022-01-11 15:52] jku commented on #1550
On second read: this not completely correct I think as tampered changes could still be uploaded to pypi if the infrastructure is tampered cleverly enough... but I think the first check still probably makes sense: a bit of assurance that we are not trying to upload something non-reproducible to PyPI

[2022-01-11 16:14] kairoaraujo commented on #1763
I thought to have the version numbers, but if we don't thread the issue and a new version of the spec is released, it becomes outdated. The idea was to have a generic issue.

I'm thinking about some options:
- Add version number in the title, so one issue every time we have a new spec
- Add a comment with the version if the comment does not exist (maybe a bit tricky)

More suggestions?

[2022-01-11 16:29] joshuagl commented on #1550
True, I could have couched my language a little more or made my implicit threat model (GitHub itself isn't compromised) more explicit.

[2022-01-11 17:32] jku commented on #1763
eh, maybe we let it be and see how it works for a while :shrug:

[2022-01-12 07:49] jku commented on #1764
For Metadata API:
* 2 TODOs about `pylint: disable=too-many-arguments`. Let's remove the TODOs, in my opinion the lint is useful in most situations but not here so the disables are fine
* TODO about serialization error location: this could be an issue of its own, and relates to the other exception work going on. IMO the errors should be in the common exceptions file because metadata API users have

[2022-01-12 07:53] jku commented on #1714
I think Fetcher should handle all exceptions, and raise a FetcherError which should derive from DownloadError -- this means client can just handle DownloadError which is what they probably want

[2022-01-12 07:53] jku commented on #1764
The ngclient TODOs should get handled by #1312, #1761 and #1714

[2022-01-12 07:56] jku commented on #1645
Added (ngclient) exceptions tweaks as blockers:
* #1761
* #1714

[2022-01-12 08:11] jku commented on #1763
Looking at the commits these need review:
* [x] c43045a (tag: v1.0.28) Remove ambiguity in update root after a failed attempt
* [x] d7bc72e (tag: v1.0.27) A round of clean-up/clarifications
* [x] 107be15 (tag: v1.0.26) Clean up "Writing consistent snapshots" section
* [x] 2585a4e (tag: v1.0.25) Explain why we check hashes before signatures
* [ ] 8dafd00 (tag: v1.0.24) Clarify optional attributes
*

[2022-01-12 08:22] jku commented on #1763
This contains

Metadata API requires exactly one of them.

Specification does not explain what should happen if neither field is set (I've previously thought it meant that everything is delegated but I think was persuaded against this in python-tuf before the spec change... not sure how this mess happened)

[2022-01-12 08:51] jku commented on #1745
You make a valid point ... but as an example of something not-too-clever I think we aren't using `__init__.py` like we could -- so we could make `from tuf.api.metadata import Metadata` into `from tuf.api import Metadata` if we wanted and I think that would make the import less ugly? So then the only issue would be that we don't have a "main" package -- which is fine to me: I don't think we should

[2022-01-12 08:58] jku commented on #1645
I'd really like these... but maybe not release blockers in the end? @joshuagl opinions?
* #1550, #1269
* #1756

Added as blocker:
* #1634
* #1739
* #1745 <- this one is big and should be started and split into parts ASAP: getting docs etc in order might take a while

[2022-01-12 09:00] jku commented on #1645
This one I think we should work on at least far enough that we know how it's going to be solved: if Metadata API does not break as result, it could wait until after 1.0?
* #1696

[2022-01-12 09:05] jku commented on #1613
I see no need for this. Either we remove the one use of DEFAULT_HASH_ALGORITHM (and force repository implementation to specify algorithms when creating a new TargetFile) or we continue  trusting Securesystemslib to handle our crypto stuff.

[2022-01-12 09:10] jku commented on #1440
I don't think there is a way to answer a generic question like this. If debugging a specific case is difficult because of lack of logs, let's file a specific issue and then fix that specific issue

[2022-01-12 09:13] jku commented on #1425
This looks unlikely to happen now: it would be a big change. I'll close this.

[2022-01-12 09:13] #1425 closed, assigned to nobody

[2022-01-12 09:16] jku commented on #1645
Opinions on this -- maybe should be in 1.0?
* #1251

EDIT: Added as blocker

[2022-01-12 09:18] jku commented on #1181
I think we have our answer now: metadata API + ngclient is the minimal set. Splitting out is likely not necessary but separate packaging would be possible

[2022-01-12 09:18] #1181 closed, assigned to nobody

[2022-01-12 09:42] MVrachev commented on #1440
Agreed. Debugging can be added after we have more case studies and we realize the need for it in specific places.

[2022-01-12 09:42] #1440 closed, assigned to nobody

[2022-01-12 10:15] MVrachev commented on #1393
Closing this one and the discussion can be continued in https://github.com/secure-systems-lab/securesystemslib/issues/272

[2022-01-12 10:15] #1393 closed, assigned to nobody

[2022-01-12 10:20] MVrachev commented on #1241
The Metadata API and the updater implementation have evolved sufficiently that we don't need one central place for constants.
Currently, we write the constants directly in the [metadata API module itself](https://github.com/theupdateframework/python-tuf/blob/develop/tuf/api/metadata.py) and we have a separate one inside the updater [here](https://github.com/theupdateframework/python-tuf/blob/devel

[2022-01-12 10:20] #1241 closed, assigned to nobody

[2022-01-12 13:39] joshuagl commented on #1645
Agreed. These are important and nice to have for 1.0 but not blockers.

[2022-01-12 14:01] lukpueh commented on #1716
I think a sensible quick fix would be to just add a phrase or paragraph on RTD that links to the directories `examples/client_example` and `examples/repo_example`, akin to how it's done in the [repo main readme](https://github.com/theupdateframework/python-tuf/blame/f172972f721aa7b2fd844302e0f3046bca2614f3/README.md#L69).

This could be part of the [RTD API reference](https://github.com/theupdatef

[2022-01-12 15:57] MVrachev commented on #1745
After a meeting with @jku and @lukpueh it was decided that there is no need to do renames.

Using `ngclient` as opposed to the `client` has the advantage that when an user of the old code wants to integrate to the new client the imports will fail and this will lead him/her to read our RTD documentation.
Otherwise, if we use the `client` name the import will succeed and the API itself will fail at

[2022-01-12 17:08] lukpueh commented on #1696
Thanks for working on this, @MVrachev and @jku! I just caught up on your discussion and read through the prototype and I like it!

I also think that `validate` should be implemented as part of  `JSONSerializer.serialize`, because that's really what it validates, i.e. "is the json serialize/deserialize loop idempotent?". Then we also don't have to call `to_dict` twice, and it does not feel odd that

[2022-01-13 16:21] lukpueh opened #1770 "doc: Is it okay to remove spec "forwarders"?"
I'm in the process of cleaning up the repository (#1745, #1767, #1768, #1769) and was wondering if it's okay to remove the old [`doc/tuf-spec*`](https://github.com/theupdateframework/python-tuf/tree/v0.20.0/docs) documents, which are merely pointers to the [`theupdateframework/specification`](https://github.com/theupdateframework/specification) repo (created in late 2017).

I can see how these wer

[2022-01-14 07:18] #1244 closed, assigned to lukpueh

[2022-01-14 09:03] lukpueh commented on #1770
cc @mnm678, @trishankatdatadog, @joshuagl

[2022-01-14 09:14] jku commented on #1770
Agreed, it's been 4+ years and finding the spec is easy.

[2022-01-14 09:42] MVrachev commented on #1696
@lukpueh do you think it should be an argument or it's okay to do it during initialization?
Also, do you think it makes sense to add it to the `MetadataSerializer` as well?

My question towards both of you @jku and @lukpueh is how do you think we should move forward?
Should I propose a pr? Do you think I can/should experiment with alternative solutions?
Do we want to add this API now before 1.0.0?

[2022-01-14 09:50] lukpueh commented on #1696
Initialization of what? Regardless, given the computational cost of the validation, I'd make it optional.

No. I think this is something specific to JSONSerializer.

Yes.

Do you have something on your mind? I think this sounds good for the time being.

It would make 1.0.0 stronger. But I also see no problem in adding this in a subsequent minor release. Let's prioritize things that need to go into

[2022-01-14 10:08] MVrachev commented on #1696
There are two options on how to call the validation through the `JsonSerializer`:
1. pass a `validate` argument when creating a `JsonSerializer` object.
2. pass a `validate` argument when calling `JSONSerializer.serialize()`

I think the first option makes more sense as once a `JsonSerializer` is created I see no use case when the user would want to change his behavior regarding the validation.

N

[2022-01-14 10:19] lukpueh commented on #1696
Oh right, I remember. The first option is also consistent with how we configure `compact`. We only have to ask ourselves, how we want to expose this feature in `Metadata.to_bytes`:

https://github.com/theupdateframework/python-tuf/blob/059bfda391893a7e502ed3da5a185ab174e977dc/tuf/api/metadata.py#L242-L249

Given the computational cost of validation I lean towards a default of `validate=False` and

[2022-01-14 11:03] jku commented on #1696
Agreed with the discussion above:
* discussed approach looks sensible and we're reasonably sure it'll work
* API change will not be a breaking one
* would be good to have in 1.0 but I feel based on the points above that this does not need to be a release blocker anymore

[2022-01-14 11:18] joshuagl commented on #1770
I'm in favour of removing.

[2022-01-14 16:12] trishankatdatadog commented on #1770
+1

[2022-01-14 17:29] mnm678 commented on #1770
I agree. We can replace old links as we find them.

[2022-01-17 08:26] #1770 closed, assigned to nobody

[2022-01-17 08:27] lukpueh commented on #1770
Cheers for weighing in, everyone!

[2022-01-18 08:37] jku commented on #1763
https://github.com/theupdateframework/specification/issues/200

[2022-01-18 11:28] jku commented on #1751
metadata generated with go-tuf (so for example sigstore metadata) uses "1.0" as well.

[2022-01-18 14:12] MVrachev opened #1778 "Do we need a new MissingInformationError/MissingMetadataError?"
**Description of issue or feature request**:

We want to use a shortlist of exceptions that will be thrown from our APIs, so that our users can handle them easily.
On another hand that doesn't stop us from creating other more specific exceptions that derive from those main exceptions.
This allows us to easily test that specific errors were thrown when we expected them.
For example we are using `Ba

[2022-01-18 14:16] MVrachev opened #1779 "Do we need a new (Metadata)TypeError?"
**Description of issue or feature request**:

We want to use a shortlist of exceptions that will be thrown from our APIs, so that our users can handle them easily.
On another hand that doesn't stop us from creating other more specific exceptions that derive from those main exceptions.
This allows us to easily test that specific errors were thrown when we expected them.
For example we are using `Ba

[2022-01-19 08:54] #1739 closed, assigned to kairoaraujo

[2022-01-19 09:03] #1716 closed, assigned to kairoaraujo

[2022-01-19 15:01] lukpueh opened #1782 "doc: post-1.0.0 roadmap for python-tuf"
**Description of issue or feature request**:

The CII best practice silver badge requires a *roadmap that describes what the project intends to do and not do*. We currently provide the following information in order to satisfy the requirement:

Regardless of the badge requirement a roadmap seems like a good idea, on an implementation or project level (see positive examples below).

**Current behav

[2022-01-19 17:53] MVrachev opened #1784 "Generic exceptions vs Specific exceptions"
**Description of issue or feature request**:
We want to use a shortlist of exceptions that will be thrown from our APIs, so that our users can handle them easily.
On another hand that doesn't stop us from creating other more specific exceptions that derive from those main exceptions.
This allows us to easily test that specific errors were thrown when we expected them.
For example, we are using `Ba

[2022-01-19 18:00] MVrachev opened #1785 "Builtin vs custom exceptions"
**Description of issue or feature request**:
Before releasing TUF 1.0.0 we should review our code and make sure that:

1.  We are using built-in exceptions (`ValueError`, `TypeError`, `KeyError`, etc.) consistently and idiomatically.
2. We are using custom exceptions when it makes sense and not in places that could be replaced by a built-in exception.

_Initiated from comment https://github.com/th

[2022-01-19 18:13] MVrachev opened #1786 "Should we rename any of the exceptions names?"
**Description of issue or feature request**:

We should make sure we review the exception names before releasing 1.0.0 and change them if necessary while it's easy.
Some of the rename suggestions are:
1. `UnsignedMetadataError` -> `(Metadata)SignatureError`: `UnsignedMetadataError` suggests that there is no Signature, which is not what it is exclusively used for.
2. `BadVersionNumberError` ->  `(M

[2022-01-20 08:59] jku commented on #1784
Does my change in this commit make sense?

I believe no-one is ever going to handle a URLParsingError so there should be no need for it. If that statement turns out wrong and a need arises later, adding a derived error is easy. The commit is good.

[2022-01-20 09:01] lukpueh commented on #1785
IMO @jku's taxonomy from https://github.com/theupdateframework/python-tuf/issues/1312#issuecomment-842242333 makes a lot of sense

[2022-01-20 09:07] jku commented on #1784
Updater does use some of the specific exceptions. I would not object to TrustedMetadataSet having better exception documentation, the reason it doesn't is probably the fact that it's currently private (documenting too much does lead to outdated documentation...)

For updater itself I think documenting just RepositoryError (and not the more specific ones) is reasonable: Updater users are not going

[2022-01-20 09:08] lukpueh commented on #1785
One thing to check here is whether any of the builtins (above all `ValueError`) raised in metadata classes `__init__` methods propagates to a place, e.g. `from_(dict, bytes, file, data)`, where we'd actually  expect a RepositoryError?

[2022-01-20 10:34] MVrachev commented on #1729
We have decided in #1725 that we would place the new exception file in `tuf/api/exceptions.py`, so this issue is solved.

[2022-01-20 10:34] #1729 closed, assigned to MVrachev

[2022-01-20 11:45] MVrachev commented on #1761
That sounds bad and we should make sure we do atomic operations.
Does that mean this is an argument for using `securesystemslib.util.persist_temp_file()`?
I didn't understand what you tried to support.

[2022-01-20 13:55] kairoaraujo commented on #1634
Should we close this one? 🤔 or at least remove the ``1.0.0 blocker`` tag?

[2022-01-21 09:14] jku commented on #1761
in context of this issue and target persistence: I wanted to say that it seems like it's not actually critical how target files are written to disk. A plain `shutil.copyfileobj()` instead of `persist_temp_file()` seems fine to me (and I'll always prefer simplicity...).

If someone has a counter argument to that I'd be interested in hearing it.

[2022-01-21 09:38] lukpueh commented on #1761
cc @joshuagl, author of https://github.com/secure-systems-lab/securesystemslib/pull/181 and https://github.com/secure-systems-lab/securesystemslib/pull/232

[2022-01-21 10:19] MVrachev opened #1788 "Dict comparisons insensitive to order"
**Description of issue or feature request**:
In #1783 we dropped support for Python 3.6 and inside this pr, we decided to drop `OrderedDict`s as well: https://github.com/theupdateframework/python-tuf/pull/1783/commits/e3b267e2e0799673ac99ccfccd3631628013201c.
The argument was that inside python 3.7+ dictionaries insertion order is preserved: https://docs.python.org/3/whatsnew/3.7.html.

Even thoug

[2022-01-21 10:40] lukpueh opened #1789 "Source not available on coveralls.io"
**Description of issue or feature request**:
Test coverage for each job in our GitHub Action workflow is [published on coveralls.io](https://coveralls.io/github/theupdateframework/python-tuf).

https://github.com/theupdateframework/python-tuf/blob/b2704a56a8c5023ffd7d377d8a8e72fb26a46a8a/.github/workflows/ci.yml#L62-L97

**Current behavior**:
For some reason it [no longer shows the source code fil

[2022-01-21 11:02] joshuagl commented on #1761
Filesystem abstraction was implemented for repository related code, I agree with the assertion that this seems unnecessary in the context of the client. Simpler use of standard file move methods seems like a reasonable decision.

Separately, it would be worth investigating whether the write/flush/fsync in securesystemslib is even necessary for the modern Python versions we support (it was copy/pas

[2022-01-24 08:01] jku commented on #1789
this one is strange: if I log in to coveralls the sources are suddenly available  :shrug: ?

[2022-01-24 08:25] lukpueh opened #1791 "tox warns on windows that python3 is not installed in testenv"
The following warning can be found in current GitHub Windows runner build logs.

[code]

This is because we tell tox to run `python3` in the tox.ini commands section, see e.g.:
https://github.com/theupdateframework/python-tuf/blob/b2704a56a8c5023ffd7d377d8a8e72fb26a46a8a/tox.ini#L18

But Windows does not seem to install a `python3` command in the corresponding virtual environment, so it uses the s

[2022-01-24 11:09] kairoaraujo commented on #1791
I can check the first possible fix. But I think we discussed it on
- #1617

[2022-01-24 11:35] jku commented on #1791
I guess it could be a good idea to check if virtualenv (?) really doesn't create that specific link in the windows environment and then either
* make an issue upstream to add that link in Windows or
* stop using "python3" (if the "python" link is created on Windows and if it looks like the rest of the world is using plain "python" instead of "python3")

[2022-01-24 13:08] jku opened #1793 "Yearly maintainer list cleanup"
Teodora stepping down as maintainer got me thinking that we should clean up the maintainers list periodically:
* I think both [docs/MAINTAINERS.txt](https://github.com/theupdateframework/python-tuf/blob/develop/docs/MAINTAINERS.txt) and especially the actual permissions lists (so github project, pypi, etc) should only list the maintainers who are actively using the elevated powers (so approving an

[2022-01-24 13:28] trishankatdatadog commented on #1793
Agreed, I've already raised this issue before, but got radio silence.

[2022-01-24 14:14] JustinCappos commented on #1793
I'm supportive of this.  Would like to see what @awwad and @SantiagoTorres
<https://github.com/SantiagoTorres> think.

Justin

On Mon, Jan 24, 2022 at 9:29 PM Trishank Karthik Kuppusamy <
***@***.***> wrote:

[2022-01-24 15:47] SantiagoTorres commented on #1793
Overall I think this is something worth considering. Looking at the list here, I think we need to seek a bus-factor/overly-lax-access-control sweetspot.  Not backed by much evidence, but i think wseeking 2/3 people may be the best.

FWIW I'm happy to step down if this makes everybody more comfortable.

[2022-01-24 15:56] trishankatdatadog commented on #1793
I'm okay with anyone being in the active maintainers list so long as they are recently active (which we should define).

[2022-01-24 16:06] jku commented on #1793
I wasn't trying to pick on you specifically btw: just picked names that I think I haven't seen merging or approving PRs lately

[2022-01-24 17:04] mnm678 commented on #1793
This is a great idea. Folks can always rotate back in if/when they have more time for the project. I think 2-3 people makes sense in general, but it might be nice to have 4-5 when there is a minimum approval threshold to make sure that people can go on vacation and such.

[2022-01-24 17:32] SantiagoTorres commented on #1793
Haha yeah, I understand  :) I was trying to be upfront about my standing on the line if we need to cut someboddy...

Then again, I'm also happy to review more over here if we're feeling low on eyes

[2022-01-25 06:44] JustinCappos commented on #1793
I honestly don't have a problem with Santiago or Sebastien staying on if
they are interested and monitoring this conversation.  They have good ideas
/ opinions when issues, etc. arise.  I think the point was more if they've
moved on and tuned out we should perhaps drop them.

On Tue, Jan 25, 2022 at 1:32 AM Santiago Torres ***@***.***>
wrote:

[2022-01-25 08:02] jku commented on #1793
Maybe there is a disconnect here, because that sounds like you believe I suggested something I did not intend to. I know I sometimes skip the reasoning to go direct to conclusions so I'll try to make my position clear:
* I value the experience of everyone who's been working on this tech, now or before. It's also vitally important to make contributions easy for both old and new contributors: I abso

[2022-01-25 08:15] jku commented on #1793
Too few eyes does not seem like a pressing issue just right now but diversity could certainly be better (quite a few of us are from VMware after all) so that would definitely be appreciated... That said, reviewing code does not require github maintainer permissions and even merging does not require pypi.org permissions. I'm actually quite happy to see a "culture of review" in the project currently

[2022-01-25 12:34] lukpueh commented on #1789
Great find and it gave me the additional search engine parameter I needed:
https://github.com/lemurheavy/coveralls-public/issues/1579

Looks like this is by design. Closing here.

[2022-01-25 12:34] #1789 closed, assigned to nobody

[2022-01-25 13:24] #1251 closed, assigned to jku

[2022-01-25 13:25] #1709 closed, assigned to kairoaraujo

[2022-01-25 14:13] JustinCappos commented on #1793
Okay, thanks Jussi for your clear and compelling point. I agree that the
distinction makes sense and we should drop github maintainer permissions
for Santiago and Sebastien.

Should we keep them in python-tuf/docs/MAINTAINERS.txt or is it not worth
the confusion?  I don't have strong feelings.

On Tue, Jan 25, 2022 at 4:16 PM Jussi Kukkonen ***@***.***>
wrote:

[2022-01-25 14:21] jku commented on #1634
I think it's done:
* rolenames in URLs are now handled explicitly (practical results are 99.9% same as before but now the encoding is visible and testable)
* target urls do use hashes and targetpath (that both come from remote) but there isn't really anything we can do -- I suppose we could test that they are valid url parts or look for constructs like "../" in them... but I don't see major benefi

[2022-01-25 14:21] #1634 closed, assigned to kairoaraujo

[2022-01-26 08:57] lukpueh opened #1795 "doc: remove/reword announcement about upcoming 1.0.0 on release"
**Description of issue or feature request**:
Once we have released 1.0.0 it no longer makes sense to say that we are about to release 1.0.0. We should remove/reword the corresponding docs parts shortly before we cut the 1.0.0 release.

**Current behavior**:
- Main [README has an "important notice"](https://github.com/theupdateframework/python-tuf/blame/e0736d6d75e344b10ac128e5798cde3136ccc9cf/READ

[2022-01-26 09:09] lukpueh opened #1797 "doc: consider re-adding a "quickstart" document"
*Supersedes https://github.com/theupdateframework/python-tuf/issues/1006*

**Description of issue or feature request**:
#1790 removes `QUICKSTART.md` because it is severely outdated. The new [client and repo examples](https://github.com/theupdateframework/python-tuf/tree/e0736d6d75e344b10ac128e5798cde3136ccc9cf/examples) should be a good replacement to quickly get users familiar with `python-tuf`

[2022-01-26 09:24] lukpueh opened #1798 "doc: consider re-adding python-tuf attack protection demo"
**Description of issue or feature request**:
#1790 removes severely outdated [ATTACKS.md](https://github.com/theupdateframework/python-tuf/blob/e0736d6d75e344b10ac128e5798cde3136ccc9cf/tuf/ATTACKS.md), which demoed how python-tuf protects against the attacks [TUF is designed for](https://theupdateframework.github.io/specification/v1.0.28/index.html#goals-to-protect-against-specific-attacks).

Such

[2022-01-26 10:24] MVrachev commented on #1788
It's good to add solve this issue with #1775.

[2022-01-26 10:28] joshuagl commented on #1793
I think an emeritus maintainer status helps indicate folks who have, and may continue to have, a large influence while making it clearer who are the folks with elevated permissions and who they can expect a response from when .

Agree that we should define this. Typically projects define inactive contributors as someone who has not made a contribution within a fixed period of time i.e. [Kubernetes

[2022-01-26 10:41] joshuagl commented on #1797
I think the ideal place for quick start documentation for a library like python-tuf is the developer documentation on RTD.

[2022-01-26 11:02] MVrachev commented on #1786
Together with a couple of the maintainers @jku, @lukpueh and @joshuagl we decided that we won't make any renames for now.
Some of the renames are good but are not worth the trouble.

[2022-01-26 11:02] #1786 closed, assigned to nobody

[2022-01-26 13:41] jku commented on #1392
I think I intended to take this but did not ... taking it now

[2022-01-27 08:49] jku opened #1801 "maybe rename readthedocs subdomain?"
Our reference docs are in https://theupdateframework.readthedocs.io/. The subdomain was selected before the Github project renamed to "python-tuf" (and at the time "tuf" was taken). With hindsight the correct subdomain would have been "python-tuf".

If we want to move the docs, now (before 1.0 release) is the time so let's pick our poison: rename readthedocs subdomain or no?

Downsides:
* there's

[2022-01-27 11:20] MVrachev opened #1802 "Should we allow unrecognized fields for the signatures dictionaries?"
**Description of issue or feature request**:
In [ADR 8](https://github.com/theupdateframework/python-tuf/blob/develop/docs/adr/0008-accept-unrecognised-fields.md) we follow the [Document formats](https://theupdateframework.github.io/specification/latest/#document-formats) section of the specification and allow unrecognized fields at each level of the metadata files.
The question is do we want to a

[2022-01-27 11:46] jku commented on #1802
Lets decide this before 1.0 release (with the understanding that we might just decide to postpone)

[2022-01-27 11:49] jku commented on #1802
Quoting myself in sslib issue:

Because of this _I think_ allowing unrecognised fields in signature does not significantly increase risk

Oh and the reason why we might want to do this: I believe supporting fulcio certificates/signatures requires extending the metadata. If unrecognised fields are not supported that would mean python-tuf 1.0 might not be able to read metadata written by python-tuf

[2022-01-27 13:28] #1312 closed, assigned to MVrachev

[2022-01-27 14:52] #1761 closed, assigned to MVrachev

[2022-01-27 15:38] mnm678 commented on #1802
cc @asraa who may have insight into the Fulcio signatures.

When using canonical json, it's true that adding an additional field doesn't increase the risk, because we are already doing some somewhat risky parsing. If we switch to a format like DSSE, we'll want to avoid adding additional fields to the signature that could make the implementation vulnerable to a [canonicalization attack](https://soa

[2022-01-27 15:58] #1646 closed, assigned to MVrachev

[2022-01-27 17:00] lukpueh commented on #1784
I just did a thorough review of all exceptions we raise in api and ngclient and it all looks good modulo some missing documentation (will post related comments to #1785, where they seem more appropriate).

So I agree with what Jussi says about `TrustedMetadataSet` exceptions and I suggest we remove the following TODO comment?
https://github.com/theupdateframework/python-tuf/blob/cb7bd6aff9be097fac

[2022-01-27 17:02] lukpueh commented on #1778
I reviewed all exceptions and I no longer think we currently need to add a custom MissingInformationError/MissingMetadataError. Shall we close here?

[2022-01-27 17:03] lukpueh commented on #1779
I reviewed all exceptions and I no longer think we currently need to add a custom  (Metadata)TypeError. Shall we close here?

[2022-01-27 17:14] lukpueh commented on #1785
I just did a thorough review of all exceptions we raise in api and ngclient and it all looks good modulo some minor issues, mostly missing documentation.

**`metadata.py`**
  - built-ins raised in  `__init__` and `from_dict` methods and `verify_delegate` are not documented.
  - KeyError and SerializationError raised in `verify_signature` are not documented.
  - `from_securesystemslib_key` may rais

[2022-01-28 07:25] #1779 closed, assigned to nobody

[2022-01-28 07:25] #1778 closed, assigned to nobody

[2022-01-28 07:37] jku commented on #1785
Big thanks for doing this.

Metadata:
* on undocumented builtin errors (ValueError in particular but KeyError as well) -- I don't object to documenting them but on the other hand we could just say in module docstring that "invalid input to any functions in API can result in ValueError/KeyError": I think this is fairly standard in python libraries (or rather not documenting this at all is normal).

[2022-01-28 07:51] jku opened #1804 "ngclient: make update progress easier to follow in logs"
This might be a hard issue to close but I'd like it if it was easier to follow the client update process in the logs:
It's certainly already possible with debug logging but requires a lot of reading and probably a fairly deep understanding of the components.

I'd like to see
* the major specification steps (the ones required to see which branches the code took in validating metadata)
* State chang

[2022-01-28 07:55] jku commented on #1784
Yes: PR #1805

[2022-01-28 07:55] #1784 closed, assigned to lukpueh

[2022-01-28 10:39] jku opened #1806 "tests: static test data generation"
current state:
* most client tests use a repository that is generated live during the test (RepositorySimulator)
* there is (and should be) static test data as well, see tests/repository_data/
* test data was generated with scripts that used the legacy codebase but it's not clear if the scripts and the data are actually up to date (or if the data has been manually modified)
* scripts are now remov

[2022-01-28 11:38] MVrachev commented on #1797
Also, we should keep in mind that we have the `examples/` folder with some great examples.
I think we would need a quickstart document if we are going to showcase the usage of a TUF CLI.
I see that in `examples/client.py` we do provide a CLI for the client.
Maybe a small `QUICKSTART.md` document showcasing how to use the `examples/client.py` CLI and a reference to the `examples/basic_repo.py` coul

[2022-01-28 13:33] jku commented on #1806
After seeing the 92% speedup :rocket:  in test runtime when we drop legacy tests: we could even expand these static test sets, we clearly have the test runtime budget now.

[2022-01-28 14:46] jku opened #1807 "docs: Remove AUTHORS.txt (or make it up-to-date)"
The intent to credit contributors is admirable but the file is outdated and does not really give us a lot of value over `git shortlog -s`.  I also do not think the file helps in tracking authorship since the file provides no information about what people authored.

Admittedly the file is better formatted than shortlog output... but if the file is not up to date then that does not help.

[2022-01-28 16:54] MVrachev commented on #1785
**tuf/api/metadata.py:**

- I prefer if we document `ValueError` and `KeyError` as we are already documenting everywhere where we know they can be thrown. If we want, we can add the module docstring, but I don't feel that it replaces the need for exceptions documentation.
- For `verify_signature`: there are two options:
1) leave it the way it is or more precisely the `SerializationError`s are rera

[2022-01-31 08:44] jku commented on #1714
Actually, there is no need for separate DownloadError and FetcherError: they are one and same (all DownloadErrors come from fetcher). We just need to document the fetcherinterface so that the methods are only allowed to raise DownloadErrors and derivatives -- or handle that in the interface itself. RequestsFetcher needs a small modification so `fetch()` actually enforces this requirement.

[2022-01-31 12:44] jku opened #1811 "lints: new black complains"
Lint fails on CI currently

[code]

Fixing this of course fails lint with older black but :shrug:

[2022-01-31 12:47] jku commented on #1550
On more thing to remember: our `-dev` requirements are currently unversioned. That should not be the case if we're trying to control the environment.

See #1813

[2022-01-31 12:51] jku commented on #1785
I have a suggestion for the downloading/fetcher error handling in #1810, please have a look. I did include one rename to make things more consistent... SlowRetrievalError is still left as is (since it's just not very important) but I won't complain if others want it renamed to e.g. DownloadTimeoutError

[2022-01-31 12:53] jku commented on #1811
as a side note: I think we'll have to start pinning -dev requirements as well -- CI failures should not depend on when the CI run happens

[2022-01-31 18:32] MVrachev opened #1812 "Strange behavior from Metadata.sign() and Metadata.to_file()"
**Description of issue or feature request**:
I made some tests locally to answer the question: do different orders in the dictionaries in the metadata objects lead to a different signature?

I wrote this small script aiming to change the order of the `Targets.target` dictionary content as the insertion order is preserved.

[code]

and I expected that I will get one of the two scenarios:
1) the `ta

[2022-02-01 07:09] jku commented on #1812
Great testing, we should be doing more of this sort of verification of assumptions.

My first thought is that you may have mixed delegated roles and targets (a mistake I've made before) in that within Targets metadata, former is ordered but the latter is not: targets order does not matter but delegated roles does.

I'm not totally sure why the targets dict order you chose isn't reflected in the se

[2022-02-01 07:18] jku commented on #1812
It's because we ask json to sort keys:
[code]
hmm... I wonder if we really want this.

[2022-02-01 10:18] MVrachev commented on #1811
From what I understand, fixing this will require following the new black recommendations and pinning the current black version (which at the time of writing this is `22.1.0`) inside `requirements-dev.txt`. @jku am I correct?

If I am correct, then I can submit a pr for this today.

[2022-02-01 10:19] jku opened #1813 "build: let's start pinning dev requirements (?)"
Issue #1811 is an example of build failing when it succeeded just moments before: A new black release was made that changes whitespace rules for a specific situation.

We may want to start pinning dev-requirements as well: this increases the amount of work (as we would start getting more dependabot PRs for these requirements) but it would mean our build would be less prone to spontaneously change.

[2022-02-01 10:21] jku commented on #1811
Thank you. No need to pin as part of this PR (developers will have to wipe local tox caches, but that's just how tox works). A fix for repo_example is appreciated

[2022-02-01 10:36] MVrachev commented on #1813
I think it's better to have more dependabot prs compared to a sudden failure in a long discussed pr because of an unexpected new change in one of our linters.
Maybe we can pin only our linters for a start? As they are the main packages responsible for the unexpected failures.

[2022-02-01 11:10] #1811 closed, assigned to MVrachev

[2022-02-01 11:43] MVrachev commented on #1812
You are correct that `Targets.targets` order is not important as compared to `Targets.delegations.roles`.

I changed my script to this:
[code]

This time I changed the delegations roles order and indeed managed to verify that:
**the order is important when calculating the file hashes**.
The signatures keyid is the same (meaning I have used the same key), but I was able to produce a different signa

[2022-02-01 15:30] joshuagl commented on #1812
I think we probably do not. It's a bit of a trap if the serialisation format implementation _has_ to take care of sorting what is effectively input data to the serialisation methods. Conversely, if the serialisation format implementation does **not** have to take care of this, doing this during JSON serialisation/deserialisation could mask issues.

[2022-02-01 15:33] joshuagl commented on #1813
I agree with you both, our test environment should be deterministic too. CI failing because upstream made a new release we didn't account for is bad. CI doing bad things because i.e. black was compromised and made a malicious release would not be great either.