[2020-12-04 09:21] lukpueh commented on #1231
Thanks for chiming in, @iliana. The spec is not inconsistent in itself. There are only inconsistencies between tuf and in-toto (i.e. tuf's sister project) specs and the corresponding implementations. And there seems an agreement to consolidate all of these, which will require either some implementations and/or specifications to change.

[2020-12-04 10:24] #1128 closed, assigned to lukpueh

[2020-12-07 14:24] joshuagl commented on #1140
The [`__slots__` mechanism](https://docs.python.org/3/howto/descriptor.html#member-objects-and-slots), described in the Descriptor HowTo, could be something worth including in our new classes also. hat-tip @sechkova

[2020-12-07 14:53] lukpueh commented on #1140
I wonder if sane defaults will always be possible, e.g. when thinking of the newly added `MetadataInfo` or `TargetInfo` in https://github.com/theupdateframework/tuf/pull/1223.

But maybe the usage pattern that requires initialization of empty objects is suboptimal. I must say that it would be quite nice to always have certainty about the validity of tuf objects.

[2020-12-08 14:29] joshuagl commented on #1231
I've created a PR against python-tuf (#1235) and filed issues against the in-toto specification (in-toto/docs#42) and reference implementation (in-toto/in-toto#417). That just leaves Tough that doesn't follow the rough consensus here, @iliana would you like me to file an issue there?

[2020-12-08 15:48] iliana commented on #1231
Sure, thanks!

[2020-12-08 16:11] joshuagl commented on #1231
[Done](https://github.com/awslabs/tough/issues/287)

[2020-12-11 14:04] #1231 closed, assigned to nobody

[2020-12-11 14:15] lukpueh commented on #1195
Also, we just ran out of build minutes on Travis. :(

[2020-12-11 14:33] joshuagl commented on #1195
Wow. I didn't even realise we had a build minutes limit. Does that mean we can't do any more Travis builds in December?

[2020-12-11 14:38] lukpueh commented on #1195
I didn't know either until I noticed that builds didn't finish and came across this message on https://travis-ci.com/organizations/theupdateframework:

Not exactly sure when credits will reset.

[2020-12-11 14:54] lukpueh commented on #1195
IIUC, GitHub actions has no limits for open source projects (see first sentence in [Billing for GitHub Actions](https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions#about-billing-for-github-actions)). I am happy to set this up first thing next week.

[2020-12-11 14:58] joshuagl commented on #1195
No limits for open source is my understanding too, thanks for prioritising this @lukpueh!

[2020-12-12 19:38] jku commented on #1195
I did some experiments but am likely to not concentrate on this at least early this coming week so feel free to copy-paste or just take notes from my branch:
* example results: https://github.com/jku/tuf/actions
* commit with workflow: https://github.com/jku/tuf/commit/3ba1d0de847ff5eb7193c9c848583f12f52fa38e

Notes:
* should disable workflow commands in steps that might log untrusted things https

[2020-12-14 12:19] jku commented on #1230
Following is my gut feeling on this, not going to fight on these:
I think it makes sense to keep the metadata API unaware of the complexities of the client update process (and just include things that are truly common to all of the tools that need to handle metadata) -- but do agree that a client metadata controller is required _somewhere_: I estimate that that component will include most of the t

[2020-12-14 15:45] MVrachev opened #1241 "New API: Add a constants module"
**Description of issue or feature request**:
I think it will be useful to have a constant module in the new API.
This will help us to minimize the errors when writing hardcoded strings.
For example, the "snapshot.json" string is used often in the `Timestamp` class in `tuf/api/metadata.py`.

@joshuagl raised awareness for that in this comment:
https://github.com/theupdateframework/tuf/pull/1223#dis

[2020-12-14 17:18] lukpueh commented on #1195
Thanks for the excellent spade-work, @jku! If you don't mind I'll try to PR something tomorrow.

Regarding your notes:
- I haven't fully understood how, as an actions user, I can protect myself against set-env and add-path vulnerabilities. Do I need to audit the actions I use? Will need to further investigate.
- Not sure what the best solution for fail-fast is. Your thoughts seem quite reasonable.

[2020-12-14 17:44] jku commented on #1195
We shouldn't really be especially vulnerable I think -- none of our steps look like they could be easily made to print commands without control of the source code -- I'd say only the "Run tox" step is suspect (in the sense that there's so much code running we can't really rule out the possibility of untrusted output).

I think the only thing we can do is something like

    echo "::stop-commands::

[2020-12-15 08:50] jku commented on #1241
For the specific case mentioned, could it not be `Snapshot.filename` in metadata.py as the filename seems to be a specified feature of snapshot metadata? That Snapshot.filename could be a "getter-only" property to underline how it's not supposed to be changed...

EDIT: actually the property might not be a good idea as you can't have _class_ properties... `Snapshot.filename` (not instantiating Snap

[2020-12-17 10:22] lukpueh opened #1243 "GitHub Actions: Reinstate coveralls.io integration"
**Description of issue or feature request**:
A recent switch from Travis (and Appveyor) to GitHub Actions removed coveralls.io integration from our CI setup. (see #1242)

**Current behavior**:
No publication of coverage data on coveralls.io
No coveralls.io badge

**Expected behavior**:
Re-instate publication of coverage data on coveralls.io (see WIP in lukpueh@df73242)
Re-add coveralls.io badge (r

[2020-12-17 10:24] lukpueh opened #1244 "GitHub Actions: Reinstate fossa.com integration"
**Description of issue or feature request**:
A recent switch from Travis (and Appveyor) to GitHub Actions removed fossa.com integration from our CI setup. (see #1242)

**Current behavior**:
No publication of license data on fossa.com
No fossa.com badge

**Expected behavior**:
Re-instate publication of license data on fossa.com
Re-add fossa.com badge (revert 0ab9ee7)

[2020-12-17 10:58] lukpueh opened #1246 "GitHub Actions: Consider hardening setup against CVE-2020-15228"
**Description of issue or feature request**:
#1242 added a GitHub Actions based CI workflow . GitHub Actions has a moderate injection vulnerability (CVE-2020-15228) against which we should consider hardening our setup.

**Current behavior**:
No particular hardening against CVE-2020-15228

**Expected behavior**:
Assess necessity and harden against CVE-2020-15228.

@jku proposes a strategy in https:

[2020-12-17 11:04] lukpueh opened #1247 "GitHub Actions: Consider further caching in CI workflow"
**Description of issue or feature request**:
#1242 added a GitHub Actions based CI workflow, which configures basic pip caching.

**Current behavior**:
Basic pip caching in CI workflow

**Expected behavior**:
Explore and implement further caching to further speed up CI workflow (@jku suggests to try caching the tox directory).

[2020-12-17 11:11] lukpueh opened #1248 "GitHub Actions: Find and implement fail-fast strategy"
**Description of issue or feature request**:

#1242 added a GitHub Actions based CI workflow, which runs all configured builds in parallel, ignoring each others build results. However, GitHub Actions provides an option (i.e. `fail-fast`), to abort all builds if any build fails. This option might be useful for specific build relationships, where one failing build is likely to entail other failing b

[2020-12-17 11:14] lukpueh commented on #1195
#1242 replaced travis/appveyor with GitHub Actions. Remaining issues discussed here are ticketized in https://github.com/theupdateframework/tuf/issues/1243, https://github.com/theupdateframework/tuf/issues/1244, https://github.com/theupdateframework/tuf/issues/1246, https://github.com/theupdateframework/tuf/issues/1247 and https://github.com/theupdateframework/tuf/issues/1248. Closing...

[2020-12-17 11:14] #1195 closed, assigned to lukpueh

[2020-12-17 15:40] lukpueh opened #1249 "Fully automate updates in pinned requirements file"
**Description of issue or feature request**:

TUF has a `requirements-pinned.txt`, which pins all direct and transitive dependencies for all supported Python versions. The file is created from the direct, unpinned dependencies listed in `requirements.txt`, using some shell commands (`pip-compile` for each Python version, etc.) plus manual dressing (combining files, adding per-version environment m

[2020-12-17 15:48] trishankatdatadog commented on #1249
They have their own set of problems: for [example](https://github.com/python-poetry/poetry/issues/3472#issuecomment-744356551)...

[2020-12-17 20:59] joshuagl commented on #1246
Additional hardening we might consider is in  the actions we use.

AFAICT an Action release on the marketplace corresponds to a tag in the repository that publishes the action, which leaves users open to malicious maintainer attacks - tags are not immutable, so a repo owner (or attacker) can replace the tag and point to a malicious version of the action.

GitHub allows us to restrict actions to ei

[2020-12-18 11:53] lukpueh commented on #1246
Good observation, @joshuagl! Here are some ideas to reduce the attack surface:

- [use the commit sha](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/finding-and-customizing-actions#using-shas) instead of the tag (with the downside of pinning full versions, whereas with tags you can also pin major or minor only)
- allow [only actions created/hosted by GitHub](https://

[2020-12-18 11:57] trishankatdatadog commented on #1246
You guys are really thinking this through. Very impressive! 👏🏽

[2020-12-22 18:27] sechkova commented on #1213
Based on the great discussion and ideas exchanged here and with the disclaimer that this is an internal colab with @jku who had the main idea, I opened #1250 which shows how the current implementation can benefit from a Fetcher class.

I will be happy to receive your comments in the new year :slightly_smiling_face:  :fireworks: :champagne:

[2020-12-22 18:49] sechkova opened #1251 "Client explicitly asks server to not compress data"
**Description of issue or feature request**:

After the acceptance of [TAP10 ](https://github.com/theupdateframework/taps/blob/master/tap10.md) the framework no longer handles compressed metadata.  Instead,

However, the implementation explicitly [asks server to not compress data]( https://github.com/theupdateframework/tuf/blob/9fdbcd5b4bc3233b6583a611676b76f062a0b01d/tuf/download.py#L237) to avoi

[2021-01-04 17:16] joshuagl commented on #1251
Looks like this session header was introduced (https://github.com/theupdateframework/tuf/commit/d03dd0f2ecbaad0886bf2c22e7fbeb2dec9813b7) back in 2013, when adding support for SSL certificate verification, and has since been carried across multiple rewrites of `tuf.download`.

Use of this header was originally copy/pasted from pip (which pip introduced to handle some [unexpected behaviour in urlli

[2021-01-04 17:24] joshuagl commented on #1251
As far as I can tell with some git archaeology, the server configurations in question are those which supply unexpected encodings when `Accept-Encoding` is empty.

I vote that we remove any setting of `'Accept-Encoding'` and use the default settings of the underlying requests framework. In future if users want a non-default encoding, they can implement their own fetcher (see #1250) to achieve this

[2021-01-04 18:11] trishankatdatadog commented on #1251
I did not sign that commit, so it might or might not have been me from a different life...

[2021-01-05 10:29] jku commented on #1251
I lean to the same solution... but I'll still document the alternative though (sechkova already said this but just for emphasis): allow compression _only for metadata_. We know the metadata is not compressed "on disk" so that should always be safe, even with webservers broken as described in the below comment.

In pip (src/_internal/network/utils.py) the same 'identity' encoding trick with the sam

[2021-01-05 11:25] joshuagl commented on #1246
Another reason to distrust 3rd-party Actions – they can push commits (and tags?) to the repository[[1](https://hikari.noyu.me/blog/2020-05-05-github-private-repos-access-control-violation.html)].

Furthermore, possibly due to the underlying shared object storage of GitHub, it seems that git activity on forks __may__ have unintended consequences on the forked repo. So far as I can tell, this is not

[2021-01-05 12:33] sechkova commented on #1251
Another observation is that currently TUF deals with [raw response content](https://requests.readthedocs.io/en/master/user/quickstart/#raw-response-content).

IIUC the requests' docs, we would like to deal with raw content for target files but use the requests framework to decode potentially compressed metadata files as shown in the example:

[code]

[2021-01-05 15:14] trishankatdatadog commented on #1251
`httpx` has a similar API. My only concern here might be things like [ZIP bomb](https://en.wikipedia.org/wiki/Zip_bomb) attacks, but we should be able to avoid them as long as we iterate by reasonably-fixed-size chunks.

[2021-01-08 11:06] jku opened #1255 "tests: flaky windows server startup failure on github action"
From Teodoras PR #1250 (https://github.com/theupdateframework/tuf/runs/1658331874), a seemingly unrelated failure on ServerProcess tests

Notes:
* seems windows-related
* this is flaky: other builds on same branch do not show this
* seems concentrated on TestServerProcess tests (other tests using a ServerProcess succeed at least on this run) maybe because those end up with many processes very quic

[2021-01-08 11:08] jku commented on #1255
martin do you want to take a look?

[2021-01-08 14:14] joshuagl commented on #1251
I'm leaning towards leaving this behaviour as-is for the current codebase, and addressing this in the reference fetcher during our [refactor efforts](https://github.com/theupdateframework/tuf/projects/2).

[2021-01-08 15:37] jku commented on #1251
:+1: This is fine for the pip use case if we manage to do the network io work -- then I can make sure metadata gets compressed in the pip-specific fetcher.

[2021-01-11 13:58] jku opened #1257 "tests: localhost name lookup takes 1sec on Windows in github actions"
This was found in PR #1250: on windows (Github Actions) the lookup for localhost takes 1 second.

This is because:
* Windows retries connect() with a timeout
* the machine has IPv6 and IPv4 but Testserver only binds the port on IPv4
* the test clients connect to "localhost"

This combination leads to every test first spending 1 second trying to connect to localhost on IPv6 (this fails because the

[2021-01-12 09:12] MVrachev commented on #1255
Yes, I will.
I will try to do it these days.

[2021-01-12 12:46] lukpueh commented on #1248
Another way to do this would be to make lint and test builds different jobs and configure `needs: [<lint job>]` on the test job.

[2021-01-13 21:06] timgates42 opened #1262 "Fix simple typo: excepion -> exception"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine tests/test_roledb.py.
2. Search for `excepion`.

# Expected Behaviour

1. Should read `exception`.

Semi-automated issue generated by
https://github.com/timgates42/meticulous/blob/master/docs/NOTE.md

To avoid wasting CI processing resources a branch with the fix has been
prepared but a pull request has not yet been created. A pull req

[2021-01-14 11:18] lukpueh opened #1263 "Support custom signing implementations in Metadata.sign method"
**Description of issue or feature request**:
Allow TUF integrators to easily use custom metadata signing implementations instead of the currently supported securesystemslib one.

An urgent use case for this is the PEP458/Warehouse integration, where metadata must be signed with keys stored in a Hashicorp Vault and the implementation is already available.

NOTE: This feature request only concerns t

[2021-01-14 11:46] lukpueh commented on #1263
A very basic implementation could look something like this:

[code]

[2021-01-14 12:58] trishankatdatadog commented on #1263
Great idea. I would add only that it might be useful to add in SSLib itself...

[2021-01-14 13:21] lukpueh commented on #1263
Agreed.

[2021-01-15 11:58] joshuagl commented on #1263
Thank you for the detailed issue @lukpueh.

Bit of an aside, but do you imagine the GPG and HSM signing interfaces in securesystemslib becoming implementations of the interface we create here? That seems logical to me, but I'm not familiar with the GPG and HSM signing interfaces.

[2021-01-15 12:40] lukpueh commented on #1263
I would suggest so, yes. Do you have reservations?

[2021-01-15 13:34] #1243 closed, assigned to lukpueh

[2021-01-15 13:38] lukpueh commented on #1247
Also cache pip install in non-"test" jobs, e.g. "coveralls-fin" introduced in #1252. It would be nice to find a cross-job caching solution.

[2021-01-15 14:25] jku commented on #1247
Leaving a note for later: Defining an action of our own in this same repo should allow using the same code across different jobs: Maybe it's not hard to define a "pip-install" action that sets up cache, updates pip and installs/updates the given list of packages.

[2021-01-15 14:55] joshuagl commented on #1263
No reservations, just checking whether my expectation was reasonable. Thank you.

[2021-01-19 16:59] joshuagl opened #1266 "Should we accept metadata that includes unrecognised fields?"
**Description of issue or feature request**:

The current reference implementation will ignore unrecognised fields in a metadata file when loading it. Furthermore, some TAPs (i.e. snapshot Merkle Tree) are relying on this behaviour to introduce new fields to the specification without making the metadata invalid for older clients which don't recognise the field.

**Current behavior**:

The current

[2021-01-19 17:02] trishankatdatadog commented on #1266
I don't see the danger as long as the client doesn't change its behavior with respect to unrecognized fields, but I might be missing something.

[2021-01-19 17:14] mnm678 commented on #1266
Allowing the additional fields allows for more flexibility in backwards-compatibility, plus it's implied in the [spec](https://github.com/theupdateframework/specification/blob/master/tuf-spec.md#4-document-formats). So I'd say we should continue to allow it, and add an ADR to that effect.

[2021-01-20 09:22] jku commented on #1161
A gotcha that we may care about with regards to setup.py/setup.cfg/pyproject.toml: I just tried to do `pip install -e <directory>` to a project that only has a pyproject.toml and:
[code]
Which would mean current requirements-dev.txt in tuf would fail to install in this case.

[2021-01-20 09:40] sechkova commented on #1161
Yep, it is a known limitation, it can be circumvented by:

[code]

but needs to be kept in mind ([link](https://snarky.ca/what-the-heck-is-pyproject-toml/)).

[2021-01-21 08:25] houdini91 opened #1267 "Go-tuf (TUF 0.9) backwards compatibility"
**Description of issue or feature request**:
Go-tuf cannot use a repository created by python repository_lib.
It seems go-tuf  currently support TUF 0.9 spec with some exceptions.

**Current behavior**:
Go-tuf client fails because the snapshot metadata does not include the 'root.json' field.
if i understand correctly it is the result of [TAP 5](https://github.com/theupdateframework/taps/blob/maste

[2021-01-21 12:00] houdini91 commented on #1266
I personally think it is useful to be able to add a custom application level metadata info.
for example it may be a Time server timestamp, apt release file, custom configuration .. etc

[2021-01-21 14:22] MVrachev commented on #1266
It feels like we all agree that we should just ignore unrecognized fields.

The next question is what to do with them exactly? What does it mean to `ignore` them?
While working on the new metadata `Key` class I just ignored the `keyid_hash_algorithms`, but then I had problems in the
`tests/test_api.sign_verify()`.
The problem was that what I am verifying is a metadata object without `keyid_hash_al

[2021-01-21 14:57] trishankatdatadog commented on #1267
@houdini91 thanks for your time and attention on this issue, but the change should be in go-tuf rather than here. Would you please help us send a patch there? Thanks!

[2021-01-21 14:58] #1267 closed, assigned to nobody

[2021-01-21 15:03] trishankatdatadog commented on #1266
You should be able to attach most of this per-package custom metadata already using the custom targets metadata.

[2021-01-21 15:04] trishankatdatadog commented on #1266
I think we should simply ignore them and not drop anything while reading and writing again.

[2021-01-22 09:46] lukpueh commented on #1263
I'd like to add some ontological thoughts here. In particular, whether the `Signer` class could instead be a `SigningKey` class, given that a `Signer`, as described above, is associated with exactly one key (or key identifier) anyway.

**What speaks against combining Signer and Key in one class:**
In pure modeling terms a key data container and an entity that implements a signing protocol are quit

[2021-01-25 12:26] joshuagl commented on #1140
In https://github.com/theupdateframework/tuf/pull/1223/commits/7cfd100eeb37a7878741722a1b766b5313022287#r541018751 we discussed whether `JsonDict` is the right name for our generic `Dict[str, Any]` type, and agreed to handle that type's name with this issue instead.

[2021-01-25 14:14] MVrachev commented on #1263
In pure modeling terms a key data container and an entity that implements a signing protocol are quite different things. Also, a private key might be used with different signers (protocols, algorithms, schemes, etc.), which would require duplicating key data on multiple signers.

I am asking myself does the `Key` class has meaning outside the signing operations? If not, then probably it makes sens

[2021-01-25 14:51] trishankatdatadog commented on #1263
It's a good question. I didn't implement any signing interface, only verification interfaces. But, if it helps, what I found is that rather than designing on pen and paper, writing, trying, and feeling the code worked out very well. So try writing what comes naturally, and see if it makes sense? I know I sound like a mystic, but that's what worked for me.

[2021-01-25 17:08] joshuagl commented on #1266
Wow, I'd somehow forgotten this line:

Indeed,  if we do otherwise we are not supporting the specification behaviour documented above and relied on by some TAPs.

[2021-01-26 11:10] joshuagl commented on #1266
Thinking about this a bit more, and looking at TAPs which reference or rely on this behaviour in the specification (TAPs [6](https://github.com/theupdateframework/taps/blob/master/tap6.md), [10](https://github.com/theupdateframework/taps/blob/master/tap10.md), [14](https://github.com/theupdateframework/taps/blob/master/tap14.md), and [15](https://github.com/theupdateframework/taps/blob/master/tap1

[2021-01-26 14:08] lukpueh commented on #1263
Thanks for your comments, @MVrachev and @trishankatdatadog!

Yes they are, but there are some variables that change for the signer but not for the key, such as padding, hashing, scheme, etc. To me it feels a bit odd to modify the key object, in order to use a different signing scheme, e.g.:
[code]
But maybe switching schemes during life time is just not a use case, and even then, the odd looks alo

[2021-01-26 14:22] houdini91 commented on #1267
@trishankatdatadog
Hi, Thanks for the reply.
Can you please elaborate a bit what changes you had in mind that can be done in go-tuf library to mitigate the problem?

My understanding is that go-tuf library support the 0.9 Spec - Changes to its own metadata structure or order will brake the library and standard.

While a patch to the python version will add a more complete backwards compatibility s

[2021-01-26 14:36] trishankatdatadog commented on #1267
Change go-tuf so that it doesn't fail on not seeing root.json inside snapshot.json, as per the current spec.

[2021-01-26 16:32] mnm678 commented on #1266
I agree, adding a signature to something unknown may be a bit risky, but this would allow developers or repositories to add any additional metadata fields in a backwards-compatible manner for the updater.

[2021-01-26 17:29] trishankatdatadog commented on #1263
This requires some meditation TBH. There are generic cryptographic algorithms and then there are specific schemes. What code do we expect delegators and delegatees to write? I would approach it that way.

[2021-01-27 16:57] MVrachev commented on #1263
It makes sense and those are valid points if you ask me.
After all of your thoughts, I feel like the best option is to have a `Key` class in `tuf/metadata/api` representing exactly what is written in the spec and a different `Signer` class which contains a Key class instance, basically the way you initially proposed it.
That way you have a model literally representing a key the way it's defined in

[2021-01-28 14:15] lukpueh commented on #1263
That does make sense. But then every `SignerKey` must also expose a keyid. Because the caller is likely to store the signature bytes together with a keyid, otherwise the signature can't be mapped to a public key for later verification.

[code]

I think your proposal makes the `SignerKey.sign` interface a bit cleaner, but the overall `SignerKey` class a bit less blackboxy.

Yeah, unfortunately thes

[2021-01-28 14:32] joshuagl opened #1269 "Verifiably reproducible build artefacts"
**Description of issue or feature request**:

We can give users of our release artefacts (tarballs and wheels) greater confidence in the integrity of the artefacts and our development processes if they can verify that the artefacts we produced correspond to the signed tagged source code for the release.

We can achieve this through implementing [reproducible builds](https://reproducible-builds.org

[2021-01-28 14:34] lukpueh commented on #1263
...custom fields like the one on gpg signatures might also be an argument for `SigningKey.sign` returning a complex signature object.

[2021-01-28 14:35] joshuagl commented on #1269
Ensuring [`SOURCE_DATE_EPOCH`](https://reproducible-builds.org/docs/source-date-epoch/) is set (i.e. [this patch](https://github.com/joshuagl/tuf/commit/d116795becbd7f0a805c59a1b137ebab501e5877)) enables us to create verifiably reproducible wheels, but the tarball (sdist) is still not verifiably reproducible.

[2021-01-28 14:38] joshuagl commented on #1269
**Note**: I tried this on macOS and Fedora 33. I don't think the sdist being non-deterministic is host tool related.

[2021-01-28 15:54] MVrachev commented on #1263
It seems I misunderstand @lukpueh. Lukas seems to mean to combine `Signer` and the private part from the key.
I am only not sure about the `SignerKey` name. It feels a strange concatenation of the functionality it provides - signing and the data it stores - key data. Probably it makes sense just to call it `Signer` as it was originally proposed and it will have attributes representing key data.

Y

[2021-01-28 18:32] mnm678 commented on #1269
tar isn't deterministic by default, do they still differ when generated with [`--mtime`](https://wiki.debian.org/ReproducibleBuilds/TimestampsInTarball)?

[2021-01-28 21:37] joshuagl commented on #1269
Quite right, thanks for the link! Our sdist tarballs are generated by setuptools, which (so far as I could tell in the relatively brief time I spent looking today) has no option to specify mtime.

It's possible we just have to brute force this; unpack and re-pack the tarball with --mtime, use [`strip-nondeterminism`](https://salsa.debian.org/reproducible-builds/strip-nondeterminism), or similar.

[2021-01-28 21:48] sethmlarson commented on #1269
Hello! Dropping in to say it'd be nice if these techniques could be made available to the broader Python community somehow.

[2021-01-28 22:12] joshuagl commented on #1048
For the purposes of the PEP 458 integration this has been resolved by the merging of #1112.

[2021-01-28 22:12] #1048 closed, assigned to lukpueh

[2021-01-29 08:41] lukpueh commented on #1263
I'm fine with `Signer`. :)

SGTM! :)

I'm a bit unsure about that. I think in most cases `sign` can just return a generic `Signature` with a keyid and some raw signature bytes, independently of the key type, scheme, etc. used to create the signature. If we implement `verify` on the `Signature` class it has to account for all those variables, or, more likely, we'd use different `Signature` subclass

[2021-01-29 16:50] MVrachev commented on #1263
Yes, you are right. Those arguments are logical.

Today we had a quick discussion with @jku  about the `Signer` return type and he shared some concerns if we return our own `Signature` type.
Jussi, can you please add your opinion to the thread?

[2021-02-01 10:49] MVrachev commented on #1263
I just found out that we have to pass not only the `sslib_private_key_dict` in the `__init__`, but the whole key dictionary containing
the `keytype`, `scheme`, `keyid` and `keyval` containing both `private` and `public` key if we want to use `securesystemlib.create_signature(self.key_dict, payload)`.

[2021-02-01 13:36] jku commented on #1263
I think it was mostly that it seemed like an object isn't needed in this case at all (I'm assuming that usually when you sign something you are doing that to create metadata for the purpose of serializing it: an array of bytes is fine for that)?

Also I don't know how the opposite case (verifying portions of metadata while de-serializing it) is going to look like and that seemed more relevant for

[2021-02-03 15:58] lukpueh commented on #1263
@jku, this is roughly how canonicalization, signing/verifying and de/serialization currently play together:
[code]

Note that this might change in the future. Currently we are discussing an alternative protocol, which does not require parsing the full payload before verifying the signature (see  [Secure Systems Lab signing specification](https://github.com/secure-systems-lab/signing-spec/blob/mast

[2021-02-03 16:51] MVrachev commented on #1263
I have pushed the initial version of the signing interface and the necessary TUF changes to support it in the prs linked just above this. comment.

[2021-02-05 15:27] jku opened #1273 "deprecate settings module"
We should aim to deprecate and remove the settings module

Some of the settings should not be exposed and AFAICT none of them should be global variables.

This is likely to be implemented piece by piece so the bug may just be a reminder to do that.

[2021-02-05 15:34] jku commented on #1273
The issue here is how to deprecate a global variable in a reasonable way?

variables cannot be deprecated (in the sense that using them would lead to a DeprecationWarning). We could workaround by replacing settings with an object in module import, and then giving deprecation warnings on property access... but I'm not sure  the complexity is warranted here.

[2021-02-05 15:50] joshuagl commented on #1273
This might just be piecemeal as we implement new components during the rewrite and new code gradually moves away from `tuf.settings`. i.e. new client implementation has a new paradigm for constants and configurable settings.

See also https://github.com/secure-systems-lab/securesystemslib/issues/219

[2021-02-05 20:00] MVrachev commented on #1263
While working on SSlibSigner and GPGSigner I realized that if we want to store the necessary information to verify the signatures with `securesystemslib.kets.verify_signature() ` and `securesystemslib.gpg.functions.verify_signature()` we would need to add more key metadata in Signature.

For the SSlibSigner, we would need to add the key_dict: https://github.com/secure-systems-lab/securesystemslib/

[2021-02-05 20:43] MVrachev commented on #1263
Because of the above problem, I am not sure if I can create a relationship between the Signature class and the GPGSignature.
Before, I thought I can just inherit the `Signature` class used by the SSLibSigner and add specific fields related to GPG, but I am not that sure anymore.

With the observations from the above comment, I made the `Signature` class like this:
![image](https://user-images.gith

[2021-02-08 09:35] lukpueh commented on #1263
@MVrachev, I thought you agreed with my [arguments above](https://github.com/theupdateframework/tuf/issues/1263#issuecomment-769663999) for not implementing verification as method of the `Signature` class? (*And even if we did, I wouldn't store the public key on the `Signature` object but rather pass it to the `verification` method as argument.*)

[2021-02-08 11:23] MVrachev commented on #1263
Yes, we agreed that we would do the verification elsewhere.
I just thought we want to store all of the information needed for the signer verification in the Signer class.
We discussed that with Lukas and we would store only the `keyid` and the signature.
The `keyid` will give us the necessary additional information for the verification.

[2021-02-09 12:21] joshuagl commented on #1269
There have been pieces of work done in multiple places to support this:
* stalled PR against setuptools to have it respect `SOURCE_DATE_EPOCH` when creating an sdist: https://github.com/pypa/setuptools/pull/2136
* and another stalled PR against setuptools to respect `SOURCE_DATE_EPOCH` when creating an sdist: https://github.com/pypa/setuptools/pull/1512
* stable ordering of sdist contents for NixO

[2021-02-09 22:17] joshuagl opened #1276 "Make a final release supporting 2.7, then stop supporting EOL versions of Python"
**Description of issue or feature request**:

Cryptography is the latest one of our dependencies to [drop support for Python 2.7](https://cryptography.io/en/latest/changelog.html#v3-4), and one that seems unwise to try and pin. Given that the Python ecosystem, including many of our dependencies, continue to drop support for Python 2.7 it seems prudent to make a 'final' Python 2.7 supporting releas

[2021-02-09 22:23] joshuagl commented on #1246
GitHub's Security Lab have published some research and recommendations on securing GitHub Actions workflows:
* [Keeping your GitHub Actions and workflows secure: Preventing pwn requests](https://securitylab.github.com/research/github-actions-preventing-pwn-requests)
* [Keeping your GitHub Actions and workflows secure: Untrusted input](https://securitylab.github.com/research/github-actions-untruste

[2021-02-10 08:30] trishankatdatadog commented on #1276
Thanks for tracking this issue! This one needs some yelling as loudly as possible on our mailing lists, GitHubs, Slacks, Twitters, etc...

[2021-02-10 08:31] trishankatdatadog commented on #1276
Otherwise, we risk running into surprises like [this](https://github.com/pyca/cryptography/issues/5771)...

[2021-02-17 13:14] jku opened #1287 "Unexpected Coveralls failures on github UI"
Github shows the red checkmark in many places because of some Coveralls issue:

![Screenshot from 2021-02-17 15-09-45](https://user-images.githubusercontent.com/31889/108209089-8cd4ec80-7132-11eb-8ad8-ff25190b5a07.png)

* Clicking on the supposed failures details link leads me to a Coveralls page https://coveralls.io/jobs/75257608 which does not look like a failure
* I don't understand how the che

[2021-02-17 14:55] jku commented on #1287
This seems to have started happening between merges 8101c9e (no additional checks listed) and 768f9d8 (lots of coveralls checks listed) ? Either coveralls backend or the github UI integration must have changed.

I'm still completely baffled by *how* those Coveralls checks even appear on github?

[2021-02-17 15:01] lukpueh commented on #1287
Did you see my https://github.com/theupdateframework/tuf/pull/1284#issuecomment-780545320?

I'm pretty sure `coveralls.io` sends them because of ...
![Screen Shot 2021-02-17 at 3 59 42 PM](https://user-images.githubusercontent.com/589324/108222575-33bc8700-7139-11eb-973c-0f46e527b664.png)

What I don't understand is why it does not send them reliably. I wonder if there's a log somewhere on GitHub

[2021-02-17 17:52] rzr commented on #263
hi, I can help on this as Debian maintainer ( https://qa.debian.org/developer.php?login=rzr@users.sf.net )  I won't be able to upload anything but i can share my experience and I would try to see if python team would be interested into co-maintenance.

https://mentors.debian.net/package/python-tuf/ is no more online

[2021-02-18 03:50] trishankatdatadog commented on #263
That would be great, thanks @rzr!

[2021-02-18 10:04] joshuagl commented on #1130
The approach I would take to this research project, is:

__Understand the current validation mechanism in use__:
* Review `securesystemslib.schema`, its purpose and its [flaws](https://github.com/secure-systems-lab/securesystemslib/issues/183).
* Review in-toto's [`ValidationMixin`](https://github.com/in-toto/in-toto/blob/74da7a/in_toto/models/common.py#L27-L40), which validates metadata in memory

[2021-02-18 11:20] jku commented on #1287
Thanks, I missed that. You're correct. Confusingly the list in my screenshot includes two different things: checks (which are done in github apps) and statuses (which can be done via API). Example statuses for a commit: https://api.github.com/repos/theupdateframework/tuf/commits/cf2e8466fac17f186323338ad08ab47b63f3f63f/status

The related issues are:
* status state can be "failure" for a job that

[2021-02-19 16:50] MVrachev commented on #1255
I created a Windows VM,  wrote a small python script that creates a python subprocess running the `test_utils.py` module
and run it with `python 3.6`.

I run it into a loop.
After 2419 iterations I get one unit test failing with the following error:
[code]

but it seems to me that this error is not related.

[2021-02-20 18:08] MVrachev commented on #1255
Second time received that exception on iteration number 4545.

[2021-02-22 08:59] jku commented on #1255
well that's annoying. The only idea I have is that the full suite run somehow uses all of [some operating system resource] that then triggers an issue in TestServerProcess. So you could try running the full suite a couple of hundred times (stopping on error)... but this might depend on the exact setup of the VM/machine.

Other than that, I think we just have to leave this open: if it does not not

[2021-02-22 09:22] jku opened #1290 "Ugly pip resolver workaround in tox configuration"
We're currently enabling the legacy pip resolver in our tox.ini. The reason is working around https://github.com/pypa/pip/issues/9215 that lead to hundreds of unnecessary package downloads from pypi

I'm not 100% sure the problem has otherwise disappeared but newest pip has added more info about package conflicts (this happens in the with-sslib-master tox configuration if the resolver hack is remo

[2021-02-23 09:34] lukpueh commented on #808
Re  client update process steps (https://github.com/theupdateframework/tuf/issues/808#issuecomment-539587134):

@MVrachev has kindly updated them in `client/updater.py` and `client/README.py`. 🎉

[2021-02-23 14:31] #1263 closed, assigned to nobody

[2021-02-23 14:50] MVrachev commented on #1263
I will add a `GPGSigner` in another pr, but I decided to mark this issue as `fixed` in my pr #319 because it fixed the main point of this issue - creating a `Signer` interface and a securesystemslib implementation of it.

[2021-03-02 10:46] rzr commented on #263
Hi, Let me share some updates about this task.

I have just applied to join this team:
https://lists.debian.org/debian-python/2021/03/msg00005.html

I intend to do the initial integration, if previous packagers want to be mentored let me know
we can share the effort, but as you might know Debian 11 is now entering the freeze period,
so next release should be the target.

Meanwhile I have shared pa

[2021-03-02 16:32] sechkova commented on #1161
I am sharing, after of a brief research on the topic, a list of the current issues with suggestions on how to move forward.
_Please (dis)agree, add missing information, correct me if I am wrong._

 **1. Lagging behind from the latest PyPA recommendations and PEPs ([517](https://www.python.org/dev/peps/pep-0517/), [518](https://www.python.org/dev/peps/pep-0518/))**

The obvious proposal here is to

[2021-03-02 22:28] rzr commented on #1262
your change looks good,
I've checked it applies well to current develop branch,
feel free to open a pull request to get it merged.

[2021-03-03 07:49] jku commented on #1257
last windows builds are >2 minutes faster :+1: :+1: thanks @sechkova

[2021-03-03 07:49] #1257 closed, assigned to nobody

[2021-03-03 07:50] jku commented on #1213
Implemented in #1250!

[2021-03-03 07:50] #1213 closed, assigned to nobody

[2021-03-03 09:54] joshuagl opened #1296 "Remove use of six"
**Description of issue or feature request**:

Following the release of tuf 0.17.0 (see https://github.com/theupdateframework/tuf/pull/1284) we are no longer supporting Python2, and have started to remove uses of Python2 in #1293 (see also #1276).

[Six](https://six.readthedocs.io) is a Python 2 and 3 compatibility library, which is clearly no longer required.

**Current behavior**:

Six is marked

[2021-03-03 09:58] joshuagl opened #1297 "Remove uses of `from __future__ import`"
**Description of issue or feature request**:

Following the release of tuf 0.17.0 (see https://github.com/theupdateframework/tuf/pull/1284) we are no longer supporting Python2, and have started to remove uses of Python2 in #1293 (see also #1276).

Various incompatible changes were made available to Python 2.7 via the [`__future__`](https://docs.python.org/3/library/__future__.html), where importin

[2021-03-03 09:58] jku commented on #1287
So based on helpful debugging by @afinetooth what we're seeing is
* a bug in coveralls (it thinks the coverage changed by -0.0% when there was no change)
* this is made worse by our threshold settings that mean any negative change is considered "failure"
* unexplained behaviour where sometimes only some builds appear as github statuses

Additionally:
* **the coverage statuses do not seem to appear

[2021-03-03 10:41] #1276 closed, assigned to nobody

[2021-03-03 12:27] joshuagl commented on #1178
#1294 suggests our current Tox configuration is not correctly linting the new code (in tuf/api/), even though we have a Pylint statement in Tox and a minimal configuration file for the new style.

[2021-03-03 12:35] joshuagl commented on #1161
Thank you for doing the research Teodora!
1. seems very reasonable. `build` gives us build isolation, which in my opinion warrants the switch. What else do we gain by switching to build? Is it just a simpler/more consistent interface for building than invoking setup.py?
2. seems reasonable also
3. Python 2.7 is gone 🎉

It would be great to handle the things you listed in 1. and the setuptools_scm

[2021-03-03 13:14] lukpueh commented on #1287
Thanks for investigating this and sharing your insights, @jku! Here's what I think:

- IMO coveralls.io is useful for two things:
  - Notifying a PR author/reviewer that coverage decreased, so that they can add/request more tests (<- does not work)
  - Providing a nice web UI, to browse the code and easily see missed code branches per build, as they might differ between Python versions and platfor

[2021-03-03 13:39] rzr commented on #1178
tox is linting the code but I noticed that different pylint versions produce different warnings with current rc file.
Maybe some params can be added to prevent this kind of ambiguity.

I'll comment https://github.com/theupdateframework/tuf/pull/1294

now back to this ticket, It made sense to align to default configuration, now if there is a need to enforce custom ones , may I suggest that we progr

[2021-03-03 14:54] rzr commented on #1262
ok perfect then please verify and check that the pull request fulfills the following
requirements:

https://github.com/theupdateframework/tuf/pull/1298

you only need to tick boxes, this is a way to prevent to get untested code in.

[2021-03-06 14:26] MVrachev commented on #1255
I tried a couple more times.
The problem I have is that in order to run the `test_util.py` extensively it requires a lot of time on my local machine and because I am
using another VM for other stuff my RAM just finished at a certain point and I receive the above message.

I just finished 23181 iterations and wasn't able to reproduce the documented error.

Probably it's something specific to the Gi

[2021-03-08 17:32] lukpueh commented on #1178
Thanks for chiming in, @rzr!

pylint --generate-rcfile > tuf/api/pylintrc

Yes, that's a great idea! Same should go for adopting the rules in the code. See e.g. https://github.com/in-toto/in-toto/pull/296/commits, where I grouped changes by rule and commit, which IMO makes review a lot easier.

Regarding  https://github.com/theupdateframework/tuf/pull/1294#issuecomment-789728670 ...

No, not at al

[2021-03-09 08:13] lukpueh commented on #1161
Thanks for the great summary, @sechkova! I second @joshuagl's comment, plus:

Any recommendations on tools?

Did you see how other projects do this? in-toto/in-toto#294  -- i.e. un-pinned direct deps for user installs vs. pinned + auto-updated direct and transitive deps for CI/CD -- felt like a good but very custom solution. I'd be curious if there are better or more common practices. Also in rega

[2021-03-09 15:12] sechkova commented on #1161
I am wary of recommending tools that I haven't used, especially with no experience in the packaging world. However, @joshuagl may be interested in `flit` which has some support for [reproducible builds ](https://flit.readthedocs.io/en/latest/reproducible.html).
I will share if I come across something promising.

On the second part of the problem, dependencies resolution, I couldn't find any differ

[2021-03-09 15:22] sechkova commented on #1161
My understanding at this point is that `build` simply "invokes the correct PEP 517 hooks to build a distribution package".  Maybe the end result will be the same as with `setup.py` since we use `setuptools` anyway or maybe some config may misbehave ... I can only speculate before trying it.

[2021-03-09 16:40] joshuagl commented on #1161
Ah, interesting. flit might be a good stop-gap for achieving #1269. I'll mention it in that issue, thanks @sechkova !

[2021-03-09 16:42] joshuagl commented on #1269
in #1161 @sechkova has discovered [flit](https://flit.readthedocs.io/)

[2021-03-10 15:26] MVrachev commented on #1130
The initial version of the ADR addressing this issue is out: #1301.
It contains only two options for now `ValidationMixin` and `pydantic`.

[2021-03-11 09:53] sechkova opened #1303 "Improve RequestsFetcher cleanup mechanisms"
**Description or feature request**:
Implement `RequestsFetcher` as a context manager and/or provide public cleanup method to be called by its users (for ex. `fetcher.close()` )

**Current behavior**:
`RequestsFetcher` internlly tracks all exit paths to release allocated resources which is error prone.

**Expected behavior**:
Reliably release all resources allocated by `RequestsFetcher`.

[2021-03-11 12:39] #1262 closed, assigned to nobody

[2021-03-11 13:20] jku commented on #1303
I think fetch() being a CM might make sense (if it makes the client code nicer) but I don't believe it makes it any easier to handle cleanup...

The only resource (that requires handling)  in RequestsFetcher is the requests.Response: this is tricky because we return a generator function that owns the Response but otherwise I think there's nothing that requires attention.

`fetcher.close()` could n

[2021-03-12 10:55] sechkova opened #1304 "Remove `MetadataWrapper` class"
I find it a bit paradox that `MetadataWrapper` is another container on top of `Metadata`, adding another level of nesting, when most of the methods/properties are actually shortcuts to attributes contained somewhere in `Metadata`. If we want a client-variant of `Metadata`, I'd maybe use inheritance instead of composition. 🤷

But maybe we don't even need it. Let's quickly go through the individual

[2021-03-12 12:22] sechkova opened #1305 "Add 'expired' method to Signed class"
**Description of issue or feature request**:
Add a method of `Signed` metadata class returning information about metadata expiration given a reference time.

**Current behavior**:
`Signed` class already contains expires, a metadata expiration datetime object.

**Expected behavior**:
A method exists that checks the 'expires' attribute against a reference time.
`def is_expired(self, reference_time:

[2021-03-12 12:23] sechkova commented on #1305
`tuf.formats` already provides some convertion functions:
https://github.com/theupdateframework/tuf/blob/2c360d0538f73a59854add867234f48a47f7d9a3/tuf/formats.py#L616
https://github.com/theupdateframework/tuf/blob/2c360d0538f73a59854add867234f48a47f7d9a3/tuf/formats.py#L646

[2021-03-12 12:33] sechkova opened #1306 "Implement verification by a threshold of keys"
**Description of issue or feature request**:
A verification of signed metadata by a threshold of keys is needed both for client and repository.

`Metadata` already has vanilla one-signature verify and could potentially be the right location for this implementation. See https://github.com/theupdateframework/tuf/pull/1060#issuecomment-660056376 for thoughts about that distinction.

[2021-03-12 15:43] sechkova opened #1307 "Split Updater into logical components: redesign mirrors.py and download.py"
**Description of issue or feature request**:
A clear separation between file download logic and metadata verification in Updater. Design and implement appropriate class, part of the client internals, that performs all metadata/target files download operations.

This should happen together with a redesign of the  `mirrors` and `download` modules and considering the recent addition of `fetcher` and

[2021-03-12 15:49] sechkova opened #1308 "Split Updater into logical components: bundle metadata"
I think this the right time to try splitting the Updater functionality into meaningful components -- the Metadata API does a good bit of that already but I think Updater is still going to be too large and should be split if possible  (and I think it is possible, also tuf-on-a-plane has some useful ideas). Listing some Updater functionality below for inspiration:
* implement the TUF update process

[2021-03-12 15:57] sechkova opened #1309 "Add/rewrite tests for the refactored client"
**Description of issue or feature request**:

A placeholder to mark the need of reviewing the existing tests once the client refactor has progressed enough.

Sync with #1129

[2021-03-12 16:24] sechkova opened #1310 "Add consistent_snapshot to the client workflow"
**Description of issue or feature request**:
Implement client workflow logic when consistent_snapshot is set.

Sync with #1308

[2021-03-12 16:27] sechkova opened #1311 "Record fixed update start time in client workflow"
**Description of issue or feature request**:

Record fixed update start time as per the specification:
https://github.com/theupdateframework/specification/blob/master/tuf-spec.md#record-fixed-update-start-time--fix-time

Sync with: #1308

[2021-03-12 16:30] sechkova opened #1312 "review/document client exceptions"
**Description of issue or feature request**:
Revise and implements client exceptions handling

**Current behavior**:
Not all thrown exceptions are documented or handled by the client.

**Expected behavior**:
Implement proper exception handling and document the API

Sync with #1131

[2021-03-12 16:42] sechkova opened #1313 "Keep track of currently valid set of metadata in Updater"
**Description of issue or feature request**:

Define and init sequence for Updater.
Define what is the currently valid set of metadata and is  refresh() the only wait to achieve it.
Is keeping current/previous metadata enough for this?
Do we need a VCS-like functionality?

See https://github.com/theupdateframework/tuf/pull/1291#issuecomment-793607482, https://github.com/theupdateframework/tuf/pull

[2021-03-17 10:09] #1290 closed, assigned to nobody

[2021-03-18 12:40] jku opened #1316 "fix imports (to be vendoring compatible) in client refactor"
**Current behavior**:
There are imports like `import tuf.settings` which are not compatible with vendoring

**Expected behavior**:
Use `from tuf import settings` (or import specific names from the module if the case requires it)

[2021-03-18 12:44] jku commented on #1142
This is now possible with #1250!

[2021-03-18 12:44] #1142 closed, assigned to nobody

[2021-03-18 13:07] jku opened #1317 "client refactor: consider API changes"
We should consider if we want to  additions/changes to the API -- this would be a good time for them.

Possibilities:

**1. Namespace shortening**: currently using the client looks like this:
[code]
This is a small thing maybe but having both client **and** updater module does not seem useful: I think we could just as well have
[code]
This should be possible by having a `client/__init__.py` that e

[2021-03-18 13:17] jku opened #1318 "client refactor: review file object handling"
There's a lot more manual file closing (`temp_obj.close()`) than I'd like and I can already see bugs: the same file object gets closed multiple times on some exceptions.

Let's do a comprehensive review and aim to A) get rid of as many manual `close()`s as we can and B) make the remaining ones more obviously correct

[2021-03-18 13:19] joshuagl commented on #1317
1. I'm 💯 for the namespace shortening.
2. I do want us to think about the mirrors, it's a popular topic #1307 and #1143.
3. I like both of these suggestions, we also have https://github.com/theupdateframework/tuf/issues/1135 has some additional thoughts on client API

[2021-03-18 13:28] joshuagl commented on #1136
I think a good place to start with this would be looking at what scaffolding Warehouse ends up building on top of the metadata API.

https://github.com/pypa/warehouse/pull/7488
https://github.com/pypa/warehouse/pull/8955

[2021-03-18 13:31] jku opened #1319 "client refactor: review _get_*_meta_name() usage"
Simplify and remove duplication from metadata filename handling (_get_relative_meta_name(),_get_full_meta_name())

* remove duplication
* probably no need to make the extension modifiable: .json is fine
* there are cases of _get_full_meta_name('timestamp.json') -- this seems like a bug?

[2021-03-18 21:07] mnm678 commented on #1317
I'm not sure if we should design for not-yet-accepted TAPs (we probably shouldn't), but there might be a way to combine the mirrors functionality with the client configuration in TAP 13 (#1103) and possibly also TAP 4 into a more general 'configurations' API, where the client could set these options before using `client.Updater`.

[2021-03-23 15:44] sechkova opened #1320 "Remove temporary commits"
**Description of issue or feature request**:

Remove commits that:

- temporary reduce code coverage percentage: 5c58c1e
- temporary disable linter checks: d252818, 062bda4

[2021-03-26 16:08] rzr commented on #263
Hi,
Some updates on this effort,
I am now part of debian python team so I was able to create this project

https://salsa.debian.org/python-team/packages/python-tuf/-/merge_requests

As said previously I'll use pypi packages as source,
but I'll forward my patches to upstream debian branch

Please review this 1st batch:
https://github.com/theupdateframework/tuf/pull/1300
and I'll open PR for remaini

[2021-03-29 10:16] joshuagl commented on #1305
Is a UNIX timestamp the preferred type for `reference_time`? Rather than a raw expiration string or a Python datetime object?

[2021-03-29 13:20] lukpueh commented on #1305
What's the intended use case? Would any of the datatypes be more convenient for the caller, that is which datatype would require the least preliminary conversion?

I lean towards making `reference_time` a datetime object, for consistency with the type of the Metadata `expires` field. And I'd also make `reference_time` optional and default to `datetime.now()`.

[2021-03-29 13:57] joshuagl commented on #1305
Fully agreed with both comments. I have a WIP patch that takes a datetime object for `reference_time` and defaults to `datetime.now()` when no `reference_time` is passed.

I believe the motivating use-case is expiration checks in the experimental client, so I'll wait for @sechkova to comment on whether a `datetime` object is useful.

[2021-03-29 14:50] sechkova commented on #1305
No strong preferences, the client will use whatever  we choose :)
I agree with using `datetime` objects plus the `datetime` module seems to be less platform dependent than `time` (which can be used to return UNIX time).

Let's make sure we enforce UTC times everywhere.

[2021-03-30 07:45] lukpueh commented on #1249
FYI: I recently did this for in-toto: https://github.com/in-toto/in-toto/pull/438/commits/4ce69eaa45fbc569baa80cef76c5bcd64f2bc685

I think we can do the same here and go back to just using `pip-compile` without any postediting. Regardless, we should consider `pip-compile`ing automatically on a regular basis to account for changes (addition/removal) in transitive dependencies.

[2021-03-31 13:33] jku commented on #1317
Another thing I've not mentioned: currently it's not possible to download without writing to a file. Usually that's fine but the pip index files might be a use case that would benefit from doing that: the code currently opens and read()s the file immediately  after download succeeds...

[2021-04-06 09:59] sechkova opened #1332 "Revise the disabling of broad-except pylint warning (W0703)"
**Description of issue or feature request**:
An (anti)pattern starts to appear in the newer code (where stricter `pylint` checks are applied), a tendency to disable [broad-except ](https://pycodequ.al/docs/pylint-messages/w0703-broad-except.html) warnings.

Even though each case has its arguments, we should as a minimum make sure we [log the exception](https://realpython.com/the-most-diabolical-py

[2021-04-06 10:37] sechkova commented on #1332
This issue is directly related to the newer parts of code (`api/*`) where the new `api/pylintrc `config applies:
[code]
In the top-level `pylintrc` used by the rest of the code the `broad-except ` warning is disabled globally.

[2021-04-06 10:50] MVrachev opened #1333 "New API: Don't hardcode metadata files extension"
**Description of issue or feature request**:
In a review of a pr adding additional classes in the metadata API, @sechkova noticed that we have hardcoded
the usage of JSON files representing our metadata files after the implementation of abstract (de)serializer  [here](https://github.com/theupdateframework/tuf/pull/1279).

For context: [Teodoras comment](https://github.com/theupdateframework/tuf/pu

[2021-04-06 11:38] sechkova opened #1334 "Use lazy (old style %-format) log formatting in the new pylint config"
**Description of issue or feature request**:
Using f-strings (and all types of string formatting except %-syle) in logging messages is not lazy evaluated so linters "recommend" %-style formatting.

Should we disable the related pylint warnings and use f-strings:
[code]
or adhere to the recommendation.

**Current behavior**:
Top-level `pylintrc` disables logging that recommend lazy formatting globa

[2021-04-06 11:41] sechkova commented on #1334
An example approach to avoid the warnings while using f-strings which feels more like a workaround: 438c0a0

[2021-04-06 13:25] joshuagl commented on #1316
Fixed in #1328

[2021-04-06 13:25] #1316 closed, assigned to nobody

[2021-04-06 13:38] joshuagl commented on #1136
See also a WIP addition to the specification describes the repository workflow for adding/updating targets which this library should implement: https://github.com/theupdateframework/specification/pull/153

[2021-04-07 07:57] jku opened #1335 "lint/CI: Use mypy for static type checking"
We should start running mypy in CI (probably in tox "lint" environment). This would enforce type annotation use and would check types at compile time.

Possibly we only want to do this to "new code" like `api/` but it might be worth it to add annotations to everything (I'm not sure how much work this is).

**Current behavior**:
* type annotation use is not enforced
* types are not checked at compi

[2021-04-07 07:58] jku commented on #1335
I'm not sure if this is a "good first issue" but getting started should not require deep knowledge of tuf.

[2021-04-07 08:43] jku commented on #1334
It's annoying to use a different formatting method for logging than anything else but the reasoning is solid... Most of our logging is not in a "hot loop" but some debug logs really might be used quite a lot (and the workaround only hides the warning, not the potential performance issue in those cases).

I think using %-style is fine for logging: `logger.debug("processing, a=%s", a)` but it's not

[2021-04-07 09:34] MVrachev commented on #1333
Added commit https://github.com/theupdateframework/tuf/pull/1329/commits/15723859dfefd6bc9412f7bbc172fe1f2570297b which removed part of the places where we used
hardcoded `JSON string and added support for other file extensions in the `Timestamp` class.

[2021-04-07 10:49] avelichka commented on #1296
Hi folks,

I'd like to work on this issue if it's OK :)

[2021-04-07 11:38] sechkova commented on #1132
Another logging-related discussion: #1334

[2021-04-07 11:43] sechkova commented on #1309
Sync with #1129

[2021-04-07 11:48] sechkova commented on #1332
Sync with #1178

[2021-04-07 12:53] joshuagl commented on #1057
Resolved obsolete by #1213

[2021-04-07 12:53] #1057 closed, assigned to nobody

[2021-04-07 13:27] sechkova opened #1336 "Implement from_object/from_string method in Metadata class"
**Description of feature request**:
Implement a class method in `Metadata` class, similar to the existing `from_file` method but taking a file object as an argument.

See #1304 for context.

[2021-04-07 13:32] joshuagl commented on #1335
Some good pointers in the mypy docs, such as [Using mypy with an existing codebase](https://mypy.readthedocs.io/en/stable/existing_code.html) and the [import cycles](https://mypy.readthedocs.io/en/stable/runtime_troubles.html#import-cycles) section of the runtime troubles document.

[2021-04-07 13:52] sechkova commented on #1304
Steps that I suggest should be followed for completing this issue:

- [x] ~Implement from_object method in Metadata class~ #1336
- [x] ~Implement 'expired' method in Signed class~ #1305
- [ ] Implement verification by a threshold of keys #1306
- [ ] Replace calls to `MetadataWrapper.from_json_file` with the available `Metadata.from_file`
- [ ] Replace calls to `MetadataWrapper.from_json_object` wi

[2021-04-07 13:59] sechkova commented on #1307
There is an ongoing work addressing this issue #1331

[2021-04-07 14:02] jku commented on #1318
I'll take this as an excuse to get more familiar with the code

[2021-04-07 14:08] jku commented on #1336
I assume this is useful because client does not write new metadata to disk before it's verified so at that point there's only a file-like object but we want to instantiate the Metadata to verify it is correct?

I guess the other alternative to `from_object()` is `from_string()` (and client would then call `from_string(tmp_file.read())`). I don't think it's clearly better just thinking out loud.

[2021-04-07 15:09] sechkova commented on #1336
Yes, exactly.

You don't like a function signature with the vague definition of a file object? :)
String would be ok, raw bytes too, no need to be a file object with its associated methods.

Now that a separate serialisation was implemented, all we need is basically a method that calls  [deserialize](https://github.com/theupdateframework/tuf/blob/cd39bff1e5712f6ca9ebfd579ae8a52752159241/tuf/api/se

[2021-04-07 15:17] sechkova commented on #1336
Something like the existing `from_file` but without the actual file read from the file system:

[code]

[2021-04-08 10:47] sechkova commented on #1334
And then there is [this issue](https://github.com/PyCQA/pylint/issues/3362) when trying to use %-style formatting but you've set up `pylint` to `logging-format-style=new`.

[2021-04-08 10:55] jku opened #1339 "experimental client: download functions review"
Current state of _mirror_target_download() and _mirror_meta_download() in experimental client is a bit bad:
* they are actually iterators that keep returning unverified file objects to the caller, this seems unusual and surprising: I was expecting them to return a verified file object
* caller is expected to verify the contents --- this makes some sense as the verification is different for e.g. ro

[2021-04-08 11:13] jku commented on #1339
this is very much related to #1318 -- the tricky file object handling is in these two functions and in the callers

[2021-04-08 15:33] MVrachev commented on #1266
It seems to me all of us agree that there are multiple good reasons why we would:
1) not drop or ignore additional unrecognized fields
2) store those additional fields as an attribute, I would call it `additional_kwarg`
3) don't use them in any way other than:
- initiating an object (or in the new metadata API terms call `from_dict()` )
- give a dictionary representation of our class (or in the ne

[2021-04-08 16:15] joshuagl commented on #1266
Something like `additional_fields` or `unrecognised_fields` might be a more descriptive name?

I think that would be useful. No need for it to be a significant document, we just want to ensure we capture the implication in the spec that metadata may contain unrecognised attribute-value fields and that we should handle those in our implementation.

[2021-04-08 16:23] MVrachev commented on #1266
I liked `unrecognised_fields`. I agree this is a more descriptive name.

The document will be small this time, I promise it won't be ADR 7 size. :D :D

[2021-04-09 08:03] jku opened #1344 "tests: WinError 32 on CI again"
While deleting the temporary directory:

`PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: `

While my initial reaction is that this some Windows BS again... maybe there are broken tests. Our test setup is in some cases unnecessarily complex and could hide issues.

Full log from https://github.com/theupdateframework/tuf/pull/1337/checks

[2021-04-09 08:31] jku commented on #1334
I had understood that using %-style implies means we would need to use `logging-format-style=old` anyway (or rather not set it as that's the default)? Pylint docs really could have more examples.

[2021-04-09 09:35] jku commented on #1344
from teodora:

This explains why line 164 "succeeds" -- it just quietly fails to remove  the directory.

[2021-04-09 11:31] #1296 closed, assigned to avelichka

[2021-04-09 14:29] joshuagl commented on #1306
When computing whether the threshold of signatures has been met, we need to be sure that only a single valid signature is counted for each keyid in the signatures list.

This prevents a malicious key owner from signing metadata multiple times to meet the threshold.

For more details see: https://github.com/theupdateframework/tuf/security/advisories/GHSA-pwqf-9h7j-7mv8 and https://github.com/theupd

[2021-04-09 18:18] mnm678 commented on #1306
Good catch @joshuagl. Depending on how keyids are computed or validated, we may also need to ensure that each actual key is only counted once (and not, for example use both the sha256 and sha512 keyids for the same key). There's some discussion about this in [TAP 12](https://github.com/theupdateframework/taps/blob/master/tap12.md)

[2021-04-12 07:27] #1297 closed, assigned to nobody

[2021-04-12 13:33] joshuagl commented on #1306
Indeed, I considered multiple keyids for the same key but decided not to mention it as the current specification requires keyids be the sha256 hash of the key's canonical form. I agree it would be worth trying to implement threshold computation in  a forward-thinking way if it doesn't complicate things too much, that probably means ensuring that signatures are unique, keyids are unique, and that e

[2021-04-12 14:16] jku opened #1348 "tests: test infrastructure (setup/teardown) improvements"
(Documenting test improvement ideas from #1346)

A lot (most?) of our tests require a test server (or several). This typically means moving metadata from sources to a temp directory, serving the temp directory and finally removing the temporary directories. Modified_Testcase handles parts of that but it seems obvious that A) it does not provide the required functionality (as tests re-implement a l

[2021-04-12 14:19] #1344 closed, assigned to jku

[2021-04-14 09:59] KainaatSingh opened #1349 "Update python commands in documentation"
**Description of issue or feature request**:
With the release of tuf 0.17.0 python2 support was removed. Parts of the documentations contain commands that state the usage of python instead of python3 and pip instead of pip3. The commands with "python" will not work outside the virtualenv. It would help to explicitly state "python3" and "pip3" here.

It would be helpful to agree on as to where and

[2021-04-14 10:43] jku commented on #1349
This depends, it does work in some OSes / install methods... but consistency is good so I think this is a good idea.

`python3 aggregate_tests.py` looks obviously correct to me. https://docs.python.org/3/installing/index.html seems to suggest following would be best for pip calls: `python3 -m pip install -r requirements-dev.txt`.

[2021-04-14 11:59] jku opened #1350 "Let's not use pre-release versions of tools in tox environments"
We do `pip install --pre ...` in tox.ini. This means our testing tools like coverage, black, isort etc (and I suppose their dependencies) may be pre-releases.

This has been the case since 2015 but it sounds like a bad idea. Should we drop the `--pre`?

[2021-04-15 06:58] jku commented on #1339
I think this is a good place to document the discussion from yesterday (@sechkova can fix mistakes): We've come to the conclusion that separating the download/mirror functionality as I suggested does not work better than the "old way".

There's two things interacting here: the need to download a file from possibly multiple mirrors and the validation and verififcation of that file -- we don't know

[2021-04-15 07:02] trishankatdatadog commented on #1339
If it makes the code simpler, we should just do away with mirrors. No one really uses them anymore.

[2021-04-15 07:04] jku commented on #1339
ha! I just added an edit mentioning that :)

Unfortunately pip does need multiple hosts for targets. It's not quite the concept of mirrors (the hosts don't have the same targets) but currently the mirrors configuration can be used for it with some wrestling

[2021-04-15 07:17] jku commented on #1339
Still, now that you said it: if we slightly modified how the mirrors work, they would be much easier to work with:
* if a metadata/target is found on a mirror then other mirrors will **not** be queried about it, even if the file fails to validate/verify (currently all mirrors are tried in this case)

This change would make the whole mirroring quite a lot simpler. Obviously it would mean a maliciou

[2021-04-15 07:43] jku commented on #1313
So what I've been playing with is a "metadata bundle" that tracks clients current valid set of metadata. Purpose is to:
 * Make it easy to verify that the TUF spec is being followed while making the mostrous update loops readable
 * Make sure clients whole set of metadata is consistent when new metadata is added
 * Persist the metadata on disk / load metadata from disk

Explicitly purpose is not t

[2021-04-15 10:01] jku commented on #1306
So the problem space is this:
* Root contains keys and thresholds for top level metadata
* delegating (targets) roles contain keys and thresholds for their delegated roles
* The "metadata controller" (client code or some repository tool) wants to verify all metadata using the correct keys and thresholds from the delegating role in a way that makes it clear what is happening
* "key uniqueness" wrt

[2021-04-15 10:28] sechkova commented on #1306
For options 2 and 3, delegated roles need to be aware of their parent (delegating role) to retrieve the correct keys/threshold which, except for the case when the parent is root, is not trivial because it is not stored in the metadata.

[2021-04-15 10:55] MVrachev commented on #1306
It could be added to the metadata if we decide.
Delegations are not yet implemented and we can add info about the parent.

I feel like the first option makes the most sense to me, but I am wondering how it will look like from an implementation perspective.
Especially in the case of delegations and when then can be multiple levels deep.
It seems we would have to be able to recursively verify the de

[2021-04-15 11:18] sechkova commented on #1306
I was referring to the specification, but yes, it can be extended in the implementation.

This needs to happen in all cases

[2021-04-15 11:29] jku commented on #1306
in the hypothetical examples I was thinking this code is in e.g. client Updater and it would handle the "delegation tree" and would know who can verify who (updated comment to explain that).

[2021-04-15 12:33] jku opened #1351 "Exceptions in metadata API, especially verify()"
I've just tried verifying metadata using the new API. I wanted to do this:
[code]
but it looks like I'll end up with

[code]
It feels like we could do better.

This issue is about exceptions handling in general but I'm fine if the solutions are case-by-case (like maybe verify specifically just does not need to throw at all).

Some specific issues:
* It feels like in most cases bleeding these secur

[2021-04-15 12:44] jku commented on #1165
well this one's done already

[2021-04-15 12:44] #1165 closed, assigned to nobody

[2021-04-16 05:49] #1305 closed, assigned to nobody

[2021-04-16 05:52] jku commented on #1306
What makes this annoying is that delegation data is just different enough in Targets and Root that sharing an implementation is a bit difficult.

I've got a prototype of option 1 https://github.com/jku/tuf/commit/3cf353b45ed9b986bfa3c6b0ec6e0ed762331c7e

[2021-04-16 08:36] #1266 closed, assigned to nobody

[2021-04-16 11:28] jku commented on #1336
looks good to me -- `str` seems to make sense as type to me

[2021-04-16 16:09] jku commented on #1306
I guess this could actually be a Metadata function as well (and not a Root/Target function):

    md.verify_delegate_with_threshold("timestamp", unverified_metadata)

in this case there would be code in metadata that would do one thing if self.signed._type=='root' and and another if self.signed._type=='targets' ... A bit ugly but could work: https://github.com/theupdateframework/tuf/compare/develo

[2021-04-19 08:26] jku commented on #1351
I think a way forward is to just review all case individually and afterwards try to come up with generic rules.

I think there are cases where we do want to throw but do not want to document it: these are "internal  error" cases that should not happen and that users cannot realistically prepare for. These should be documented in code though

The other group of errors here are the ones that are a r

[2021-04-19 08:46] jku commented on #1313
After some quick experiments these properties seem to make sense and would work:
 * Verified metadata is always persisted on disk ASAP
 * there is a single definition of "now": this decides all expiry checks. This moment is likely decided by the final root metadata update (this is the first time an expiry check is made during the process)
 * hard-coded "now" means there is no "re-loading" of stale

[2021-04-19 12:55] joshuagl commented on #1350
If we don't have a good reason to keep it, or don't know what the good reason was, I vote we drop use of `--pre`

[2021-04-20 11:46] MVrachev opened #1356 "New metadata API: Validate dictionary keys as well as values"
**Description of issue or feature request**:
By resolving issue #1139 we are going to add classes for all complex fields inside the top-level metadata classes e.g. `meta`/ `targets` (in Timestamp, Snapshot, Targets), `delegations` (in Targets), `keys`/`roles` (in not yet existent Delegation).

The problem is, that many of those complex fields are represented by a dictionary and we are adding class

[2021-04-20 14:17] sechkova commented on #1339
Decided to take a step back, implement the mirrors download in a clean but very repetitive way inside Updater and add some additional clean up of temporary objects: #1352.
This cleaner implementation should serve as a base for next improvements: reducing code repetition together with metadata "bundling".

[2021-04-21 07:10] jku commented on #1313
Previous comment still stands otherwise but I'll document new thinking on the internal state: Specification says that we should download each top-level metadata on an update cycle and this is how I built the state transitions... but we don't really want to do that: if we are 100% sure we have the correct file already there's no need to download (this can be the case with at least targets and snaps

[2021-04-21 08:56] jku opened #1357 "review metadata api docstrings before release"
This came up in #1354: let's check that our api docstrings are consistent -- the specific case was "Optional" in the docstring:
[code]
This is from a google style guide example and is used when the argument has a default value (not when the argument is a `Optional[T]`).

[2021-04-21 08:57] #1336 closed, assigned to jku

[2021-04-21 17:31] jku opened #1361 "API : Add hash verification for timestamp/snapshot/targets"
Feature request: Would be nice to have hash verification builtin to the API: it's not a massive amount of code but a single call to a function with a descriptive name is a lot better than 6 lines of sslib-calling code...

I can see a couple of options:

[code]
or, as alternative to both of those, with MetadataInfo Martin is building in #1329 :
[code]
Last one is probably the correct place.

I'm no

[2021-04-22 13:56] joshuagl commented on #1306
(Apologies for the brevity of this drive-by comment)

I think delegator verifies the delegated  is the right approach (I do not like delegated verifies itself with info from delegator, options 2 & 3 in the original breakdown).

`verify_delegate_with_threshold()` in https://github.com/theupdateframework/tuf/compare/develop...jku:verify_with_threshold looks like a good starting point (at first glanc

[2021-04-22 15:53] jku opened #1362 "Metadata API: Targets.delegations should be optional"
The delegation field in all targets type metadata seems to be optional by specification (see current reference implementation and https://github.com/theupdateframework/specification/pull/157)

This is a potentially breaking change for a client but fortunately no-one's built one with Metadata API yet.

**Current behavior**:
In Metadata API deserializing target metadata currently fails if delegation

[2021-04-22 19:52] trishankatdatadog commented on #1339
I don't think this is a problem TUF should solve at the risk of added complexity, especially if it's designed for only one use case in mind. Could pip solve that problem on its own?

[2021-04-26 07:03] jku commented on #1339
I do agree with the beginning of that sentence. Yet, not taking into account real world use cases creates designs that are great for research projects.

I have not other data but would be surprised if multiple download domains is going to be unique to pip.

Well, TUF is designed to resolve a target name to a URL... If this design is used then TUF **must** be able to choose the host(s) is should us

[2021-04-26 07:49] jku commented on #1339
By the way, in case I've not been clear about this: this is not an issue in how pip is designed, it's an issue with how pypi hosts its files: One host (pypi.org) serves metadata and targets. These targets contain URLs that pip parses to find more host-URLs: these hosts only serve target files -- currently the only host is pythonhosted.org but it could be anything.

Apart from parsing target files

[2021-04-26 12:06] MVrachev commented on #1140
In a discussion with @jku, we noticed that our tests for the metadata classes don't test instantiating metadata objects without their required fields.
We should add tests for that.

[2021-04-26 12:46] jku commented on #1361
Targets/TargetInfo (https://github.com/theupdateframework/tuf/pull/1329) should support something _similar_ but not necessarily the same function: with targets we should avoid loading the whole file so the function needs to accept a fileobject -- otherwise it's the same idea

So updating the examples: The high level objects option:

[code]

MetadataInfo and TargetInfo option:
[code]
I still like t

[2021-04-27 06:50] sechkova commented on #1307
Starting with a reminder of what we want to achieve in a reference implementation:
A readable codebase, easily mapped to the specification, less prone to errors. A clear separation between file download logic and metadata verification in Updater.

What is the outcome of the efforts on improving the mirrors download code so far, summarised well by @jku in [this comment](https://github.com/theupdate

[2021-04-27 08:49] jku commented on #1307
Thanks. I do agree that this seems like a direction worth exploring (thanks @trishankatdatadog for prodding into this direction). I think a hypothetical API that tries to look as much as it can like the current one would look like this:

[code]

All `*_url` arguments are url-prefixes that resemble `url_prefix+metadata_path` or `url_prefix+targets_path` in the current mirrors implementation.

As Te

[2021-04-29 10:01] #1139 closed, assigned to MVrachev

[2021-05-04 06:48] jku opened #1371 "API: Make _type read-only"
The discussion in #1366 lead me to realize that
* _type is not useful as Signed constructor argument (it's not an instance variable: it's a class constant)
* _type should not be modifiable via the API

If we fix these, there's no longer a need to validate _type (except in the Metadata from_dict() dispatcher).

I have a patch.

[2021-05-05 06:01] #1350 closed, assigned to nobody

[2021-05-05 15:35] jku opened #1374 "Metadata API: Root.consistent_snapshot should be optional"
Spec:

Metadata API (tuf/api/metadata.py) seems like it would fail to read json that does not contain "consistent_snapshot"

[2021-05-06 12:14] jku commented on #1334
I'm proposing we use the default logging style, meaning:
* use `logging-format-style=old` (which is default value)
* stop disabling `logging-not-lazy` (note: this is done only in some experimental client branches -- metadata api itself hasn't needed this because there's zero logging so far :grimacing: )

It looks a bit uglier (other string formatting is f-strings but logging is then based on %-for

[2021-05-06 12:26] #1371 closed, assigned to jku

[2021-05-06 12:32] jku opened #1375 "Metadata API: linting _type is an issue for API users"
Any code that uses the Metadata API is going to get linting results like this:
[code]

`Signed._type` is named like it is to copy the file format 1-to-1 which makes some sense...  but this is also pretty unacceptable. Maybe we should make another property `type` that works exactly like `_type` ?

[2021-05-07 11:22] jku commented on #1361
Status here is that #1329 needs to progress first (assuming we implement this functionality in MetadataInfo and TargetInfo).

Thinking about the API, are variable type arguments frowned upon? I would have objected to this before type hinting (and suggested duplicate methods) but I'm not so sure now:
[code]
This keeps the api tidy and provides verification for both immutable byte arrays and binary

[2021-05-07 11:38] jku opened #1377 "Metadata verification API tweaks"
I'd like the API to handle all signature/hash verifications that it can (so that there's a single place that's considered "reference implementation").

I'd also like these to be consistent and easy to use correctly (and hard to use incorrectly). I'm filing this as an umbrella issue since this is harder to do bit-by-bit...

Issues:
* signature verification with threshold does not exist #1306
* targ

[2021-05-07 12:23] jku commented on #1377
I'll write down some ideas here.
* using the words "sign*" and "hash" is useful: verify alone is really vague
* sig verification and and the sig verification with threshold creates an annoying imbalance (in first case we ask metadata if it itself is signed, in second case we plan to ask metadata if _some other_ metadata is signed with threshold of keys). Good naming helps but alternatively we coul

[2021-05-07 14:56] jku opened #1378 "Metadata API: Root.add_key() is broken"
Recent Key object addition broke `Root.add_key()`: it now adds a dictionary into the internal dict but it should add a Key. This can be tested by adding a `metadata.to_dict()` after calling `Root.add_key()` in the tests.

I didn't fix it since I don't know how this is used -- should the function accept a Key as arg?

[2021-05-07 14:56] jku commented on #1378
cc @MVrachev

[2021-05-08 09:23] rzr commented on #263
Hi,

Debian's Python Team (DPT) has a some concerns about licensing of papers, are they compatible with DFSG ?:

https://www.debian.org/social_contract#guidelines

Check related thread:
https://lists.debian.org/debian-legal/2002/03/msg00104.html

BTW let me thank @tumbleweed from DTP

Also it would make sense to ship document sources (latex?) in tree
and make it clear that they can be redistribute

[2021-05-08 09:38] joshuagl commented on #263
I don't think we should ship papers as part of the packaging, even if they live in this repo. We have an issue to clean up what we include in the packaging (amongst other things #1161)

[2021-05-08 19:05] rzr commented on #263
Update: https://ftp-master.debian.org/new/tuf_0.17.0+dfsg-1.html \o/

I'll sync my changes to upstream's debian branch once published in unstable archive...

[2021-05-10 13:06] #1362 closed, assigned to nobody

[2021-05-10 20:27] #1375 closed, assigned to jku

[2021-05-10 20:35] joshuagl commented on #1361
Agree that `MetadataInfo` and `TargetInfo` seem to be the right places. We should figure out what happens if `MetadataInfo.verify_hashes()` is called and the optional hashes are not in use? Is that an exception? I _think_ so, because the caller is clearly expecting there to be hashes to verify and their absence is unexpected.

I would have objected to functions with the same name on different clas

[2021-05-10 20:45] joshuagl commented on #1377
The proposed API looks nice. Hard to reason about a `Key` object when that is not defined yet, but I think I prefer verification on the Metadata objects.

I'm in favour of raising exceptions if verification fails. It also seems to be what pyca/cryptography [does](https://cryptography.io/en/latest/hazmat/primitives/asymmetric/rsa/?highlight=verify#verification), raising [`InvalidSignature`](https:/

[2021-05-10 20:48] joshuagl commented on #1334
Proposal above makes sense to me, if it's what's suggested by the style guide we probably don't even need to capture anything for this? Let's just do what our style guide suggests.

[2021-05-11 01:37] eamanu commented on #263
Great job @rzr

[2021-05-11 11:23] #1334 closed, assigned to nobody

[2021-05-11 12:38] jku commented on #1335
I've got a branch, currently blocked on #1378 (it happens to correctly fail a mypy check): https://github.com/jku/tuf/tree/initial-mypy-integration

[2021-05-12 06:13] jku opened #1384 "Metadata API: stop using formats.py"
Currently we have one use of tuf/formats.py in tuf/api/metadata.py. I think we should try to keep the two implementations separate.

**Current behavior**:
`formats.expiry_string_to_datetime()` is used in metadata.py

**Expected behavior**:
We should do the conversion in metadata.py (and I think we should not raise securesystemslib errors like current implementation does).

[2021-05-12 06:54] jku opened #1385 "ngclient: Proper public module documentation"
New client should have good public module/class documentation for Updater: currently it's a bit patchy.

_Plan is to get the new client merged to develop (as alternative client, not replacing the current one): this issue can be solved after merge._

[2021-05-12 07:03] jku commented on #1385
A specific improvement is reviewing and documenting what target_path really is and how it works (that it's target identifier but also a relative local filesystem path and a url fragment).

[2021-05-12 07:18] jku commented on #1312
The major items here are probably:
* bundle (once it's in) should only raise RepositoryError (or anyway a single base error representing failures because remote provided metadata we can't cope with) and user errors like ValueError
* since we removed mirrors, we can longer hide behind NoWorkingMirror -- need to figure out a nice solution. This probably still involves at least one wrapper error as w

[2021-05-12 08:50] joshuagl commented on #1385
It would be great if this documentation was publishable/published on readthedocs.io, like the in-toto docs https://in-toto.readthedocs.io/en/latest/

Note: There's some previous discussion on TARGETPATH here https://github.com/theupdateframework/tuf/issues/462

[2021-05-12 09:29] jku commented on #1385
Documenting also my recent realization on target_path: the spec does not require target_path to be a usable relative local filesystem path (and it can't really -- this requires assumptions on the filesystem). Using target_path as a relative local filesystem path  is just how both the reference repository tools and the reference client have decided to implement it.

[2021-05-13 09:41] sechkova commented on #1377
Already implied by @jku's example but in addition current `Metadata.verify()` should be changed to take a `Key` as an argument and not a dictionary/mapping.

Looking at the current function implementation, `'key'` which is a securesystemslib-style public key object, contains its `keyid`, while the `Key` class does not have such member. The class was designed to match the file format as described i

[2021-05-13 09:46] jku commented on #1377
Great question, and I think you may be right: Key should contain keyid (but should just not serialize it).

[2021-05-13 13:58] asraa opened #1388 "Metadata file contains a key with an invalid keytype."
ECDSA keys are generated with a keytype of `ecdsa` using the securesystemslib https://github.com/secure-systems-lab/securesystemslib/blob/2d33d91bef92f53b5e9489d57033bb9d046a6d23/securesystemslib/keys.py#L1678.

However, if you load a repository that's created with a key from `import_ecdsakey_from_public_pem`, you run a TUF error that the keytype is unsupported because of:

https://github.com/theu

[2021-05-14 06:27] #1378 closed, assigned to sechkova

[2021-05-14 10:50] jku opened #1389 "Metadata API: DelegatedRole fails to serialize correctly when paths=[]"
If DelegatedRole.paths is [], it serializes into json without "paths".

[2021-05-14 11:57] jku opened #1391 "Metadata API: comprehensive de/serialization testing"
It's really hard to avoid de/serialization issues like #1389 and #1386

Can we improve the testing so a large number of different json representatations are deserialized (and then serialized), so that things like missing fields and e.g. empty containers are tested -- I'm not even talking about testing broken data (that would be nice but not first priority), just valid data in all possible forms.

[2021-05-14 12:11] joshuagl commented on #1388
Thanks for the bug report @asraa ! Until relatively recently securesystemslib used `ecdsa-sha2-nistp256` as the key type, but that was clearly incorrect (https://github.com/secure-systems-lab/securesystemslib/issues/239) as it encoded scheme and we changed it to be more consistent with the other key types in https://github.com/secure-systems-lab/securesystemslib/pull/267

I think the correct fix f

[2021-05-14 14:26] jku opened #1392 "Document Metadata API: MetaFile hash matching issue with serialization"
So far I've been assuming we can build the client and use the Metadata API to
* deserialize what we get from the remote repo, and then
* serialize the data to disk once we know it's valid

The issue here is "meta" in timestamp (and I suppose snapshot) can contain file hashes. If we only store on local disk what has been deserialized and then serialized these hashes will fail to match when they are

[2021-05-14 15:00] sechkova commented on #1377
Do we even need metadata to both verify itself and be able to verify other metadata? I think we should stick to one of the options.
If the common agreement is towards `metadata.verify_delegate_threshold_of_signatures()` then probably we can get by without `metadata.verify` as a public method and add a helper/wrapper of `sslib.verify_signature()` if needed.

Feels like this question links to #1306

[2021-05-14 16:04] MVrachev commented on #1374
Doesn't that mean that `consistent_snapshot` should be an optional attribute in the spec?
It is not at the minute.

Also, I am not sure what the last sentence means `Otherwise, it must be set to the True value`.
"Otherwise" what? If `consistent_snapshot` is found or?

[2021-05-14 16:12] MVrachev commented on #1357
In pr #1329 linting failed for file `tuf/api/metadata.py` because of the "C0302: Too many lines in module" warning which warns for modules
with more than 1000 lines.

This is a good reminder that probably our comments are too lengthy.
@jku could you add a todo item to try to shorten our docstrings to this issue?

[2021-05-14 16:19] MVrachev opened #1393 "Metadata API: Move common metadata classes of TUF and In-toto in securesystemslib"
**Description of issue or feature request**:
In pr #1329 linting failed for file tuf/api/metadata.py because of the "C0302: Too many lines in module" warning which warns modules with more than 1000 lines.
This is a good reminder to move some of the common metadata classes TUF has with In-toto to `securesystemslib`.

Sync this issue with https://github.com/secure-systems-lab/securesystemslib/issues

[2021-05-14 16:28] jku commented on #1374
Yes you're right I think, although it should probably be phrased so that new implementations should include it in new versions of metadata but that old metadata may exist without it

[2021-05-14 18:33] asraa commented on #1388
Ohhh I see. Thanks for the context -- I agree that that fix makes the most sense.

[2021-05-14 19:05] trishankatdatadog commented on #1388
We should deprecate `ecdsa-sha2-nistp256` keytype now, and remove it altogether later for 2.0 or something.

[2021-05-17 11:20] jku commented on #1312
After doing the metadata bundle integration, I think our client exceptions should be grouped like this:
* RepositoryErrors (various): something is wrong with metadata. In some cases this can be handled within client (like in the case of local metadata being no longer signed by correct keys), but in many cases this is an external exception
* OSErrors (various): Failures to read or write local metad

[2021-05-17 12:57] sechkova commented on #1392
We can extend the metadata api to store/write the raw data.
Something like:

[code]

But is it worth doubling the size of the object just for convenience ... is it even a convenience? I am not really suggesting it without having a good use case.

I hope someone comes up with a good suggestion of documentation instead :)

[2021-05-17 16:19] jku commented on #1318
This one is done already: file object handling has been vastly reduced in the experimental client

[2021-05-17 16:19] #1318 closed, assigned to jku

[2021-05-17 16:20] jku commented on #1311
This will be fixed by #1355

[2021-05-18 08:58] sechkova commented on #1304
All the steps above will be completed withe the merge of #1355 and #1396.

[2021-05-18 09:10] sechkova commented on #1339
Resolved with #1373 and the remove of mirrors support.

[2021-05-18 09:10] #1339 closed, assigned to nobody

[2021-05-18 09:13] sechkova commented on #1319
To be resolved with #1396

[2021-05-18 09:15] sechkova commented on #1313
To be resolved by #1355

[2021-05-18 09:19] sechkova commented on #1308
To be fixed by #1355

[2021-05-18 09:32] sechkova opened #1397 "Client refactor: directories and naming"
Move the packages under the client directory in a way that makes it easy to distinguish repository components from internal client components and client public API.

Proper naming is needed for the client refactor directory which is planned to land in the main branch in parallel with the current client.

[2021-05-18 09:34] sechkova commented on #1307
The proposals from the discussion are implemented with #1373.
The last point of the description tasks's list related to directories structure will be continued in #1397.

[2021-05-18 09:34] #1307 closed, assigned to sechkova

[2021-05-18 11:51] jku commented on #1397
Background for these decisions is that we want the new client to co-exist with old one (tuf.client.updater.Updater) so need to think of clever naming.

There are three decisions that have not been made:
* Module (& directory) name. Currently it's `client_rework` which is not great. Something short and recognizably client-related would be good. "client-ng" is boring but fits the requirements: other

[2021-05-18 17:33] #1389 closed, assigned to jku

[2021-05-18 18:11] #1374 closed, assigned to MVrachev

[2021-05-19 07:42] jku commented on #1308
Closing:
* MetadataBundle is merged (if not quite in use yet)
* download handling is a lot better separated now that mirrors are gone

Further changes in components can be done incrementally:
* maybe we want to separate Updater and target caching
* maybe we want to separate graph traversal and the Updater

[2021-05-19 07:42] #1308 closed, assigned to sechkova

[2021-05-19 07:44] jku commented on #1313
Closing with #1355 :
The end result is a component that only
* handles parsing raw bytes, validates it into new metadata
* tracks current valid metadata, ensures the combination is internally valid
* provides access to current metadata

[2021-05-19 08:06] jku commented on #1320
pylint disables that are left after #1396:
* `consider-using-with` in download.py: I think this is correct, we want to return the tempfile so cannot use a context manager. Unless there is a way to write the function explicitly as a context manager itself (since that's how we use it anyway)?
* `broad-except` in metadata_bundle.py: This is in code that should be implemented in Metadata API as part o

[2021-05-19 08:08] jku commented on #1311
Implemented :1st_place_medal:

[2021-05-19 08:08] #1311 closed, assigned to nobody

[2021-05-19 08:12] jku commented on #1143
Mirrors have been annihilated in new client:
* Metadata is only downloaded from one host
* For targets, caller can give Updater a default download url prefix, and can override it case-by-case when calling download_target

[2021-05-19 08:12] #1143 closed, assigned to nobody

[2021-05-19 08:28] jku commented on #1317
So number 1 is handled in #1397 in coming days, item 2 was solved by not supporting mirrors.

I have some more specific ideas about item 3:
* the current API is needlessly complex with a self defined dict returned from get_on_valid_targeinfo and expected as argument in otherfunctions : we should probably just return a TargetFile object from `get_one_valid_targetinfo()` or whatever we call it
* I'm

[2021-05-19 08:33] jku commented on #1310
This should be fully implemented with MetadataBundle #1355

[2021-05-19 08:33] #1310 closed, assigned to nobody

[2021-05-19 08:41] jku commented on #1309
The coverage situation is dire:
[code]

I think it makes sense to start with the bundle and figure out how to efficiently and readably test every branch in the `update_*()` functions. A major task is probably figuring out how to define a "changing set of metadata" in the tests: we want to test not only loading a specific metadata, but then test loading new metadata that gets validated by the old o

[2021-05-19 08:43] #1313 closed, assigned to jku

[2021-05-19 08:50] jku commented on #1135
Same same.

Now that we've kicked out mirrors (so are not directly compatible anyway) and now that I've had time to think about it, I think we should improve the API as much as we can. It'll still be quite close to the old one (so not hard to port) but hopefully an improvement.

Latest ideas in https://github.com/theupdateframework/tuf/issues/1317#issuecomment-843872644

[2021-05-19 13:05] MVrachev commented on #1393
If we move part of the classes from TUF in securesystemslib we should make sure we test the migrated classes for:
1. read-write-compare: check the unit test `test_read_write_read_compare` in `tests/test_apy.py`
2. `test_generic_read` in `tests/test_apy.py`
3. all class-specific tests
4.  unrecognized fields; see https://github.com/theupdateframework/tuf/pull/1382
5. the comprehensive testing that

[2021-05-19 16:07] jku opened #1398 "ngclient: review _preorder_depth_first_walk()"
This is for the new client that's currently in experimental-client branch: but I'm hoping this issue is handled after the experimental client is merged to develop

We've not touched `_preorder_depth_first_walk()` or `_visit_child_role()` yet: they need some love:
First things:
* type annotations would make the whole thing a lot easier to read and reason about
* docstrings are old style
* evaluate

[2021-05-19 17:06] jku commented on #1397
While we do this we should update tox config, and make it so the directory is omitted from coverage for now
`python -m coverage report -m --fail-under 97 --omit "{toxinidir}/tuf/client_rework/*`

[2021-05-19 17:38] jku opened #1399 "ngclient: review download code"
(this is about code currently in experimental-client branch, hopefully soon in develop)

After we removed mirrors support, we should look through the download code
* Add type annotations
* replace old style docstrings
* see if code can be simplified
* consider removing average download speed check (it is useless in practice, will trigger false positives if the limit was usefully low and makes the

[2021-05-20 06:13] jku commented on #1399
Additional reasoning for length check opinion:

* MetadataBundle ensures new metadata is correct: it checks hashes, signatures and data validity. checking that length is correct fits right in there (even though spec does not require it)
* the download code on the other hand should worry about A) getting the requested bytes B) not downloading more than is needed

[2021-05-20 06:23] jku opened #1400 "ngclient: Use %-style formatting in logging"
(this is about code currently in experimental-client/ngclient branch, hopefully soon in develop)

We currently have some f-strings in logging:

[code]

Let's use %-style instead in logging (even if f-strings are great for other string formatting, see the google python style guide)

[2021-05-20 06:37] joshuagl commented on #1391
Is this a place where fuzzing could add some confidence that would be harder to achieve with designed test cases? Cc @sechkova

[2021-05-20 08:03] jku commented on #1391
pasting a related comment from chat:

parameterized testing could help now that we have the smaller classes. There are test dependencies for that but even plain unittest (on python>3.4) includes SubTest that could be used:
[code]
The value is that A) error message will now include `case="missing attr"` and B) all cases are tested even on sub-test failure.

An additional decision here is what check

[2021-05-20 11:49] sechkova commented on #1397
#1401 implements a structure based on this proposal but also slightly different in terms of internal classes.

[2021-05-20 11:53] sechkova opened #1402 "ngclient: client-level constants"
The constants could use some thought: We definitely don't want to keep using tuf.settings, but I guess the question is, should these be instance variables in Updater instead of module level ones:

[code]
Maybe it does not hurt if they were instance variables instead. They don't even need to be optional constructor arguments (as initialization does not use any of them: caller can initialize the Upd

[2021-05-20 12:34] MVrachev commented on #1391
I started working on tests for that.
The way I imagined is:
1. The tests will focus on testing `truthy cases` with valid data.
2. Each test will test deserialization and serialization.
3. Every class should be tested.
4. Every attribute in each class should be tested against a couple of variations of valid data.
4.1 If there is a limited number of options for an attribute then test with all valid

[2021-05-20 15:40] jku commented on #1391
My advice is to not get into detailed tests where different variations of attributes are tested, at least not yet: it's so easy to end up with more and more test code where no-one is really sure what actually gets tested.

I'd like to see readable test cases where I'm able to immediately see e.g. that Targets is tested with
* empty targets dict
* targets dict with data
* no delegations
* delegatio

[2021-05-20 15:49] jku opened #1404 "experimental client: Write a proper README that describes the package/directory"
...and explains the difference between new client and old client

[2021-05-20 16:10] jku commented on #1361
I just realized that we may want to extend this to length checks as well:

`TargetFile.verify_length_and_hashes(data: Union[bytes, BinaryIO]) # checks first length, then hashes`

This is basically an optimization for the case where the file is the wrong length.

MetaFile is a more interesting case:
* first of all neither length nor hashes are required (as Joshua pointed out). I don't think I want

[2021-05-21 05:48] jku commented on #1309
We're omitting the new client from coverage limit for now:
`python -m coverage report -m --fail-under 97 --omit "{toxinidir}/tuf/client_rework/*`
this should be fixed once we get back to reasonable coverage

[2021-05-21 09:27] sechkova commented on #1404
Closed with #1405.

[2021-05-21 09:28] sechkova commented on #1404
Closed with #1405.

[2021-05-21 09:28] #1404 closed, assigned to nobody

[2021-05-21 09:29] sechkova commented on #1397
Closed with #1401.

[2021-05-21 09:29] #1397 closed, assigned to nobody

[2021-05-21 09:59] sechkova commented on #1319
Closed with #1396.

[2021-05-21 09:59] #1319 closed, assigned to nobody

[2021-05-21 10:00] sechkova commented on #1304
Done with #1355 and #1396.

[2021-05-21 10:00] #1304 closed, assigned to nobody

[2021-05-21 10:19] sechkova commented on #1320
This is done with 18c527241cdd8267bb3507bd73ec734ac0fed1a4.
Closing this issue and the remaining work will continue in #1309.

[2021-05-21 10:19] #1320 closed, assigned to sechkova

[2021-05-21 10:48] joshuagl commented on #1393
I think the first step should be to try and separate the common model in tuf, with a view to upstreaming. I _think_ `Metadata` is mostly generic code that can be re-used between tuf and in-toto. But today the dispatch in `from_dict` hard-codes tuf classes – before we could move to securesystemslib we should figure out how to make that dispatch customisable. Perhaps even before we separate the modu

[2021-05-21 12:11] jku opened #1409 "ngclient: type annotations review and mypy integration"
ngclient type annotations are not complete: once mypy is in use (#1395), we should
* enable mypy for ngclient
* fix any annotation issues

[2021-05-21 12:15] jku opened #1410 "ngclient: use MetaFile/TargetFile verification API when it exists"
Related to #1377 and #1361: Once Metadata API offers the verification functionality, we should use it in ngclient and verify file lengths and hashes for both metadata and targets.

This would mean removal of helper functions like _check_file_length() _check_hashes_obj(), and removal of hash checking code in metadatabundle

[2021-05-21 12:27] jku opened #1411 "Metadata API: Consider including filename in TargetFile/MetaFile"
Currently TargetFile and Metafile do not contain the filename of the file they represent. The API itself does not need it but it could be useful for users of the api.

As an example the current client returns a dict for get_one_valid_targetinfo(): that dict contains a filepath field and and a targetinfo field (essentially TargetFile). I would like to keep a similar API but avoid hand-crafted dicts

[2021-05-21 12:30] jku commented on #1411
relates to #1317

[2021-05-21 12:38] jku opened #1412 "ngclient: experiment with separating local target caching from updater"
This comes from #1317

I'm seriously considering if Updater on its own should not support local target caching at all -- it's not part of the spec, it has these sharp corners WRT urls being used as file paths, and I think it could be handled as well by an external component like a derived class (that we may or may not want to provide).

People, me included, keep getting confused about what targetp

[2021-05-21 12:38] MVrachev commented on #1391
I have a couple of questions/observations here:
1. If I create simple tests aiming to test all of the possible valid (de)serialization cases then we have that, but it's spread into different tests. Each time I make an attribute optional I add a test case for that.
Then,  if we want to see clear comprehensive (de)serialization tests we should delete the other tests testing that.
Examples: https://g

[2021-05-21 13:54] jku commented on #1377
This is  good question: maybe it's worth it to reconsider moving verify_signature() into Key class:
* Key verifies that it signs metadata (but this is typically not used by code outside the API)
* Delegating Metadata verifies that delegate metadata is signed by correct threshold of keys (this is used by API users)

[2021-05-21 13:55] jku opened #1413 "ngclient: Use Metadata APIs verify_with_threshold() when possible"
#1306, #1377 are about somehow implementing verify_with_threshold() in the API.

ngclient should use that instead of the helper function in `trusted_metadata_set.py` (and delete the helper in that module)

[2021-05-21 13:58] MVrachev opened #1414 "Tests refactored code: reorganize testing in test_api"
**Description of issue or feature request**:
Currently, there are too many things tested in `tuf/test_apy.py` including:

- [ ] serialization/deserialization with multiple code paths | moved to separate module in https://github.com/theupdateframework/tuf/pull/1416
- [ ] calls for metadata modification - “update()“, bump_version”
- [ ] sign_verify
- [ ] test for unrecognized fields.

There are mult

[2021-05-24 20:10] joshuagl commented on #1136
This has landed and can be referenced here https://theupdateframework.github.io/specification/latest/#adding-updating-targets

[2021-05-25 07:51] jku commented on #1414
Yes, agreed on this.

I'm not sure new directories are needed (especially if you're just splitting one file into two) but I can live with it.

The alternative to splitting into two files (serialization and everything else) is splitting by class: I think that would be worth considering as it seems logical and easy to learn: if I want to look at Key tests I look in `test_api_key.py` (or whatever the

[2021-05-25 09:12] MVrachev commented on #1393
Sadly, I think this is the case. The way we have implemented serialization means we would easily end up with circular imports. That's something we should fix before moving on.

[2021-05-25 09:58] MVrachev commented on #1414
Splitting `test_api.py` into modules containing class-specific tests seems reasonable and logical.
On another hand, this will make some of the tests harder like #1382 and #1391.
For #1391, I am preparing a pr, which adds a single module that focuses on (de)serialization tests.
There, it's useful I can reuse some of the `targets` valid data I have defined when testing `DelegationRole`, `Delegation`

[2021-05-25 11:55] jku commented on #1414
Yes, the test data definition/generation is an issue: something I'd consider is defining only the data for the "class under test" explicitly and generating test data for any child objects (because they have their own tests and this _might_ allow defining the test data in reasonable space)

So something like
[code]
there is no to_string() currently but you get the idea: we're not trying to test Chi

[2021-05-26 06:43] jku commented on #1351
I'm limiting this more to verify() for now -- we should be more conscious about the errors in general but... one issue at a time I guess?

[2021-05-26 06:47] jku commented on #1332
It's possible that the deserialization cases are actually appropriate (I'm not sure if we can figure out all the ways that deserialization can fail, and the callers certainly won't care too much) but you are right we should review this.

[2021-05-26 06:53] jku commented on #1230
Yes, agreed 100%

My instinct is to use more properties with setters (for the cases where the "update" just means validating and assigning an attribute), and use "add_X()" / "remove_X()" type functions when we need to modify a list or dictionary (in these cases the container can then be a read-only property if we want to emphasize that the functions should be used to modify it)

[2021-05-26 07:47] jku commented on #1134
From client implementation experience: The metadata API should definitely handle:
* verify metadata signature with threshold
* verify metadata file hash/length
* verify target file hash/length

The rest is just nice-to-have functionality, mostly easier accessors to existing attributes. Examples:
* `timestamp.signed.meta["snapshot.json"].version` is "correct" but also completely unnecessary as "sna

[2021-05-26 08:03] jku opened #1417 "Metadata API: implement verify in Key, store id in key"
This is a potential API improvement I'm considering (both ideas originally from @sechkova i think):
* Implement verify_signature() in Key class
* Store keyid in Key object

Implementing verify() in Key would make sense because:
* having both `verify()` and `verify_with_threshold()/verify_delegate()` in Metadata is tricky because former verifies a sig on itself, and latter would verifiy threshold o

[2021-05-26 08:06] jku commented on #1377
#1417 is about implementing verify_signature() in Key

[2021-05-26 08:11] MVrachev opened #1418 "Metadata Attribute research: version"
This issue aims to document thoughts about the `version` attribute from the `Signed` class in order
to understand how we use that attribute, what might go wrong with it and how we can validate it.

We want to answer/address the following 6 questions/points based on my comment [here](https://github.com/theupdateframework/tuf/pull/1366#issuecomment-829288790):
1. How do we use it?
2. What might go w

[2021-05-26 08:12] MVrachev opened #1419 "Metadata Attribute research: spec_version"
This issue aims to document thoughts about the `spec_version` attribute from the `Signed` class in order
to understand how we use that attribute, what might go wrong with it and how we can validate it.

We want to answer/address the following 6 questions/points based on my comment [here](https://github.com/theupdateframework/tuf/pull/1366#issuecomment-829288790):
1. How do we use it?
2. What might

[2021-05-26 08:14] MVrachev opened #1420 "Metadata Attribute research: expires"
This issue aims to document thoughts about the `expires` attribute from the `Signed` class in order
to understand how we use that attribute, what might go wrong with it and how we can validate it.

We want to answer/address the following 6 questions/points based on my comment [here](https://github.com/theupdateframework/tuf/pull/1366#issuecomment-829288790):
1. How do we use it?
2. What might go w

[2021-05-26 09:36] avelichka commented on #1384
I'd like to work on that :)

[2021-05-26 12:30] MVrachev commented on #1255
After multiple tries and failures to reproduce this bug, we consider this issue obsolete.
If another occurrence of the bug reappears, we would open a new issue documenting it and referencing this one.

[2021-05-26 12:30] #1255 closed, assigned to MVrachev

[2021-05-26 12:42] MVrachev commented on #1130
Update on what has happened so far:
1. I documented multiple validations options in #1301.
2. It was decided that I would create validation functions for each of the attributes before deciding which validation option is good for us from ADR 7.
3. Created #1366 to showcase how validation functions are supposed to work with python descriptors.
After Jussi's comment [here](https://github.com/theupdat

[2021-05-26 13:06] MVrachev commented on #1418
My initial comments on those 6 steps:
1. How do we use it?
- Initialize it through __init__.
- We can change it through `bump_version`, but with a fixed amount of 1.
2. What might go wrong?
- Pass a non-positive version during initialization.
- Pass a float or bool version during initialization, but we want exactly an int.
- If you have a JSON with `{ "version": true }`, then when reading that dat

[2021-05-26 14:05] MVrachev commented on #1418
@jku comments

_the core concerns are handling invalid data from the network, making sure our data is spec-compliant, and ease of use:_
* _checking n > 0 is reasonable_
- _fighting the type system I'm not convinced about. It's more code that does not seem to give us much (the JSON may think `version` is a bool but we won't, for us, it's a 1)_
- _the check should be done in the deserialization case

[2021-05-26 14:09] MVrachev commented on #1418
version is mutable, but at the same time, we want to help the user not change the version directly like metadata.signed.version = -10. I didn’t found a way to forbid access to the version outside the class, but I found a way to enforce validation.
We can achieve this by making version a property that sets a private version _version and makes sure it validates it before setting it.

@sechkova  comm

[2021-05-26 14:13] MVrachev commented on #1418
@joshuagl commented on the quoted sentence shared by me:

_If we're adding a setter for version, does it make sense to not only ensure it's > 0 but also that it's >= the current value?_

I answered:
[code]

[2021-05-26 14:27] MVrachev commented on #1419
My initial comments on those 6 steps:

1. How do we use it?
- Initialize it through __init__.
2. What might go wrong?
- Wrong or unsupported `spec_version` passed during initialization.
- Modification or deletion of the `spec_version` attribute directly from the metadata API,  like this `metadata.signed.spec_version = "2.10.10"`.
3. Rethink how we store it?
- spec_version cannot be immutable, beca

[2021-05-26 14:34] MVrachev commented on #1419
@joshuagl commented the above:

_It might be useful to add a default value of the currently supported spec version?
i.e. if I am creating a new Metadata object, I want the spec_version to be what the library supports.
Otherwise, I want the version in the file I am loading.
Does it make sense to change spec_version otherwise?_

I answered:
[code]

[2021-05-26 14:37] MVrachev commented on #1419
@sechkova commented the above:

_I do agree we should make the attributes private and provide getters (@property)
but we should not implement a public setter ( `@spec_version.setter`) when we don't need one.
`spec_version` is set only internally during init._

I commented back:
[code]

[2021-05-26 14:40] MVrachev commented on #1419
@jku commented the above:

_if the validation is short and only needed in one place,
the validation code should be there and not in a specific validation function IMO_

_Validating semantic version completely is bonkers (it's really complex), I suggest we explicitly do not do it.
I see two reasonable choices:_
_*  let's just check that we can split the string in three dot separated parts and that

[2021-05-26 14:44] MVrachev commented on #1420
My initial comments on those 6 steps:

1. How do we use it?
- Initialize it through __init__.
- Bump it through `bump_expiration` function.
2. What might go wrong?
- Wrong or outdated expires passed during initialization.
- Modification or deletion of the expires attribute directly from the metadata API, like this:
`metadata.signed.expires = “BAD`
3. Rethink how we store it?
- `expires` is mutable

[2021-05-26 14:48] MVrachev commented on #1420
@jku commented the above:

_it's not so much generic init we're interested in but deserialization: we're getting something from remote,
how do we ensure we either raise or end up with a datetime?_

_Currently we call
expires = formats.expiry_string_to_datetime(expires_str)_

_we should not be calling formats.py in metadata.py (but using the same implementation is probably fine_
_That's issue #1384

[2021-05-27 07:09] jku commented on #1391
What I would like to see in serialization testing is that each component has well defined test sets and minimal amount of code. These test datasets should be easy to read so when I open the file I can quickly check if a case is handled and if not I can easily create a new test case.

There are two main issues with the current code, and these complaints partly apply to the PR here:
* understanding

[2021-05-27 08:39] sechkova commented on #1417
Just linking here a request for revising the "key" representation in sslib: https://github.com/secure-systems-lab/securesystemslib/issues/310 in case the ideas in the description come in handy.

[2021-05-27 14:42] trishankatdatadog commented on #1417
💯 💯

[2021-05-28 07:33] jku opened #1422 "Metadata API: enforce signature uniqueness by keyid"
I don't want to test in verify_signature() that only one signature exists for keyid: this should be enforced by Metadata class.

This requirement is not in the spec but I think it makes sense: if there are multiple signatures for the same keyid, something is wrong and failing early seems reasonable.

this should work:
* store signatures internally in `Dict[str, Signature]`: this enforces uniquenes

[2021-05-28 12:49] jku commented on #1417
I think a potential future development is moving Key (partly) to SSLib: it seems to fit there with Signer and Signature. Also, this change will further make the SSLib integration a Key implementation detail (now no other code needs to call `format_metadata_to_key()`) -- this seems to further point to same direction.

I think this change should be compatible with that long term plan -- I could see

[2021-05-31 07:40] jku opened #1425 "Metadata API: Consider if Metadata class should contain role name"
I'm not sure if this is worth the trouble, writing it out anyway...

**Description of issue or feature request**:

I've been looking at our data structures lately, trying to improve their usability... and one theme that comes up is that objects should include their identifier if they have one -- the json file format does not do this because it would be wasteful in a wire format but the same does n

[2021-05-31 08:30] jku commented on #1306
Note to self: Clarify the uniqueness of role names in delegations. The file format and spec does not enforce this (because roles in delegations is an ordered list), but I think there can only be one role with a specific role name in a delegations object: to verify the delegation with threshold of keys we need to lookup the keyids with the role name: if there were multiple roles with same name they

[2021-05-31 08:55] jku opened #1426 "Metadata API: enforce role name uniqueness in delegations"
The spec does not say anything about role name uniqueness in a delegations object but I believe we cannot safely allow multiple roles with same role name in the roles array of a delegations object. If we did then the roles could have different keyids, and then we would end up in a situation where a metadata may be both a valid delegation and an invalid delegation at the same time, depending on how

[2021-05-31 09:18] jku commented on #1426
Potentially we could use `roles: OrderedDict[str, DelegatedRole]` to store the roles (and raise in from_dict() if input contains duplicate role names)?

As trishank mentioned on slack: from python 3.7 onwards Dict itself guarantees insert order so is deterministic -- for our uses OrderedDict still makes sense (and also informs the reader that the order matters)

[2021-05-31 09:33] MVrachev commented on #1426
I would suggest discussing and solving this issue in the spec repo first so that we make sure we are on the same page with the spec.
If there is a use case where role name duplicates are needed (which I doubt) then I hope they will be shared there.

Otherwise, a good catch, and I agree with the sentiment that from my perspective I see only problems in allowing duplicate role names in delegations.

[2021-05-31 12:51] jku opened #1429 "Metadata API: (maybe) Enforce public key content uniqueness in keys"
Root and targets have a `keys` dictionary with `keyid` as key. It would be nice to know for sure that these keys are actually unique keys (and not e.g. the same key content with two different keyids).

One solution would be to validate that the keyid is correct according to spec:

Having looked at the securesystemslib implementation I don't think we can consider keyid reproducible... what SSLib co

[2021-06-01 06:38] jku commented on #1422
As trishank mentioned on slack: from python 3.7 Dict itself guarantees insert order so is deterministic -- for our uses OrderedDict still makes sense (and also informs the reader that the order matters)

[2021-06-01 11:33] #1335 closed, assigned to jku

[2021-06-01 12:30] joshuagl commented on #1422
from [here](https://docs.python.org/3/library/stdtypes.html#dict). That final part is notable because Python 3.6 is our baseline Python version, per [ADR-0001](https://github.com/theupdateframework/tuf/blob/develop/docs/adr/0001-python-version-3-6-plus.md).

[2021-06-01 13:52] mnm678 commented on #1429
This would be a nice check to have. I thought about something similar while working on [TAP 12](https://github.com/theupdateframework/taps/blob/master/tap12.md) (see #1084). This would require using a standardized representation of keys, like the modulus and exponent for rsa, as the representation of the key can differ for the same key material.

[2021-06-01 13:58] MVrachev commented on #1418
All of the participants in this discussion discussed this again and decided we won't make additional changes for `version` considering that there is a public API function to change it - `bump_version()`.

[2021-06-01 13:58] #1418 closed, assigned to MVrachev

[2021-06-01 14:01] MVrachev commented on #1420
All of the participants in this discussion discussed this again and decided we won't make additional changes for `expires` considering that there is a public API function to change it - `bump_expiration`.
Also, if a value that can't be converted to a `datetime` object is passed, then in `_common_fields_from_dict` we would fail when we call `formats.expiry_string_to_datetime()` (or a substitute whe

[2021-06-01 14:01] #1420 closed, assigned to MVrachev

[2021-06-01 14:31] jku commented on #1429
I think in the end the exact method of producing the keyids is uninteresting (and the spec probably should not specify it): the one thing that matters is that the keyid must be unique for the key -- or in other words the same public key content must not be present under multiple keyids.

[2021-06-01 14:39] jku commented on #1429
I'm really not familiar with this but are you saying the current key representation in tuf allows two seemingly different keys to actually be representations of the same key? I was assuming we could just compare the keytype/scheme/keyval of each key and accept the keys as unique if the combination of  keytype/scheme/keyval is unique, but maybe I was being naive.

[2021-06-01 16:40] mnm678 commented on #1429
The issue is that the keyval can differ for the same key. As an example, PEM formatting supports additional whitespace, optional headers, etc.

[2021-06-01 16:40] mnm678 commented on #1429
That being said, de-duplicating on just the keytype/scheme/keyval would probably still prevent accidental key reuse.

[2021-06-01 18:04] davidstrauss opened #1431 "Provide a way to generate test data with invalid content but valid signatures"
**Description of issue or feature request**:

As part of PHP-TUF, we've been building out our own conformance suite of test fixtures. (I've posted before about how we've continued to improve the determinism of the design.) Unfortunately, there's a conflict between easy fixture generation, good security design, and comprehensive testing. It's making it hard for us to test scenarios where the signat

[2021-06-02 06:59] jku commented on #1431
The new Metadata API has the same "problem" I think: being able to sign the payload requires the payload to be valid (not all validation is written yet but that's the intention)...

I think something like this could work (intentionally not using TUF APIs to avoid any validation, present or future):
* use any tool to produce python dict representation of the payload. Something like
[code]
* modify/

[2021-06-02 08:44] jku commented on #1429
Thanks. So to recap:
* we could check for key content uniqueness
* it would be a minor usability/sanitycheck feature, to prevent accidentally using the same key with two keyids
* it would not prevent maliciously using the same key in two forms (but if attacker is able to define the key content, they are typically also able to e.g. change thresholds or add new keys so this is not a huge issue)

[2021-06-02 11:58] jku commented on #1422
This is the same issue for the spec btw: https://github.com/theupdateframework/specification/issues/155 (only found it now :) )

[2021-06-02 15:53] phenaproxima commented on #1431
Thanks, @jku! I'll give that a try.

[2021-06-03 07:45] jku opened #1433 "Metadata API: Improve metadata.signed "typing""
There's two case I'd like to see improved in metadata signed handling:
1. Usually I call Metadata factory constructors (e.g. `Metadata.from_bytes()`) knowing what signed type should be, yet I can't enforce this
2. Using metadata.signed in a type annotated fashion (so that it's annotated as the actual type: Root/Snapshot/Timestamp/Targets) would be fantastic.

Item 1 could be fixed with just adding

[2021-06-03 10:15] MVrachev opened #1434 "Metadata API: Tests (de)serialization with invalid arguments"
**Description of issue or feature request**:
I started creating issues documenting some research I do for how we use our metadata attributes.
For example #1418, #1419 and #1420.
The end goal of this research is to decide how we are going to validate each of them, make the necessary changes and add tests ensuring the validation works.

Together with @jku we discussed that to achieve the last step -

[2021-06-03 22:18] mnm678 commented on #1429
That sounds right!

I don't think the attack is very serious for the reasons you mention, but I don't want to oversell our protection against duplicate keys.

[2021-06-04 06:43] #1384 closed, assigned to avelichka

[2021-06-07 15:47] MVrachev opened #1438 "Metadata Attribute research: KEY"
This issue aims to document thoughts about the `KEY` attribute from the `Root` and `Delegations` classes.
The goal is to understand how we use that attribute, what might go wrong with it and how we can validate it.

When thinking about how we use `KEY` worth reading what is implemented in pr #1408 and pr #1436 implementing threshold validation.

We want to answer/address the following 6 questions/

[2021-06-07 16:11] sechkova commented on #1426
The same is implied by the spec itself it just needs to be written explicitly I guess:

[2021-06-08 10:25] MVrachev commented on #1422
In the `Role` class we are storing `keyids` as a list. Maybe we should store them in a set or it's better to loudly warn about this?

[2021-06-08 10:33] MVrachev commented on #1438
Should I add thoughts about `keyid` here considering in #1436 we are adding it to the Key class?

[2021-06-08 11:11] MVrachev commented on #1429
From the comments, I understand that we cannot enforce key uniqueness based on the public key content because one key can have different public key values.
The best we can do is if we have an exact match of `keytype`, `keyval` and `scheme` in `keys` is to ignore it and warn the user?
We want to warn the user on accidental duplicating keys, but do we want to stop the execution with an exception?

[2021-06-08 11:28] MVrachev commented on #1438
1. How do we use it?
- During `Root` and `Delegations` initialization.
- When passing a `Key` argument in `Root.add_key()`.
2. What might go wrong?
- If somebody passes a `Key` without the required fields it will just fail during initialization when `Key.from_dict()` is called. So, no problem here.
- If somebody passes invalid `keytype`, `scheme` or `keyval` -> those attributes are  validated thro

[2021-06-08 12:49] jku commented on #1429
Maybe yes?
* it would prevent a repository tool from creating broken metadata
* it would prevent a client from being in a situation where signatures refers to a key that exists (in the file) and does not exist (in deserialized keys) at the same time

[2021-06-08 12:52] jku commented on #1438
When does this happen? I think we do want some validation at Key init time

[2021-06-08 14:42] MVrachev commented on #1438
The question is do we trust `securesystemslib` for validation?
Right now, each of the times we do operations with keys we end up calling a `securesystemslib` function which makes argument validation.
The problem is that tomorrow this behavior could change and we can end up with no validation at all.

I agree that we should add some validation in `__init__` time.
1. I think in issue #1429  we agree

[2021-06-08 14:47] MVrachev opened #1439 "Metadata Attribute research: Threshold"
This issue aims to document thoughts about the `Threshold` attribute from the `root` and `targets` roles and more precisely in our implementation `Role` and `DelegatedRole` classes.
The goal is to understand how we use that attribute, what might go wrong with it and how we can validate it.

We want to answer/address the following 6 questions/points based on my comment [here](https://github.com/the

[2021-06-09 07:14] #1417 closed, assigned to jku

[2021-06-09 09:43] joshuagl commented on #1398
See also a request for clarification on the algorithm in the specification https://github.com/theupdateframework/specification/issues/164

[2021-06-09 09:47] avelichka commented on #1388
I'd like to give that a try, please?

[2021-06-09 09:49] avelichka commented on #1400
I'd like to give it a try, please?

[2021-06-09 11:02] MVrachev opened #1440 "New Metadata API: Should we add logging?"
**Description of issue or feature request**:
I was wondering should we add logging in the new metadata API we are using in `tuf/api/metadata.py`?

For example when we have loaded successfully a top-level metadata class and we can print its attributes.
We can do something like:
[code]
Maybe we can add a log line printing which specification version we are supporting on import of `tuf/api/metadata.p

[2021-06-09 11:21] sechkova opened #1441 "api/metadata input validation: hashes"
**Description of issue or feature request**:
Implement input validation for `TargetFile` and `MetaFile` `hashes` attribute.

**Current behavior**:
The new api/metadata code does not perform any input validation on `hashes`.
`formats.py`  has a defined `HASHDICT_SCHEMA` that is not used in the new code.

**Expected behavior**:
Define allowed values for hashes.
Implement the verification in `metadat

[2021-06-09 11:32] sechkova commented on #1441
'Hashes' is a dictionary of the form:
[code]
Both keys and values could benefit a validation.
 - Valid keys are hash algorithms supported by sslib
 - Valid hash values could be defined by a [regex](https://github.com/theupdateframework/tuf/blob/de78251b00c875c35efe42d5a0e4d418d51be8cc/tuf/formats.py#L165) or maybe just a 'str' is enough

 Another possible option is to allow any values which will r

[2021-06-09 11:36] jku commented on #1441
algorithms (dict keys) options:

1. if we will fail to verify some algorithm for sure, then we probably want to fail early? So we could check that algorithms (dict keys) are known to sslib
2. or we could just check that keys are type str
3. or we could do nothing and trust that verify_hashes_and_lengths() will fail when algo is something weird

hash (dict values) options:

1. I don't think we shou

[2021-06-09 11:40] jku commented on #1441
We wrote mostly the same comment :)

Oh good catch, the spec does specify this: _dictionary that specifies one or more hashes_

[2021-06-09 12:07] asraa commented on #1388
go ahead! i moved to using the go-tuf implementation and had a workaround

[2021-06-09 12:46] MVrachev commented on #1438
Now that `keyid` is officially part of the `Key` class we should think about it as well.

[2021-06-09 14:54] MVrachev commented on #1439
1. How do we use it?
- Initialization in `Role.__init__` and `DelegationRole.__init__` (still in `DelegationRole` we call `Role.__init__` for threshold).
- Then after initialization, in `MetadataBundle.verify_with_threshold` and in pr [https://github.com/theupdateframework/tuf/pull/1436](https://github.com/theupdateframework/tuf/pull/1436) we are using `threshold` as a read-only constant.
2. What

[2021-06-09 17:05] trishankatdatadog commented on #1400
Curious: why does Google recommend % over f-strings? I think the latter is far more readable, no?

[2021-06-10 06:08] jku commented on #1400
I agree, it's just that f-strings get greedily evaluated before logger can check if they are needed: with %-style the logger can check if the string is needed (and usually it isn't) before building the string. Obviously 99% of our logging is nowhere near a critical path where this would matter ... but I'd still like to be able to log inside e.g. a download loop without thinking about it.

The othe

[2021-06-10 06:38] jku commented on #1438
My recollection is that the real validity checks in SSLib are hidden inside verify_signature() and other functions like that, so we can't really use them. We could run things like `sslib_formats.KEYTYPE_SCHEMA.check_match(keytype)` (which would at least check for the possible values) but my understanding is that there's no way to check that e.g. the schema is valid for the keytype without more cod

[2021-06-10 11:27] sechkova commented on #1399
Given that defense against slow retrieval attack is considered optional and hard to specify (https://github.com/theupdateframework/specification/issues/124), this sounds like a fair decision.

I agree about strict length check. I think we can still keep an upper boundary length check without much cost.

[2021-06-10 12:00] sechkova commented on #1399
In addition we can consider creating a `Download` class with a `Download` object owned by `Updater` and instantiated with a `Fetcher` (default or user-provided).
We can probably keep Fetcher as it is now (the plug-in networking) and Download will add the file object handling.

[2021-06-10 14:32] MVrachev commented on #1438
I experimented with a solution testing all of the attributes reusing the `securesystemslib` schemas.
Here what I got:
https://github.com/MVrachev/tuf/commit/e7cdab018153a8fe81a0ec691a3a00f181fba4b9

[2021-06-10 14:45] MVrachev commented on #1441
For `algorithms (dict keys)` I think we can rely on`securesystemslib` to give us information on which algorithms it supports.
Considering we are using it to verify our signatures.
Also, there aren't many possible combinations here.

For `hash(dict values)` I will prefer if we do some validation during initialization and not pass this responsibility for this check to another function. So, I will pr

[2021-06-10 15:40] trishankatdatadog commented on #1400
My 0.02 BTC is that we should keep developers not Google/linters/speedtests happy, but that's just me. I will let you guys decide 🙂

[2021-06-10 15:44] jku commented on #1438
Yeah I think that reinforces my opinion:
*  the moment we start writing constants like "rsa" or "ecdsa-sha2-nistp256" _in TUF code_ we're doing something wrong, we shouldn't have to care about details like that (as we should not even know all valid values).
* In fact I wonder if we want to use even KEYTYPE_SCHEMA at deserialization time: nothing in the spec promises that securesystemslib can recog

[2021-06-10 16:41] MVrachev commented on #1438
As I understand it, the source of knowledge about supported keys and schemas is `securesystemslib`.
The best we can do is make sure `securesystemslib` continues to be the source of truth for supported `keytypes` and `schemas`.
What we can do is probably provide a utility function in `securesystemslib` which for a given `keytype` calls the
correct schema check.
That way adding/removing new keys in

[2021-06-11 05:57] jku commented on #1441
Yeah that would be the way -- we absolutely do not want to guess in TUF.

The only possible worry I have is the same future situation that I tried to talk about in the key case, where in a metadata file
* some old targets have been hashed with an old algorithm, that is no longer supported
* but other targets have new hashes that will work
now if we validate specific algorithms at deserialization t

[2021-06-11 08:12] jku opened #1443 "Metadata API: Timestamp should provide easy access to snapshot MetaFile"
Quoth @trishankatdatadog

that's in context of accessing the snapshot metafile object in timestamp with `snapshot_meta = timestamp.signed.meta["snapshot.json"]`. I agree and think we should have at least a helper property that allows accessing without string lookups: `snapshot_meta = timestamp.signed.snapshot_meta`.

In fact I might suggest going further and removing the meta dictionary from the T

[2021-06-11 10:55] #1422 closed, assigned to nobody

[2021-06-11 12:45] mnm678 commented on #1441
I wonder what the implications here are for prioritized delegations. If an attacker was somehow able to remove a supported algorithm, could they use that to convince a user to install a less-optimal package?

[2021-06-14 06:40] jku commented on #1438
I've not responded since I wasn't quite sure _why_ this felt wrong, now I think I've got it: **Metadata validity and our implementations ability to sign or verify signatures are two different things**. For a client or even a repository implementation it might be reasonable to consider both instant failures but I do not think that applies to Metadata API.

In other words, I think it is wrong for Me

[2021-06-14 06:46] jku commented on #1441
https://github.com/theupdateframework/tuf/issues/1438#issuecomment-860420207

My comment on the key-discussion appliess 100% here as well: TL;DR: **Metadata validity and our implementations ability to verify hashes are two different things**:  I think we should not consider metadata invalid just because it contains a hash algorithm we haven't heard of.

[2021-06-14 08:12] jku opened #1444 "Improve testing using generated metadata"
This is an umbrella issue for a plan I have:
* Improve Metadata API for the case of Metadata generation (in other words, creating Metadata not deserializing it)
* Make sure all of it can be done in-memory (so writing things to disk is not needed)
* Improve testing for Metadata API itself by addding tests with generated data (see e.g. #1436: testing signature validation with various thresholds)
* I

[2021-06-14 08:19] jku commented on #1444
We can either polish the idea here, or just start picking out the most obvious improvements and filing them as actionable bugs, examples:
*  add Metadata.to_bytes()
* Add the constructors that seem easiest to design (maybe Targets.new_with_defaults(), TargetFile.from_data())

and then just start adding tests once the most annoying things have been fixed

[2021-06-14 08:29] jku commented on #1444
some of the individual trickier design issues are pointed out in the code but something that maybe isn't is the interplay of
* version bumping
* signing
* serialization

they are completely unrelated from the API perspective... yet I bet there is streamlining we could do here to make life easier for API user (and the testing code!).

[2021-06-14 10:56] MVrachev commented on #1443
I agree it makes sense to add a `snapshot_meta` property.

I don't think we win a ton if we remove the `meta` dictionary and we will further diverge from the file format.
With each smaller change between the metadata API and the specification, it will require more and more effort
from a new contributor to see the connection between the two.

I will propose a pr for that.

[2021-06-14 14:15] jku commented on #1439
once we get to repository-side code, Role and DelegatedRole will be modified though: threshold and keyids do potentially change. Not much thought has been put into this yet (possibly we want more API than `add_key()/remove_key()`)... I think it's fine to implement validation based on current use -- if we don't know what the modifying API looks like we can't really validate that.

[2021-06-14 15:37] MVrachev commented on #1438
We had a discussion with @jku and agreed that we shouldn't focus on checking if `keytype`, `scheme`, `keyval`, or `keyid` have valid semantics, but rather check that all of those are with the expected types and we can compare them the way
we expect.

The reasons are that:
1. we could have a metadata file with one or a couple of keys with unsupported or invalid values for their attributes, but that

[2021-06-14 15:55] sechkova commented on #1303
Reviving this issue after having a look at `RequestsFetcher` after a while.
Implementing `fetch()` as a context manager makes the default TUF implementation look better because now `response` is closed in a single place. For example:

requests_fetcher.py:
[code]
download.py:
[code]

But this also means adding a requirement to `FetcherInterface.fetch()` to be a context manager and I can't decide if

[2021-06-14 17:18] trishankatdatadog commented on #1444
Agree that generating and serving metadata during tests is doing too many things all at once. Hard to read and debug. Test metadata and targets should be generated (ideally once) and served from their own repository/server.

Cc @tedbow and friends, who I believe did some work along these lines...

[2021-06-15 08:43] jku commented on #1439
One alternative to this is to consider Role and DelegatedRole immutable objects: when repository code wants to change keys or threshold of a role, it should just add/remove/replace the complete role instead of modifying the keys/threshold in the role. This way it would be easier to ensure that e.g. the delegation keys includes the keys (and only the keys) that are actually used by current delegati

[2021-06-15 09:40] jku commented on #1433
so this does not work:

    root = Metadata[Root].from_bytes(data)

because the "specific generic type" (Root in this case) is not an actual type available during runtime at all: there is no way to affect runtime based on that type (e.g. to raise an exception if it does not match).

It might still work if the type is given as parameter or the method contains it as constant (since then we obviously

[2021-06-15 11:17] jku opened #1447 "Metadata API: Add TargetFile.from_data()"
This is a repository tooling use case but also useful for testing (#1444).

There should be a way to create TargetFile from a file object or bytes, so something like:

    TargetFile.from_data(data: Union[bytes, BinaryIO])
    # if needed could also have a helper:
    TargetFile.from_file(filepath: str)

Here the function would look at the data and calculate length and hashes for me, and would be

[2021-06-15 15:04] MVrachev commented on #1439
I think mentally I always considered `Key` as an immutable object.
As you pointed out: because we are not sure what modification API do we want to add we can only verify what we know.
Will submit a pr verifying only the simplest case - that `threshold` is more than 1.

[2021-06-16 11:49] sechkova commented on #1441
Considering your comments, my suggestion in #1451:

- valid length: greater than zero
- valid hashes: a non-empty dictionary

Checking the validity of hash algorithms is not part of the metadata input validation and is done by `securesystemslib` during hash verification.

[2021-06-16 12:50] rzr commented on #263
Hi,

I'll need your help to clarify some licencing see:

please comment:
https://salsa.debian.org/python-team/packages/tuf/-/merge_requests/12

Or please update readme file to identify files coming from tor.

This dual licencing is unclear and  rejected by debian :(

The lazy option would be use plain Apache-2.0 if applicable.

[2021-06-16 13:35] stefanor commented on #263
To clarify what I was saying there (I'm "tumbleweed on IRC):

From my understanding, the people who care about such things [don't think BSD-3 is really compatible with MIT-style licenses](https://dwheeler.com/essays/floss-license-slide.html), because it's slightly more restrictive. However, the restriction is debatably moot, so you're probably OK.

Also saying

doesn't clarify the licensing situat

[2021-06-16 14:58] MVrachev commented on #1434
I created a prototype of how those tests could look like in this branch: https://github.com/MVrachev/tuf/tree/invalid-attributes.
@jku what do you think?

[2021-06-16 16:54] #1419 closed, assigned to MVrachev

[2021-06-16 16:55] #1438 closed, assigned to MVrachev

[2021-06-16 16:56] #1439 closed, assigned to MVrachev

[2021-06-16 17:47] jku commented on #1434
I don't think you get any value from introducing the dict-in-dict structure for the data?

You could have these in the same file as the valid test cases, using the same DataSet data structure, using the same decorator. I think having the valid and invalid data for a class (like Key) near each other has value: if the file becomes too big then lets e.g. start splitting Signed-derivates to another fi

[2021-06-16 19:15] jku opened #1452 "MetaFile/TargetFile: ensure securesystemslib errors are all handled"
Filing this so we can merge #1437 (_Add hash and length verification to MetaFile and TargetFile_) and can continue with this afterwards.

We need to review the errors that maybe thrown by securesystemslib in in `Basefile._verify_hashes()`:
* do we want to handle all of them?
* should we just raise LengthOrHashMismatchError or something else?

My first instinct is that this is like verify_signature

[2021-06-16 19:18] #1361 closed, assigned to sechkova

[2021-06-17 08:20] jku commented on #1452
For reference #1435 is the PR to fix same issue in signature verification

[2021-06-20 19:37] jku commented on #1447
We should have the same thing for MetaFile but:
* there's version argument which requires access to the parsed Metadata object
* length and hashes are optional so we need to be able to not include them
* this means we might not need the `Union[bytes, BinaryIO]` argument at all

However we might want to see how this MetaFile API would really be used in the repository side before committing to a des

[2021-06-21 08:43] jku commented on #1444
My thoughts:
* I really dislike the currently used combination of A) loading external, common test data files and B) then modifying them in test code. This creates a situation where everyone is scared of modifying the common files (because that could change unrelated tests), and where reading a test doesn't really give you a good picture of what happens (because you need to read the external test

[2021-06-21 13:14] jku opened #1458 "Metadata API: Add Key.from_securesystemslib_key()?"
I've been playing with repository code / metadata creation and this is a mistake that's bit too easy to make:

[code]

This works just fine... and results in public metadata that includes your private key (TUF key doesn't handle the private key of course but we allow unrecognised fields in the format). Oops.

We should probably have a function for this use case: The securesystemslib key format mig

[2021-06-21 15:08] tedbow commented on #1444
@trishankatdatadog thanks for getting my attention.

Yes we have done a few different things in https://github.com/php-tuf/php-tuf, which only a client-side implementation of the spec, related to this.
We have no releases yet so we have been able to change more quickly.

TLDR: We currently have a [`FixtureBuilder`](https://github.com/php-tuf/php-tuf/blob/afaafa50d4005cf2deb8d60d322bd7d10fb4ef68/fi

[2021-06-21 15:18] jku opened #1459 "Create constructor(s) for creating Metadata from scratch"
I think we should have method(s) that make creating new valid metadata from scratch easier as the current constructor has really been designed for the deserialization use case
* They do not necessarily need to be in metadata.py (client has no need for them)
* They should use reasonable defaults for everything possible, but take the arguments that are needed to create valid metadata

These would be

[2021-06-21 15:19] jku commented on #1444
#1458 _Add Key.from_securesystemslib:key()?_
#1448 _Add TargetFile.from_data()_
#1459 _Create constructor(s) for creating Metadata from scratch_

[2021-06-21 15:43] trishankatdatadog commented on #1458
Very good point. Also making it clear in the function name itself whether you are also getting private or just public key.

[2021-06-21 18:15] trishankatdatadog commented on #1444
I like the idea of a test metadata/targets repo which multiple implementations can test against...

[2021-06-22 06:54] #1441 closed, assigned to sechkova

[2021-06-22 06:55] #1351 closed, assigned to jku

[2021-06-22 08:23] jku commented on #1433
Forgot to mention here: there's a linked PR that implements the
`Metadata.from_bytes(data: bytes, signed_type: Optional[Type[T]] = None) -> Metadata[T]`
version.

It's not the prettiest thing in the world with the type argument but implementation is not too complex and using it feels quite nice.

[2021-06-22 15:03] MVrachev opened #1461 "Metadata Attribute validation: DelegationRole attributes"
The targets class is implemented as a combination of two classes - `TargetFile` and `Delegations` plus the common signed attributes.

All Signed attributes are validated in various prs:
- [https://github.com/theupdateframework/tuf/pull/1430](https://github.com/theupdateframework/tuf/pull/1430)
- [https://github.com/theupdateframework/tuf/issues/1418](https://github.com/theupdateframework/tuf/issue

[2021-06-22 15:36] jku opened #1462 "ngclient: Improve testing (status tracker issue)"
I thought we had an issue for this but could not find one...

The ngclient (both updater and TrustedMetadataSet) testing is inadequate. At a minimum we need to:
* write tests to handle missing lines reported by coverage
* go through the existing updater tests, see if we want to use them and/or if we want to reproduce them

It probably makes sense to file individual issues for smaller pieces of thi

[2021-06-22 15:53] joshuagl commented on #1462
I **really** like the idea of a shared test suite that different implementations can test against and know whether they behave the same way.

I also think we should have tests (perhaps full systems tests, though not if entirely unnecessary) that demonstrate the protections against the [attacks TUF was designed to protect against](https://theupdateframework.github.io/specification/v1.0.19/#goals-to

[2021-06-22 16:15] jku commented on #1462
Yes! the fixture idea is interesting as well, someone needs to get familiar with it: https://github.com/php-tuf/php-tuf/

We should prioritize the more unit testy things (while we don't have the coverage), but nothing prevents looking at this while that happens...

[2021-06-23 07:15] jku commented on #1309
oh now I've filed this twice... I'm closing this one as #1462 has a little more details

[2021-06-23 07:15] #1309 closed, assigned to nobody

[2021-06-23 07:17] #1388 closed, assigned to avelichka

[2021-06-23 07:17] #1391 closed, assigned to MVrachev

[2021-06-23 07:19] #1452 closed, assigned to sechkova

[2021-06-23 08:58] avelichka commented on #1458
I'd like to give it a try, pls :)

[2021-06-23 08:59] avelichka commented on #1447
I'd like to give it a try, pls :)

[2021-06-23 08:59] MVrachev opened #1464 "Metadata API: Test unrecognized fields"
**Description of issue or feature request**:
Add tests for unrecognized fields support.

Read: https://github.com/theupdateframework/tuf/blob/develop/docs/adr/0008-accept-unrecognised-fields.md

Related pr: #1382

[2021-06-23 10:53] MVrachev opened #1465 "ngclient TrustedMetadataSet: write tests to handling coverage report"
**Description of issue or feature request**:
This is the minimal amount of testing we should have and the first step of resolving #1462 for the MetadataBundle.
When resolving the missing lines reported by `coverage` we will decide if we want to handle all of them
or there is a sense of leaving some of them.

[2021-06-23 16:24] rzr commented on #263
May a new issue be created, but meanwhile here are related links:

https://github.com/gsathya/thandy/blob/master/LICENSE

https://hackmd.io/jdAk9rmPSpOYUdstbIvbjw

https://app.slack.com/client/T08PSQ7BQ/C8NMD3QJ3/thread/C8NMD3QJ3-1624384442.076800

[2021-06-24 19:13] samuelgregorovic commented on #1349
i can solve this if you would assign this to me

[2021-06-24 19:19] samuelgregorovic commented on #1349
i can update the docs to exclude old python2 commands and update them to python3, if you would assign it to me

[2021-06-28 06:22] jku commented on #1349
Thank you, assigning

[2021-06-28 08:21] jku commented on #1458
actually `securesystemslib.keys.format_keyval_to_metadata(keytype, scheme, key_value, private=False)` probably does what we want? I think adding a helper still makes sense but it could call that instead of trying to parse key_value itself, and then I _think_ the return value would be usable in `Key.from_dict(sslib_key["keyid"], sslib_key)`... It's still quite ugly but at least we wouldn't assume k

[2021-06-28 12:07] jku opened #1469 "Metadata API: Missing key helper functions in Targets/Delegations"
Root class has functionality to add and remove keys for delegated metadata (`add_key()/remove_key()`) but the other delegator Targets does not. It should provide same/similar functionality.

Some options:
* Add `Targets.add_key(self, role: str, key: Key)` and `Targets.remove_key(self, role: str, keyid: str)`
* Handle the same in Delegations object

I think the former option makes sense so that the

[2021-06-29 10:07] sechkova commented on #1402
I am in favour of the dataclass option because it groups all the configuration at one place and I drafted a proposal based on it:  #1470.
There is also `RequestsFetcher` which needs to be configured on init so I added the configuration as an optional parameter to `Updater`.  However I am not totally sure if this solution makes it convenient enough to customise the configuration and I will be happy

[2021-06-29 14:43] trishankatdatadog commented on #1402
[Me too](https://github.com/trishankatdatadog/tuf-on-a-plane/blob/ee8049a63ea439d72509f6e876eef08fb50c6ab1/src/tuf_on_a_plane/config.py) 🙂

[2021-06-29 14:47] rzr opened #1471 "Track licencing using SDPX headers"
Current double licensing can be unclear,
latest release was rejected by debian project:

https://github.com/theupdateframework/tuf/issues/263#issuecomment-862352717

To address this problem I decided to open a new issue.

The first problem is to identify imported tor's thandy's sources,
so double checking  "Copyright:"   "SPDX-License-Identifier:"  headers in files
would not hurt.

The oldest  cop

[2021-06-29 15:01] trishankatdatadog commented on #1471
Thanks, Philippe!

As far as I'm aware, there's very little code, if any, left over from Thandy...

[2021-06-29 16:17] mnm678 commented on #1471
I opened #1472 to remove the outdated Thandy license info. I'd like to wait for @JustinCappos and others with more historical knowledge of the project to approve, but I believe that will help solve this issue.

[2021-06-29 16:25] trishankatdatadog commented on #1471
Yeap, Justin is best placed to resolve this. I know, for example, I rewrote the download code, but the entire RVCS history has unfortunately been lost.

[2021-06-30 10:09] jku commented on #1469
This could be fixed along with #1426 but also independently. In the latter case the implementation will be inefficient (as delegations.roles is just an array and lookups by rolename are not possible) but that's fine

[2021-06-30 15:59] jku commented on #1409
I was planning to handle this but will push forward: this makes sense after both #1408 and #1455 are merged.

[2021-07-01 16:28] samuelgregorovic commented on #1349
@jku i updated everything relevant i could find + removed some doc-lines where you could find Python2 command alternative. I also updated the `pip install` commands to be consistent to -> `python3 -m pip install`

[2021-07-01 16:28] samuelgregorovic commented on #1349
@jku i updated everything relevant i could find + removed some doc-lines where you could find Python2 command alternative. I also updated the pip install commands to be consistent to -> python3 -m pip install

[2021-07-01 16:47] samuelgregorovic opened #1476 "Refactor idea: type hinting"
While i was going through the project files, i took notice that there is literally no use of type annotations in definitions of methods/functions. Therefore, i want to discuss your opinion on refactoring the codebase -> adding type hinting (no changes to existing docstrings, just adding type hints).
What is your opinion on this? If you would approve this i could do it myself.

[2021-07-01 18:18] trishankatdatadog commented on #1476
The VMware team is hard at work on this! See some of the new ngclient PRs in particular 🙂 I'm sure they could use some help in this area.

[2021-07-01 18:27] samuelgregorovic commented on #1476
i will check that out. thanks

[2021-07-01 18:36] #1476 closed, assigned to nobody

[2021-07-02 07:07] jku commented on #1476
@samuelgregorovic  I know the current work and plans are not visible as well as they should be -- sorry about that, we're trying to be better. We're very keen on static typing improvements and such (but with some caveats, see below).

In short:
* There's a refactoring/rewrite effort: see the tuf/api/ directory (and tuf/ngclient/ once #1408 merges). We're hoping to make this code "the TUF source co

[2021-07-02 07:09] samuelgregorovic commented on #1476
@jku thanks! will do

[2021-07-02 13:16] jku opened #1478 "Metadata API: Role keyids is not ordered"
We made Role.keyids a set because the keyids are supposed to be unique -- this still makes sense

However, the data should also preserve order (when deserialized and serialized) and currently it does not. This is fairly serious since writing signed data potentially modifies the data (making the signature invalid).

* We should have tests that deserialize/serialize metadata with more than one item

[2021-07-02 14:26] mnm678 commented on #1471
I just merged #1472. Is there anything else needed to address this issue @rzr?

[2021-07-02 15:26] rzr commented on #1471
looks good , do we want next released  to be also MIT licensed ?
since the file is still present:

https://github.com/theupdateframework/tuf/blob/develop/LICENSE-MIT

I'll try to submit next release to debian and see how it goes.

BTW MIT license is not encouraged since it brings some kind of ambiguity.

For dual licensing may I also suggest to use ISC instead.
which is in same vein of MIT:

https

[2021-07-03 16:55] JustinCappos commented on #1478
Good catch.  I wonder if there are multiple valid ways to get the same set
from serialized data.  I'm not sure yet what all attacks this could enable,
but it is worth thinking about.

@Marina Moore ***@***.***>

On Fri, Jul 2, 2021 at 9:16 PM Jussi Kukkonen ***@***.***>
wrote:

[2021-07-05 07:08] jku opened #1479 "ngclient: support HASH.FILENAME.EXT for downloading targets"
Specification:

ngclient currently does not insert the hash when consistent_snapshot is true, but it should.

Additionally we should offer a way to not do hash prefixing (the use case is warehouse where urls are already unique and include a hash)

[2021-07-05 08:49] jku commented on #1478
The serialization test case is indeed easy: this fails `test_role_serialization()` almost always:

    "many keyids": '{"keyids": ["a", "b", "c", "d", "e"], "threshold": 1}',

So I think the easiest solution is:
* revert the decision to use Set for Role.keyids -- python does not have an OrderedSet and using a Dict for this looks really weird
* instead make the attribute a private `_keyids: List[st

[2021-07-05 16:52] jku opened #1482 "Docs: Enable continuous documentation build"
We want to be able to build and publish documentation (API docs for Metadata API and ngclient at least) as part of our continuous integration.

This bug is about choosing the tools, integrating with the TUF build system and filing any remaining issues as bugs.

Some notes:
* Sphinx seems the "obvious" choice as the docs build tool
* Using a service like ReadTheDocs also seems like a good choice (b

[2021-07-06 09:43] joshuagl commented on #1482
I think we should start fresh with API docs for new code. As a separate item we can do a review of the material in docs/ to determine what's worth keeping and translating to the new docs format.

Some items in docs are out of date and some of them duplicate better maintained documentation elsewhere, I'm happy to own reviewing those and making recommendations.

[2021-07-06 11:50] sechkova opened #1483 "ngclient: remove URL normalization"
**Description of issue or feature request**:

Document that URL is expected to be is a percent encoded URL throughout the client code and remove URL string normalization _in lower level methods_ like the one in:
https://github.com/theupdateframework/tuf/blob/745a8f7680c69ea290d48bc5a2066dd4ad9781d3/tuf/ngclient/_internal/download.py#L88

[2021-07-06 11:59] sechkova opened #1484 "ngclient: consider removing SLEEP_BEFORE_ROUND"
**Description of issue or feature request**:

As documented in the code SLEEP_BEFORE_ROUND exists because:
[code]
Consider whether this is still the case with the newer code and fix the issue if needed.
Remove the sleep constant.

[2021-07-06 13:39] joshuagl commented on #1482
See this in-toto PR for prior art https://github.com/in-toto/in-toto/pull/341 which publishes here https://in-toto.readthedocs.io/en/latest/

[2021-07-06 13:43] joshuagl commented on #1483
See also https://github.com/theupdateframework/tuf/issues/1077

[2021-07-06 14:29] joshuagl opened #1485 "Test [de]serialization of metadata with more than one item in each container and zero items (where valid)"
**Description of issue or feature request**:

Testing, particularly [de]serialisation, should cover metadata containers with more than one item and, where it makes sense (per the specification), zero items.

**Current behavior**:

Testing only covers one item per container.

Ref https://github.com/theupdateframework/tuf/issues/1478

[2021-07-06 17:25] sechkova commented on #1478
Here is the commit making signatures deterministic by sorting the set of signing keys in case this may help: https://github.com/theupdateframework/tuf/commit/846604a259e34742b2bd1759c3b7eec1ed438ddf

But in this case keys would have to be the same sorted set on serialization and deserialization so it may not be the best solution.

[2021-07-06 18:45] jku commented on #1478
I'm sure sorted() is reliable in its sort but the return value is not a set (it's a list) -- so we won't get the benefits we were hoping for by using a set (namely the API safety in that adding non-unique keyids  would be very difficult).

Edit: or maybe you mean we could use set but always serialize using sorted? That might work...

[2021-07-07 08:25] #1402 closed, assigned to sechkova

[2021-07-07 08:26] #1410 closed, assigned to sechkova

[2021-07-07 08:27] #1464 closed, assigned to MVrachev

[2021-07-07 08:51] joshuagl commented on #1413
Blocked by merge of #1436

[2021-07-07 09:28] joshuagl commented on #1479
@jku suggested that whether or not to hash prefix could be a `ngclient.config` option for the whole updater (rather than passing a boolean to each method call, as is [done in the current client](https://github.com/theupdateframework/tuf/blob/develop/tuf/client/updater.py#L1302))

[2021-07-07 10:18] jku commented on #1429
Okay so the core findings are:
* keyval["public"] as defined  in the spec for e.g. RSA keys does not make it possible to enforce uniqueness (it's not hard to create different values for the same private key)
* The spec does not actually define keyval content for keys in general (only for the three included key formats): "public" is not even a required field.

With this in mind, TUF should not try

[2021-07-07 10:18] #1429 closed, assigned to nobody

[2021-07-07 13:21] #1434 closed, assigned to MVrachev

[2021-07-07 14:36] MVrachev commented on #1461
We shouldn't forget to add tests for invalid attributes the way we did for the rest of the attributes here: #1460.

[2021-07-09 07:22] jku opened #1487 "Metadata API: Add Metadata.to_bytes()"
`Metadata.to_bytes()` is missing from the API and that is now becoming annoying when writing the tests.
I think it makes sense to add: it'll complete the serializing counterparts to `from_bytes()/from_file()`

[2021-07-09 11:55] sechkova commented on #1409
I had partial success when trying to enable `mypy` for `ngclient`: #1489

Two main issues remain:
1.  `mypy` cannot figure out our intentions to instantiate Signed `subclasses`
2.  `mypy` considers some values as potentially "None" at places where we think we have ensured that this is not possible (esp in trusted_metadata_set where we know the state but mypy doesn't)

see https://github.com/theupd

[2021-07-12 08:25] jku commented on #1425
So I've done a rough conversion... and I'm not convinced:
* changes are quite invasive to the API: the changes in Metadata itself are documented fairly well above but it also ends up modifying Serialization
* the gains are not as impressive as they seemed at first glance: most times when we deal with rolenames we may not have the metadata object yet
  * e.g. when updating a delegated targets we wa

[2021-07-12 10:39] joshuagl commented on #1425
Thanks for doing the research. If you have your WIP changes somewhere, might be good to link them here?
Shall we close this issue?

[2021-07-12 10:45] #1306 closed, assigned to jku

[2021-07-12 10:53] jku opened #1491 "licensing issues with code from Thandy"
When TUF was created some Thandy (Tor project udpater) source code was used -- often not directly copied but there are clearly places that are derivative. TUF itself does not seem to have any derivative code left anymore but Securesystemslib clearly does. The cases I found in my review are:
* JSON functions in https://github.com/secure-systems-lab/securesystemslib/blob/master/securesystemslib/form

[2021-07-12 12:09] jku commented on #1425
let me rebase before pushing a branch so we see at least the the verify_delegate() improvement...

Something I forgot to mention in the first comment: The non-targets roles of course would be super easy to work with (as the rolename is the signed type...) but that still leaves all targets. So if the Metadata constructors were in Signed implementations (as in the generics experiment branch) that mi

[2021-07-12 12:16] nmathewson commented on #1491
Hello. I hereby confirm that we at the Tor Project are okay with dual-licensing Thandy under "MIT OR Apache 2.0".  Cheers!

[2021-07-12 12:39] jku commented on #1425
https://github.com/theupdateframework/tuf/commit/20662aa83bc64fed5a7ccc78a21d360883cb078b

* looks a bit better now (at least if you look at the verify_delegate() tests)
* still lot of API change

Copying comment from the commit:
* from_bytes() requires a rolename: this could be inferred
  for other roles but not for targets... but this seems hard to
  express in the API
* If Signed implementation

[2021-07-12 12:48] joshuagl commented on #1491
Much obliged to you and the Tor project, thanks @nmathewson !

[2021-07-12 19:59] trishankatdatadog commented on #1491
Fantastic work, thanks everyone 🙏🏽

[2021-07-13 08:19] jku opened #1492 "tests: reconsider encrypted private keys"
On my machine ~40% of the tests runtime (11seconds out of 27 seconds) seems to be spent on decrypting private keys. This seems unproductive.

We should not encrypt the keys except for cases that may be actually testing key en/decryption

[2021-07-13 13:24] joshuagl commented on #1491
We've merged a PR to securesystemslib which adds the Tor copyright to the relevant files: https://github.com/secure-systems-lab/securesystemslib/pull/366

Thank you everyone for the resolution here.

[2021-07-13 13:24] #1491 closed, assigned to nobody

[2021-07-13 14:21] jku commented on #1492
This is not critical to fix, but would make tests a lot snappier.

Steps, roughly:
* Make the "generic" test keys (in tests/repository_data/keystore/) that are used in all tests **not** encrypted
* make sure all test code that loads those private keys doesn't try to decrypt them (I think dropping the password argument will do that in all cases?)
* there is specific functionality in at least reposi

[2021-07-14 07:24] #1399 closed, assigned to sechkova

[2021-07-14 09:36] jku commented on #1349
Fixed in #1493, thanks!

[2021-07-14 09:36] #1349 closed, assigned to samuelgregorovic

[2021-07-14 19:09] MVrachev commented on #1479
From my understanding, in order to implement this feature, we would want to:
1. enable writing files with filenames `HASH.FILENAME.EXT` to the repository
2. enable downloading filenames with names `HASH.FILENAME.EXT`
3. add an option in the `ngclient.config` with True by default

Am I right about the steps or there is something else?

[2021-07-15 06:25] jku commented on #1479
This bug is about ngclient so that won't be necessary.

If consistent_snapshot is true and if the new config option says so, yes.

Default should be to hash prefix target filenames (if consistent_snapshot==True)

[2021-07-15 08:52] #1478 closed, assigned to MVrachev

[2021-07-15 11:02] jku commented on #1168
The original issue (chaining root trust from bootstrap root.json) should now be fairly easy to implement in ngclient:
* Updater should take the bootstrap root file (or bytes?) as optional constructor argument, and initialize the TrustedMetadataSet with it
* Updater should be modified to store _versioned_ valid root metadata files (`<N>.root.json`) in the local metadata store. Even if Updater was n

[2021-07-15 16:13] MVrachev opened #1497 "Metadata API: validate that "paths" or "path_hash_prefixes" is set"
**Description of issue or feature request**:
As @sechkova  have pointed out in this comment https://github.com/theupdateframework/tuf/pull/1463#issuecomment-875745034 in `DelegatedRole` we are checking if `paths` and `path_hash_prefixes` BOTH are set, but we aren't checking
if at least one of them is set:
https://github.com/theupdateframework/tuf/blob/24fa1128116429dc18e185047fbffb009ca509b0/tuf/a

[2021-07-15 16:32] jku opened #1498 "ngclient: improve rollback protection"
I believe ngclient implements the spec as its written... but fails to follow the spirit of the spec in one aspect: as the spec does not explicitly say that expired snapshot and timestamp can be used to do the rollback checks of new snapshot and timestamp (while it does explicitly allow this for root), ngclient does not use expired snapshot and timestamp and instead considers those expired versions

[2021-07-15 17:22] mnm678 commented on #1498
This sounds good with the caveat that expired timestamp or snapshot should not be used to check for rollback attacks if the snapshot or timestamp keys have been replaced (for fast forward attack recovery).

The spec changes might fit as part of theupdateframework/specification#150, or maybe as a separate pr once we finalize that one.

[2021-07-15 17:51] jku commented on #1498
Yes, as I said all validity checks should be done except expiry. If metadata is not signed correctly it does not get used for anything.

[2021-07-15 19:38] MVrachev opened #1499 "ngclient Updater: write tests to handling coverage report"
**Description of issue or feature request**:
This is the minimal amount of testing we should have to enable coverage for the ngclient updater and the first step of resolving #1462 for the Updater.
When resolving the missing lines reported by `coverage` we will decide if we want to handle all of them
or there is a sense of leaving some of them.

[2021-07-16 12:13] MVrachev commented on #1499
We should remember to test downloading files with filenames `HASH.FILENAME.EXT` or when consistent_snapshot is True.

[2021-07-16 12:14] #1400 closed, assigned to avelichka

[2021-07-16 12:14] #1487 closed, assigned to nobody

[2021-07-16 12:40] jku commented on #1497
I don't think there's a clear consensus that that is the expected behaviour https://github.com/theupdateframework/specification/issues/156

I thought `paths=None, path_hash_prefixes=None` was legal and means "I want to delegate everything" as otherwise that wouldn't be possible at all (well `path_hash_prefixes=[""]` probably would delegate everything but seems even more like a hack). I don't think

[2021-07-19 07:25] jku commented on #1273
We have succeeded :pray: ngclient does not import settings anymore

(to be clear: settings module still exists and is used in the legacy code. But Metadata API and ngclient do not use it and there's 0 reason for any repo-side tools to do that either)

[2021-07-19 07:25] #1273 closed, assigned to nobody

[2021-07-20 09:50] jku opened #1502 "ngclient requestsfetcher result when length > max_length"
If RequestsFetcher downloads a URL and the content is longer than max_length, RequestFetcher does not raise but returns max_length bytes.

This is not a fatal issue but leads to a strange situation where the `TargetFile.verify_length_and_hashes()` actually succeeds the length check (because it got exactly max_length bytes) and only fails the hashes check.

I think RequestsFetcher should either

1.

[2021-07-20 13:17] joshuagl commented on #1497
Let's implement something which replicates the behaviour of the current client until the specification better defines what is expected.

[2021-07-20 13:59] jku opened #1504 "improve "generic" Metadata module documentation"
We should improve the Metadata module documentation just a bit so that it explains what the API is.
I don’t think it needs a lot. But something like:
* Defines an interface to single metadata role/file
* does not have concepts like “repository” or “trusted collection of metadata”
* Aims to provide safe de/serialization, **and** a safe API for accessing/modifying the data
* Does not implement clien

[2021-07-22 09:27] sechkova opened #1505 "ngclient: implement glob-like pattern matching"
**Description of issue or feature request**:

According to the [recently updated version of the specification ](https://github.com/theupdateframework/specification/pull/174)the shell style wildcard matching is glob-like, and therefore a path separator in a path should not be matched by a wildcard in the PATHPATTERN.

**Current behavior**:
A path separator in a path is matched by a wildcard in the

[2021-07-23 13:06] sechkova commented on #1497
Done with 2159b88.

[2021-07-23 13:17] sechkova opened #1506 "ngclient: avoid lstrip(os.sep) on target paths"
**Description of issue or feature request**:

During matching of target file path and pathpattern in ngclient/updater.py we normalize the paths by removing the leading os separator.

[code]

**Current behavior**:
Normalize file path and pathpattern in case they start with `os.sep`

**Expected behavior**:
Define a valid target file path and pathpattern strings and reject everything else.
Don't supp

[2021-07-23 13:18] sechkova commented on #1505
See related issue #1506

[2021-07-23 13:25] sechkova opened #1507 "ngclient: return loaded metadata from Updater._load_targets"
**Description of issue or feature request**:
During the traversal of the delegations tree, each targets metadata file is first loaded/downloaded and then "visited".
It would be convenient if `Updater._load_targets` directly returns the loaded metadata to avoid lookup on the next line.

**Current behavior:**
[code]

**Expected behavior:**
[code]

[2021-07-23 15:03] sechkova commented on #1502
By our own definition fetch "Ensures the length of the downloaded data is up to 'max_length'." Meaning that if we implement 2 we are not complying with our own API. Or we can update the API too.

[2021-07-26 14:36] MVrachev commented on #1485
I started working on this and adding tests.

[2021-07-27 12:22] #1385 closed, assigned to jku

[2021-07-28 08:26] MVrachev commented on #1499
The current coverage all percentage reported for `tuf/api/ngclient/updater.py` is 77 %.

[2021-07-28 08:45] joshuagl commented on #1425
To be re-assessed when we have figured out #1457

[2021-07-28 11:08] sechkova commented on #1505
Currently the implementation uses [fnmatch](https://docs.python.org/3/library/fnmatch.html#fnmatch.fnmatch) from the `fnmatch` module which doesn't distinguish the filename separator ('/' on Unix) as a special character.
The recommended "path-aware" module by the python docs is the `glob` module. However `glob.glob `does it by accessing the filesystem and working relative to the current dir (or it

[2021-07-28 14:13] MVrachev commented on #1230
@jku has suggested removing the update functions as a whole and replacing them with `add/remove` functions in
my recent pr: https://github.com/theupdateframework/tuf/pull/1446#discussion_r653296374

[2021-07-28 21:38] joshuagl commented on #1499
From @MVrachev in https://github.com/theupdateframework/tuf/pull/1463#pullrequestreview-715850729

[2021-07-28 22:03] #1413 closed, assigned to sechkova

[2021-08-02 16:09] MVrachev commented on #1411
I think it makes sense to implement this for the use case that we are sure about - add a path in `TargetFile` and then
if one day we see a benefit for adding the name in `MetaFile` then we should add it.
Do you agree @jku?
I can propose a pr for this.

[2021-08-02 19:14] MVrachev commented on #1392
I agree with the sentiment that you wouldn't expect to change the file just by deserializing and serializing.
I would even consider this as a bug because it's sure not what you would expect.

My opinion is that we should change the default behavior of `Metadata.to_bytes()` and consequently to
`Metadata.to_file()` so that it doesn't use `serializer = JSONSerializer(compact=True)` by default, but
in

[2021-08-03 13:51] MVrachev commented on #1411
I am working on this one already.

[2021-08-03 14:03] MVrachev commented on #1411
I decided to propose a pr adding target name in `TargetFile`, so that the use case we are sure about is addressed and after that, we can discuss if we want to do the same thing for `MetaFile`.

[2021-08-04 07:17] jku commented on #1507
This should go one level deeper. right? TrustedMetadataSet should return the new trusted Metadata on successful calls to all `update_*()` functions?

This doesn't make the task any more complex but means it could be done in two bits: first add the TrustedMetadataSet changes, then use them in `Updater._load_targets()`

[2021-08-04 10:07] jku commented on #1392
I'm changing the title so this is not about the client (as the client can just avoid serializing).

I don't fully agree with that: deserialize/serialize is logically a destructive operation: there are infinite json files that deserialize to same Metadata but a single Metadata should always reproducibly serialize to a single json file. The idea of preserving the original file content and writing th

[2021-08-05 12:59] jku commented on #1499
also
* we're probably not testing cycle prevention in _preorder_depth_first_walk(): this is the `if (role_name, parent_role) in visited_role_names` branch
* test that terminating actually prevents backtracking to other roles (but does not prevent e.g. finding an earlier sibling role)

[2021-08-09 08:45] jku opened #1516 "Metadata API validation: validate root roles dictionary content"
Spec says this about root roles:

The reference to "key list" seems like a mistake (maybe referring to  an earlier design?) but the intent seems clear: the roles dictionary is allowed to contain either the roles for `["root", "snapshot", "timestamp", "targets"]` or the roles for `["root", "snapshot", "timestamp", "targets", "mirror"]` (and I suppose we are not going to implement mirror for now)).

[2021-08-09 09:33] jku commented on #1444
Here are some issues with testing the updater (these apply to new and old one):
* testing is based on json files in git  -- these are shared by multiple tests so can't be safely modified. Extending the test set also feels unwise currently since there's no infrastructure to re-generate the set automatically
* new versions of the repository metadata are created in testing code: there is a lot of boi

[2021-08-09 11:40] jku commented on #1506
some additional thoughts here, first for pathpattern:
* pathpattern comes from the server: the spec "recommends"  that '/' is used as the separator. I believe it is impossible for a client implementation to support arbitrary separators -- every implementation needs to choose one and stick with it. I also believe it makes no sense for even the reference implementation to even optionally use/accept

[2021-08-09 16:05] davidstrauss commented on #1444
We're also doing this for PHP-TUF.

[2021-08-10 07:55] jku opened #1518 "docs: tutorial/example for ngclient Updater"
EDIT: **I think starting with out-of-the-box runnable example code is a better idea: see comment below** (original issue follows:)

the updater module docs show how to write a  client in five lines of code but they also mention dependencies:
[code]
 would be nice to have really easy to follow instructions that handle all of that...

The tutorial should live within the documentation but not in the

[2021-08-10 07:57] jku commented on #1518
I'm marking this good first issue even if it's not completely trivial: if you're interested, feel free to ask for a bit of advice.

[2021-08-10 08:01] #1398 closed, assigned to sechkova

[2021-08-10 09:17] joshuagl commented on #1506
[RFC2119](https://datatracker.ietf.org/doc/html/rfc2119) states:

   may exist valid reasons in particular circumstances to ignore a
   particular item, but the full implications must be understood and
   carefully weighed before choosing a different course.

IMNSHO the reference implementation does not have a valid reason to ignore any RECOMMENDED/SHOULD entry in the specification and doing so do

[2021-08-10 09:58] sechkova commented on #1497
76d46336007ef9a6974b5ef3e6bac7e3a62924f6 which replicates current client behaviour is merged so until the issue in the specification gets resolved, the client raises an error if none of paths and path_hash_prefixes is set.

Closing this issue and will reopen if an update of the code is needed to conform to the spec.

[2021-08-10 09:58] #1497 closed, assigned to sechkova

[2021-08-10 13:58] jku commented on #1516
These seem to be the steps:
* validate `roles` dictionary keys in `Root.__init__()`: keys should be ["root", "snapshot", "timestamp", "targets"]
*  update failing tests (at leasts test_metadata_serialization valid_roots dataset makes assumptions about this)
* add a test for wrong roles

Additionally:
* roles should be annotated as Mapping instead of Dict (this prevents nothing but informs users th

[2021-08-10 14:13] jku commented on #1518
The alternative to a tutorial might be to write a small example client that can just be executed, and short documentation for it -- the content is going to be roughly the same but I feel like an example is more useful?

Possible initial implementation using the tests repository data
* client python code in `examples/example-client.py`
* examples/metadata/root.json copied from tests repository
* ex

[2021-08-17 08:00] #1465 closed, assigned to MVrachev

[2021-08-17 14:21] jku commented on #1498
There's one more rollback case we handle worse than we should:
* timestamp gets updated and now contains snapshot version N+1
* now local snapshot version N < N+1: TrustedMetadataSet considers that untrusted (IMO correctly since spec does not explicitly say the wrong version can be trusted) and does not load it
* when we update new snapshot, the rollback checks in 5.5.5 are not done because there

[2021-08-18 06:20] #1479 closed, assigned to MVrachev

[2021-08-18 07:14] jku commented on #1498
If hashes/length are included for metadata, then we can't check those either for the purpose of rollback checks -- we can check for them once we have the "final" snapshot but not before.

EDIT: this is actually a slightly (but for ngclient meaningfully) different case: hashes/length check is a security measure to prevent parsing data we don't trust, while the various rollback cases are for data th

[2021-08-18 08:30] jku opened #1523 "ngclient: review snapshot hashes/length check"
Update process if timestamp meta contains hashes for snapshot:
* local root is loaded, root is updated until final
* local timestamp is loaded
* timestamp is updated (_meta (version, hashes, length) for snapshot changes here_)
* local snapshot is loaded  (_hashes do not match meta in timestamp, preventing loading_)
* remote snapshot is loaded -- **rollback checks are not done because local snapsho

[2021-08-18 09:01] #1433 closed, assigned to jku

[2021-08-18 09:04] jku commented on #1409
this is no longer blocked by missing Metadata generics: I just merged that

[2021-08-18 09:52] MVrachev commented on #1506
I am going to address this issue in my pr #1512.

[2021-08-18 10:16] jku commented on #1471
So #1472 removed the mention of thandy files in TUF (and my review agrees with that assessment: there is no thandy code in TUF itself). In addition #1491 has Tor project relicensing thandy code as "MIT OR Apache2.0": this is relevant because securesystemslib _does_ have some thandy code in it (https://github.com/secure-systems-lab/securesystemslib/issues/365).

All code files (apart from empty `__

[2021-08-18 10:16] #1471 closed, assigned to nobody

[2021-08-19 13:11] jku opened #1525 "docs: remove docs/ROADMAP.md (or update it)"
I'm updating some documentation and noticed our installation document refers to ROADMAP.md.

This file is not updated and does not seem to have a lot of useful information: I suggest we remove it and links to it.

[2021-08-19 13:59] trishankatdatadog commented on #1525
No, I think we should keep it. Let's make a process to update the roadmap once a quarter/year? We can talk about it in the next community meeting. @mnm678

[2021-08-20 08:42] jku commented on #1525
I'm going to push back on this on principle. We have too much documentation (in comparison to maintenance resources).

In this case, there are many ways to document future plans, a text file is one possibility. Someone should show that ROADMAP.md is useful for the project and is being maintained, then I'm all for keeping it.

[2021-08-20 14:23] MVrachev commented on #1504
I can work on this one and will self-assign myself.
If somebody else is already working on this issue please let me know.

[2021-08-20 15:01] trishankatdatadog commented on #1525
Let's discuss this at the next meeting.

[2021-08-20 15:08] jku opened #1526 "ngclient: persist metadata in a safer way"
tuf/ngclient/updater.py: `Updater._persist_metadata()`:

        with open(os.path.join(self._dir, f"{rolename}.json"), "wb") as f:
            f.write(data)

this is not as safe as it should be (as file could be corrupted midway through). This should work:
* write content to tempfile
* use `sslib_util.persist_temp_file()` to move tempfile to correct filepath

[2021-08-20 18:14] MVrachev opened #1527 "Metadata API: Delegation role names validation"
**Description of issue or feature request**:
Delegation role names are not restricted in any way in the spec, but they are targets metadata role names.
They could be `"."`, `"../../filename"` or `1.role`.
The problem is that at some point those delegation role names are used when constructing an URL used
to download the delegated target metadata file:
https://github.com/theupdateframework/tuf/blob

[2021-08-20 18:51] trishankatdatadog commented on #1527
Cc @asraa @mnm678 @joshuagl

[2021-08-21 08:29] jku commented on #1527
I don't know of specific problems with using these as urls (although those might exist as well), but the obvious problems are in client using the rolename as part of a local file name (this is not just how the reference client is implemented, the spec seems to require doing this): in this client case role names like  `1.root` or `snapshot` or `../../filename` could easily be pretty bad if we assum

[2021-08-22 13:45] jku opened #1528 "ngclient: skipping visited roles"
spec says (for each role in delegation tree):

ngclient does:

[code]
So it only skips if role has been visited _from same parent_. If there is a good reason for allowing the same role multiple times in the delegation tree (against the spec), it should be documented somehow. Alternatively we should do what the spec says and make visited_role_names just a set of role names (and not a set of tuple).

[2021-08-22 14:42] suvadityamuk commented on #1526
Hey. I have prepared a fix to this. Should I put up a pull request on this? It's my first open-source contribution, so any inputs will be much appreciated.

[2021-08-23 08:14] jku commented on #1528
I guess the reasons are related to this https://github.com/theupdateframework/specification/issues/177

Still, IMO the spec seems clear on what the requirements are now: a role can only be in a specific delegation tree _traversal_ once by specification. So we should have at least comment explaining the reason for not doing that.

[2021-08-23 11:17] jku commented on #1526
After Suvaditya did the PR I decided to double check the persist_temp_file() implementation: turns out it does not make sure the write is atomic.

So I believe we need to handle this a bit more manually: http://stupidpythonideas.blogspot.com/2014/07/getting-atomic-writes-right.html ("The Solution" chapter) documents a correct way to do this in python:
* use NamedTemporaryFile to generate a safe te

[2021-08-23 11:23] suvadityamuk commented on #1526
Understood, I'll make the changes accordingly. Could you possibly assign this task to me?

[2021-08-23 15:22] asraa commented on #1527
Ah, yeah, by and large I agree. In the case of Sigstore delegations to projects, e.g. `github.com/kubernetes/kubernetes`, we were thinking of using the full URL (to avoid e.g. github vs gitlab collisions) as the project name, which would obviously cause problems. I'm really not sure what the right answer is here, if we should sanitize it in the application uniformly by removing the `/`. I definite

[2021-08-23 15:44] MVrachev commented on #1426
I want to work on this and will assign myself.
If somebody else is already working on it, please let me know.

[2021-08-23 16:19] mnm678 commented on #1527
Maybe this should be part of the filesystem API? That way `.` and `/`' could be disallowed for unix-like filesystems, but could be allowed, with restrictions for sigstore delegations to git repo urls.

Although, these role names are in signed metadata, so it might be reasonable to just trust the delegator to know what a reasonable role name is for a particular situation.

[2021-08-23 16:36] jku commented on #1527
I'm not suggesting banning e.g. dots because filesystems can't cope with them (they certainly can). But if you implement clients/repository tools that use the filesystem to store metadata, you end up with code that writes a lot of files with either "ROLENAME.EXT" or "VERSION.ROLENAME.EXT". So let's assume there is a file `1.root.json` in our metadata storage: is that the first version of "root" ro

[2021-08-23 17:01] jku commented on #1527
Yeah I can see really reasonable use cases here... preventing this does seem bad.

Maybe we need to think about changing the filename aspect instead: either review all the possible conflicting cases WRT versions and names or use something safe as filename (straw man suggestion: rolename hashes as filenames)

[2021-08-23 19:21] asraa commented on #1527
Ugh, what a case. Yeah, this turns hairy. You could say we expect that if there's a <NUMBER>. then interpret that as a VERSION, but then we get really weird parsing rules like, we expect rolenames to start with an ^[0-9] character, or say we only expect [a-z], _ that end up limiting our possible name and uses of URLs.

Yeah interesting! This all be solved by having the delegation object include a

[2021-08-23 19:57] trishankatdatadog commented on #1527
Clients should not store consistent snapshots of metadata with version numbers in the filename, but this may complicate consistent snapshots on the server side. You may see funny things like `1.1.root.json` (version 1 of the "1.root" role).

I'm not sure this is a security issue: as long as one cannot forge keys, we should be ok, but need to think about this a bit more.

[2021-08-24 06:19] suvadityamuk commented on #1526
Okay, so the changes are done and I have tested it, all seems correct. What do I do about that commit problem now? Do I copy that email-address that it is expecting and make the commit message accordingly or what?

[2021-08-24 06:48] jku commented on #1527
spec say does say that, you are right... but one of the reasons I noticed this was that I was planning to store versioned files for root as it would help with bootstrapping from a "more" trusted root (#1168). Since "1.root" is also a valid rolename, this obviously isn't currently safe -- and I don't think this is immediately obvious to a client developer: it wasn't to me.

For the client, I'm not

[2021-08-24 07:34] suvadityamuk commented on #1526
Sorry for the PR mess here.

[2021-08-24 13:51] trishankatdatadog commented on #1527
Agreed. I think we should able to define good rolenames without opening any funny path-traversal attacks.

A regex that allows for simple rolenames but also GitHub repos should work. Might be a bit too restrictive to keep absolutely everybody happy, but better than allowing nothing complicated, and also safe. What does everyone think?

[2021-08-24 13:51] trishankatdatadog commented on #1527
And also, obviously, this becomes a https://github.com/theupdateframework/specification rather than implementation-specific issue

[2021-08-24 15:03] MVrachev commented on #1469
I want to work on this and will assign myself.
I proposed a solution in the above pr #1537.

[2021-08-24 15:29] suvadityamuk commented on #1526
Okay, I do not understand what is going wrong. All tests were passing on my local computer using `python3 aggregate_tests.py` as well as `python3 test_updater_ng.py`.
Could you please let me know?

[2021-08-24 17:05] #1498 closed, assigned to jku

[2021-08-24 17:21] hosseinsia opened #1538 "root version does not increase when top-level keys are updated"
Please fill in the fields below to submit an issue or feature request.  The
more information that is provided, the better.

**Description of issue or feature request**:
I followed the steps described here https://github.com/theupdateframework/tuf/blob/develop/docs/CLI.md#correcting-a-key  to revoke a root key and add a new key. Upon completion, the keys update but the version for root.json stays t