[2022-02-01 15:42] MVrachev commented on #1812
I don't like the side effect of sorting the keys when calling `json_dumps()` creates.
For example, if you read a target file and its delegated roles are not sorted by names _(keep in mind we store delegated roles as a dictionary where the key is the role name and the value is the role info)_, then when calling `Metadata.to_file()` the delegated roles will be sorted, but the signature won't be upda

[2022-02-01 16:31] jku commented on #1812
No. delegated roles is a list in json. It does not get sorted by json module.

[2022-02-02 09:56] jku commented on #1802
To complete the options here: If we allow unrecognised_fields in Signature then there's nothing preventing allowing them in Metadata itself as well.

[2022-02-02 14:12] jku commented on #1785
We went through this with Martin and came back with this list:
* verify_signature() should handle SerializationError and throw UnsignedMetadata (this is what callers are interested in)
* verify_delegate() should document ValueError and TypeError
* from_securesystemslib_key should raise ValueError if securesystemslib.FormatError is caught
* All __init__() and from_dict() should document ValueError

[2022-02-02 14:36] jku opened #1816 "Metadata API: verify_signature() should handle SerializationError"
From #1785: let's handle SerializationError and raise UnsignedMetadataError instead in verify_signature() so that there's a single error only: a client application (or even ngclient) is not going to want to handle a serialization error when calling verify_signature()

[2022-02-02 14:38] jku opened #1817 "Metadata API: verify_delegate() should document errors"
From #1785

verify_delegate() should document ValueError (invalid argument) and TypeError (call is valid only for Metadata[Root] and Metadata[Targets])

[2022-02-02 14:42] jku opened #1818 "Metadata API: from_securesystemslib_key() should handle sslib error"
from #1785

`from_securesystemslib_key()` should raise ValueError if securesystemslib.FormatError happens in format_keyval_to_metadata().

from_securesystemslib_key() is a helper so that repository code does not need to figure out how to safely get a Key from a securesystemslib private key. The securesystemslib call done there is a bit useless (we could just probe the dictionary ourselves) but sin

[2022-02-02 15:12] MVrachev opened #1819 "Document exceptions for __init__ and from_dict() methods in Metadata API"
Document `ValueError` (and `KeyError` if needed) exceptions for `__init__` and `from_dict()` methods in Metadata API.

The reason this was not done is that this sort of makes it looks like the programmer should handle these errors... but as long as we are clear in the docstring that these are invalid argument errors, this should be fine

For context read https://github.com/theupdateframework/pytho

[2022-02-02 15:15] MVrachev commented on #1785
There are issues for all of those:
- #1816
- #1817
- #1818
- #1819

We can close this issue as it's a little vague.

[2022-02-02 15:15] #1785 closed, assigned to lukpueh

[2022-02-02 15:18] MVrachev commented on #1763
We discussed with @kairoaraujo that I will take this issue while he is focused on working on Warehouse related stuff.

[2022-02-02 16:18] asraa commented on #1802
It was majorly convenient adding a cert field to the signature -- +1

[2022-02-03 08:13] jku commented on #1812
I think this is in no way required: we just happen to do it that way. The reason for the sorting is likely this: it guarantees that Metadata objects that are "semantically" equal will produce the byte-for-byte same serialization. If the sorting wasn't done, then seemingly equal Metadata   objects can produce different json. Think of e.g. two equal Metadata objects where the same keys are added int

[2022-02-03 10:04] lukpueh commented on #1797
Exactly! That's what I meant with *"...or better frame existing documentation"*

[2022-02-03 10:08] lukpueh commented on #1806
Thanks for the effort, @jku! I meant to write a ticket with 16192902cef3cb669deb0e085c981341ced9c347 but then thought, let's cross the bridge when we get there, i.e. when we need to regenerate those fixtures. All the better when there's already a ticket.

[2022-02-03 11:07] lukpueh commented on #1807
AUTHORS.txt (and the [acknowledgement section in the main README](https://github.com/theupdateframework/python-tuf/blame/b2704a56a8c5023ffd7d377d8a8e72fb26a46a8a/README.md#L130-L132)) has a few names that aren't in `git shortlog`, because
- their involvement predates the use of `git` for python-tuf development, or
- they contributed to a TUF subproject other than python-tuf (e.g. notary, etc.)

I

[2022-02-03 11:18] jku commented on #1764
Closing as #1794, #1805 are closed and  #1804 has been filed

[2022-02-03 11:18] #1764 closed, assigned to jku

[2022-02-04 08:49] lukpueh opened #1822 "github: re-enable pip caching"
**Description of issue or feature request**:
#1821 disables pip caching in "Set up Python"-step in `.github/workflows/ci.yml` as workaround for https://github.com/actions/virtual-environments/issues/5009. Let's re-enable it when this is fixed upstream.

**Current behavior**:
pip caching disabled

**Expected behavior**:
pip caching re-enabled

[2022-02-04 09:30] #1714 closed, assigned to jku

[2022-02-04 09:48] lukpueh commented on #1812
I'm not sure if more comments are needed in this discussion, but let me see if we are all on the same page here:

1. The json standard is too vague to guarantee byte-for-byte deterministic serialized output for arbitrary json objects (see string encoding, whitespace, escape characters, decimal points, key order, etc.)
2. That's why we use a canonical json standard for signature computation/verific

[2022-02-04 10:34] jku commented on #1812
Yes, I agree with that list.

So I think this issue can be closed? Martin, let us know if you think there's something not covered above (or if the documentation needs to be improved)

[2022-02-04 13:01] #1745 closed, assigned to lukpueh

[2022-02-04 13:31] MVrachev commented on #1763
I looked into all changes between our current version `1.0.19` and the current version of the specification `1.0.28` and I agree with Jussi that the only one not fully resolved is:
`8dafd00 (tag: v1.0.24) Clarify optional attributes`.

It doesn't make sense to have a target file without `paths` or `path_hash_prefixes`, so our `python-tuf requirement to have at least one of them set makes sense.

B

[2022-02-04 16:04] MVrachev commented on #1812
I think I understand what's happening now and I can summarize why it was strange for me in the following points:
1. I hadn't paid attention before to the `securesystemslib.formats.encode_canonical()` and the need for the `CanonicalJSONSerializer` before. Now I see how we deterministically modify the metadata data before signing it, so that no matter how many whitespaces were used you always get th

[2022-02-04 16:15] MVrachev commented on #1812
I am closing it for now.
If a new discussion forms, I will reopen it.

[2022-02-04 16:15] #1812 closed, assigned to nobody

[2022-02-05 10:41] jku opened #1826 "github: start pinning actions versions"
Let's start pinning github actions hashes in workflows like the specification already does (instead of just using tags like "v2"). Dependabot seems to be doing a decent job of alerting about updates and the updates do not seem awfully frequent.

[2022-02-07 07:36] jku opened #1828 "Dependabot does not work"
Several months ago we replaced setup.py with setup.cfg. This seems to have immediately broken dependabot, which has since then been complaining about missing setup.py -- it does not complain in an issue as you might have expected but in the easily discoverable location of _Insights -> Dependency graph -> Dependabot -> "requirements-dev.txt Last checked ..."_

I'm sending a PR of manual dependency

[2022-02-07 09:01] jku commented on #1822
Fixed with #1824

[2022-02-07 09:01] #1822 closed, assigned to jku

[2022-02-07 10:28] #1392 closed, assigned to jku

[2022-02-07 14:04] jku commented on #1828
From setuptools:

So I suppose the easiest workaround is to re-add a setup.py with this content:

[code]

[2022-02-07 14:44] #1763 closed, assigned to MVrachev

[2022-02-07 17:09] #1826 closed, assigned to nobody

[2022-02-08 08:30] jku commented on #1828
that happened in a completely different repository!?!

[2022-02-08 09:01] jku opened #1833 "build: missing license field somewhere (setup.cfg?)"
It seems our package setup is missing some license configuration:
[code]

[2022-02-08 09:14] #1828 closed, assigned to nobody

[2022-02-08 09:18] lukpueh commented on #1828
Interesting, so you can link with keywords across forks.

[2022-02-08 09:21] #1819 closed, assigned to MVrachev

[2022-02-08 09:24] jku commented on #1828
seems to be working now: https://github.com/theupdateframework/python-tuf/network/updates/276791557

[2022-02-08 09:26] MVrachev commented on #1816
I can take this one.

[2022-02-08 09:27] MVrachev commented on #1818
I can take this one.
If someone else was planning to work on this, please write a comment.

[2022-02-08 09:27] MVrachev commented on #1817
I can take this one.
If someone else was planning to work on this, please write a comment.

[2022-02-08 10:20] joshuagl commented on #1833
Well spotted, let me send a patch.

[2022-02-08 10:29] #1751 closed, assigned to jku

[2022-02-08 10:43] #1833 closed, assigned to joshuagl

[2022-02-08 10:47] ivanayov commented on #1600
Arguments left to explain after #1815:
[code]
and some still questionable:
[code]
plus clarify `json/dict representation`

[2022-02-08 11:18] #1817 closed, assigned to MVrachev

[2022-02-08 11:49] #1818 closed, assigned to MVrachev

[2022-02-08 13:52] #1816 closed, assigned to MVrachev

[2022-02-08 15:00] MVrachev opened #1841 "Black doesn't warn about long lines inside function docstrings"
**Description of issue or feature request**:
After we merged #1815 I noticed multiple lines inside function docstrings are over 80 characters.
Then I run a local scan with `black` (version 22.1.0) and I thought `black` will raise an error or format them, but nothing happened. Then, I proceeded to delete my local `tox` cache and run `tox -e lint`, but nothing happen again.

Some examples of long li

[2022-02-08 15:15] MVrachev opened #1842 "Review coverage report about non-tested statements"
**Description of issue or feature request**:
I run 1coverage` locally to find out at how many places do we miss unit test coverage.
We are pretty good right now with coverage of **98%** or we have 1138 total statements and only 16 are not tested.
I thought it could be useful to review those 16 lines and decide if testing is needed.

PS: If you want to run coverage locally you can from inside the `

[2022-02-09 08:54] jku commented on #1813
Documenting the current "non-library-runtime" requirements sets we have:
* **requirements-test**: unit test requirements like linters, installed inside tox environment
* **requirements-docs**: doc build requirements, installed inside tox environment
* **requirements-dev**:  the package build requirements (but this also includes requirements-test and is documented as the generic "developer requirem

[2022-02-09 08:58] jku commented on #1600
Further improvements are a good idea but I think I'd like to close this issue -- or alternatively remove the blocker label: I think the docs look good enough for a release :shrug: ?

[2022-02-09 09:03] jku commented on #1795
reference doc also still says _"Major API changes are unlikely but these APIs are not yet considered stable..."_

[2022-02-09 09:39] MVrachev opened #1844 "Review ngclient documentation"
**Description of issue or feature request**:
We should review the ngclient documentation and if necessary create a pr.

A similar issue for Metadata API: #1600.

[2022-02-09 10:12] #1801 closed, assigned to nobody

[2022-02-09 10:14] jku opened #1845 "Write 1.0 changelog / release notes"
In preparation for release, start working on changelog

[2022-02-09 10:30] lukpueh opened #1846 "Update installation instructions"
**Description of issue or feature request**:
Installation instructions can be found in [docs/INSTALLATION.rst](https://theupdateframework.readthedocs.io/en/latest/INSTALLATION.html)

**Current behavior**:
Installation instructions outdated

**Expected behavior**:

Update installation instructions

[2022-02-09 10:36] lukpueh opened #1847 "Rename CONTRIBUTORS.rst to CONTRIBUTING.rst"
GitHub expects contribution instructions in a file called CONTRIBUTING.md. Let's rename ours to make it more discoverable.

Might need updates in CII best practice badge and on website.

[2022-02-09 10:45] lukpueh commented on #1845
Some open questions: Do we need release notes in addition to the changelog? Should we just add a release note preamble to the 1.0.0 changelog entry? Is it enough if that just links to the existing 1.0.0 release announcement (coordinate with #1795)?

[2022-02-09 13:48] MVrachev commented on #1802
Together in a discussion with @jku and @lukpueh we agreed that it makes sense to implement unrecognized fields inside `Metadata`, `Metadata.signatures` and in the `Signatures` objects.
You can see read more about my reasoning here: https://github.com/theupdateframework/specification/issues/203#issuecomment-1031479746.

[2022-02-09 13:48] lukpueh opened #1849 "Restructure docs directory"
**Description of issue or feature request**:

**Current behavior**:
No clear distinction of different documentation types in `docs` directory.

**Expected behavior**:
Clear distinction of different documentation types in `docs` directory, e.g. along the following categories:
- adr
- rtd (e.g. see [`sphinx-quickstart`](https://sphinx-rtd-tutorial.readthedocs.io/en/latest/sphinx-quickstart.html) dir

[2022-02-09 14:26] jku commented on #1802
`Metadata.signatures`: this does not make sense. signatures is an array and the items are clearly defined as Signature objects (Signature objects are not named in the specification but the content is defined).

[2022-02-09 14:26] #1847 closed, assigned to lukpueh

[2022-02-09 15:57] MVrachev commented on #1802
Okay, my bad, I misunderstood.
Thanks for the clarification.

[2022-02-09 15:58] MVrachev commented on #1802
I will close this issue as it's related to a `securesystemslib` code and I will create a new one for `Metadata` unrecognized fields.

[2022-02-09 15:58] #1802 closed, assigned to MVrachev

[2022-02-09 16:25] MVrachev opened #1852 "Add support for unrecognized_fields inside Metadata"
**Description of issue or feature request**:

The [Document formats](https://theupdateframework.github.io/specification/latest/#document-formats) section of the specification says the following:
[code]

I initially thought it's applicable only to the **SIGNED** fields as `undefined attribute-value pairs in the format must include the data when calculating hashes or verifying signatures`.
This does

[2022-02-10 08:41] lukpueh commented on #1849
Related issue: https://github.com/theupdateframework/python-tuf/pull/1853#pullrequestreview-878492917

[2022-02-10 08:50] jku commented on #1849
For background, this is confusing because when RTD docs were created, while the new reference docs were added in a separate docs/api/  we wanted to use the already existing docs in RTD without removing them from easily findable locations in git...

Like the previous link shows this approach does have some problems and maybe it makes sense draw a more strict line between "user documentation"  (api

[2022-02-10 09:18] lukpueh commented on #1849
Example from `pyca/cryptography`. In this case they have a
1. short GitHub-render-friendly [CONTRIBUTING.rst](https://github.com/pyca/cryptography/blob/main/CONTRIBUTING.rst) in the canonical location, which just refers to the detailed
2. [development documentation](https://cryptography.io/en/latest/development/) on RTD

[2022-02-10 10:27] github-actions[bot] opened #1854 "Yearly maintainer permissions review"
This is a checklist for evaluating python-tuf maintainer accounts and permissions. This issue is automatically opened once a year.

### Tasks

1. Update this list to include any new services
2. Evaluate the accounts and permissions for each service on the list. Some rules of thumb:
   * Critical services should have a minimum of 3 _active_ maintainers/admins to prevent project lockout
   * Each ad

[2022-02-10 10:29] jku commented on #1854
Process for this year was already started in #1793 but I suppose we can document the status here

[2022-02-10 13:06] lukpueh commented on #1854
MAINTAINERS.txt: Update in #1855 to reflect currently active maintainers
GitHub permissions: aligns with MAINTAINERS.txt (post #1855)
PyPI and RTD: updated to a subset of MAINTAINERS.txt (post #1855)
Coveralls: depends on GitHub permissions

[2022-02-10 13:27] jku commented on #1854
Sadly it seems I still need to use the github API to verify this -- the UI that Github provides for this seems to just lie to my face.

Otherwise Github API result seems to agree with MAINTAINERS.txt but it seems to think that marina does not have any permissions in python-tuf -- this seems like a mistake?

This is how I checked

[code]

[2022-02-10 13:30] lukpueh commented on #1854
@mnm678 has Maintain permissions via @theupdateframework/python-tuf-maintainers

[2022-02-10 13:54] jku commented on #1854
right... I now see th eexact same results. That was a weird glitch but everything looks right now.

[2022-02-11 09:49] jku commented on #1806
Adding to this: Our serialization tests are pretty good, but they are very "unit testy". Making sure that the output of the whole deserialize-serialize pipeline does not change is not really easy -- and adding test data for complete Metadata objects really stretches the viability of the "test data within test code" approach.

So maybe we should have something like this:
* script that produces a bu

[2022-02-11 09:58] #1793 closed, assigned to jku, lukpueh

[2022-02-11 11:49] jku commented on #1632
closing this: it does not seem to be an issue with python-tuf

[2022-02-11 11:49] #1632 closed, assigned to nobody

[2022-02-11 11:53] jku commented on #1613
I'm closing: if there are differing opinions (vs the previous comment) feel free to re-open

[2022-02-11 11:53] #1613 closed, assigned to nobody

[2022-02-11 11:54] jku commented on #1844
See also #1595

[2022-02-11 12:11] jku commented on #1249
Yes, if dependabot won't do this for us then maybe should add Yet Another Recurring GH Action that runs  `pip-compile requirements.txt` and, if the results are not equal to requirements-pinned.txt, files an issue. This would ensure we notice any  transient dependency changes

Obviously this could lead to false alarms in cases -- like when there's a dependency update and we just haven't merged yet

[2022-02-11 12:45] jku commented on #1211
State as I understand it:
* We try to be deterministic in Metadata API: e.g. JSON dictionary content is sorted on output
* We do not canonicalize the output JSON (signed content is canonicalized but that is not used as the output format)

I'm closing this as it is about the legacy code which we no longer maintain: if you see a similar issue using Metadata API, please open a new issue

[2022-02-11 12:45] #1211 closed, assigned to nobody

[2022-02-11 12:48] jku commented on #1159
Closing this as the version is now part of Metadata API and https://github.com/theupdateframework/python-tuf/blob/develop/.github/workflows/specification-version.yml now exists

[2022-02-11 12:48] #1159 closed, assigned to nobody

[2022-02-11 17:34] jku opened #1857 "compatibility: bottlerocket metadata uses microseconds in expiry"
We have recently started to **not** accept microseconds in the expiry in an effort to be spec compliant.

Testing ngclient against bottlerocket metadata fails because they use microseconds:
https://updates.bottlerocket.aws/2020-07-07/aws-k8s-1.16/x86_64/timestamp.json

* could file an issue in awslabs (though I'm not sure if this is their problem or not)
* Maybe reconsider if we are too strict and

[2022-02-11 17:46] jku opened #1858 "compatibility: sigstore metadata expiry is incompatible"
https://github.com/sigstore/root-signing/blob/main/repository/repository/1.root.json

* expiry contains microseconds
* expiry contains a timezone offset

we don't consider this spec compliant and currently fail to load this metadata. Should file a bug on go-tuf I suppose?

In addition to this securesystemslib fails to load the ecdsa keys they use: #1859.

[2022-02-11 17:49] jku commented on #1756
Current state based on manually running python-tuf ngclient against some repositories:
* [x] datadog works
* [ ] sigstore (go-tuf)
  * [microseconds in expiry](https://github.com/sigstore/root-signing/issues/103)
  * [timezone in expiry](https://github.com/sigstore/root-signing/issues/27) (fixed in 2.root.json)
  * [ecdsa key format is bad](https://github.com/theupdateframework/go-tuf/issues/223)

[2022-02-11 17:56] jku commented on #1858
cc @rdimitrov

[2022-02-12 09:07] jku opened #1859 "compatibility: go-tuf ecdsa key format is incompatible"
Spec defines ecdsa public keys as PEM strings: python-tuf implements them as PEM strings (with the "BEGIN PUBLIC KEY" preamble).

go-tuf implements ecdsa public keys as hex encoded bytes.

Here is awslabs working around the issue https://github.com/awslabs/tough/pull/426: they now apparently support both PEM and hex encoded DER.

There is a spec issue about clarifying key format https://github.com

[2022-02-12 17:15] joshuagl commented on #1858
There's some discussion about this in a go-tuf issue https://github.com/theupdateframework/go-tuf/issues/136

[2022-02-14 08:15] jku commented on #1859
I'm not a fan of adding code complexity to python-tuf or sslib to accept multiple formats but it might be the only way to be interoperable in a reasonable time frame: go-tuf would need to be able to update all clients to understand PEM before they can start generating metadata where keys are PEM... or create some scheme where repositories can publish both existing broken keys and new good keys

[2022-02-14 08:17] jku commented on #1857
webern was proactive: https://github.com/awslabs/tough/issues/447

[2022-02-14 08:49] lukpueh commented on #1136
See updated issue description above for latest results...

[2022-02-14 09:10] jku opened #1862 "example-client: better error handling"
The example client has two conflicting goals:
* provide "production-like" error messages: don't dump a 300 line stack trace if the network is down
* be a useful debugging tool

For an example of the second I modified the example client to use some real world repositories: the error messages I got were mostly useless -- I needed to remove the error handling in the example app to see what the errors

[2022-02-14 10:01] jku commented on #1854
Related issues are now closed, maintainer lists have been updated and look decent: thanks Lukas. Multiple pypi maintainers have made releases in the last year so no problems with access there.

Closing as resolved :+1:

[2022-02-14 10:01] #1854 closed, assigned to nobody

[2022-02-14 11:13] #1844 closed, assigned to ivanayov

[2022-02-14 11:36] #1852 closed, assigned to MVrachev

[2022-02-14 12:10] #1846 closed, assigned to lukpueh

[2022-02-14 12:17] lukpueh commented on #1813
Two more thoughts:

1. Should we flatten out the files -- `requirements-{test, docs, dev}.txt`? If you run pip-compile on either of them, it will also list all the requirements included via `-r` or `-e`, e.g.:
https://github.com/theupdateframework/python-tuf/blob/899b76211913dbe4dc7ffd40fc58560ed0708409/requirements-dev.txt#L7-L8
Or should we pip-compile (pin, add transitive deps) of the direct de

[2022-02-15 08:35] jku opened #1866 "Metadata API: handle malformed keys better"
This may be a securesystemslib issue but I'm filing here for visibility:

If a ecdsa key is malformed (e.g. includes raw bytes encoded in hex instead of PEM) we get this:

[code]

From Metadata API perspective the problem is that `Metadata.verify_delegate()` (and below that `Key.verify_signature()`) does not keep its API promise: it allows ValueError to bubble up.
* `Metadata.verify_delegate()` ca

[2022-02-15 08:38] jku commented on #1866
bonus points for checking how the other crypto backends act when given unexpected key data

[2022-02-15 10:09] MVrachev commented on #1866
I can have a look at that.

[2022-02-15 11:52] lukpueh commented on #1813
https://github.com/theupdateframework/python-tuf/pull/1867 only pins test requirements. This should fix issues with breaking CI on upstream changes of testing tools like https://github.com/theupdateframework/python-tuf/issues/1811, which seemed to be the original motivation of this issue.

Regarding the other requirements files:
- I didn't pin `requirements-docs.txt` because I was unsure for which

[2022-02-15 11:55] lukpueh commented on #1249
NOTE: With https://github.com/theupdateframework/python-tuf/pull/1867 we now also pin test requirements

[2022-02-15 14:00] lukpueh commented on #1795
Fixed in https://github.com/theupdateframework/python-tuf/pull/1868

[2022-02-15 14:25] lukpueh commented on #1807
@JustinCappos, would you mind weighing in on what to do with the [AUTHORS.txt](https://github.com/theupdateframework/python-tuf/blob/0b64056ca48fa8e95e81c2272cba13c2eab76c86/docs/AUTHORS.txt) document?

[2022-02-15 14:29] JustinCappos commented on #1807
I am in favor of the approach you suggest @lukpueh .  Does anyone object?

[2022-02-15 14:54] joshuagl commented on #1807
No objections.

From an implementation perspective, reproducible-builds.org contributor page lists everyone who touched the repo plus explicitly named personnel. We might create a similar script for listing TUF contributors on theupdateframework.io? See https://salsa.debian.org/reproducible-builds/reproducible-website/-/blob/master/bin/contributors.sh

[2022-02-16 08:32] jku commented on #1207
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

The current code base does not seem to suffer from the issue described but note that we don't currently have a replacement for repository_tool: examples/repo_example/ shows ho

[2022-02-16 08:32] #1207 closed, assigned to nobody

[2022-02-16 08:33] jku commented on #1199
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 08:33] #1199 closed, assigned to nobody

[2022-02-16 08:34] jku commented on #1148
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 08:34] #1148 closed, assigned to nobody

[2022-02-16 08:35] jku commented on #1118
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 08:35] #1118 closed, assigned to nobody

[2022-02-16 08:37] jku commented on #1114
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

Note that we do not provide a repository CLI tool at the moment: examples/repo_example shows how to implement repository workflows with current codebase.

### More details

Cu

[2022-02-16 08:37] #1114 closed, assigned to nobody

[2022-02-16 08:38] jku commented on #1075
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 08:38] #1075 closed, assigned to nobody

[2022-02-16 09:36] jku commented on #1070
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 09:36] #1070 closed, assigned to nobody

[2022-02-16 09:37] jku commented on #1061
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 09:37] #1061 closed, assigned to nobody

[2022-02-16 09:38] jku commented on #1053
Well what do you know: https://theupdateframework.readthedocs.io/en/latest/

[2022-02-16 09:38] #1053 closed, assigned to nobody

[2022-02-16 09:39] jku commented on #1053
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 09:41] jku commented on #1043
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

The current parsing/validation is likely not perfect but it is far easier to reason about.

### More details

Current source code (and upcoming 1.0 release) only contains the

[2022-02-16 09:41] #1043 closed, assigned to nobody

[2022-02-16 09:41] ivanayov commented on #358
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

**More details**

Current source code (and upcoming 1.0 release) only contains the modern components

* a low-level Metadata API (`tuf.api`) and
* `tuf.ngclient` that implemen

[2022-02-16 09:45] ivanayov commented on #366
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

**More details**

Current source code (and upcoming 1.0 release) only contains the modern components

* a low-level Metadata API (`tuf.api`) and
* `tuf.ngclient` that implemen

[2022-02-16 09:46] #358 closed

[2022-02-16 09:47] #366 closed

[2022-02-16 09:49] jku commented on #358
note that we're still not using json schemas so the feature request could still be valid ... it is just quite unlikely we'd go that way now.

[2022-02-16 09:51] jku commented on #1019
I'm not closing this directly, maybe there is something here... However, current implementation does try to consider target paths as URL fragments, that may or may not map to a local path

[2022-02-16 09:52] jku commented on #1018
I wonder if there's anything more to do here?

[2022-02-16 09:54] jku commented on #1011
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

Specifically on HTTP headers: current client (tuf.ngclient) is configurable in that you can provide a Fetcher implementation of your own: making a copy of the default Requests

[2022-02-16 09:54] #1011 closed, assigned to nobody

[2022-02-16 10:48] ivanayov commented on #414
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

**More details**

Current source code (and upcoming 1.0 release) only contains the modern components

* a low-level Metadata API (`tuf.api`) and
* `tuf.ngclient` that implemen

[2022-02-16 10:48] #414 closed

[2022-02-16 11:45] jku commented on #1005
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 11:45] #1005 closed, assigned to nobody

[2022-02-16 11:49] jku commented on #999
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

On CLI tooling specifically: python-tuf currently provides no CLI respository tool. The Metadata API makes it far easier to achieve the same results in a script than what was

[2022-02-16 11:49] #999 closed, assigned to nobody

[2022-02-16 11:52] jku commented on #968
I'm closing this. I don't think adding configuration to ngclient is out of the question but previous comment stands: it's easy to implement in the client itself.

[2022-02-16 11:52] #968 closed, assigned to nobody

[2022-02-16 11:58] jku commented on #967
I think we are far better about it now:
* there are fewer errors: only ones that we handle or that we actually expect clients (or future repository tools) to handle
* there is a hierarchy:
  * The different RepositoryErrors are useful but for a client they all mean "something is wrong on the repository side metadata and the issue is something we can't fix: A refresh later may help"
  * There are m

[2022-02-16 11:58] #967 closed, assigned to trishankatdatadog

[2022-02-16 11:59] jku commented on #964
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 11:59] #964 closed, assigned to nobody

[2022-02-16 12:02] jku commented on #958
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

Note that we don't currently provide repository tools that would handle a "write all" case: the improved Metadata API does make it a lot easier to manage this, see examples/re

[2022-02-16 12:02] #958 closed, assigned to nobody

[2022-02-16 12:04] jku commented on #955
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 12:04] #955 closed, assigned to nobody

[2022-02-16 12:09] jku commented on #951
We tried this but at least the sigstore (go-tuf) metadata I tested still isn't using semver.

It would be nice if we could avoid this but legacy spec_version seems harmless -- and accepting it allows us to interop test other aspects of metadata -- so we're currently accepting "X.Y" in deserialization.

[2022-02-16 12:09] #951 closed, assigned to trishankatdatadog

[2022-02-16 12:29] #1807 closed, assigned to lukpueh

[2022-02-16 12:29] jku commented on #883
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

Specifically on validation before writing:
* we'll have a validation feature (#1775) for metadata serialization: this will prevent writing metadata that cannot be deserialized

[2022-02-16 12:29] #883 closed, assigned to lukpueh

[2022-02-16 12:47] jku commented on #840
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

We do not have replacements for the tools yet (and likely will never have direct replacements) so this issue is not useful. There are plans for new repository components: see

[2022-02-16 12:47] #840 closed

[2022-02-16 12:52] jku commented on #838
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

TUTORIAL is no longer, we have examples in examples/ directory though.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 *

[2022-02-16 12:52] #838 closed

[2022-02-16 12:58] jku commented on #820
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

### More details

Current source code (and upcoming 1.0 release) only contains the modern components
 * a low-level Metadata API (`tuf.api`) and
 * `tuf.ngclient` that impleme

[2022-02-16 12:58] #820 closed

[2022-02-16 14:25] ivanayov commented on #454
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

**More details**

Current source code (and upcoming 1.0 release) only contains the modern components

* a low-level Metadata API (`tuf.api`) and
* `tuf.ngclient` that implemen

[2022-02-16 14:25] #454 closed

[2022-02-16 14:31] ivanayov commented on #658
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

**More details**

Current source code (and upcoming 1.0 release) only contains the modern components

* a low-level Metadata API (`tuf.api`) and
* `tuf.ngclient` that implemen

[2022-02-16 14:31] #658 closed

[2022-02-16 14:32] ivanayov commented on #660
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

**More details**

Current source code (and upcoming 1.0 release) only contains the modern components

* a low-level Metadata API (`tuf.api`) and
* `tuf.ngclient` that implemen

[2022-02-16 14:34] ivanayov commented on #646
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

**More details**

Current source code (and upcoming 1.0 release) only contains the modern components

* a low-level Metadata API (`tuf.api`) and
* `tuf.ngclient` that implemen

[2022-02-16 14:34] #646 closed

[2022-02-17 08:27] jku commented on #750
I'm going to close this:
* as far as I can tell the `logging` logger hierarchy gives the application full (if not always the most ergonomic) control
* I think library modules should not make decisions on where to log: this is an application choice

Please reopen if it sounds like I'm not considering a use case you have in mind.

[2022-02-17 08:27] #750 closed

[2022-02-17 08:32] jku commented on #574
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

`repository_tool` specifically does not exist anymore: currently the expectation is that repository actions are implemented using the low-level Metadata API.

**More details**

[2022-02-17 08:32] #574 closed

[2022-02-17 08:36] jku commented on #529
I'm going to remove "good first issue": The description may be clear to an in-toto expert but as an example I wouldn't have any idea where to start implementing this.

Also editing the title to what I think the suggestion is

[2022-02-17 08:48] jku commented on #476
Is the title missing a "not"?

Situation as I understand it currently:
* specification explicitly says delegated roles cannot be removed
* as an exception to this, doing a "targets fast-forward attack recovery" (in other words fully rotating the signing keys of the delegating metadata) allows removal of delegated roles as it disables the rollback protections
* Current python-tuf implementation is

[2022-02-17 08:48] #476 closed

[2022-02-17 08:51] jku commented on #462
I am going to close this: I believe current implementation is no longer ambiguous and targetpaths (or rolenames) are never assumed to be valid parts of a local path

[2022-02-17 08:51] #462 closed

[2022-02-17 08:57] jku commented on #457
I'm going to close this: I think the discussion is valuable but there does not seem to be an action we can take within python-tuf. There are securesystemslib and the specification issues linked above, both seem like better places to continue the discussion.

Please open a new issue if there is a possible python-tuf improvement in this area.

[2022-02-17 08:57] #457 closed

[2022-02-17 09:26] jku commented on #456
I'll document the current situation in python-tuf and then close this: I agree that the specification could be a lot better in this regard but that's not a python-tuf issue.

python-tuf handles rolenames as follows:
* any string is an acceptable rolename
* rolenames are not expected to be valid parts of a file path: e.g. the client percent encodes the rolename before using it as a filename
* as a

[2022-02-17 09:26] #456 closed

[2022-02-17 09:33] jku commented on #442
I'm closing this as it does not seem to be a python-tuf issue: we do not choose keyids, securesystemslib does. Please open a securesystemslib issue if this is still valid

I think I agree with tap12: advantages of complex keyid generation algorithms do not seem at all clear to me when we could just require that keyids must be unique in that metadata _only_.

[2022-02-17 09:47] jku commented on #388
There's two cases to consider:
1. updater validates locally cached target files using locally cached metadata
2. updater "downloads" targets and metadata from a local "repository" (e.g. a USB disk)

Case 1 is strictly speaking not spec-compliant: Success in at least downloading a new timestamp seems to be required (this could be just a result of the specification not really mentioning locally cach

[2022-02-17 09:49] jku commented on #434
Closing this issue as it was filed against (what is now known as) the legacy codebase: issue seems to not be relevant anymore. Please re-open or file a new issue if you feel that the issue is revelant to current python-tuf.

**More details**

Current source code (and upcoming 1.0 release) only contains the modern components

* a low-level Metadata API (`tuf.api`) and
* `tuf.ngclient` that implemen

[2022-02-17 09:49] #434 closed

[2022-02-17 10:04] jku commented on #408
Current state:
* python-tuf does not make statements about the hashes used in [MetaFile](https://theupdateframework.readthedocs.io/en/latest/api/tuf.api.metadata.supporting.html#tuf.api.metadata.MetaFile) or [TargetFile](https://theupdateframework.readthedocs.io/en/latest/api/tuf.api.metadata.supporting.html#tuf.api.metadata.TargetFile): if securesystemslib does not support the used hash, validati

[2022-02-17 10:04] #408 closed

[2022-02-17 10:25] jku commented on #372
we could create our own `object_pairs_hook` to error/warn if we see duplicate keys in deserialization but I don't think this will end up on top of my TODO list ... and looks like this opinion is shared as nothing has happened here in six years.

I think I'll close this: If this was meant to be a specification issue instead of python-tuf issue, please file in https://github.com/theupdateframework/s

[2022-02-17 10:25] #372 closed

[2022-02-17 10:44] jku commented on #969
The issues described here are very real: the serverside "workflow" is not well defined (maybe it can't be) and there are many details that an implementation must handle to be a) compliant b) safe.

Yes. The _Repository Operations_ section is now a lot better than it was 6 years ago but it seems to still miss solid workflows for e.g. the developer upload case you talk about.

I think in the end thi

[2022-02-17 10:44] #969 closed

[2022-02-17 10:51] jku commented on #61
Current state from python-tuf perspective :
* rolenames can be unicode
* rolenames should never be used as local file paths (and they are not in ngclient)
* targetpaths are expected to be valid url parts (so percent encoded)
* targetpaths are not used as local file paths by default but a specific client could decide to do this

If there's something specific that needs to be done, let's continue in

[2022-02-17 10:51] #61 closed

[2022-02-17 10:52] jku commented on #168
Closing, please reopen if there are more details.

[2022-02-17 10:52] #168 closed

[2022-02-17 11:06] MVrachev commented on #1866
@jku do we need to keep this open?
As we resolved this in https://github.com/secure-systems-lab/securesystemslib/pull/391, but don't have a new release of secreusystemslib out yet.

[2022-02-17 12:47] lukpueh commented on #1178
Fixed in #1314 and follow up PRs, we now use a minimally configured `pytlint`, `black` and `isort` for the whole repo (including tests).

[2022-02-17 12:47] #1178 closed, assigned to nobody

[2022-02-17 13:15] jku commented on #1866
The one things we could do in python-tuf is make things debuggable: If I read the code correctly, after your sslib fix, if verify fails because we can't load the key we get this (`verify_delegate()`):
[code]
but it does not say why the verify failed. it's not trivial to do at this point (since the reason is in the contained error) but maybe we could do that in `verify_signature()` if there is a ss

[2022-02-17 16:05] mnm678 commented on #388
This may relate to an [Uptane proposal for offline updates](https://github.com/uptane/pures/blob/main/pure2.md)

[2022-02-18 07:16] jku commented on #388
Interesting. The reasons for the added complexity (new top level roles) in their offline update seems to be their director-model: they want the repository to decide the update contents, except in this one case they have to override that. So likely this is not relevant to TUF/python-tuf since we have no need for that?

[2022-02-18 07:23] jku commented on #388
Actually there is another detail in the uptane design that is relevant: that a client might want to run "normal" updates and "offline" updates using the same metadata (think of a wireless device that also has a USB for attaching a drive with updates)... This scenario is indeed a little tricky with "standard TUF" (as the requirements for the timestamp/snapshot keys might be quite different when the

[2022-02-18 07:52] jku commented on #1845
Status and some thoughts:
* we'll have blog post(s) for announcement
* I don't think the changelog needs more but it would be nice to include a link to the announcement... but that seems like a tricky cyclical dependancy :)
* we can add the announcement link to the Github release page afterwards, and could even edit the changelog file afterwards
* We could even link to the announcement from README

[2022-02-18 09:30] rzr commented on #263
Feel free to merge this patch series coming for debian packaging team:

https://github.com/theupdateframework/python-tuf/pull/1872

Then rebase on latest release and then eventually sync back to debian,
I could help on this but my "free" time is limited for now.

[2022-02-18 13:58] lukpueh commented on #1845
Shall we close this issue now, or with #1873?

[2022-02-18 14:05] jku commented on #1845
linked, thanks

[2022-02-18 14:13] MVrachev opened #1874 "tox run with latest securesystemslib changes doesn't seem to work"
**Description of issue or feature request**:
Inside `tox.ini` we have defined a test case where we test against latest changes in securesystemslib master: https://github.com/theupdateframework/python-tuf/blob/fc9b42fa5d4e887821189055b9f44fa0f04f0885/tox.ini#L31
I wanted to try it out, so I can test against the latest changes inside securesystemslib.
What I did was the following:
1. remove anything

[2022-02-18 14:37] jku commented on #1874
looks like pip has changed how it operates in this strange situation (or we made a mistake when last changing this).

Issue is that we first install securesystemslib from requirements-test... then we install it again using the git url but probably because the version in both is 0.22, nothing happens. using `pip install --force` might help but i'm no sure if it's the correct fix

[2022-02-18 14:42] MVrachev opened #1875 "Provide more information when Key.verify_signature() fails"
**Current behavior**:
If we call `Metadata.verify_delegate()` and one of the keys fails to be verified the message they got is this:
https://github.com/theupdateframework/python-tuf/blob/fc9b42fa5d4e887821189055b9f44fa0f04f0885/tuf/api/metadata.py#L413
No logging is provided about why the key has failed verification.

**Expected behavior**:
Adding a log about the last exception message could be us

[2022-02-18 14:45] MVrachev commented on #1866
I tried it locally with a malformed key and yea... didn't get a good message about why the key verification happened.
I created an issue about this #1875.

I don't think there is anything else left for this particular issue and that's why I am closing.
If I am missing something, please feel free to reopen this.

[2022-02-18 14:45] #1866 closed, assigned to MVrachev

[2022-02-21 10:41] #1645 closed, assigned to jku, kairoaraujo, lukpueh, joshuagl, MVrachev, sechkova

[2022-02-21 10:41] #1845 closed, assigned to jku

[2022-02-21 11:11] jku commented on #1795
Fixed in #1873

[2022-02-21 11:11] #1795 closed, assigned to lukpueh

[2022-02-21 13:50] jku commented on #1249
The tricky detail here (for automation) is different python versions: our current requirements-pinned.txt does not have different requirements but the requirements-test-pinned.txt in the linked PR does.

I think the only way to not manually update the test requirements file is to have separate ones for different python versions... this might be acceptable: tox could probably use a versioned file?

[2022-02-22 10:00] lukpueh commented on #1249
Yes. This is also what the [`pip-compile` docs suggest](https://github.com/jazzband/pip-tools#should-i-commit-requirementsin-and-requirementstxt-to-source-control):

...
If the generated requirements.txt remains exactly the same for all Python environments, then it can be used across Python environments safely. But users should be careful as any package update can introduce environment-dependant d

[2022-02-22 10:04] #1813 closed, assigned to lukpueh

[2022-02-22 12:30] jku commented on #1084
This does not require much, if any, work in current python-tuf: we don't assume anything about keyids currently (most importantly, there's no expectation that keys are unique globally: same name can be used in different keys in different delegating metadata). Using keyids like "keyA" or "offline root key #1" should just work.

[2022-02-22 12:36] jku commented on #589
This is no longer an issue in the current implementation.

[2022-02-22 12:36] #589 closed

[2022-02-23 11:59] jku opened #1884 "project blog: setup"
It would be nice to have a place to publish project related things that are not quite documentation but something we want to be able to link to (maybe workflow examples or updates on PyPI work, etc ). This sounds like a blog so let's investigate how to have one.

I think the path of least resistance might be Github Pages right here in the python-tuf repo. Other options include reviving the
theupda

[2022-02-23 12:07] jku opened #1885 "blog: "how we test ngclient compliance""
Assuming we find a working blog platform (#1884), we should start publishing things.

On idea I had was _"Testing a tricky edge case in a TUF client"_ (very much a working title)
  - show how cool RepositorySimulator is and what it does
  - document usage of `--dump` to see the "live" test repository state for debugging purposes
  - document a specific edge case in TUF spec so we can refer to it l

[2022-02-23 12:13] lukpueh commented on #1884
I think it's a good idea generally, and doing it in this repo with the URL `theupdateframework.github.io/python-tuf` specifically, similar to how we do it for the spec at [theupdateframework.github.io/specification](https://theupdateframework.github.io/specification).

[theupdateframework.github.io](https://theupdateframework.github.io/) currently just redirects to the project-wide [theupdateframe

[2022-02-23 12:19] jku commented on #1884
I suppose enabling Project Wiki might be another option but I think blogs are more what I'd like.

There is a workaround for this: github pages can be set to publish from a `gh-pages` branch. So we could have a github action (on push to develop) that takes content from docs/content/, puts it in a place where Pages can find it, pushes a commit to gh-pages branch only. It's pretty hacky but people s

[2022-02-23 12:43] jku commented on #1884
Continuing on that, I think we might be able to live with docs/ being the blog root. It does make the docs directory again a little more cluttered (see #1849) but not horribly so. This is what I think the structure looks like:

[code]

I'll still have to test this but if that works I think the simplicity is pretty great (no automation required, everything is in python-tuf repo, GitHub just handles

[2022-02-23 14:52] lukpueh commented on #360
The section in the repository management document mentioned above was later moved to an attack demo document, which was recently removed as it had become severely outdated. #1798 suggests to reinstate an up-to-date version of the document. So I'd say we can close here. (I will add a note to #1798 about feeding demo data into other implementations)

[2022-02-23 14:52] #360 closed

[2022-02-23 14:54] lukpueh commented on #1798
Adding suggestion from duplicate closed #360:

[2022-02-23 15:32] lukpueh commented on #446
I'm closing this as too unspecific. The TUF metadata classes in [python-tuf 1.0.0](https://github.com/theupdateframework/python-tuf/blob/develop/docs/1.0.0-ANNOUNCEMENT.md) map closely to how they are represented in the specification. Role and delegation entities should be easily distinguishable.

[2022-02-23 15:32] #446 closed

[2022-02-23 15:38] lukpueh commented on #808
None of the sub-issues identified above are relevant in [python-tuf 1.0.0](https://github.com/theupdateframework/python-tuf/blob/develop/docs/1.0.0-ANNOUNCEMENT.md) anymore:

- legacy documentation has been removed
- up-to-date reference documentation now on [RTD](https://theupdateframework.readthedocs.io)
- tutorial-like usage examples now in [docs/examples](https://github.com/theupdateframework/

[2022-02-23 15:44] #808 closed

[2022-02-23 16:08] lukpueh commented on #881
Since the [release of v1.0.0](https://github.com/theupdateframework/python-tuf/blob/v1.0.0/docs/1.0.0-ANNOUNCEMENT.md), python-tuf no longer provides `repo.py` and `client.py` cli tools.

- Development of tutorial/quick-start -like CLI tools tracked in [#1797](https://github.com/theupdateframework/python-tuf/issues/1797) (alternatives are already available)
- Development of production-use CLI tool

[2022-02-23 16:08] #881 closed, assigned to nobody

[2022-02-24 08:56] lukpueh commented on #1006
#1797 seems like a duplicate but with more up-to-date references. Closing here...

[2022-02-24 08:56] #1006 closed, assigned to nobody

[2022-02-28 09:17] lukpueh commented on #1132
This issue was created for python-tuf's custom `tuf.log` module, which was removed in #1790.

The latest python-tuf release uses the Python builtin `logging` module idiomatically and sparingly. A dedicated guideline in addition to [official documentation](https://docs.python.org/3/howto/logging.html) doesn't seem to be necessary.

Logging related issues (e.g. #1875, #1804, #1120) should be resolve

[2022-02-28 09:17] #1132 closed, assigned to nobody

[2022-02-28 09:21] lukpueh commented on #1127
Part 1 of this issue (deprecation of "legacy" implementation) has been formalized in [ADR 2](https://github.com/theupdateframework/python-tuf/blob/develop/docs/adr/0002-pre-1-0-deprecation-strategy.md) and finalized with the [release of 1.0.0](https://github.com/theupdateframework/python-tuf/blob/v1.0.0/docs/1.0.0-ANNOUNCEMENT.md).

Do we want to have a written statement for future deprecation? (s

[2022-02-28 09:39] #1884 closed, assigned to jku

[2022-02-28 09:41] jku commented on #1127
I think we should have a deprecation strategy where warnings are added (at least to release notes) before the change... But it's not something I would document very strictly: API removal/change situations are so different and hard to estimate.

In other words I'm not sure if we can be more specific than _"we aim to not break existing code without warning at least a release before"_. That feels lik

[2022-02-28 09:44] lukpueh commented on #1127
Agreed. I think the commitment to semver along with an initial stable release already goes a long way.

[2022-02-28 09:47] lukpueh commented on #1127
Maybe @joshuagl also wants to weigh in? Otherwise I suggest to close this issue.

[2022-02-28 13:57] #1696 closed, assigned to MVrachev

[2022-02-28 14:16] MVrachev commented on #1788
I have implemented `__eq__` for all classes inside `tuf/api/metadata.py` and I have added a separate commit making sure order is considered during comparison where it makes sense: https://github.com/theupdateframework/python-tuf/pull/1775/commits/6ea5372edb876588cec341cce10dbe35425d00f1.
That's why I think this issue is resolved.
If there is something to be added, feel free to reopen it.

[2022-02-28 14:16] #1788 closed, assigned to MVrachev

[2022-02-28 17:54] #1127 closed, assigned to nobody

[2022-02-28 17:54] joshuagl commented on #1127
Let's file a new, more specific, issue if we decide we want to change anything.

[2022-03-01 15:56] MVrachev commented on #1806
One question that comes to my mind is about the purpose of these generation scripts.
What priorities do we have for them:
1. simple easy to understand scripts that generate one set of new metadata sets
2. flexible scripts that can be used to generate a variety of metadata combinations
3. scripts that allow generating and publishing multiple metadata versions (but that does sound like something `Re

[2022-03-02 08:42] jku commented on #1806
There's clearly multiple options here. I would start with whatever seems most tangible and easiest to accomplish, and try to document the possible paths forward from there.

So a first draft could look like this:
* a single script that produces several individual metadata files (that do not have to form a repository or be in any way related to each other). The set of metadata does not need to be e

[2022-03-02 13:21] jku opened #1893 "MetaFile is missing from_bytes() or equivalent"
We already have `TargetFile.from_data() / TargetFile.from_file()` to calculate hashes and length for a target.
We should optionally support hashes and length for Metafile too (but likely the API is not same, see below).

This hasn't come up so far because we haven't really used the optional hashes in our metafiles... it did come up in https://github.com/theupdateframework/go-tuf/pull/228.

Notes:

[2022-03-02 13:53] jku opened #1894 "Reconsider keyid "compliance""
Metadata API currently does not validate that keyid is a hex digest of the keys canonical form, we also do not test for this.

I maintain that this is fine from a security perspective: being able to calculate keyid from key value brings us no value that I can see, just more complicated code. See also https://github.com/theupdateframework/taps/blob/master/tap12.md

However, as shown in https://gith

[2022-03-02 17:14] MVrachev commented on #1806
I made a small prototype in my branch: https://github.com/MVrachev/tuf/tree/test-statics-data-generation.
What do you think @jku?
Where should we go from here?

[2022-03-04 16:36] mnm678 commented on #1084
I think we can even call ngclient the reference implementation for the TAP. We haven't solved the standard representation for keys, but I think that can be safely left to the discretion of delegators (as they are already trusted to delegate to arbitrary keys).

[2022-03-04 16:58] mnm678 commented on #1894
Rather than reverting this change in python-tuf, we should aim to get this change into the spec. I don't think it's worth adding some extra complexity here that we'll just remove very soon.

[2022-03-04 17:24] jku commented on #1894
I agree on avoiding complexity: I think we should still investigate if we are accidentally doing something that triggers this issue.

[2022-03-07 10:06] jku commented on #1806
some thoughts from looking at the proto:
* Re-generating the "expected metadata files" needs to be a single command -- developer should not have to guess how to do that: `./generate_test_data` could just generate all of the current test files in the correct places. If possible the test failure should explain what happened and also mention how to re-generate the expected results when apropriate.
*

[2022-03-07 11:08] jku commented on #1806
also another thought: now that we're creating more and more metadata from scratch, #1459 becomes more and more interesting: see https://github.com/theupdateframework/python-tuf/issues/1459#issuecomment-953729281 especially

[2022-03-09 09:03] jku commented on #1560
The docs issue with "TargetFile.custom" is fixed in that it's at least mentioned in the docs.

I'll close this issue:
* metadata is extensible in TUF and in python-tuf Metadata API
* the full extensibility is not exposed via ngclient (as it's a simple API) but `TargetFile.custom` as a special case is
* As I mentioned in the comment, large extensions likely make sense as targetfiles

[2022-03-09 09:03] #1560 closed, assigned to nobody

[2022-03-09 09:07] jku commented on #1538
Closing this as the referenced docs and the tool are no longer included in python-tuf.

Some repository tooling work is planned but there are no replacements as of now (except for what's shown in the repo examples)

[2022-03-09 09:07] #1538 closed, assigned to nobody

[2022-03-09 09:17] jku commented on #1269
The goal of this work IMO should be a tool `verify-release` that anyone can run. Tool would:
* build tarball & wheel locally
* download tarball & wheel from github
* download tarball & wheel from pypi using pip
* verify that that all three are the same or complain loudly

As a first step we could add running the tool to the release instructions.
As a second step, we could run the tool on CI regula

[2022-03-09 10:43] joshuagl opened #1899 "Rethink strategy for pinning test dependencies"
**Description of issue or feature request**:

Since 5643cecf we pin test dependencies in order to improve the determinism of our testing and to prevent test dependency updates from causing CI failures without the PR being tested changing.

Over approximately two weeks we have 9 open PRs from dependabot for test dependencies.

This relatively long list could potentially obfuscate dependot updates i

[2022-03-09 15:18] jku opened #1901 "examples not included in sdist"
Examples should be part of sdist but they seem to be missing from the MANIFEST.

See also #1896 for proposed changes to build metadata

[2022-03-10 16:16] MVrachev opened #1903 "Replace manual path construction with "os.path.join""
**Description of issue or feature request**:
I found a couple of places in the tests where we have used `f` strings and manually joined paths instead of using `os.path.join()`.
This can lead to a problem where on Linux and Mac OS this behavior will work, but on Windows won't.
Some examples:
- https://github.com/theupdateframework/python-tuf/blob/e7037cf8c42022ea20f3b7891a50aa3ed563521b/tests/test_

[2022-03-11 09:56] jku commented on #1894
I've had a first look to remind myself how the keyid is calculated:
* spec hand waves the definition with  _hexdigest of the SHA-256 hash of the canonical form of the key_. So what is the canonical form of a key?
* My impression of the process that securesystemslib uses to get canonical key form is here:
   * First, construct this json object:
[code]
    * Then run that through JSON canonicalizati

[2022-03-13 06:15] ofek commented on #1269
Potential solution: https://github.com/theupdateframework/python-tuf/pull/1896#issuecomment-1066034901

[2022-03-14 09:59] lukpueh commented on #1894
For reference: https://github.com/secure-systems-lab/securesystemslib/issues/308 summarizes securesystemslib/TUF/in-toto public key formats and points out issues/inconsistencies, such as the ambiguously defined "private" field you mention. It also suggests to *"better decouple default keyids from keys, to allow the use of custom keyids, but with a canonical json computed keyid as fallback"*

[2022-03-15 07:47] jku commented on #1894
Right, so I suppose the result is then:
* there's no standard definitition for _canonical form of key_. The form securesystemslib uses is a bit weird but there's likely not much point in tweaking that
* consensus is that keyids should be freeform (generating a "unique" hash id by default is fine but keyids should still be 100% in control of whoever inserts them into delegating metadata): this is h

[2022-03-15 07:47] #1894 closed, assigned to nobody

[2022-03-15 09:37] jku commented on #1269
So reproducible builds:
* ofek has a potential solution for tarball repro in #1896
* I've got a branch with a verify script (compares local build result to pypi and github release): https://github.com/jku/python-tuf/blob/verify-release/verify_release -- it's a bit rough but something like this should be useful for
  * any developer to verify the release even when release is done manually
  * CI to

[2022-03-15 13:26] jku commented on #1899
there's a related issue of pinning package build dependencies (see https://github.com/theupdateframework/python-tuf/issues/1269#issuecomment-1067759316)

I'm not sure these have the same solutions at all, just mentioning

[2022-03-15 13:50] lukpueh commented on #1269
It works for tarball and wheel repro. Or did you not mention wheels because setting `SOURCE_DATE_EPOCH` in a deterministic way is all that's needed?  Ofek's [wheel builder uses a constant](https://github.com/ofek/hatch/blob/a5adaab17d43cd70572b58c6ffbeb269a1067ef0/backend/src/hatchling/builders/utils.py#L47-L54), which IMO is just as fine as the latest git commit.

Cool stuff! Maybe at a later poi

[2022-03-15 14:10] lukpueh commented on #529
With python-tuf builds becoming reproducible (see https://github.com/theupdateframework/python-tuf/issues/1269) we can provide multiple in-toto links for any given release build each signed with a different maintainer key, and create a corresponding in-toto layout that encodes the key authorization and a signature threshold requirement.

See [`apt-transport-in-toto`](https://github.com/in-toto/apt

[2022-03-15 15:50] jku commented on #1269
Yes correct, I did not mean to imply 1896 didn't handle this.

Yeah that's the other option... I just think it might be easiest to "document" it in pyproject.toml :) This could have some consequences I'm not seeing at the moment though

[2022-03-16 09:47] lukpueh commented on #1893
For context:
The [MetaFile](https://github.com/theupdateframework/python-tuf/blob/8ac7167f8d27f60955b8d984c65b5cdefa19d987/tuf/api/metadata.py#L1008) class represents the [METAFILES object from the TUF specification](https://theupdateframework.github.io/specification/latest/#metafiles), which is used in [timestamp](https://theupdateframework.github.io/specification/latest/#file-formats-timestamp)

[2022-03-16 10:31] lukpueh commented on #1595
@ivanayov made an effort to consolidate how we refer to methods etc. in this project (see #1856 and #1815 - thanks!). I'd say the this is now captured by the implicit code style "be consistent" and does not require an explicit recommendation in the style guide. Closing...

[2022-03-16 10:31] #1595 closed, assigned to nobody

[2022-03-16 10:54] lukpueh commented on #1568
Just found the corresponding upstream issue: https://github.com/readthedocs/readthedocs.org/issues/4529.
I think implementing any of the [workarounds mentioned there](https://github.com/readthedocs/readthedocs.org/issues/4529#issuecomment-1000000715) in would go a long way.

[2022-03-16 11:19] lukpueh commented on #1431
https://github.com/theupdateframework/python-tuf/issues/1431#issuecomment-852792092 provides a simple recipe to achieve this with Python standard library features and `securesystemslib`.

I suggest to close now and re-open if there is a need to implement this recipe as part of `python-tuf`...

[2022-03-16 11:19] #1431 closed, assigned to nobody

[2022-03-16 12:47] lukpueh commented on #1348
`Modified_Testcase` was removed in #1790 (eb67b09cf8348516f9fa9137a64232056f092a6d) and tmp dir setup/teardown was simplified in #1792.

For TUF's sister project in-toto (which has similar needs in this regard) I created [`TestCase` mixins](https://github.com/in-toto/in-toto/blob/301b4e0f1a1ecd4447d1c8248977b5af123b236d/tests/common.py#L56-L112)  with classmethods that aggreate common test setup/t

[2022-03-16 15:25] lukpueh commented on #1081
- related: #1333

[2022-03-17 09:28] lukpueh commented on #1019
The `add_target`-like interface of the new Metadata API requires callers to be explicit about the `target_file_path` as it appears in the targets metadata, and the  the local path, used to determine hashes and length of the target file to be added:

https://github.com/theupdateframework/python-tuf/blob/8ac7167f8d27f60955b8d984c65b5cdefa19d987/tuf/api/metadata.py#L1545-L1556

To keep the Metadata A

[2022-03-17 09:28] #1019 closed, assigned to nobody

[2022-03-17 09:33] lukpueh commented on #1136
*Feature request:*
Convenience interface that takes a path to local target file(s) and constructs targets metadata, computing length and hashes from the local file and normalizing the path to match the TARGETPATH specification (see #1019 and #1018 for details and challenges)

[2022-03-17 09:56] lukpueh commented on #1018
I think the big question is how much input validation should be performed in the Metadata API, which still remains unanswered (#1130)

The checks requested in this ticket are currently not performed in the relevant interfaces:

TARGETPATH not checked at all
https://github.com/theupdateframework/python-tuf/blob/8ac7167f8d27f60955b8d984c65b5cdefa19d987/tuf/api/metadata.py#L1503

PATHPATTERN only che

[2022-03-17 10:22] lukpueh commented on #1134
The [stable release](https://github.com/theupdateframework/python-tuf/blob/v1.0.0/docs/1.0.0-ANNOUNCEMENT.md) of the Metadata API lets me assume that we have made a decision about this.

I wonder if we should track it in an ADR. It might keep us from cramming more functionality into the API when designing a repository library (#1136). Opinions?

[2022-03-17 11:06] MVrachev commented on #1130
Together with @lukpueh we have discussed that a formal ADR about validation guidelines seems too much of work and we are not sure we needed it as we have already implemented validation for all Metadata classes (see https://github.com/theupdateframework/python-tuf/issues/1140#issuecomment-971588922).

Even if there is no ADR there is a sense in providing some guidance about how the maintainers feel

[2022-03-17 11:41] lukpueh commented on #920
The current implementation:
1. does not require or check canonical keyids (although it still uses them via `securesystemslib` key creation and import interfaces)
2. checks signature thresholds based on unique keyids only (see @jku's 48b58d9be984ee578e58c64ab1921daecff00f0c)

This means keyids no longer depend on the used signature scheme and metadata owners are responsible to choose the keyid<->ke

[2022-03-17 11:41] #920 closed, assigned to nobody

[2022-03-18 09:40] lukpueh commented on #1109
UPDATE 03/22

In [python-tuf v1.0.0](https://github.com/theupdateframework/python-tuf/blob/v1.0.0/docs/1.0.0-ANNOUNCEMENT.md) signature generation/verification, and public key handling are quite nicely decoupled from general metadata generation and modification via the new [Metadata API](https://theupdateframework.readthedocs.io/en/latest/api/tuf.api.html). Here's what the intended workflow would

[2022-03-18 10:22] MVrachev commented on #1018
We have implemented validation for quite many attributes of the Metadata classes (see https://github.com/theupdateframework/python-tuf/issues/1140#issuecomment-971588922).
For some of them, we have decided there is no sense in checking their type or content (as for `Root.keys` for example) for others we have added as for `paths`.
I am open to rediscussing why some of the attributes are missing val

[2022-03-18 11:04] lukpueh commented on #1018
Thanks for sharing those resources, @MVrachev. Do I understand correctly that they argue that we don't need the check because the client will fail gracefully for any string even if it does not have the recommended format? That would be a fair argument. Although it could also be used against the ` _validate_length`-check.

[2022-03-18 11:08] MVrachev opened #1909 "TAP 15 (succinct hashed bin delegations) implementation"
**Description of issue or feature request**:
[TAP 15](https://github.com/theupdateframework/taps/blob/master/tap15.md) was created on June 23-rd 2020 and was last modified in July 6-th 2020.
Since then the TAP has been put to `draft` status meaning it needs a prototype implementation before it's accepted as a future specification change.
Given that this TAP underlines an efficient way of handling

[2022-03-18 11:19] lukpueh commented on #1909
This is exactly what I had in mind for this issue! Plus, the client also needs to be able to parse and interpret the new metadata, in order to find the correct bin for a target.

[2022-03-18 19:38] ofek commented on #1269
Sure, that makes sense to pin

No need IMO

[2022-03-21 08:31] #1600 closed, assigned to ivanayov

[2022-03-21 09:20] lukpueh commented on #864
This issue is closed as it was filed against (what is now known as) the legacy codebase. The legacy components relevant for this issue (`repository_tool`, `repository_lib`, `roledb`, `keydb`) are no longer included in the reference implementation. See [announcement](https://github.com/theupdateframework/python-tuf/blob/develop/docs/1.0.0-ANNOUNCEMENT.md) for more information and [API reference](ht

[2022-03-21 09:20] #864 closed, assigned to nobody

[2022-03-21 10:20] lukpueh opened #1912 "Support HSM signing"
Supersedes #569 and #864
Related to #1109 (out-of-band signing)
Groundwork available in https://github.com/secure-systems-lab/securesystemslib/pull/229

**Description of issue or feature request**:

python-tuf (or rather `securesystemslib`) should provide an implementation to sign metadata with hardware security modules, like Yubikey, plus functions for public key export and signature verification

[2022-03-21 10:21] lukpueh commented on #569
Superseded by #1912

[2022-03-21 10:21] #569 closed

[2022-03-21 10:35] MVrachev commented on #1909
Agree, added it to the TODO list.

[2022-03-21 12:21] #1875 closed, assigned to jku

[2022-03-22 08:11] jku commented on #1018
I suppose for TARGETPATH my logic was this:
* handling things like "/ cannot be a starting character" or "\ cannot be a directory separator" are workarounds
* the issue they worked around is that TARGETPATH was being used as a local file path. This is impossible to implement comprehensively (filesystems have different requirements and TARGETPATH must still be a URL fragment) and very hard to imple

[2022-03-22 08:58] lukpueh commented on #1018
Thanks for the follow-up, @jku! I added a note about this workaround to the repository tool feature request ticket for a convenience function that builds TARGETPATHs from local files.

I agree that the Metadata API should not provide that feature (workaround) and as a consequence does not have to vet these parameters as strictly. Closing here..

[2022-03-22 08:58] #1018 closed, assigned to nobody

[2022-03-23 07:53] jku opened #1916 "Fetcher docs should make it clear what needs to be implemented"
Should add a sentence in FetcherInterface docstring that explains that the public API of the interface is implemented already: implementations of the interface only need to implement the internal

    def _fetch(self, url: str) -> Iterator[bytes]

[2022-03-23 12:54] #1899 closed, assigned to lukpueh

[2022-03-23 13:13] jku opened #1920 "Add some more generated metadata files"
#1915 adds metadata generation (with stored expected results). We should expand the collection in two directions:
* The current metadata is basically all with default values: Add More variation on the metadata (different key types, delegations, targets, etc)
* Include actual repositories (that are confirmed to work as repositories), possibly with several versions of the same repository: Note that

[2022-03-23 13:15] jku commented on #1920
Pasting in my notes on 1915:
* The key & signer handling could probably be better (why does the generator function need to construct the signers?) but there's no need to polish everything before we know what the code is going to be like...
* The error message could mention that new expected results should only be generated if the change in results was expected
script only works if run from a speci

[2022-03-23 13:17] #1644 closed, assigned to ivanayov

[2022-03-23 15:37] MVrachev opened #1921 "Testing with old and new generated metadata files"
**Description of issue or feature request**:
We have generated a new set of metadata files with #1915.
Now we have two folders containing metadata files:
- [tests/repository_data](https://github.com/theupdateframework/python-tuf/tree/develop/tests/repository_data)
- [tests/generated_data](https://github.com/theupdateframework/python-tuf/tree/develop/tests/generated_data)

It makes sense to tests w

[2022-03-23 16:50] aribasch commented on #1903
Hi! New to open source and looking to contribute. I've been able to follow the development installation instructions and run tests for python-tuf, and am looking to tackle some good first issues and familiarize myself with the codebase. I was wondering if I would be able to claim this issue?

[2022-03-24 07:57] lukpueh commented on #1903
Hi @aribasch, a pull request would be most welcome. :)

[2022-03-25 11:47] dennisvang commented on #1903
@MVrachev A question related to this issue:

Is there a reason `os.path` is used throughout the codebase, instead of `pathlib`? Personally I find `pathlib` often makes for clearer reading, and it is often more convenient to use.

For example, in the cases above, if `self.repo_dir` were a `pathlib.Path`, you could simply do:

[code]

Another example: In [client_example.py](https://github.com/theupd

[2022-03-25 12:12] jku commented on #1903
I believe historical reasons only: pathlib is a fairly new API. I'm ok with using Pathlib, it's definitely convenient.

I'd argue that it's only clearer to people who already know Pathlib. E.g. from your examples:

    self.repo_dir / "metadata/root.json"

... I admit I would have expected that to create something surprising on windows but maybe it just works?

[2022-03-25 13:20] dennisvang commented on #1903
@jku I agree it may take a bit of getting used to. Nevertheless, in my experience, it just works, even on windows. ;-)

To ease the transition, `pathlib` docs provide a useful [table mapping various `os` functions to their corresponding `pathlib` equivalents](https://docs.python.org/3/library/pathlib.html#correspondence-to-tools-in-the-os-module).

[2022-03-25 17:49] MVrachev commented on #1903
Honestly, I think I agree with @jku here.
I think `os.path.join` is easier to understand as an interface.

[2022-03-29 13:24] trishankatdatadog commented on #1912
@d-niu, you might be interested in this 🙂

[2022-04-01 12:50] #1753 closed, assigned to nobody

[2022-04-04 09:13] jku opened #1937 "unrecognised_fields default value vs empty container"
I believe this code currently does the unexpected thing:

[code]

As in the roles unrecognised fields now does not include "customfield". This is because the initialization `self.unrecognized_fields = unrecognized_fields or {}` acts surprisingly when the input container is empty. We should check for None instead of falsyness.

Same thing applies throughout the API where unrecognized fields are use

[2022-04-04 09:17] ivanayov commented on #1885
The contents are in this [doc](https://docs.google.com/document/d/1xomQOn6Hj6DQvsloHf-eEFA39H9RNkROHzrcEnjQ7Tw/edit?usp=sharing).

[2022-04-04 09:20] jku opened #1938 "unrecognized_fields is annotated as Mapping but maybe should be just Dict"
I'm pretty sure I suggested annotating unrecognized_fields as a Mapping (so "immutable dict") at some point. I was probably thinking about the client use case but clearly in the repository case this annotation can be incorrect: we may actually want to modify the content.

`unrecognised_fields` throughout the API (tuf/api/metadata.py) should be annotated as Dict.

[2022-04-04 09:22] #1639 closed, assigned to ivanayov

[2022-04-04 11:18] #1459 closed, assigned to jku

[2022-04-04 12:33] jku commented on #1733
I'll add the backlog tag with the hope that it leads to figuring out some better solution than the current worst-of-all-options (quite wordy in docstring, yet no linked docs on readthedocs)

[2022-04-06 07:53] jku commented on #1920
Unassigning for now: too busy to handle this right now

[2022-04-06 08:47] MVrachev commented on #1806
I have created a simple script generating a simple set of metadata files and a test verifying that the statically stored metadata files are the same as the one generated by the test.
@jku created another issue discussing the idea of more variations of the separate metadata files #1920.
With #1915 merged and the new issue #1920 I think we can close this one.
If I am missing something, please feel f

[2022-04-06 08:47] #1806 closed, assigned to MVrachev

[2022-04-06 10:19] jku commented on #1269
I think I'll close this: build is reproducible, and there is a script to check that. These are the main items here.

Build environment maybe should be pinned, or at least documented in the build artefacts but I think we can handle that as future work after #1550...

[2022-04-06 10:19] #1269 closed, assigned to nobody

[2022-04-06 11:16] jku opened #1942 "verify_release assumes clean source dir"
Currently verify_release (script that confirms build reproducibility) just runs `python3 -m build`. This leads to the source tarball to potentially include unexpected files (which then leads to the wheel changing as the wheel metadata refers to the source files)

Workaround: run `git clean -xdf` to delete all non-committed files in the source directory before running verify_release.

Possible fixe

[2022-04-06 13:00] MVrachev opened #1943 "Relying on mandatory DelegatedRole.name attribute when TAP 15 describes it as optional"
**Description of issue or feature request**:
We are working to implement [TAP 15](https://github.com/theupdateframework/taps/blob/master/tap15.md) (see #1909).
There it's said that:

meaning that the `DelegatedRole.name` attribute is not required.
That seems to be a problem for us as until now we are relying on its existence to uniquely identify roles:
(see `Delegations.from_dict()` implementation

[2022-04-06 13:14] lukpueh commented on #1943
Yes, we definitely still need distinct names for each "bin-n" role, otherwise the client can't download the targets metadata needed for a target in a bin. The challenge with TAP 15 is that the delegating targets metadata does not list all its delegatees anymore, but rather a number (`delegation_hash_prefix_len`) that allows to compute how many delegatees (bins) there are.

Currently, the idea is t

[2022-04-06 13:52] MVrachev commented on #1943
The problem is that it's possible to have `DelegatedRole`s objects without a name attribute set and the calculation of the bin index requires a target path...

[2022-04-06 14:05] lukpueh commented on #1943
I think the problem is that `DelegatedRole` so far was used for exactly one delegated role, but with TAP 15 there would only be one `DelegatedRole` object for all bin-n roles.

[2022-04-06 14:48] MVrachev commented on #1943
Yes, you are correct!
I think the solution then is clear:
1. when we don't use `succinct_hash_delegations` role names are provided and everything works the same way as it does now - `Delegations.roles` attribute is a `Dict[str, DelegatedRole]`.
2. if we use `succinct_hash_delegations` then `Delegations.roles` attribute becomes only `DelegatedRole`.

This means that `Delegation.roles` will be of ty

[2022-04-07 07:04] jku commented on #1943
The idea that a delegations dictionary that contains a succinct delegation can _only_ contain that delegation and no others seems reasonable but I don't think it comes from TAP 15? Note that I'm not opposed to making implementation restrictions, just want to be clear when we do those.

A quick unfinished alternative idea: Internally use special DelegatedRole.name = "" for succinct delegation (and

[2022-04-07 07:30] jku commented on #1943
Yet more alternatives: use the first bin-n-name as the roles dictionary key
* this allows even multiple succinct delegations in the same delegations dictionary
* using the bin-name seems safe since we already implictly require the repository to not have conflicts with bin-names

This dictionary key would obviously be just an implementation detail: the serialized format would be as described in tap

[2022-04-07 13:26] MVrachev commented on #1943
You are correct! I assumed only DelegatedRole could exist when `succinct_hash_delegations` are used, but when you look closer to the proposed delegations scheme:

[code]

you see that after the delegated role describing the succinct hash information there is `...` meaning there could be more than one.

I think I prefer this idea more than the one with the usage of `bin-n-name` prefix as the rolena

[2022-04-07 17:28] MVrachev commented on #1943
@lukpueh what do you think about Jussi's suggestions?
@lukpueh and @jku I hope we can soon have a consensus on how to solve this issue as it's blocking my progress on TAP 15 as mypy warnings appeared,

[2022-04-08 05:07] prateek041 commented on #1136
I would like to work on this issue, where should I start ?

[2022-04-08 10:42] jku commented on #1943
That is indeed valid feedback for the TAP itself... even combining normal delegations and succinct ones feels quite weird.

But strictly speaking the format in the TAP is currently designed to allow multiple succinct delegations so we'll have to at least document this diversion if we implement it that way.

@mnm678 maybe has an opinion on combining a succinct delegation with either another succinc

[2022-04-08 10:47] jku commented on #1943
I wanted to make one thing clear:
* requiring a role name is just an implementation detail in python-tuf -- we can change that if needed, and that's not a huge issue
* however, I also don't understand why it was made optional: this makes implementations more difficult to code just to save a few bytes

so one option is that python-tuf keeps requiring a role name and we suggest a modification to the

[2022-04-08 14:52] MVrachev commented on #1943
I think it makes sense that `name` is missing when `succinct_hash_delegations` is used.
If it does exist when `succinct_hash_delegations` is used It's won't bring any semantical value and it could be lead to confusion about which to use `Delegated.name` or `Delegated_get_rolename`(the new API call I am adding for TAP 15) when you want to get the name of the delegated role responsible for a target.

[2022-04-08 15:35] di commented on #1859
@asraa or @haydentherapper, any thoughts here?

[2022-04-08 15:43] Hayden-IO commented on #1859
Supporting both should be easy. I greatly prefer PEM encoded keys as the spec already defines, but if DER has been supported currently, I don’t think we should drop it.

Should the spec be flexible in its format? Possibly provide at minimum PEM support, but optionally DER?

[2022-04-08 16:19] mnm678 commented on #1943
This is a great discussion!

The TAP purposefully left the option for multiple succinct delegations, as at the time I didn't see the need to restrict this. There may be a case when a repository would have multiple succinct delegations signed by different keys (especially a large repository like DockerHub). But if this is a sticking point for the implementation, I don't think it's very important an

[2022-04-08 16:25] mnm678 commented on #1859
The spec says that "We define three keytypes below: "rsa", "ed25519", and "ecdsa-sha2-nistp256", but adopters can define and use any particular keytype, signing scheme, and cryptographic library." So the spec leaves it open for adopters to use other keytypes. This does imply that other keytypes would be differently named (ie `ecdsa-der`), but for the sake of compatibility I agree that the best opt

[2022-04-08 16:54] trishankatdatadog commented on #1943
Sorry, haven't had time to fully follow everything, but why can't implementations like python-tuf do the following?

Inside `Delegations.from_dict()`, you would have internal helper methods that would know how to handle the different types of delegations. If regular hashed-bin/targets delegations, you get the name for free. Otherwise, the helper for succinct hashed delegations knows how to do it.

[2022-04-08 17:52] MVrachev commented on #1943
The problem comes from the fact that we store delegated roles as a dictionary attribute inside the `Delegations` class.
In this dictionary, the keys are the delegated role names and values are `DelegatedRole` objects or `Dict[str, DelegatedRole]`
According to TAP 15 if succinct hash delegations are used then `name` becomes an optional attribute meaning we no longer have a key for that dictionary.

[2022-04-09 19:04] abs007 commented on #1938
Hi @jku I modified the code but could you guide me as to how I should be writing the tests and doc for this bug fix? Thanks

[2022-04-10 08:02] lukpueh commented on #1938
Thanks for the PR, @abs007! You don't need to add tests or write docs for this issue. But we require contributors to sign off their commits (see note about DCO in [contributor instructions](https://theupdateframework.readthedocs.io/en/latest/CONTRIBUTING.html#dco)) . I also suggest you to take a look at the [development guidelines](https://github.com/secure-systems-lab/lab-guidelines/blob/master/d

[2022-04-10 19:02] abs007 commented on #1938
@lukpueh I added new commits with the sign into #1949 but I think that won't work as expected because I originally made changes on the develop branch itself, so I don't think that rebasing would work in this case. Please tell me if it doesn't because then I'll make a new pr (with the sign mentioned this time 😅). Sorry for the inconvenience caused.

[2022-04-11 07:16] jku commented on #1943
Let's be clear about the decisions we make: option 2 prevents multiple succinct delegations, a feature the TAP author just confirmed was intentional (even if possibly not important).

---

There are two discussions going on at the same time here, I'll try to separate them:

**1. what should the TAP say**

* TAP should explicitly state what it wants WRT succinct delegations combined with other norm

[2022-04-11 09:01] #1942 closed, assigned to nobody

[2022-04-11 11:44] jku commented on #1859
I don't think you were suggesting modifying the existing keytype but I will say it just to be sure:
* spec should **not** approve of the current go-tuf ecdsa format: it seems to be a bug
* adding new actual keytypes is easy as marine points out: defining a new DER ecdsa format is trivial (I think?), it just should not use the same keytype name as an existing keytype
* if someone defines a new keyt

[2022-04-11 15:01] abs007 commented on #1937
Hi, I was going through `metadata.py` and I saw that a few initializations were type annotated like in: `self.unrecognized_fields: Mapping[str, Any] = unrecognized_fields or {}`

but some are without the annotation like in, `self.unrecognized_fields = unrecognized_fields or {}`. Could you give some context into this?

[2022-04-11 17:11] asraa commented on #1859
I agree, it seems it was just legacy code. On the other hand, how do we deal with old roots who were using this? Will chains still verify if early root version describe keys with the hex encoded bytes? Can we support but issue a warning? Then remove any methods creating new keys with this encoding.

Supporting both at the same time is a little tricky, if we're doing a key ID match, we might need t

[2022-04-13 07:11] #1938 closed, assigned to nobody

[2022-04-13 07:20] jku commented on #1937
That's a good question: The context is that mypy (the static type checker we run as part of the linting process) can usually figure out the types of variables from context but sometimes it needs help: To use `{}` as a example, it is an empty container so mypy can't figure out what the key type is, but we might know it.

Now that you brought it up: the explicit annotations are possibly not required

[2022-04-13 07:22] jku commented on #1937
that line gets really long so maybe a plain old if-clause works better: I'll leave it to you to to find something that passes the linter :)

[2022-04-13 13:25] jku opened #1952 "Provide API to handle hashed bin delegations math"
@kairoaraujo has been implementing a repository in Warehouse and currently has to do some awful bit math to manage the hashed bins:
https://github.com/pypa/warehouse/pull/10870/files#diff-0f3efbecd517bebb4023401a03c16f756d3180a8763bbf7fab03a54876d74ae9

We should ensure Metadata API provides ways to do that. @MVrachev is adding succinct has bins in #1909 -- that's definitely related but let's see

[2022-04-13 13:40] jku commented on #1952
Possibly we only provide the functionality in a  SuccinctHashDelegations class: succinct delegations are the sensible way to use hash delegations anyway and if someone has metadata with hashed_bin_prefixes and does not want to use succinct_hash_delegations, we could just tell them to instantiate a SuccinctHashDelegations in the code anyway to do quick lookups or to generate bin names etc.

[2022-04-14 11:04] MVrachev commented on #1943
Agree with this and all of the above notes are great thoughts.

More and more I agree it's important to try to be fully compliant with the current version of the TAP.
If somewhere we see a big obstacle we can discuss it and change the TAP if needed.
After a conversation with @jku more and more I see the usage of the name of the first bin as a viable solution.
I will experiment with that.

We will

[2022-04-14 11:09] MVrachev opened #1956 "Document a deprecation strategy"
**Description of issue or feature request**:
With the release of `python-tuf` 1.0.0 and the soon integration of `python-tuf` inside `Warehouse` we should decide and document what will our depreciation strategy be.

For example: in my pr #1948 @jku has suggested that we should deprecate `DelegatedRole.is_delegated_path()` API call.
I have a couple of questions:
1. How do we document this in the fun

[2022-04-14 11:44] MVrachev commented on #1956
On point 4 - having a separate issue about the deprecation of an API will be like an announcement and will give the users the opportunity to complain, ask for more versions to support the API, and a place for a discussion about when should this API be removed.

[2022-04-15 14:46] abs007 commented on #1937
Hi, for some reason the recent change I made isn't visible. It's still showing `Mapping` as the type annotation. Could you take a look.

[2022-04-15 15:57] abs007 commented on #1937
`mypy` isn't able to infer the type for d3 so similarly won't `mypy` complain if we remove the annotation in `self.unrecognized_fields: Dict[str, Any] = unrecognized_fields or {}`

[2022-04-15 15:57] abs007 commented on #1937
Do you mean with an if-else over multiple lines?

[2022-04-19 10:47] lukpueh commented on #1136
Reading the resources referenced above in the issue description and brainstorming designs seems like the way to start.

But as @jku has mentioned on [slack](https://cloud-native.slack.com/archives/C01GT17AC5D/p1649402131676979?thread_ts=1649399315.799889&cid=C01GT17AC5D), this *is likely a long term issue that is going to require experimentation and quite a bit of team work to solve*.

[2022-04-19 11:18] lukpueh commented on #1952
I agree that succinct hash delegation is the way to go, as it reduces metadata size and makes the math a lot easier. So I am a bit against adding API to support non-succinct hash delegation. (see related discussion in https://github.com/theupdateframework/taps/issues/132)

I suggest address this feature request with @1909 for succinct hash delegation only.

[2022-04-19 13:17] #1903 closed, assigned to nobody

[2022-04-19 13:37] github-actions[bot] opened #1959 "specification has new version"
It seems specification (https://github.com/theupdateframework/specification/blob/master/tuf-spec.md) has new version.
Please review the version.

[2022-04-19 13:39] mnm678 commented on #1959
This spec update was a wording change. Closing this issue

[2022-04-19 13:39] #1959 closed, assigned to nobody

[2022-04-19 13:47] #1730 closed, assigned to nobody

[2022-04-19 14:17] jku commented on #1959
it would probably still make sense to bump the supported version in metadata.py?

[2022-04-19 14:24] mnm678 commented on #1959
Done in #1960

[2022-04-20 08:29] lukpueh opened #1961 "ci/cd: make workflow pipeline more robust"
**Description of issue or feature request**:
#1946 adds a CD workflow to release build artifacts on PyPI and GH upon successful completion of the CI workflow for a pushed release tag.

Unfortunately, the information about CI that we can access from CD is [vague](  https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#workflow_run
) and thus makes the workfl

[2022-04-20 09:19] ivanayov commented on #1956
Related to #1127

[2022-04-21 08:18] lukpueh commented on #1952
Note from a conversation we had yesterday:

The API should at least provide a generator that yields all bin role names. For non-succinct hash bins this could look something like this:
https://github.com/theupdateframework/python-tuf/blob/31ca674aa0923e54d7486e5b4a068efb82a34641/examples/repo_example/hashed_bin_delegation.py#L99-L110

Fur succinct hash bins this should be a lot easier, as there are

[2022-04-21 10:20] lukpueh commented on #1952
Speaking of awful bit math, here's an alternative implementation of above generator using the `PREFIX_BIT_LEN` from TAP 15 as input parameter.

[code]

Maybe this approach makes it easier if we want to maintain API for non-succinct and succinct hash bin delegation alongside each other. cc @MVrachev @kairoaraujo

[2022-04-21 10:32] lukpueh opened #1966 "cd: re-enable release signing"
**Description of issue or feature request**:
https://github.com/theupdateframework/python-tuf/pull/1946 adds a CD workflow to release build artifacts on PyPI and GH upon successful completion of the CI workflow for a pushed release tag.

The PR also removes instructions from RELEASE.md to [gpg sign release artifacts](https://github.com/theupdateframework/python-tuf/blame/31ca674aa0923e54d7486e5b4a

[2022-04-21 10:43] lukpueh opened #1967 "cd: consider replacing 3rd-party GitHub actions"
**Description of issue or feature request**:
https://github.com/theupdateframework/python-tuf/pull/1946 adds a CD workflow to release build artifacts on PyPI and GH upon successful completion of the CI workflow for a pushed release tag.

The PR adds 3rd-party actions `softprops/action-gh-release` and `pypa/gh-action-pypi-publish`, which goes against our *"only allow actions created by GitHub"*-pol

[2022-04-21 10:53] lukpueh opened #1968 "cd: auto-generate release notes for GitHub release page"
**Description of issue or feature request**:
https://github.com/theupdateframework/python-tuf/pull/1946 adds a CD workflow to release build artifacts on PyPI and GH upon successful completion of the CI workflow for a pushed release tag.

The PR also replaces the manual process of adding release notes to the GH release page with an automatically added link:
https://github.com/theupdateframework/pyt

[2022-04-21 10:56] lukpueh opened #1969 "cd: workflow could have a permissions section"
**Current behavior**:
https://github.com/theupdateframework/python-tuf/pull/1946 adds a CD workflow to release build artifacts on PyPI and GH upon successful completion of the CI workflow for a pushed release tag.

The newly added workflow does not yet configure  [`permissions`](https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs).

**Current behavior**:
No permission confi

[2022-04-21 11:01] jku commented on #1966
This is possible with a GPG key of course (where private key is in an environment secret) but Sigstore cosign has _experimental_ support for this as well: https://blog.chainguard.dev/zero-friction-keyless-signing-with-github-actions/
* requires the cosign-installer action (or otherwise access to cosign tool)
* uses GitHub as the OIDC authenticator (authenticates a specific repo and the deployment

[2022-04-21 11:03] #1550 closed, assigned to lukpueh

[2022-04-21 12:16] jku commented on #1952
I assume if we design the SuccinctDelegation object properly we can just have a single implementation? The inputs required for all of the math operations are always just the SuccinctDelegation fields so makes sense to use that, I think.

EDIT: I suppose the list of hex prefixes is indeed something that's not needed for the succinct case, hmmm...

[2022-04-21 12:20] jku commented on #1952
This is a bit unrelated but I'm not sure if I ever linked to this one: rolename lookup without "binary as string of ones and zeros":
https://gist.github.com/jku/bccc355d0daea56449375013fa5243c9

[2022-04-22 10:57] lukpueh commented on #1943
Why don't we take a literal step back here? Maybe, and Jussi suggests this in his last comment, the reason why implementing this is tricky is because the metadata format in TAP 15  is tricky. Maybe (putting on my ER-modeler hat) the "succinct hash delegation object" is just too different from "delegation role" objects? What about this alternative format:

[code]

I am aware that the objects share

[2022-04-26 08:06] #1901 closed, assigned to lukpueh

[2022-04-26 09:13] #1961 closed, assigned to lukpueh

[2022-04-26 09:13] #1969 closed, assigned to nobody

[2022-04-26 20:13] mnm678 commented on #1943
I like this idea. It maintains backwards compatibility by leaving the existing `roles` the same, and it allows us to use explicit names for everything in `succinct_hash_delegations`. We could maybe just call it `hash_delegations` as a step towards deprecating the old method of hashed bin delegations.

Does this solve the issue with the way metadata api identifies delegations? I suppose with the ne

[2022-04-27 07:38] lukpueh commented on #1943
Yes, or maybe even shorter: `hash_bins`, as in the role that defines the `delegations` object can delegate to individual `roles` and/or to one or more collections of `hash_bins`

IMO it makes it more obvious. We no longer need a dictionary whose keys can be either a role name or something else, identifying either an individual role or a collection of roles. We would just use two different dictiona

[2022-04-27 07:56] lukpueh commented on #1943
That is true, but we might want to consider making some backwards incompatible decisions in the [`DELEGATIONS`](https://theupdateframework.github.io/specification/latest/#delegations) object.
[code]
The backwards compatible way would be to make `hash_bins` optional but leave `roles` mandatory, which seems inconsistent. I think we should make them either both optional or both mandatory. And I lean

[2022-04-27 14:17] jku opened #1981 "verify_release hangs"
verify_release uses pip in a way that currently leads to downloading all build dependencies as source and building them (twice): this is a bug and looks like the script has hung.

[2022-04-27 14:51] jku commented on #1981
more details:
* the script downloads the source package twice: once to figure out what version pip thinks is current and once to download the artifacts we are comparing our built artifacts to. The former could be changed if there was a smarter way to ask pip what it thinks is current tuf version...
* pip seems to have a bug in `--no-deps` when used with `download` (it would not be the first time):

[2022-04-27 16:02] lukpueh commented on #1943
@awwad just pointed out that the order in `roles` is important when traversing the delegation tree. Now if we have two fields, we cannot interleave "normal" delegations from the `roles` list and succinct hash bin delegation from the `hash_bins` field, which is something that was possible in the original TAP 15 proposal. Although, I doubt that there is actually a use case for it.

At any rate, we n

[2022-04-28 03:42] JustinCappos commented on #1943
I would think it should be roles first.  However, I think mixing them is a
fairly bad idea overall though.

On Thu, Apr 28, 2022 at 12:02 AM Lukas Pühringer ***@***.***>
wrote:

[2022-04-28 06:51] jku commented on #1943
I already commented elsewhere but this has some very tricky edge cases: it may _look_ compatible but is actually a potential security hole. If both  succinct_hash_delegations and roles are allowed in delegations then old clients that see new metadata would consider succinct_hash_delegations just unidentified extra data, something that the spec explicitly allows. So old clients would happily use ne

[2022-04-28 06:56] #1981 closed, assigned to jku

[2022-04-28 07:18] jku opened #1984 "build: reproducibility issue with hatch version"
I'm currently seeing our wheel file contents changing without changes to source:

[code]

So yes, we need to pin hatch version. This makes a lot of sense to me -- why would we not pin the build tool when we pin all  other dependencies?

I'm also a bit worried about that 0.22? Where did that come from -- I don't see it on pypi?

[2022-04-28 07:24] jku commented on #1984
Looking at the CD build log:
https://github.com/theupdateframework/python-tuf/runs/6194444912

[code]

It does not even document the hatchling version anywhere! How did GitHub end up with 0.22.0?  How did my local build end with 0.23.0? Neither of those versions is on pypi AFAICT and current release has been 0.23.1 for months!

[2022-04-28 07:53] jku commented on #1984
@ofek I suppose the pinning is fairly simple... but do you have any ideas about these random versions: where do they come from?

[2022-04-28 08:39] ofek commented on #1984
https://pypi.org/project/hatchling/#history

It's customary to use the name of the broader project rather than the backend

[2022-04-28 08:45] jku commented on #1984
this is probably part of the problem: I have issues understanding which is which and what actually gets used...

The reality is that our WHEEL file says: `Generator: hatch 0.22.0`

This is not a release I can find anywhere. Maybe it should say `hatchling 0.22.0` ?

[2022-04-28 08:53] jku commented on #1984
I think this is the issue: we depend on hatchling only but for some reason the WHEEL file documents it as `hatch` but still using `hatchling` version numbers.

Then it makes sense:
* we just pin our hatchling version pyproject.toml and build is now reproducible
* whatever component uses the wrong name in WHEEL should be fixed ... but it's not critical to our build reproducibility

[2022-04-28 11:11] jku opened #1988 "reconsider types-requests dependency"
We get a lot of dependency bumps from dependabot for types-requests: The dependency is in requirements-test.txt, I assume it brings in annotation stubs for requests so that mypy does not complain during lint.

These upgrades are annoying because typeshed (the project producing this package) does not make real releases. They don't even tag the releases in source: the packages just appear in pypi.or

[2022-04-28 13:35] #1984 closed, assigned to nobody

[2022-04-28 19:43] trishankatdatadog commented on #1943
This is always already a risk with accepting and ignoring unknown fields (except only to check if any signatures cover them), correct?

[2022-04-28 22:06] ofek commented on #1984
https://github.com/ofek/hatch/releases/tag/hatchling-v0.24.0

[2022-04-29 06:34] jku commented on #1943
I don't think so. In this case we are changing the way delegations are supposed to be understood, while leaving the format _seemingly_ compatible. The old client will think it has understood the delegation correctly when it has only understood a part of it.

It's possible that there are no security issues here but I don't like the ambiguity: I would rather choose a design where old client fails to

[2022-04-29 13:39] github-actions[bot] opened #1992 "specification has new version"
It seems specification (https://github.com/theupdateframework/specification/blob/master/tuf-spec.md) has new version.
Please review the version.

[2022-04-29 14:06] mnm678 commented on #1943
A solution to this would be to make this TAP part of a major version change. Clients check the version when downloading, so would know that the metadata shouldn't be parsed by an older client. If we do that, we could then require that metadata includes either, but not both of `delegations` and `succinct_hash_delegations`.

[2022-04-30 09:04] MVrachev commented on #1943
I think here you meant `roles` and `succinct_hash_delegations` inside the `delegtions` objects as from what I understand those two are in conflict.

[2022-05-02 06:58] jku commented on #1943
This certainly does it but I don't think it's necessary: If succinct delegations are not used, the old clients would still work fine with any of the formats we've discussed. Bumping major version would mean they would be made artificially incompatible which feels quite drastic.

I think it would be acceptable if the spec major version stays the same, but we just document that old clients will not

[2022-05-02 07:17] #1937 closed, assigned to nobody

[2022-05-02 11:49] abs007 commented on #1916
Hi @jku, could you please send me the file location for the FetcherInterface docstring. Thanks.

[2022-05-03 07:42] #1988 closed, assigned to nobody

[2022-05-03 07:57] jku commented on #1916
sure.
* Published docs: https://theupdateframework.readthedocs.io/en/latest/api/tuf.ngclient.fetcher.html
* source code: tuf/ngclient/fetcher.py

I suppose there's two things to possibly improve here:
* `_fetch()` is currently not included in documentation (sphinx does not include it because of the "_" prefix). If there is an easy way to get sphinx to include it, that would be nice. This could be

[2022-05-04 08:28] jku opened #1995 "RFE: expose delegated metadata to client application"
_EDIT: The overall  issue is described in detail in https://docs.google.com/document/d/1rWHAM2qCUtnjWD4lOrGWE2EIDLoA7eSy4-jB66Wgh0o . The suggestion here is roughly the **Metadata role (file) as search index** solution in the document._

Assume a setup like this (this is what we expect a community artifact repository like PyPI to look like if it uses developer signatures with TUF):
* a specific pr

[2022-05-05 07:46] JustinCappos commented on #1995
I would expect that in the case that this target file delegates to other target files, it would include all of the items listed there.  (This would continue transitively.)  It would also need to handle special delegation cases, thresholds, etc.  Is this your thinking as well?

[2022-05-05 09:25] jku commented on #1995
I was not thinking that, no -- but that could work as well...

My original idea was to literally return the equivalent of the "signed" json object of the "final" targets metadata (the one that terminates delegation either by containing the targetpath or by `terminating=True`): this would require no extra processing on the client part, but as I mentioned is only useful if all "related" target files

[2022-05-05 12:37] abs007 commented on #1916
Hi, I was going through a sphinx tutorial and had a question. Would I need to run `make html` after editing the `tuf.ngclient.fetcher.rst` file?

[2022-05-05 12:39] lukpueh commented on #1916
Yes, if you want to build the html docs locally. The docs hosted on `https://theupdateframework.readthedocs.io`, on the other hand, are built automatically.

[2022-05-05 13:01] abs007 commented on #1916
So, for testing out the changes locally I'd have to run that command but upon pushing the changes, the new html file is created automatically.

[2022-05-06 11:19] abs007 commented on #1916
I keep encountering this `make: *** No rule to make target 'html'.  Stop.` error when trying to run `make html` from the terminal. According to a few solutions online, I found that a certain 'Makefile' would be needed in the folder where I'm running `make html` from.

[2022-05-09 06:49] jku commented on #1916
easiest way to create docs locally is to run `tox` (or `tox -e docs` if you want to skip the tests and build just the docs), this should get you new docs in docs/build/html.

Also note that when you push a branch and get the CI test results, one of the results is a readthedocs build: you can just click "details" to see what it will look like on readthedocs.

[2022-05-09 08:49] jku opened #1999 "ngclient: temp_file could be undefined"
From sonatype lift results:

This seems like it could happen if NamedTemporaryFile() fails to create a file.

[2022-05-09 15:56] MVrachev commented on #1943
I have implemented @lukpueh suggestion from the comment here https://github.com/MVrachev/tuf/tree/new-suggestion.

In my prototype, I have additionally decided that:
- `roles` and `succinct_hash_delegations` attributes in the `Delegations` class are mutually exclusive
- there could be only one `succinct_hash_delegations`
- I didn't create a new common class between `DelegatedRole` and `SuccinctHas

[2022-05-09 18:25] abs007 commented on #1916
It seems like it's working now.

[2022-05-10 08:58] jku commented on #1943
Some initial comments:
* it's not obviously "less code",  in fact it's 100 lines more (not necessarily bad, just pointing it out)
* The core SW design decision seems to be to make Delegations more important: it has an API now
* a lot of the complexity has moved to Delegations serialization, this seems natural and "easy" to understand
* I think the Delegations API requires work but it seems like it

[2022-05-11 15:59] MVrachev commented on #1943
Some initial comments from me as well on the prototype based on Lukas suggestion:

Agree, I spent a good amount of time optimizing the code and making it smaller.
For example, I wanted to escape of the need of an additional class common for `DelegatedRole` and `SuccinctHashDelegation`. It seemed a waste given that `Role` already has `keyid` and `threshold` in it and the only missing common argumen

[2022-05-12 08:01] jku commented on #1943
There could be some alternative design here...

Throwing suggestions on the wall: terminating is only needed once in updater so what if you return a tuple of `optional rolename, terminating` from get_all_delegations()?  Then find_delegated_role() is no longer needed outside metadata.py so you could try refactoring the one remaining use case inside metadata.py...

[2022-05-16 10:07] MVrachev commented on #1943
There was a TAP 15 design meeting. What we have decided is summarized here: https://github.com/theupdateframework/taps/pull/154#pullrequestreview-973613582.

We have decided to drop the `terminating` field from succinct hash delegations.

[2022-05-26 08:21] abs007 commented on #1719
@jku I went through your [comment](https://github.com/theupdateframework/python-tuf/pull/1689#issuecomment-989794850) and thought of this.

Have a `SubTestCase(unittest.TestCase)` class which would use an `__init__()` method to initialize the original function (the one that uses the decorator) and tie it to the class instance and then use a `__call__()` method to allow for calling the class.
 `__c

[2022-05-31 07:04] #1999 closed, assigned to nobody

[2022-05-31 12:17] #1916 closed, assigned to nobody

[2022-06-01 07:42] jku commented on #1992
There's two changes that are relevant https://github.com/theupdateframework/specification/compare/v1.0.29..v1.0.30:

1. Spec now says WRT client root update:

I'm not sure if we use or discard the new metadata in this case: the spec advice seems reasonable. The only problem I can imagine with it is that now two clients might have two different versions even if they are updated at the same time (on

[2022-06-01 07:45] jku commented on #1992
Actually I'm also pretty sure we only accept specific root versions, anything else would be silly (since we download specific versions, surely the version in json must match or it's an error). We never try to download a version equal to current version so there's no non-error way to end up with root metadata with equal versions...

So likely nothing needs to be done

[2022-06-01 08:09] jku opened #2014 "document dependabot PR review strategy"
This is what I believe makes sense:
* "test" dependencies are mostly pinned to make sure we know which versions are being used and that the current version doesnt't surprisingly start breaking builds: reviewing the contents of test dependency updates is not required. If the tests pass that should be fine. Major updates could warrant a look in the changelog
* actual run time dependency updates shou

[2022-06-01 09:49] rdimitrov commented on #2014
I thought of touching that in the maintainer guidelines for go-tuf, so I'll be following 👍 One thing I had in mind is in go-tuf we have this policy where at least two people should review and approve PRs before they are merged, but there are dependabot cases where the change is nothing concerning and one approval should be enough too.

cc: @znewman01

[2022-06-01 10:41] lukpueh commented on #263
Thanks for your efforts, @rzr! It does not look like upstream maintainers currently want to allocate time to package python-tuf for Debian. So I suggest to maintain Debian metadata and apply the patches of this PR in a downstream fork/mirror of python-tuf. Closing here...

[2022-06-01 13:04] lukpueh commented on #2014
Makes sense to me as well, and I have nothing really to add in terms of content.

I do have a few ideas for where we could write this down:
- in python-tuf's [*Governance* doc](https://github.com/theupdateframework/python-tuf/blob/develop/docs/GOVERNANCE.md#contributions) (probably not the right place for wordy instructions, but rather a commitment to follow certain guidelines, that may be phrased

[2022-06-01 14:08] lukpueh commented on #1992
I confirm this. The initial root updating routine from `Updater.refresh` starts with trusted version + 1 (see first line)...
https://github.com/theupdateframework/python-tuf/blob/46979bb46d3054ca37fc0b9258574a126d975fcc/tuf/ngclient/updater.py#L306-L317

... and in `TrustedMetadataSet.update_root` (see last line above), we fail if new version is not trusted version + 1:
https://github.com/theupdat

[2022-06-01 14:29] lukpueh commented on #1992
This is not what ngclient does (`Updater.refresh`->`Updater._load_timestamp`->`TrustedMetadataSet.update_timestamp`):
https://github.com/theupdateframework/python-tuf/blob/46979bb46d3054ca37fc0b9258574a126d975fcc/tuf/ngclient/_internal/trusted_metadata_set.py#L222-L242

We only fail if new timestamp version is less than trusted timestamp version (L224). Otherwise, e.g. if versions are equal, we co

[2022-06-01 15:05] lukpueh commented on #1249
Just came across the GitHub's [Dependency Graph API](https://docs.github.com/en/rest/dependency-graph), while reviewing #1974.

Maybe we can use that API (or related tools) to automatically add/remove transitive dependencies from our pinned requirements files.

[2022-06-02 06:55] jku commented on #1992
oh interesting!

* I think the "continue the update cycle" is the correct thing to do, maybe the new spec is a bit badly worded: we likely have e.g. snapshot.json available locally already but we should still check, aka continue the update cycle.
* but using the local (old) timestamp seems fine to me and we should do that -- it's good the spec makes it clear that repositories can't publish the sam

[2022-06-02 07:10] dennisvang commented on #1995
@jku If you are looking for another use case: it looks like our [notsotuf client][1] would also benefit from such a feature.

[1]: https://github.com/dennisvang/notsotuf/blob/77fce835be5a320131c74b1fc866b7d1e5deed98/src/notsotuf/client.py#L66-L74

[2022-06-02 07:43] jku commented on #1995
@dennisvang it may have been your comments some time ago that got me thinking about it :)

Btw if you have any feedback or suggestions on python-tuf 1.x from downstream perspective, that would be very welcome -- creating issue is fine or slack works too

[2022-06-02 10:28] lukpueh commented on #1992
Re-reading the detailed client workflow, I'm somehow missing clear instructions for the case where no new (valid) metadata exists on the repo, but trusted metadata is available on the client. In my understanding the client will proceed until the point where it downloads the target, but that does not seem to be spelled out anywhere.

[2022-06-02 10:45] lukpueh commented on #1992
To me the main action items from this discussion here are:
-  Update `ngclient` to  "continue update cycle" with old trusted timestamp if versions of old trusted and newly downloaded timestamp are equal.
- Clarify in spec what "continuing or aborting the update cycle" means for the updater's ability to download a target. Most notably, reword the seemingly contradictory line: *"[...] abort the upda

[2022-06-02 12:36] znewman01 commented on #2014
I'd argue that the potential benefits here aren't worth the cost. This complicates the policy for "is this PR merge-able" and there are mechanisms by which a single malicious maintainer could get an update into the dependency tree, then merge it themselves so it's less safe to have this policy. CC @mnm678 who expressed a similar concern

The rest of this thread makes sense to me, especially the "C

[2022-06-07 13:15] lukpueh commented on #1995
I think this is a useful feature! Here are some unordered thoughts/questions on the two existing proposals:

- Both solutions require a contract between repo and client that the function yields all/only "related" target file infos.
- Solution 2 seems more general/flexible as it can cover cases, where related target file infos are spread across multiple target metadata files AND where they are all

[2022-06-08 11:57] dennisvang commented on #1995
@jku issue #822 looks related.

[2022-06-08 13:13] dennisvang opened #2020 "Must signed.version be incremented every time a role is re-signed?"
**Description of issue or feature request**:

After reading the [TUF specification][1] and studying the [basic_repo.py][2] example, one thing remains unclear to me:

It *is* clear that we need to increment the `signed.version` after e.g. adding a new target, as detailed in the [basic_repo.py][2] example.

However, what if we *only* modify `signed.expires`, after a role has expired, without changin

[2022-06-08 13:53] jku commented on #1995
Yes it definitely is related. Searching is still a _very_ complex beast and we shouldn't think this will actually solve that problem completely: I don't think this library even can solve searching in general: it really is an application problem. But we could provide this functionality so that repositories can design their content so that this functionality can be used for specific types of searche

[2022-06-08 14:03] jku commented on #2020
Good point, stuff like this would make the docs much better. I believe any change to published _signed_ metadata should lead to version bump: otherwise clients can't know when they need to download new metadata (in the case that they already have the previous version downloaded).

The only modification to metadata that doesn't need this that I could imagine is adding signatures... but even that se

[2022-06-08 14:08] lukpueh commented on #2020
Good question!

The spec has recently been updated to be a bit more specific about how the client should deal with *new* metadata that has the same version as the trusted one (see theupdateframework/specification#209).

    timestamp metadata and abort the update cycle. This is normal and it
    shouldn't raise any error. The reason for aborting the update process is that
    **there shouldn't be

[2022-06-08 14:12] dennisvang commented on #2020
@jku Yes, that certainly makes sense. Thanks for clarifying! :-)

[2022-06-08 14:24] lukpueh commented on #2020
In the case of targets and snapshot metadata it also makes sense to bump if only the signatures are changed, because their file hashes could be listed in other metadata ([snapshot](https://theupdateframework.github.io/specification/latest/#metapath-hashes) can list targets metadata file hashes, and [timestamp](https://theupdateframework.github.io/specification/latest/#ref-for-metafiles%E2%91%A1) c

[2022-06-08 14:38] dennisvang commented on #2020
@lukpueh Thanks for pointing that out.

So, would it be correct to say that the safest rule-of-thumb is to always bump the version whenever someone signs a role?

[2022-06-08 14:42] lukpueh commented on #2020
... and publishes it for someone to consume.

I would say.

[2022-06-08 15:14] dennisvang commented on #2020
where the consumer would be either a tuf client or another [key-owner][1]?

(sorry for going on about this)

[1]: https://github.com/theupdateframework/python-tuf/blob/b8360a2f6992c91d8c941917326e1c9d9b747c77/examples/repo_example/basic_repo.py#L219

[2022-06-08 15:22] lukpueh commented on #2020
Ha, excellent follow-up question. I was only thinking of a client.

For threshold signing we actually must not bump the version on each signature. Otherwise we'd sign different content each time and would never reach the desired threshold.

[2022-06-09 09:38] MVrachev commented on #1719
Sounds like a reasonable idea.
By implementing the `__call__` method you will call the decorator and the `cls.setup_subtest()` logic, but when and how do you call the `cls.teardown_subtest()` logic?
As I understand it we will call the `__call__` method with each test case we are given and that's why I am wondering how do you imagine fitting the `teardown_subtest` logic in that?

[2022-06-09 14:40] dennisvang commented on #2020
Still trying to figure this out...

Suppose timestamp lists the hash for the snapshot file, and *only* the *signatures* for snapshot are changed (for some reason). This means the snapshot "signed" portion does not change, but the snapshot file hash does change. Thus, the "signed" portion for timestamp changes. Then wouldn't it make sense to bump the `signed.version` for *timestamp* only, and leave

[2022-06-09 18:00] JustinCappos commented on #2020
Do you release the file when you don't have a threshold of signatures?  I
mean, is it considered valid when it isn't fully signed?  I would think it
should not be and should not be released / trusted by clients.

On Wed, Jun 8, 2022 at 11:22 PM Lukas Pühringer ***@***.***>
wrote:

[2022-06-09 18:13] MVrachev commented on #2020
Changing the signature of `snapshot` without changing the signed portion means that there is a change in the snapshot key used for singing. I think you will want to have a new version of snapshot in this case as you want to signal to your clients that there is a change in the keys used. This is useful in the case of snapshot key/keys compromise when you will want to rotate the keys with new ones.

[2022-06-09 18:47] dennisvang commented on #2020
@MVrachev  Doesn't the client handle this automatically, because the [root role is updated][1] at the beginning of the client workflow?

As I understand it (perhaps wrongly...), the spec suggests that the `signed.version` for snapshot is only read *after* verifying the signatures, see e.g. [5.5 steps 3 and 4][2]. The hash for snapshot would have changed, but that would be taken care of by the upda

[2022-06-10 09:43] dennisvang commented on #2020
If we consider the [metadata object][1] (basically the content of a metadata file):

[code]
It is clear that the `"signatures"` element depends on the `"signed"` element: We sign off on the content of `"signed"`, which includes a specific `"version"`.

But, the other way round, shouldn't the `"signed"` element *always* remain *independent* of the `"signatures"` element (within that *same* metadata

[2022-06-10 10:56] lukpueh commented on #2020
Your mental model seems right to me, maybe it works better with what we suggested above if we shift the causality a bit...

So I wouldn't say that a change in the independent `signatures` element **causes** a change in the `signed` element, but rather that only a version bump in the `signed` element **causes** the client to consider it as new metadata. Does that make sense?

[2022-06-10 11:05] lukpueh commented on #2020
@MVrachev:

This is a likely but not the only reason for a change in signatures.

In case of a timestamp or snapshot key rotation in root metadata, we delete the trusted versions of those metadata files to allow recovery from a potential ffw attack. So in that case the version bump isn't actually required. :)

[2022-06-10 11:31] dennisvang commented on #2020
@lukpueh Yes, thanks, I think that makes sense.

I'm still looking for a clear guideline. Something like the following, perhaps?

The `"signed"` version for a metadata object must be incremented if, and only if, the `"signed"` content has changed w.r.t. the latest published version of that metadata object.

[2022-06-10 11:59] lukpueh commented on #2020
Maybe we can phrase it with regards to the user?

The "signed" version for a metadata object must be incremented if, any client downloader should consider it as new trusted metadata.

[2022-06-10 15:43] dennisvang commented on #2020
That sounds better, and looking at this from the [client workflow][1] perspective does provide a better understanding of how the "version" is actually used. Although I do think this is a bit less explicit.

From the repository perspective, I was thinking along these lines (see if-condition):

[code]

[1]: https://theupdateframework.github.io/specification/latest/#detailed-client-workflow

[2022-06-11 17:55] abs007 commented on #1719
Would something like this work? (please excuse me if I'm not making sense logically)
[code]
What I'm thinking is that `__call__()` won't be called multiple times now since we're putting the decorator code in the `wrapper()` func.

[2022-06-13 08:44] lukpueh commented on #2020
So this translates to "bump version right before sign/persist (for publication) if signed part has changed, unless the change already includes a version bump"? I think this makes sense as a rule of thumb.

[2022-06-13 08:53] dennisvang commented on #2020
@lukpueh Yes, I think that translation covers it.

[2022-06-13 09:43] lukpueh opened #2023 "ngclient: used trusted timestamp if new has equal version"
**Description of issue or feature request**:

The [specification was changed](https://github.com/theupdateframework/specification/compare/v1.0.29..v1.0.30) to say wrt client timestamp update:

timestamp metadata and abort the update cycle.
This is normal and it shouldn't raise any error

To conform with spec v1.0.30, ngclient needs to be updated. See #1992 for discussion.

**Current behavior**:

U

[2022-06-13 11:33] lukpueh commented on #1992
Created two tickets for above items:
- https://github.com/theupdateframework/python-tuf/issues/2023 (blocks this issue)
- https://github.com/theupdateframework/specification/issues/235

[2022-06-13 12:43] MVrachev commented on #2023
I can fix that if you @lukpueh are not already working on it.

[2022-06-15 07:17] jku commented on #1966
This space seems to move very rapidly at the moment so just documenting a few things for myself if not others:
* lukas has a hand crafted in-toto solution linked above: it's neat but IMO not very easy to understand or currently to verify
* SLSA is building a "packaged" solution in [slsa-github-generator](https://github.com/slsa-framework/slsa-github-generator) -- this is new and seems to still be

[2022-06-15 08:04] jku commented on #1995
Forgot to respond to lukas here:

Yeah, there's certainly a chance of an earlier targets metadata to contain "unrelated" files that get listed (in the same sense that it allows multiple metadata to contain the "related" files). This is what makes the two approaches different...

solution 1 returns Targets just because it can -- I figured this would allow e.g. custom fields in the Targets to be ava

[2022-06-15 08:09] jku commented on #1995
Oh and the opinion I forgot: I maybe lean towards the `List[TargetFile]` return value anyway regardless of solution. ngclient public API already includes TargetFile, but does not currently expose the Signed-derivatives or other Metadata API details: I like that split

[2022-06-15 08:15] lukpueh commented on #1966
Thanks for posting this summary!

IMO there are two things that make the hand-crafted in-toto solution so hard to understand/verify:

1. **Key management and metadata distribution** ([issue summary here](https://github.com/theupdateframework/python-tuf/pull/2000#issuecomment-1122067799)) -- This is arguably easier with a sigstore-based approach with their ephemeral keys, OIDC-providers, identity/s

[2022-06-15 08:43] #1885 closed, assigned to ivanayov

[2022-06-15 08:44] lukpueh commented on #2020
This issue should be resolved as part of #1136 either in code or in documentation.

[2022-06-15 08:53] dennisvang commented on #1995
The `List[TargetFile]` option would be sufficient for our specific use-case.

Currently, we base our search on the `target_path` values obtained from [tuf.ngclient.updater.Updater._trusted_set.targets.signed.targets.keys()][1], although I'm not sure that would always work.

[1]: https://github.com/theupdateframework/python-tuf/blob/1e813fe75903a15433c19fac00d1caaa21f638db/tuf/ngclient/_internal/tr

[2022-06-16 13:31] jku opened #2030 "deps: hatchling update"
We pin hatchling in pyproject.toml: `build-system.requires = ["hatchling==0.22.0"]`. I think this is the correct choice: otherwise the build is not really reproducible.

It looks like Dependabot does not notice this as a dependency: so we're currently several versions behind.

Tasks:
* Update hatchling to current
* Figure out how we stay up-to-date?

[2022-06-16 15:45] joshuagl commented on #2030
Relevant dependabot feature request: https://github.com/dependabot/dependabot-core/issues/3290

[2022-06-17 15:24] MVrachev commented on #1943
We have decided that `succinct hash delegations` will be part of the `Delegations` object and as such it's no longer connected to `DelegatedRole` and the problem described in this issue description.
Closing this issue.

[2022-06-17 15:24] #1943 closed, assigned to MVrachev

[2022-06-20 12:41] MVrachev commented on #1719
It seems to make sense. You call the decorator and then the setup function.
I haven't tested what is first now - the decorator or the `setUp` function.

Can you choose a testing function using the decorator and link to an example how what it would look like?
It will be great if you push an example branch with this change in your fork, so we can have a look closer.
Then it would be easier to valida

[2022-06-22 08:51] #2023 closed, assigned to MVrachev

[2022-06-22 08:54] lukpueh commented on #1992
#2023 was merged. Shall we bump ... https://github.com/theupdateframework/python-tuf/blob/46979bb46d3054ca37fc0b9258574a126d975fcc/tuf/api/metadata.py#L78 ?

[2022-06-22 09:08] MVrachev commented on #1992
It seems there is no other immediate blocker.
We confirmed that for `root` we are doing what the spec says.
I will propose a pr bumping this now.

[2022-06-24 11:22] MVrachev commented on #1909
After #2031 and #2038 are merged I think we are ready to close this issue.
I don't see any other todo items left.

[2022-06-24 15:04] mnm678 opened #2040 "Implement TAP 14"
**Description of issue or feature request**:
Implement [TAP 14: Managing TUF versions](https://github.com/theupdateframework/taps/blob/master/tap14.md)

**Current behavior**:
TUF clients will not be able to safely update once the repository moves to a new major specification version.

**Expected behavior**:
TAP 14 is implemented, giving clients a period of time in which to update to the new specif

[2022-06-27 12:36] jku commented on #2040
I'm not confident this is something the python-tuf library can meaningfully provide as a generic feature -- I'm not against someone trying that, just warning that it seems difficult. Somehow automatically producing all versions at the same time sounds like a maintenance and testing problem.

I can see how a mechanism to support multiple incompatible client versions could be useful, but my hunch is

[2022-07-02 12:39] abs007 commented on #1719
Sorry, it looks like I got things mixed up. I thought @jku meant a decorator class by his comment (A class mimicking a decorator function). Some things that I'd like to ask first.

My question is that do we need to pass `setup_subtest()` inside the `setUpClass()` method (I'm guessing this is where he meant to put it) since we seem to use it after calling the decorator like in [here](https://github

[2022-07-04 09:07] #1992 closed, assigned to lukpueh

[2022-07-04 14:32] dennisvang opened #2047 "DownloadLengthMismatchError because requests automatically decodes gzip files"
**Description of issue or feature request**:

If target is a gzip file, served with a `Content-Encoding: gzip` header, `requests` will automatically decode the file.

**Current behavior**:

As a result, the [default fetcher][2] for tuf ngclient raises a `DownloadLengthMismatchError`:

[code]

**Expected behavior**:

From the [requests docs][1]:

I would expect tuf to access the `Reponse.raw` inste

[2022-07-05 11:15] joshuagl commented on #2047
Thanks for the detailed report and for proposing a fix @dennisvang. Would you be interested in creating a Pull Request to implement the proposed fix?

[2022-07-05 11:50] dennisvang commented on #2047
@joshuagl Yes, I would be happy to create a pull request for this.

Actually I already started working on one, but it's taking a bit longer than anticipated.

[2022-07-05 11:51] joshuagl commented on #2047
Brilliant, thank you

[2022-07-06 22:14] mnm678 commented on #2040
The proposal in the TAP should be specific enough that python-tuf can have a feature to parse the new version metadata from a repository (ie finding the 2.0.0 folder and using the metadata there once it exists), and make some tests for various repository use cases.

I agree that actual use of this feature will require repositories to make decisions about which versions to support, etc. I'm hoping

[2022-07-07 09:48] dennisvang commented on #2047
@joshuagl I believe PR #2048 does the job, although I'm not entirely sure my method of testing is acceptable.

[2022-07-07 17:59] MVrachev opened #2052 "How to perform modifications on bins handled by succinct hash bin delegations?"
**Description of issue or feature request**:
Currently, I am working to support succinct hash bin delegation as described in [TAP 15](https://github.com/theupdateframework/taps/blob/master/tap15.md) in [Repository Editor for TUF](https://github.com/vmware-labs/repository-editor-for-tuf).
`Repository Editor for Tuf` is a CLI tool that tests the usability of the public API calls provided by `python-

[2022-07-07 18:09] MVrachev commented on #2052
Currently, I think that:

- changes `1` and `2` can currently be made with `Targets` API calls https://github.com/theupdateframework/python-tuf/blob/b5e952cee3edb1c3363a8a7859cb548b13ab71f3/tuf/api/metadata.py#L1980 and https://github.com/theupdateframework/python-tuf/blob/b5e952cee3edb1c3363a8a7859cb548b13ab71f3/tuf/api/metadata.py#L2012
What probably is missing and can be a repository feature is

[2022-07-13 12:56] MVrachev commented on #2052
@mnm678 and @lukpueh I am especially curious in hearing your opinions on the matter.

[2022-07-13 15:03] mnm678 commented on #2052
Good question. I think that anything that is included in the `succinct_roles` definition should be changed with `Targets` API calls, like the ones you show above.

But something that only affects one bin (like adding a target) can be handled directly by that bin, just like a normal role adding a target.

[2022-07-14 09:15] kairoaraujo opened #2056 "The client-example has a confusing return for the `download` function."
**Description of issue**:
The client-example has a confusing return for the `download` function.
The return mixes the error and flows handling.

**Current behavior**:
Currently, it returns a bool.
- If a target file is downloaded it returns True
- If there is an exception in the code it returns False
- if a target file is not found it returns True

https://github.com/theupdateframework/python-tuf/

[2022-07-14 09:16] kairoaraujo commented on #2056
Thread in Slack channel: https://cloud-native.slack.com/archives/C01GT17AC5D/p1657718611407839

[2022-07-19 10:38] lukpueh commented on #2052
Sounds right to me, and I would even say that, in terms of metadata update chains, there is nothing special about hash bin delegation when compared to any other delegation. This means whenever you change the keys or thresholds in delegating metadata (root or targets), you likely want to resign the delegated metadata, if you control the signing keys, which should always be true for hash bin delegat

[2022-07-20 07:59] lukpueh commented on #2047
This is not a bug in the client but in the server. See https://github.com/theupdateframework/python-tuf/pull/1774 and https://github.com/theupdateframework/python-tuf/pull/2048#issuecomment-1188969803 pp. for details.

[2022-07-20 07:59] #2047 closed, assigned to dennisvang

[2022-07-20 12:59] joshuagl commented on #1952
Was this taken care of in #2010 @MVrachev ?

[2022-07-20 13:09] joshuagl commented on #1601
It would be good to document RequestsFetcher as part of the API docs, as that is the default fetcher the updater uses.

For TrustedMetadataSet, I agree it doesn't belong in the API docs. I do think it's neat enough to warrant a blog post, though!

[2022-07-20 13:14] joshuagl commented on #1136
Another implementation we could look to for inspiration is [Rugged](https://rugged.works), which implements [repository](https://gitlab.com/rugged/rugged/-/blob/main/rugged/tuf/repo.py) and a [key manager](https://gitlab.com/rugged/rugged/-/blob/main/rugged/tuf/key_manager.py) classes on top of the low-level metadata API.

A key manager/keyring feels like a useful helper to provide.

[2022-07-20 15:13] lukpueh commented on #1952
Depends on whether the feature requests API for non-succinct hash bin delegation.

IMO, now that we have succinct hash bin delegation, there is **no** good reason to use the **non-succinct** form, so let's not encourage its usage with new API and do close this issue. :)

[2022-07-20 16:03] MVrachev commented on #1952
No, we didn't add any API for non-succinct hash bin delegation.
I agree with @lukpueh here and think we should close this issue.

[2022-08-03 13:25] jku commented on #1952
:+1:
Currently adding/removing a target to a repository still needs a bit of code (see https://github.com/vmware-labs/repository-editor-for-tuf/pull/45 for an example) but there does not seem to be anything clearly missing from the delegations API...

[2022-08-03 13:25] #1952 closed, assigned to nobody

[2022-08-08 14:12] mnm678 commented on #2040
Replying to a comment in [another issue](https://github.com/theupdateframework/python-tuf/pull/2049#issuecomment-1207448368):

The real world use case for this client workflow is when the client isn't controlled by the same entity as the repository. This is possible for clients that use multiple repositories, and for other areas when the client and repository implementations are more separate, lik

[2022-08-08 17:28] jku commented on #2040
Thanks, this is useful detail.

I'm trying to imagine a scenario where all this aligns perfectly:
* we need to update some client repository URLs very quickly
* the repository change somehow _requires no changes in the client software itself_ -- but it does require support for a new incompatible TUF spec version
* some clients have already received the software update that allows them to process t

[2022-08-08 21:43] mnm678 commented on #2040
As you say there are two reasons for a client to upgrade: a change to the implementation or a change to the spec. The first case (while important), is not the goal here. It's possible that we'll want to revisit that and extend the scope, but I think there are challenges to working with both code versions and spec versions in the same place (especially with multiple repo/client situations). In the

[2022-08-09 06:17] jku commented on #2052
Documenting the experiments on target adding and removal in repository-editor: https://github.com/vmware-labs/repository-editor-for-tuf/blob/main/tufrepo/librepo/repo.py#L131: both need a delegation search to be ergonomic (user should not need to know the exact bin role name to be able to add or remove a target) but interestingly the search can not be the same one in both cases

Expiry and version

[2022-08-09 07:07] jku commented on #2040
Full ack that breaking changes don't seem to be happening... I just still don't see clients dynamically changing repository URLs as solving real problems in that area.

Anyway, opinions are now on table: I don't want mine to stop your work, just wanted to state this early so it doesn't come as surprise.

[2022-08-09 13:38] jku opened #2070 "finally remove setup.py"
Apparently this may have been why dependabot silently failed if setup.py was missing: https://github.com/dependabot/dependabot-core/pull/5392

We can try removing setup.py again (but check the dependabot logs to see that it really finds our dependencies).

[2022-08-11 16:01] jku opened #2071 "Try constructor improvements for Delegations/ delegated roles"
Currently creating e.g. succinct delegations looks like this

[code]
Looks bad, i'm sure we could get that to _something a bit like_:

[code]

Or alternatively

[code]
What makes sense probably depends on what the other delegation types (most importantly paths delegation) will look like...

[2022-08-11 17:00] KOLANICH opened #2072 "Provide a way to customize the default Requests session"
**Description of issue or feature request**:
The Requests session for each connection by default is created from scratch. And there is no sane way to customize it, for example to support `file://` URIs via https://github.com/dashea/requests-file.

**Current behavior**:
`Session()` is called within `RequestsFetcher._get_session`

We can patch every session using

[code]

but it will patch the sessi

[2022-08-11 17:02] KOLANICH opened #2073 "Create a `class HttpxFetcher(FetcherInterface)` for `httpx`"
**Description of issue or feature request**:
`requests` doesn't support HTTP/2

**Current behavior**:
no `HttpxFetcher`

**Expected behavior**:
`HttpxFetcher` is implemented

[2022-08-11 17:17] KOLANICH opened #2074 "`requests_fetcher` fails on `file:///` URIs because of `urlparse` fails on them"
**Current behavior**:

`DownloadError: Failed to parse URL file:///`

**Expected behavior**:

No error.

[2022-08-11 17:20] KOLANICH commented on #2074
No, it doesn't. It just has no hostname.

[2022-08-12 06:39] jku commented on #2073
A reasonable request. I'll just note that it is possible to implement this outside of python-tuf as well: this is why FetcherInterface is public API.

[2022-08-12 07:07] jku commented on #2072
Custom FetcherInterface implementations are a way for you to control every aspect of the download. RequestsFetcher is maybe 50 lines of code (40 if you don't care about the multi-session-caching in `_get_session()`) so copy-pasting and creating a modified version seems fine.

We didn't make RequestsFetcher part of the public API exactly because it's clear that people would want to modify the inter

[2022-08-12 07:15] KOLANICH commented on #2072
Custom `FetcherInterface` for `requests` without reusing your code is reinventing wheel.

Reimplementing this method is also reinventing a wheel.

For me it doesn't seem fine if adding 4 lines of code into the upstream impl can eliminate the need to fork it.

Yeah, it's OK. I added this for testing purposes to avoid spinning up a local http server. But I'm considering just adding this functionalit

[2022-08-12 07:49] jku commented on #2072
With regards to the wheel re-invention comments: I am personally wary of adding complexity into python-tuf unless it makes life easier for many users. The project has seen the maintenance costs of excess complexity before and I personally would like to not see them again. This does not mean I'm against PRs making RequestsFetcher easier to derive from: I just don't want that to lead to too much add

[2022-08-12 17:46] KOLANICH commented on #2072
Thanks for the info, I have missed that aspect. I guess a redefineable factory method creating a session should be enough.

[2022-08-13 09:28] jku opened #2077 "design spec_version updates"
Since a incompatible spec version update seems to get more interest (see #2040), we should start with actually designing how spec version numbers are going to work... Who is responsible for setting the version and what tools exist to help there?

As an example, lets say that TUF spec decides that succinct delegations are an incompatible spec addition -- this is a reasonable decision as adding succ

[2022-08-16 06:46] jku commented on #2077
Hmm, I suppose I actually meant that 1.1.0 (instead of 2.0.0) could be a reasonable spec version number for succinct delegations. I'm assuming that means "new clients compatible with 1.1.0 will understand 1.0.x metadata, but old clients will not understand 1.1.0".

[2022-08-16 08:14] MVrachev commented on #1909
Closing as there is no work left on that issue.

[2022-08-16 08:14] #1909 closed, assigned to MVrachev

[2022-08-20 14:13] MVrachev opened #2082 "Build dependency hatchling: use 1.x versions"
When hatchling was proposed to python-tuf in pr https://github.com/theupdateframework/python-tuf/pull/1896 the contributor @ofek said for `hatchling` version the following:
[code]
I haven't checked his claim, but if he is correct we can bump the `hatchling` version we are using to `1.x`.

TODO: Consider using `hatchling` versions `1.X.Y`.

[2022-08-20 14:19] ofek commented on #2082
Yup I'd recommend upgrading to latest!

[2022-08-20 17:32] jku commented on #2082
yeah we absolutely want to use newest hatchling -- the only reason we're pinning the version is that we want the build to be reproducible so would like tool versions to change in a way that we control (and haven't managed to get dependabot to handle this version number)

[2022-08-20 17:46] ofek commented on #2082
Understood! A new change in metadata output is slightly different classifier sorting https://github.com/pypa/hatch/pull/412 based on https://github.com/pypa/trove-classifiers/blob/e9d1beaaab239f1b43a92e373cd5ef1be7753442/src/trove_classifiers/__init__.py#L4

[2022-08-29 12:53] jku opened #2089 "spec version check fails"
spec version check currently fails on CI. I think I've seen this when using an older pip: `pip install -e .` thinks the project uses setuptools (either because it does not support pyproject.toml or because it gets confused by our decoy setup.py).

This could be fixed by
* fixing #2070 or
* updating pip in the workflow

I assume the first one is enough, but it's possible that both are needed (if pi

[2022-08-29 13:05] jku commented on #2089
huh, `python-version` argument for setup-python action does not have a default value: so we do not get the newest python by default, we get whatever random python happens to be installed in the CI VM -- these are not guaranteed to be same between different VMs. This will affect pip version...

We should definitely set python-version to "3.x" in this workflow and everywhere else where we don't use

[2022-08-30 07:19] lukpueh commented on #2089
We already do that.

[2022-08-30 07:55] lukpueh commented on #2089
and

fixed in #2001

[2022-08-30 08:50] jku commented on #2089
reopening just so we remember to check that the dependabot logs look good (next run should happen in an hour or two):  https://github.com/theupdateframework/python-tuf/network/updates

[2022-08-30 10:40] jku commented on #2089
LGTM 👍

[2022-08-30 10:42] lukpueh commented on #2070
Fixed in #2091

[2022-08-30 10:42] #2070 closed, assigned to nobody

[2022-08-30 10:55] jku commented on #2089
oops, reopening.

The spec version check still fails, likely until the python version fix from  #2001 is in.

[2022-08-30 11:08] jku commented on #2089
oops, pip now complains: `no such option: -u`

Should have been `-U` or `--upgrade`, the latter is used in other workflows

[2022-08-31 13:14] jku commented on #2089
All green now, thanks.

[2022-08-31 13:14] #2089 closed, assigned to nobody

[2022-09-01 06:51] jku commented on #2082
this duplicates #2030 I think

[2022-09-01 06:51] #2082 closed, assigned to nobody

[2022-09-01 08:12] jku opened #2093 "Implement DSSE bridge?"
The fact that TUF metadata contains the non-canonical form of the payload is a known issue (see https://github.com/secure-systems-lab/dsse for future plans).

While we wait for the spec to evolve, I wonder if we should implement a sort of bridge API between DSSE and current TUF Metadata? `Metadata.to_dsse_bytes()` / `Metadata.from_dsse_bytes()` or something.

This would allow e.g. a repository to

[2022-09-01 08:31] lukpueh commented on #2093
This is an interesting thought. Transferring existing signatures should work well for Metadata --> DSSE, because the DSSE payload (bytes) could be the canonical json representation of the Metadata payload (Signed), so the original Metadata signatures could still be verified with the DSSE envelope. For the other way around, it can't be guaranteed, which means we'd have to discard the signatures in

[2022-09-01 08:34] jku commented on #2093
As alternative, if `sign()` or another method exposed the canonical payload this could maybe be implemented outside of Metadata API itself.

[2022-09-01 09:47] lukpueh commented on #2093
FYI: @PradyumnaKrishna has implemented [DSSE  in `securesystemslib`](https://github.com/in-toto/securesystemslib/blob/c011e6c9cb7538719a15386ab4d5d4255d0122b8/securesystemslib/metadata.py#L17) and is [integrating it with in-toto](https://github.com/in-toto/in-toto/pull/503), to make it work alongside the traditional metadata wrapper as described in [ITE-5](https://github.com/in-toto/ITE/blob/maste

[2022-09-01 09:48] lukpueh commented on #2093
Can you elaborate?

[2022-09-01 11:56] jku commented on #2093
(I'm going to call the python-tuf top-level concept Metadata, and the DSSE top-level concept Envelope, to maybe stay sane.)

Yes. I imagined that python-tuf could implement e.g. a Metadata.from_dsse(data: bytes, delegator: Metadata, role: str) which could
 * parse `data` as a DSSE Envelope
 * use the keys/threshold in `delegator` to verify the signatures in the envelope
 * Create metadata from the

[2022-09-01 12:04] jku commented on #2093
Actually scratch that about sign(), I wasn't thinking it all the way through: what I mean is if the canonical payload is available through the API, then I think someone could generate a DSSE Envelope for a Metadata object outside of the Metadata API.

[2022-09-01 12:54] lukpueh commented on #2093
I like that in your idea we can keep using old Metadata as we used to and don't have to worry about finding a common abstraction for Metadata and DSSE. And given that we verify signatures before deserialization (and conversion), which is the whole purpose of DSSE, we could even discard them before we convert to Metadata, so that DSSE is not required to create the signature of the canonical represe

[2022-09-06 15:37] trishankatdatadog opened #2096 "Create a security policy"
**Description of issue or feature request**:

Similar to [go-tuf](https://github.com/theupdateframework/go-tuf/issues/371), we should create a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) so that researchers can properly disclose security issues.

[2022-09-06 15:55] joshuagl commented on #2096
We have one, it's just not in a dedicated SECURITY.md as GitHub expects: https://github.com/theupdateframework/python-tuf#security-issues-and-bugs

We _might_ want to consider including more of the maintainers in the security reporting path somehow, but I don't have concrete suggestions.

[2022-09-06 18:42] mnm678 commented on #2096
I think it's worth copying/moving the policy into SECURITY.md for easier discovery

[2022-09-06 18:48] trishankatdatadog commented on #2096
Agree: this is by default where people (like myself) will look in GitHub

[2022-09-07 13:14] sohamchari commented on #1665
Hi, I would like to take up this issue.

[2022-09-07 13:16] ameypd commented on #1862
I would like to take this up as my first PR.

[2022-09-08 06:00] UDITBALUJA commented on #2030
Hi, I would like to fix this issue. Can you please assign me this issue.

[2022-09-08 09:28] lukpueh commented on #2093
Turns out we should not use canonical json for DSSE payloads. As @PradyumnaKrishna and I just (re)discovered, canonical json is not json. See https://github.com/theupdateframework/python-tuf/issues/457 for details.

This hasn't been a problem so far, because we always only encoded canonical json to generate sigs, but put standard json on the wire. So, if we want to put canonical json on the wire a

[2022-09-08 10:32] lukpueh commented on #1665
We just recently revamped some of this de/serialization logic in `securesystemslib`. Our goal was to make it useable for python-tuf and in-toto, for different metadata containers (traditional and new dsse envelopes), and for different payloads.

We realized that we get less coupling and more flexibility, if we use custom deserializers per class-to-be-deserialized-into instead of adding more option

[2022-09-09 08:06] #2096 closed, assigned to nobody

[2022-09-09 16:53] jku commented on #1665
I'm sure you're right... I'm not very familiar with serialisation ideas: happy to discuss (maybe after OSS EU) if you want comments

[2022-09-09 18:02] Sush-Dew commented on #1893
@jku Could you assign this issue to me? I am a beginner and this issue seems a good first issue to resolve.

[2022-09-09 20:19] jalajk24 commented on #1842
hi @MVrachev i am looking forward to work on this project can you drop some insights and assign it to me?

[2022-09-10 12:03] NabeelShahid7 commented on #1492
I would like to work on this enhancement.. Can I please get some kind of an approval from any contributor of this repository?
About Me:
I am a student currently pursuing his Post Graduate in Computer Science. I have been assigned a course component which involves contributing to any open source project. I am liking this repository and would like to start from scratch to try getting this issue fixe

[2022-09-10 18:25] jku commented on #1492
welcome! I think the tests have changed quite a bit since I filed this: they're definitely much faster now, we probably don't use encrypted keys in as many tests any more...

Feel free to investigate and check how much that still happens though. Let me now if you need help.

[2022-09-10 18:28] jku commented on #2030
Note that this might be an impossible request:

So a plain hatchling version bump (and preferably checking that the build result did not change) is fine.

[2022-09-11 03:54] NabeelShahid7 commented on #1492
Thank you. @jku

[2022-09-20 09:11] jku commented on #1842
Hi, welcome, sorry to have kept you waiting: I'll assign, but there's no need to wait for that in future: if you just leave a note saying you're looking at a bug that's totally fine too.

Running those commands martin listed, will let you review the code annotated by coverage:
* It may be useful to review the missing (red) and partially run (yellow) lines, see if we could test any of them better
*

[2022-09-20 13:10] MVrachev commented on #1842
Yes, sorry @jalajk24 that I made you wait for so long...

[2022-09-21 13:58] github-actions[bot] opened #2112 "TUF specification has a new version - v1.0.31"
Hey, it seems there's a newer version of the TUF specification - [v1.0.31](https://github.com/theupdateframework/specification/blob/v1.0.31/tuf-spec.md)

The version which [theupdateframework/python-tuf](https://github.com/theupdateframework/python-tuf) states it supports is - [v1.0.30](https://github.com/theupdateframework/specification/blob/v1.0.30/tuf-spec.md)

The following is a comparison of

[2022-09-22 09:58] jku commented on #1995
After discussing with @kairoaraujo we realised that using hashbin delegation anywhere in the delegation chain breaks this idea. Because the hashing happens over the complete artifact targetpath (and not some policy object like "project name") we can't possibly list all targets related to a project or find out the current version of a product.

This is just a side effect of TUF not really understan

[2022-09-26 07:32] jku opened #2116 "review token permissions (based on openssf scorecard recommendations)"
https://deps.dev/project/github/theupdateframework%2Fpython-tuf
* expand token-permissions
* click "show details"

We're getting 0/10 on the openssf scorecard for _Token-Permissions_. I think some of those may be flaws in the scorecard tool (output even mentions "known issues") but I think this warrants a closer read and possibly filing issues for fixing the problems.

[2022-09-26 13:29] MVrachev commented on #2112
I will check what the new specification version does and write a comment or propose a new pr.

[2022-09-26 14:49] MVrachev commented on #2112
We are doing exactly what the changes in the new specification version say: we make sure that the new root version is exactly the old root version +1:
https://github.com/theupdateframework/python-tuf/blob/39b67bcc6e1c2a86751fe210dbc76c62f8438dac/tuf/ngclient/_internal/trusted_metadata_set.py#L166

I will propose a pr bumping the supported version by python-tuf.

PS: The changes in the new specific

[2022-09-27 07:09] #2112 closed, assigned to nobody

[2022-09-27 15:12] MVrachev commented on #2093
I read the whole discussion, but somehow I didn't understand where was said we would need to have canonical JSON on the wire in order to use DSSE?

From what I understand the in-toto DSSE pr suggests an additional abstraction that based on the bytes decides what format it is. If we want to achieve the same we would need to write an additional abstraction that does the same for python-tuf and it de

[2022-09-28 07:55] jku commented on #2093
the advantage of using canonical JSON as the signed content in the DSSE would have been that you could go from DSSE to current TUF metadata without resigning anything (which would be useful to avoid that parsing-unsigned-unsafe-data issue)... but Lukas is likely right that this is just not possible as "canonical JSON" is not actually JSON and we can't parse it as JSON :facepalm:

So likely we just

[2022-09-28 12:30] MVrachev commented on #2093
Now, the question I have is what are we doing about DSSE after we close this issue?
As I mentioned above:

What do you think @jku @lukpueh ?

[2022-09-28 13:49] MVrachev commented on #2071
If we use the first approach:

targets.add_key(bins_key)

we would have to:
1.  make `Delegations.keys` an optional attribute in `Delegations.__init__`
2. add a new method `SuccinctRoles.new(NUMBER_OF_BINS, NAME_PREFIX))`

If we use the second approach:

targets.add_key(bins_key)

we would have to:
1. make a new method `Delegations.new_succint(NUMBER_OF_BINS, NAME_PREFIX)`
2. make all `SuccinctRol

[2022-09-28 15:53] MVrachev commented on #2071
After I tried implementing the third option I realized that the end result was complicated as actually I had to initialize delegations like this:
[code]
It required 4 lines just to initialize the targets.delegations as we use black.

Then, I tried the first option as it seemed like a good balance - we were creating a new method, yes, but inside `SuccinctRoles` which is a helper class and it doesn'

[2022-09-30 08:38] jku commented on #1966
Maybe time to discuss this one again? sigstore-python now does attestations with slsa-github-generator (this is the generic "provenance only" generator): https://github.com/sigstore/sigstore-python/blob/main/.github/workflows/release.yml#L82

I understand that that does not cover all the bases this PR does (as explained in previous comment)... but their approach seems more approachable and easier

[2022-09-30 11:00] joshuagl commented on #1966
I think this is a great goal, so long as we are not unduly reducing our security so that we're an easier example to follow.

➕1️⃣

[2022-10-03 10:21] lukpueh commented on #1995
A simple answer: To allow standardized target file verification without the need for concepts like *project*, *product* or *version*.

[2022-10-03 10:46] jku commented on #1995
but I am talking about the case where _project, product and version_ are needed by the client code to even find the final target it wants to download: the reality is that this approach of listing targets separately (in the case where the client needs the extra structured data anyway like pip does) leads to more complex client code, larger metadata files and the additional server roundtrip for ever

[2022-10-03 11:09] lukpueh commented on #2093
@MVrachev, we don't need to wait for TAP 14 to add the possibility of writing and reading DSSE metadata to python-tuf.

[2022-10-03 11:12] lukpueh commented on #2093
My plan is to finalize https://github.com/in-toto/in-toto/pull/503, and see if the same approach can be used for python-tuf.

[2022-10-12 09:44] jku commented on #1995
The issue is described in detail in https://docs.google.com/document/d/1rWHAM2qCUtnjWD4lOrGWE2EIDLoA7eSy4-jB66Wgh0o

The original suggestion in the issue description is roughly the _Metadata role (file) as search index_ solution in the document.

[2022-10-12 10:47] n-dusan opened #2136 "Incorrect metapath length validation"
**Description of issue or feature request**:

As per [TUF metapath specification](https://theupdateframework.github.io/specification/latest/#metapath-length), `length` attribute of metadata is an integer numerical value. However, the [current](https://github.com/theupdateframework/python-tuf/blob/28b027815e2e6490c4ec7cc21d8f73373cbe2670/tuf/api/metadata.py#L1055-L1056) validation states that lengt

[2022-10-12 11:32] jku commented on #2136
Sounds good otherwise but can you explain more about _"signed metadata is an empty file"_...  As far as I can see zero length does not make a lot of sense for [metapath-length](https://theupdateframework.github.io/specification/latest/#metapath-length): zero length metadata files aren't going to be useful to anyone, or am I mistaken? It does possibly make sense as [targetfile length](https://theup

[2022-10-12 11:40] n-dusan commented on #2136
Thank you. You are correct. I was referring to targetfile length. Empty files with no content can be seen as useful. They contain a name, and their existence can be an indicator of some event in git history. I agree that zero metapath-length is questionable (and not sure if useful). Although the spec refers to numerical values, I think both are seen as potentially being zero?

[2022-10-12 11:59] jku commented on #2136
Got it. We're in agreement then: zero length _target_ files are potentially useful and allowing zero length in general does not seem harmful.

[2022-10-17 07:49] #2136 closed, assigned to nobody

[2022-10-18 08:24] UDITBALUJA commented on #2030
I have checked hatchling versions  1.9.0 and 1.10.0 and the build results seem to be fine.I'll also check for the latest version released on  9 Oct,2022 ,and will give update soon.

[2022-10-18 13:07] jku opened #2140 "securesystemslib import fails"
From https://github.com/theupdateframework/python-tuf/actions/runs/3249189713/jobs/5331305228

A test file import fails on windows at `from securesystemslib.signer import Signature, SSlibSigner` (flaky).

This is likely https://github.com/secure-systems-lab/securesystemslib/issues/428.

[code]

[2022-10-19 08:32] jku commented on #2077
Based on some comments by Justin, I think the intention is not this, but instead the hard compatibility requirement "1.0.0 clients must be able to understand and use **all** 1.x.y metadata". This is also reasonable, but means there will be more major version bumps in the future.

[2022-10-19 08:53] joshuagl commented on #2140
I've added the blocked label, needs more analysis if the issue persists after https://github.com/secure-systems-lab/securesystemslib/issues/428

[2022-10-19 09:00] joshuagl commented on #2093
Closing because we can't automatically bridge from DSSE to the current TUF wrapper because canonical JSON is not valid JSON. The most promising route forward is the in-toto approach which we can adopt once it lands in securesystemslib.

[2022-10-19 09:00] #2093 closed, assigned to nobody

[2022-10-19 09:01] #2072 closed, assigned to nobody

[2022-10-21 06:29] jku opened #2144 "github action "set-output" will be deprecated"
.github/workflows/specification-version-check.yml uses `set-output` which is being deprecated: required change documented in the blog here: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

[2022-10-24 10:16] #2144 closed, assigned to nobody

[2022-10-25 04:38] ashwin0630 commented on #1568
hey I'm interested to work in this issue is this still open!!

[2022-10-25 08:08] jku commented on #1568
Sure, thanks. `tox -e docs` will run the docs build locally so you can try things out.

https://www.sphinx-doc.org/en/master/usage/configuration.html says that variable `version` can be defined in conf.py and then that can be used as a substitution `|version|` in the docs.

Maybe you can just `import tuf` and `version = tuf.__version__` in conf.py? Worth trying out

[2022-10-25 11:20] ashwin0630 commented on #1568
i get an attribute error tuf has no attribute __version__

[2022-10-25 11:30] jku commented on #1568
Please link to a branch with the changes (that do not work) if you'd like someone to have a look

[2022-10-25 17:19] Manohar-mj opened #2152 "updated Readme.md"
Please fill in the fields below to submit an issue or feature request.  The
more information that is provided, the better.

**Description of issue or feature request**:

**Current behavior**:

**Expected behavior**:

[2022-10-26 08:46] lukpueh commented on #2152
A mistake or spam?

[2022-10-26 08:46] #2152 closed, assigned to nobody

[2022-10-27 11:45] jku commented on #2116
well, deps.dev doesn't list the scorecard for python-tuf anymore :(

We'll need to either setup the workflow on the project or someone runs scorecard on their own machine and pastes details here

[2022-10-29 18:23] #2030 closed, assigned to UDITBALUJA

[2022-10-31 08:17] jku commented on #1859
:pray: current go-tuf  metadata works with python-tuf-ngclient ( see e.g. sigstore, boostrap from 5.root.json only). Thanks Asra and others who worked on this!

Now would be a good time to start working on a compliance test suite...

[2022-10-31 08:17] #1859 closed, assigned to nobody

[2022-10-31 08:17] jku commented on #1858
:pray: current sigstore metadata works with python-tuf-ngclient ( boostrap from 5.root.json only). Thanks Asra and others who worked on this!

Now would be a good time to start working on a compliance test suite...

[2022-10-31 08:18] #1858 closed, assigned to nobody

[2022-10-31 11:52] jku commented on #2116
Btw,
This search on http://console.cloud.google.com/bigquery using project "openssf" gives the most recent results:
```SELECT * FROM `openssf.scorecardcron.scorecard-v2_latest` WHERE repo.name="github.com/theupdateframework/python-tuf"```

[2022-10-31 13:41] jku opened #2160 "Publish OSSF Scorecard results"
https://github.com/ossf/scorecard

Would be nice to get these results visible. They have a GitHub Action that we could use.

The installation instructions say:

The token is described as "read-only" but I don't understand why it would be read-only... maybe it is but I don't get how.

So:
* the github action would be nice
* the action should work without a token: I'm fine with skipping the branch-p

[2022-10-31 15:24] spartan289 commented on #2160
hi i would like to work on this issue

[2022-11-01 08:06] jku commented on #2160
Hi, thanks!

As advice: I think the instructions in https://github.com/ossf/scorecard-action#workflow-setup might not work for you in this repository (the UI probably won't be there unless you are admin). Options:
* fork this repo and follow the above instructions in your repo, then make a PR of those changes to this repo
* just get the example  from https://github.com/ossf/scorecard-action#manual

[2022-11-01 08:27] spartan289 commented on #2160
Yes i will do it.

[2022-11-01 09:19] jku commented on #2160
oh they have manual setup instructions too  https://github.com/ossf/scorecard-action#manual-action-setup

[2022-11-01 13:50] KOLANICH opened #2161 "Sort `roles` dict by keys when serializing"
**Description of issue or feature request**:

To reduce variation and achieve better diffs we probably should sort keys in `roles` dict before serializing.

**Current behavior**:
The order is random.

**Expected behavior**:
The order should be alwwys the same.

[2022-11-01 15:41] jku commented on #2161
It is not. Python 3.7 and newer guarantee that dict ordering is preserved, just like OrderedDict. python-tuf supports python >= 3.7

[2022-11-01 16:13] jku commented on #2161
This looks like an unnecessary change to me but reproducible output is definitely a priority to this project: so if there are any issues with that, let's handle them.

[2022-11-01 18:17] KOLANICH commented on #2161
I know, but may be different because of different reasons, like different insertion order in different launches of tools (I'm currently doing an own tool for making a repo and splitted the pipeline into different CLI commands, and noticed that keys are permutted on each call of my tool). We want line-based diffs between versions of the metadata be minimal (and no difference at all, when there is n

[2022-11-01 18:36] jku commented on #2116
And now it does again 🤷‍♂️

Enabling scorecard as an action still makes sense I think

[2022-11-02 08:41] jku commented on #2161
If your issue is that you are inserting items in non-reproducible order, then using OrderedDict won't help at all: it just preserves the insert order, just like Dict does.

If this PR helps your case then it's actually the `sort()` calls you've also added that are doing the work: those would help the case you describe. Sorted order seems like a fine choice for some containers (like sigs) but I don

[2022-11-02 08:49] jku commented on #2161
@lukpueh  @joshuagl I'm sure we discussed potentially sorting dicts on serialize at some point. Any recollections on that?

[2022-11-02 09:13] lukpueh commented on #2161
It came up in some of @MVrachev's work:
- https://github.com/theupdateframework/python-tuf/pull/1783
- https://github.com/theupdateframework/python-tuf/pull/1775

There was also an issue with not preserving the order in a list, for which we use a dict internally:
- https://github.com/theupdateframework/python-tuf/issues/1752

And:
- https://github.com/theupdateframework/python-tuf/issues/1211

Can

[2022-11-02 09:17] #2074 closed, assigned to nobody

[2022-11-02 13:05] KOLANICH commented on #2161
I know. The order is enforced by sorting, and I think it's TUF lib responsibility to enforce ordering: almost everyone will need it, sorting will cost almost nothing (for small enough `n`, but it is likely to be small enough). `OrderedDict` (Python language keeps it despite just `dict` is currently ordered in modern versions and even has introduced into `typing` module instead of just deprecating

[2022-11-02 15:01] jku commented on #2161
* On using OrderedDict: I don't think it has enough advantages to outweigh the cost in uglier code. The idea that python will make dict unordered in future is pure guesswork
* On sorting: As discussed the output is stable if your order of operations is stable: so no, _everyone_ does not need this, only those who have tests with non-reproducible operation order. I'm hoping most actual TUF tools wou

[2022-11-02 17:05] MVrachev commented on #2161
I am not sure I understand the need of using `sort` here.
We are sure that the order is preserved which is the important thing.
Can you phrase it clearer why you think that `almost anyone will need it`?

[2022-11-02 17:36] KOLANICH commented on #2161
I think that the metadata files produced from a set of source files (i.e. keys and user files) should be as similar as possible to other (i.e. from different invocations in randomized conditions, or produced by different tools) metadata, because it (in the order of reducing importance)

1. simplifies looking into them for a human being
2. eliminates non-meaningful (when files have the same meaning

[2022-11-04 12:05] jku commented on #2071
Thanks that was useful.

Looking at this again now, I don't think pushing these ergonomy helpers deep down the hierarchy is good: users don't want to dig through Metadata docs, then Targets docs, then through Delegations docs just to find "SuccinctRoles" -- they just want to create Metadata with succinct delegations. Helper classes should be implementation details as much as possible.

I think we

[2022-11-04 13:13] jku commented on #2014
I analyzed our (Dependabot handled) dependencies and the results are actually
a bit surprising -- this would look very different for an application but it looks like as
library developers we don't really need to review that much!?

**Because python-tuf is not an application, our python version pins are irrelevant to
to our release product**. The only Dependabot managed updates that directly
affect

[2022-11-04 14:25] jku commented on #2161
Cheers, the code changes look a lot easier to understand now without OrderedDict (it's such a painful API).
I have code comments but let's not get into those before others have voiced an opinion on the idea itself: _should we change the serialization dict output order from insert-order to stable or alphabetical order*?_

*) current PR doesn't actually implement 100% alphabetical but what looks lik

[2022-11-04 15:03] znewman01 commented on #2014
I think that's a good analysis, thanks!

or our development environments: There seems to be no reason to review changes or even pin them.

The one caveat is: might these dependencies try to exfiltrate credentials of some sort? I think if you don't hand them GH secrets this is *probably* okay, but it's worth making explicit somewhere.

[2022-11-04 17:42] yzhan289 opened #2166 "Allow generation of hash-prefixed versions of `TargetFile`s"
Please fill in the fields below to submit an issue or feature request.  The
more information that is provided, the better.

**Description of issue or feature request**:
Allow generation of hash-prefixed versions of `TargetFile`s.

**Current behavior**:
Currently, python-tuf does not have the ability to generate hash-prefixed path names for targets files. One suggestion from @jku is to add a utilit

[2022-11-04 19:30] trishankatdatadog commented on #2166
Great idea! This might be a quick, easy win... 🙂

[2022-11-05 10:35] jku commented on #2166
I think it makes sense (although the result is likely still not as simple as you might hope: dealing with files vs URLs is complicated and python-tuf can't really make it easier without making a lot of assumptions).

usage in a repository that wants to store actual target files and symlinks in the same directory would look like this (this is untested):

[code]

it's still not _super_ simple, but t

[2022-11-05 10:48] jku opened #2167 "docs: Include the relevant securesystemslib classes in docs"
`Signer`, `Signature` (and in future maybe most of `Key`) are really part of the Metadata API but are technically implemented in securesystemslib.

We should either include those in the python-tuf API docs, or create similar docs for securesystemslib and link to those (but we don't want to document the rest of securesystemslib API in the same manner).

The former (including in python-tuf api docs)

[2022-11-05 19:15] MVrachev commented on #2161
I don't have a strong opinion on this.
I can see the benefits, especially the first point.
I think it's up to the implementation - of it looks complicated then it's not worth it as an addition, if there is a way to make it simple and understandable for the maintainers then it could be worth it.

[2022-11-06 17:12] VickyMerzOwn opened #2168 "aggregate_tests.py fails"
**Description of issue or feature request**:
Getting the following errors on running `python3 aggregate_tests.py ` from within the `tests/` directory.

**Current behavior**:

[code]

Along with the following error:

[code]
**Expected behavior**:

No errors on running `python3 aggregate_tests.py` from within `tests/`

[2022-11-06 17:13] VickyMerzOwn commented on #2168
For the first failure, can I simply perform `import utils` directly instead of `from tests import utils`?

[2022-11-06 21:20] jku commented on #2168
The tests expect tuf to be installed, and will test that installed version. I'm not sure if that makes sense... but that's how it currently works. The second error implies you are running tests from one version of tuf against source from another version -- so a related error I believe.

The recommended way to develop is
* set up venv, source it
* `pip install -r requirements-dev.txt` -- this insta

[2022-11-08 14:49] jku opened #2171 "verify_release is missing annotation"
[code]

Looks like key_id argument just requires better annotation

blocks #2169

[2022-11-08 14:51] jku commented on #2168
I'm hesitating just closing this. It was likely a "user error" but... The failure mode is so weird if someone does not install the source dir as editable that I'm not surprised that it looks like a bug. Feels like we should be able to do better

[2022-11-08 15:20] jku opened #2172 "coveralls-fin workflow job sometimes fails"
https://github.com/theupdateframework/python-tuf/actions/runs/3393687438/jobs/5641430800
[code]

I've seen this a few times now: Apparently pypi can be unreachable at times, at least from the github action. If the pip caching worked that wouldn't hurt us but it doesn't work.

coveralls-fin should use the same actions and infrastructure as all of the other workflow jobs: caching would then just wor

[2022-11-09 05:44] theyashwanthsai commented on #2167
Can I take up this issue?

[2022-11-09 09:02] jku commented on #2167
sure, please do!

* sphinx and autodoc are ... unique, so you'll likely have to experiment a bit to get results: autodoc docs are here https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html . Feel free try something, and make a draft PR with whatever you have if you get stuck.
* Sources are in docs/api/ . Run `tox -e docs` to build docs locally (to docs/build/html/ IIRC). I assume you'

[2022-11-09 09:35] #2172 closed, assigned to nobody

[2022-11-09 14:22] sanjeev98kumar commented on #2171
@jku please assign me this issue, I want to do work on this issue.

[2022-11-09 15:00] jku commented on #2171
@sanjeev98kumar sure but your comment is also enough notice: thanks for volunteering!

[2022-11-09 15:35] sanjeev98kumar commented on #2171
thank you for assigning

[2022-11-09 15:54] sanjeev98kumar commented on #2171
I found the file at https://github.com/theupdateframework/python-tuf/blob/develop/verify_release#L144 but didn't get what you meant by better annotation.
What exactly is to be changed in this line?

[2022-11-09 17:02] jku commented on #2171
keyid type is `str`... but code that calls it also uses keyid value None, which is not of type `str` So I think you can do two things:
* remove the default keyid value None: we don't use the default so it's not needed
* change keyid type to `Optional[str]`

[2022-11-10 13:24] jku commented on #2014
Absolutely: these need to be actions running with no access to secrets  and preferably with a GITHUB_TOKEN that has no permissions.

[2022-11-14 08:01] sanjeev98kumar commented on #2171
@jku I have fixed the issue can you please take a look and let me know if there is anything else to be done.

[2022-11-14 09:22] jku commented on #2171
Please have a look at the check failures listed on the pull request page.

[CONTRIBUTING](https://github.com/theupdateframework/python-tuf/blob/develop/docs/CONTRIBUTING.rst) documents how to run most of the same checks locally (basically run `tox`) and how to fix the DCO failure.

[2022-11-14 20:43] jalajk24 commented on #1842
@jku can you plz guide me how to start this issue it would be really helpful for me

[2022-11-15 12:34] #2116 closed, assigned to nobody

[2022-11-15 13:38] ameypd commented on #1862
@jku
I have set up the environment, please tell me how to proceed with this issue.

[2022-11-15 13:51] jku commented on #1862
you could create a failure situation to experiment with: e.g. don't start the local webserver like the instructions tell you (so you get the one line error message when running `./client_example.py download file1.txt`). Then add a command line option that makes it so that you get a full stack trace when running e.g. `./client_example.py -v download file1.txt`. That would be useful for debugging

[2022-11-15 14:22] ameypd commented on #1862
@jku
![image](https://user-images.githubusercontent.com/113001748/201942808-cfa5871e-b4d3-49fd-b507-7b8cb215de3f.png)
Is this expected behaviour?

[2022-11-15 14:29] jku commented on #1862
That looks like what I'd expect yeah.

What I'd like to have is an optional way to see the stack trace for the "failed to download...."  error -- I think this is just a matter of re-raising the error instead of handling it with the simple error message in the example code.

[2022-11-15 14:35] ameypd commented on #1862
`    client_args.add_argument(
        "-v",
        "--verbose",
        help="Output verbosity level (-v, -vv, ...)",
        action="count",
        default=2,
    )`
I changed the default to 2 from 0, but that is not the way to do it right?

[2022-11-16 11:22] joshuagl commented on #2168
Thanks for filing this issue!

We should improve the developer experience when testing, so that a contributor can just run the `aggregate_tests.py` script as the submitter did.

We need to change the script to support that:

* Do we want to run tests against the installed tuf, or the version in the scripts directory hierarchy. The latter seems the appropriate default, but there may be a case for r

[2022-11-16 14:46] lukpueh commented on #1862
Does it do what you wanted it to do? Or why do you think this is or isn't the way to do it?

[2022-11-17 10:50] lukpueh commented on #2161
Let me try to summarize the discussion. IIUC the goal here is reproducible metadata, which can be achieved by:
1. not changing inputs in an unexpected way (e.g. preserving input order), and/or
2. canonicalizing inputs (e.g. ordering)

(1) is already true for the internal representation as discussed above, and (2) is already true to some extent for the [default json serializer](https://github.com/t

[2022-11-18 06:19] ameypd commented on #1862
@lukpueh @jku
As I have changed its default value, I don't know how it will affect the rest of the functionality. But it is doing what is expected in terms of this issue.

[2022-11-18 08:31] jku commented on #1862
Ah there is a misunderstanding here. No, I don't want a raised default verbosity (sorry if my response about expected results was misleading)

The ask here is:
* by default the example should have short error messages only (this is what currently happens)
* there should be a way to see the full "stack trace" on error situations (this does not exist yet)

I have suggested that we do not need a new

[2022-11-21 07:14] rogdex24 commented on #2171
@jku I have made a Pull Request for fixing this issue , can you please review it ?

[2022-11-21 08:16] sanjeev98kumar commented on #2171
@jku  I have already made a pull request for fixing this issue.

[2022-11-21 08:31] jku commented on #2171
Sorry @sanjeev98kumar: your PR has not yet passed the linter check. I'm going to merge rogdex24s fix: My apologies for bypassing your work but their fix is ready now.

[2022-11-21 08:32] #2171 closed, assigned to sanjeev98kumar

[2022-11-21 08:34] sanjeev98kumar commented on #2171
It is 30% weitage in my college course work

On Mon, Nov 21, 2022, 2:02 PM Jussi Kukkonen ***@***.***>
wrote:

--
The information contained in this electronic communication is intended
solely for the individual(s) or entity to which it is addressed. It may
contain proprietary, confidential and/or legally privileged information.
Any review, retransmission, dissemination, printing, copying or other

[2022-11-21 08:38] jku commented on #2171
I sympathize with that but your PR still did not pass the linter check.

[2022-11-21 08:40] sanjeev98kumar commented on #2171
today I would have completed.

[2022-11-21 14:32] jku commented on #2161
So after lukas' comment I actually looked at the JSON serialization code and we do sort dicts by key! So now I'm confused. If I understand correctly the serialization result (the json) is already 100% sorted wherever it should be...

@KOLANICH is this correct: JSON is already like you want but you are asking for the intermediate format (the python dicts) to also be sorted? Could you show actual co

[2022-11-21 18:29] KOLANICH commented on #2161
I just used an own serializer and parser because I have an own library of serializers and parsers from/into various serialization formats.

[2022-11-21 19:50] KOLANICH commented on #2161
So, yes.

It can probably be dealt with in a serializer, but storing them sorted should have a benefit that re-sorting should be faster.

[2022-11-22 08:41] jku commented on #2161
Ok thanks for the details.

I think in that case I agree with Lukas: When this was designed sorting was intentionally left to the serializer. Change of behaviour now is not worth the small risk when the benefit is also so small: serializers are supposed to choose their serialization format, this includes potentially sorting dicts.

I'll close this based on votes from me and lukas

[2022-11-22 08:41] #2161 closed, assigned to nobody

[2022-11-22 10:36] jku commented on #2160
I think I'll try to enable this today.

(no slight on you spartan: it's just been 3 weeks since last comment, and I'd like to see the results of recetnt configuration changes)

[2022-11-22 16:06] spartan289 commented on #2160
I tried, but it was always showing error

[2022-11-22 16:23] #2160 closed, assigned to nobody

[2022-11-22 16:53] jku commented on #2160
I've added "ossf/scorecard-action@*" to allowed actions for this project -- based on @joshuagl review I figured there was consensus on this

[2022-11-22 16:57] jku commented on #2160
Now it works:
https://github.com/theupdateframework/python-tuf/actions/runs/3525418144/jobs/5912109928

[![OpenSSF Scorecard](https://api.securityscorecards.dev/projects/github.com/theupdateframework/python-tuf/badge)](https://api.securityscorecards.dev/projects/github.com/theupdateframework/python-tuf) :+1:

[2022-11-23 10:11] ameypd commented on #1862
@jku
Okay. I will implement this.

[2022-11-23 13:43] ameypd commented on #1862
@jku @lukpueh
I have passed verbose as parameter to download function and if the verbose is anything other than default I am printing the stack trace.
![image](https://user-images.githubusercontent.com/113001748/203561821-b342e151-d9db-4651-9d76-ad7393790223.png)

[2022-11-24 20:23] jku commented on #1136
I've decided to just do a PR of this:
* a tiny repository abstraction
* example implementation of that abstraction (a in-memory ephemeral repository a bit like the one in tests)
* demo repository application using that in-memory implementation that simulates a live  repository by generating changes every few seconds

I have that 90% ready, will push the PR this week. Future steps would include:
*

[2022-11-25 14:25] #1862 closed, assigned to nobody

[2022-11-25 17:00] gkum99 commented on #1568
@jku
Hello, I have set up the environment and was trying out your suggestion about setting up `version = tuf.__version__`. How do I test this?

[2022-11-25 21:08] jku commented on #1568
I mentioned this a few posts up:

Results in docs/build if I recall correctly

[2022-11-26 11:14] gkum99 commented on #1568
@jku
I get the following results, is this what you expect?
![image](https://user-images.githubusercontent.com/113018973/204085867-ab217791-62cf-4543-b170-c3c30e93847e.png)

[2022-11-27 10:49] jku opened #2195 "ngclient should cope better with broken repos"
* a delegation exists in a repository
* but the delegated roles metadata is not in the repository and not included in the snapshot
* Updater.get_targetinfo() is called with a path that is delegated to this nonexistent role

this currently leads to following error. We should fail with a RepositoryError of some kind instead.

[code]

[2022-11-28 08:46] jku commented on #1568
You don't mention what changed so I don't know... but if docs build from 'develop' does not include the version and a build with your change does, then that seems like a good sign that it will work similarly on [readthedocs](https://theupdateframework.readthedocs.io/en/latest/).

Feel free to do a PR so we get a docs build on readthedocs.

Possible further improvements:
1. Could include the versio

[2022-11-28 09:19] jku opened #2196 "code uses python 2 "__metaclass__""
python-tuf and securesystemslib both use class variable `__metaclass__ = abc.ABCMeta` to implement abstract classes. This does nothing in Python3 -- classes can be instantiated even if they have that class variable set

The actually supported methods are
[code]
and
[code]
the latter may be safer (WRT multiple inheritance issues)

[2022-11-28 15:07] gkum99 commented on #1568
@jku i have raised a pull request. kindly review it.

[2022-11-30 18:27] jku commented on #1568
I'm reopening: The change seems fine but readthedocs does something on their end that hides this change https://theupdateframework.readthedocs.io/en/latest/index.html

I think we can still try using the version in the actual documentation content: if that doesn't work then this is just not worth this much work.